<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" lang="<%= global.book.config[0].languagecode %>" xml:lang="<%= global.book.config[0].languagecode %>">
<head>
	<% include partials/template/head.ejs %>
	<title><%= global.book.meta[book].booktitle %></title>
</head>
<body>
	<div epub:type="backmatter" id="backmatter">
        <section epub:type="rearnotes" id="rearnotes">
            <!-- Add all endnotes -->
            <% for (j=0; j < thischapter.length; j++){ %>
                <%-  include(endnotes[j]); %>
                <hr />
            <% } %>
        </section>

        <section epub:type="afterword" id="afterword">
            <h1>編後語</h1>
            <p>《国家禁区》是繼《國家秘密》之後，美國之音推出的又一部新書，是美國之音叢書計劃邁出的又一步。</p>

            <p>最近這兩年來，《解密時刻》無疑是美國之音最受歡迎的電視節目。在短短的兩年時間裡，只有五、六個人的製作小組以非常有限的資源，製作出了二十個五十分鐘的採訪記錄片，在海外的互聯網上吸引了數百萬的觀眾，這不能不說是奇蹟。相信如果這些影片能夠在中國國內播放的話，吸引到的觀眾將有數十倍甚至數百倍。</p>

            <p>從採訪到文字稿，從文字變成影視片，又從影視片整理成文字出書，似乎有點瞎折騰。不過，在去年出版了《國家秘密：趙紫陽、達賴喇嘛、蔣介石》之後，讀者的反應非常好，該書也成為港臺市場上的暢銷書。看來，無論影視節目多麼流行，傳統的書籍的吸引力仍是無法取代的。這增加了我們把叢書計畫延續下去的決心。</p>

            <p>美國之音的中文廣播創建於1941年。在七十多年的風風雨雨裡，我們的廣播以客觀、公正、及時的報導吸引了無數聽眾，使得美國之音在中國成為家喻戶曉的名字。在五十年代初至七十年代末的那段日子裡，收聽美國之音廣播導致許多人被迫害甚至被長期關進監獄。即便在改革開放已經進行了三十多年的今天，中國大陸的聽眾觀眾仍然不能順利地接收美國之音的廣播。這實在令人扼腕。</p>

            <p>2012年7月，為了進一步豐富節目，我們開設了VOA衛視，每天通過衛星向亞洲地區播送電視節目。每週日北京時間晚間九點播出的《解密時刻》就是從那時候開始的。製作小組的成員們以學者的仔細和記者的堅韌，本著高度的職業精神，為觀眾們還原了大量被中國的官史湮沒的歷史真相。拿重視歷史的傳統中國人的話來形容，這是做了一件功德無量的事。</p>

            <p>《解密時刻》感謝觀眾、聽眾、讀者長期的支持。我們的這套叢書和我們的節目，也是美國之音給中國歷史、特別是未來中國人的一個交代。</p>

            <p class='right'>龔小夏<br />
                美國之音叢書總策</p>
        </section>
        <section epub:type="copyright-page" id="copyright">
            <p>&#169;2015</p>
            <p>Copyright by [VOA]</p>
            <p>All rights reserved. No part of this book may be reproduced in any form, or by any means, without permission in writing from the publisher.</p>
            <p>International Stardard Book: <%- global.book.meta[book].isbn %></p>
        </section>
    </div>
</body>
</html>
