<?xml version='1.0' encoding='utf-8' standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" lang="<%= global.book.config[0].languagecode %>" xml:lang="<%= global.book.config[0].languagecode %>">
<head>
	<% include partials/template/head.ejs %>
	<title><%= global.book.meta[book].booktitle %></title>
	<style type="text/css">
	body{margin:0em; padding:0em;}
	img{
		max-width: 100%;
		max-height: 100%;
	}
	</style>
</head>

	<body>
		<img src="<%=pathPrefix%>images/v2_<%=book + 1 %>/v2_<%=book + 1 %>_cover.jpg" alt="cover image"/>
	</body>
</html>