<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" lang="<%= global.book.config[0].languagecode %>" xml:lang="<%= global.book.config[0].languagecode %>">
<head>
	<% include partials/template/head.ejs %>
	<title><%= global.book.meta[book].booktitle %></title>
</head>
<body>

<div epub:type="frontmatter" id="frontmatter">
	<section epub:type="titlepage" id="titlepage">
		<p epub:type="bridgehead" class="bridge"><%= global.book.config[0].bridgetitle %></p>
		<h2 epub:type="subtitle"><%= global.book.config[0].seriestitle %></h2>
		<h1 epub:type="title"><%= global.book.meta[book].booktitle %></h1>
	</section>
</div>

</body>
</html>
