<section epub:type="chapter" id="<%= chapter_ID[19] %>">
    <h1>
        <%= titles[19] %>
    </h1>

    <div class="pullout">
        <%= global.book.meta[book].description %>
            <!--省委書記焉敢扣壓最高指示；謊言盛行，誰說實話誰挨整；五風肆虐，誠信滅跡；大科學家宣揚偽科學；鄧子恢因保守被撤職；一張餅就可誘姦婦女；人民公僕：吃著雞鴨魚肉，談論百萬餓殍；面對饑荒，中央堅持徵購標準不變-->
    </div>

    <p>在各種有關“大躍進”運動的記載中，“浮誇”可能是出現頻率最高的關鍵詞之一。這個詞不僅反映當時中國社會的普遍狀況，同時也透露出它與大饑荒之間存在某種因果關係。</p>

    <p>作為一種社會心態，“浮誇”不僅影響到中國的上層決策圈子，而且作為一種“風氣”滲透到城市、農村、新聞界、科學界和政府機關。中央領導人在經濟建設方面急於求成，急躁、冒進，把鋼鐵產量、糧食產量等許多國民經濟的重要指標定得遠遠高於實際的可能。而地方官員為了取悅中央，相互攀比，甚至不惜弄虛作假，在高指標之上層層加碼。這些虛假行為在新聞界的推動下形成了各種“衛星
        <sup epub:type="rearnote">
                        <a href="backmatter.xhtml#ch3en1" id="ch3ref1">（註1）</a>
                    </sup>”滿天飛的新聞奇觀。連大名鼎鼎的科學家也跟風忽悠，說合理利用太陽能可以把畝產量再提高幾十倍。</p>

    <p>“浮誇風”的盛行自然縮小了講真話的空間，這不可避免地導致政府決策頻頻失誤。人們看到，公社食堂難以為繼之時，中共主要領導人不是趕快解散食堂，而是高調鼓吹公社食堂的優越性和它包含的共产主义因素。在農村已經無糧可徵的时候，中央高層卻把這個問題歸咎於農民的小農意識，認為是農民私分糧食的結果，遂下令農村各級政府立刻行動，用強硬手段從農民手中搶回“餘糧”。在得知全國性饑荒爆發的消息之後，決策部門不但不減少糧食出口，下調徵糧指標，反而增加出口，繼續從農村調撥糧食。</p>

    <p>在這一集的節目中，我們將回放當年“浮誇風”的肆虐过程，探討和分析從中央到地方各級政府在這場浮誇風中所起的作用，並介紹那些號稱“人民服務員”的各級官員在民眾遭遇災難之時的種種表現。</p>

    <section epub:type="subchapter" id="<%= chapter_ID[20] %>">
        <h2><%= titles[20] %></h2>

        <p><span class='speaker'>李肅：</span> 從大饑荒的發生和發展過程來看，上下溝通渠道顯然出現了問題。下面的情況，上面不能夠及時、準確地掌握。上面的決策又明顯脫離下面的實際，即便是在大饑荒已經發生之後，上面還依然沉浸在“糧食吃不完”的夢想之中。在這方面，地方官員究竟起到了什麼樣的作用？我們先來談談四川的最高首長李井泉。</p>

        <%- photo[34] %>

            <p><span class='speaker'>楊繼繩：</span> （李井泉是）中共西南局書記兼四川省委第一書記。
            </p>

            <p><span class='speaker'>李肅：</span> 李井泉造假了嗎？
            </p>

            <p><span class='speaker'>楊繼繩：</span> 李井泉具體是不是造了個小假、造了個什麼事件，我不知道，但整體上是造假的。
            </p>

            <p><span class='speaker'>李肅：</span> 造了哪些假？
            </p>

            <p><span class='speaker'>楊繼繩：</span> 比如說四川“放衛星”。他上北京開會去了，四川溫江放了顆衛星，有多少、多少萬斤，很大。 《四川日報》要報導，地委書記說是假的，不讓報。李井泉回來以後把地委書記猛批一通，說是《人民日報》都登了，你還不讓登，結果《四川日報》也登了。</p>

            <p><span class='speaker'>李肅：</span> 李井泉是不是知道那些東西是假的？
            </p>

            <p><span class='speaker'>楊繼繩：</span> 這是他自己的心理狀態啊。稍微有點農業知識的人，一萬斤糧食起碼是放在地上平擺著要一尺厚，這是不可能的，誰都看得出來。
            </p>

            <%- photo[35] %>

                <p class='commentary'><span class='speaker'>解說：</span>中國華東師範大學歷史學教授楊奎松認為，上有所好，是造假風行的根源。他說：“比如說李井泉，現在的四川人都很清楚，他當時是造假的，他是要求底下一定要報假數字的。那麼這裡面就涉及到了官僚制度本身的弊病，就是他們上面考查下面的幹部都用數字，那麼誰的數字報得高，誰的數字讓上面領導、讓中央喜歡，誰就會得到上邊的肯定，就會得到表揚。沒有哪個省委書記願意自己的數字比別人低。所以，為什麼從最開始的時候（報）糧食產量（出現攀比），你報1000斤，我報1200斤，另一個地方報1500斤，然後長、長、長，慢慢、慢慢地大家互相攀比，拼命往上報，最後報到一萬多斤，就是這個道理。都是給上邊看，誰都不能落在後面。”</p>

                <p><span class='speaker'>李肅：</span> 您調查中有沒有任何的史料能夠證明李井泉明知是假的，但故意要把這個假的報上去。
                </p>

                <p><span class='speaker'>楊繼繩：</span> “放衛星”，明知是假的，他也報了。毛澤東給六級幹部一封信
                    <sup epub:type="rearnote">
                            <a href="backmatter.xhtml#ch3en2" id="ch3ref2">（註2）</a>
                        </sup> 嘛，他扣著不發。
                </p>

                <p><span class='speaker'>李肅：</span> 為什麼不發？
                </p>

                <p><span class='speaker'>楊繼繩：</span> 他認為那是消極的。
                </p>

                <p><span class='speaker'>李肅：</span> 他認為毛澤東的信是消極的？
                </p>

                <p><span class='speaker'>楊繼繩：</span> 只有毛澤東可以唱低調，別人都得唱高調。毛澤東唱低調是英明，別人唱低調是右傾。毛澤東先說要密植嘛，後來又說不要那麼密了，別人就不相信。很多畝地的稻子被弄到一起，說畝產十萬斤，還讓小孩坐在上面照相。毛澤東說，娃娃別從上面掉下來，掉下來摔得更痛了。就是一語雙關嘛。說不要說假話，這都說過，不相信嘛。
                </p>

                <%- photo[36] %>

                    <p><span class='speaker'>李肅：</span> 毛澤東所謂給六級幹部的信，主要內容是什麼？
                    </p>

                    <p><span class='speaker'>楊繼繩：</span> 一個是包產，包產不要太高；密植要有限度，不要太密，吃糧食干稀搭配等等。
                    </p>

                    <p><span class='speaker'>李肅：</span> 李井泉認為毛澤東的信是給大家洩氣的。
                    </p>

                    <p><span class='speaker'>楊繼繩：</span> 潑冷水、洩氣的。
                    </p>

                    <p><span class='speaker'>李肅：</span> 對“大躍進”不利。
                    </p>

                    <p><span class='speaker'>楊繼繩：</span> 對。比如1959年那兩個文件，就是豬可以放在家裡養。李井泉就是不執行。兩個文件都不落實。後來廬山會議以後，李井泉說，你看我們糧食沒有落實到家，是落實到食堂，“我們搞對頭了，搞對頭了”。
                    </p>

                    <p><span class='speaker'>李肅：</span> 後來出現了饑荒，四川死了1000萬人，李井泉知道嗎？
                    </p>

                    <p><span class='speaker'>楊繼繩：</span> 知不知道就很難說了，我們新華社四川分社老記者知道，他們採訪時就看著地裡餓死人的，怎麼不知道呢，應該知道啊。他就是瞞著嘛，向中央瞞著嘛。
                    </p>

                    <p><span class='speaker'>李肅：</span> 所以，他應當是知道這個情況的。
                    </p>

                    <p><span class='speaker'>楊繼繩：</span> 他知道，​​就是1000萬這個數字可能不知道，但大量餓死人他可能知道。人吃人啊，吃觀音土
                        <sup epub:type="rearnote">
                        <a href="backmatter.xhtml#ch3en3" id="ch3ref3">（註3）</a>
                    </sup> ，觀音土知道嗎？我看省委調查資料上寫著，就是山上的土一邊挖一邊吃，吃著吃著就漲死了，泥巴吃進去了，不就死人了嘛。很多啊，人吃人，四川有啊。
                    </p>

                    <p>1959年春，中共中央主持工作的人採取措施，發了兩個文件，說自留地可以多一點，家裡可以養雞、養鴨。毛澤東1959年4月份還寫了一封信給六級幹部，從省委一直（傳達）到生產隊長這一級的幹部，說指標不要訂得太高，密植不要太密。</p>

                    <p><span class='speaker'>李肅：</span> 這是毛澤東直接下的指示？
                    </p>

                    <p><span class='speaker'>楊繼繩：</span> 毛澤東。他怕各級貪污他的指示，所以，要求一直(傳達)到生產隊。1959年我們還在一個村里勞動呢，聽到幹部念信，說讓學生們也來聽聽。我們聽了那個信，覺得還是比較實事求是的。但李井泉不傳達，壓著不傳達。
                    </p>

                    <p><span class='speaker'>李肅：</span> 為什麼呢？最高領袖已經下了指示，他怎麼敢不傳達呢？
                    </p>

                    <p><span class='speaker'>楊繼繩：</span> 我說李井泉是從根本上最了解毛澤東思想。他說，毛澤東這封信並不代表他的真實想法。他的真實想法還是要搞共產主義，還是要快，還是要食堂。所以，我說李井泉在押寶，他在“廬山會議”上押寶還是押對了，大有斬獲。“廬山會議”是他的收穫期，他被提升為政治局委員。
                    </p>

                    <p class='commentary'><span class='speaker'>解說：</span> 四川餓死1000萬人之後，李井泉並沒有被追究責任。美國加州大學洛杉磯分校的宋永毅
                        <sup epub:type="rearnote">
                        <a href="backmatter.xhtml#ch3en4" id="ch3ref4">（註4）</a>
                    </sup> 教授說：“這裡面就是說一個皇帝和體制的關係。毛澤東絕對不是一個好皇帝。但本來一個壞皇帝如果有監督的話，也可以使得他至少變得好一點。正是因為這個體制使得他下面那些人不敢說真話，或者有的人有意說假話，把他引導向更大的錯誤。李井泉就是這樣的人。”
                    </p>

                    <p><span class='speaker'>李肅：</span> 他（李井泉）捂蓋子，隱瞞饑荒真相，反倒得到了獎賞？
                    </p>

                    <p><span class='speaker'>楊繼繩：</span> 得到了獎賞，所以說,他是從根本上理解毛澤東的想法的。
                    </p>

                    <p><span class='speaker'>李肅：</span> 他當年拒不傳達毛澤東的指示，反而對了？
                    </p>

                    <p><span class='speaker'>楊繼繩：</span> 李井泉說，這就對頭了。他說，他當時沒有同意把糧食分發到戶，而是留在食堂，也沒有允許把豬分散到農民家裡養。他說，這就對頭了。廬山會議上，毛澤東就否定了1959年春天中央的那兩個文件，說是右傾。果然，李井泉押寶押對了。
                    </p>
    </section>

    <section epub:type="subchapter" id="<%= chapter_ID[21] %>">
        <h2><%= titles[21] %></h2>

        <%- photo[37] %>

            <%- photo[38] %>

                <p><span class='speaker'>李肅：</span>另外一位省委書記、河南省委書記吳芝圃，他造假了嗎？</p>

                <p><span class='speaker'>楊繼繩：</span>衛星最早是河南省放出來的。（吳芝圃）他沒有制止。比如說，信陽糧食產量原來是應該多少斤，報了70多億斤，是地委書記說的。但是專員（張樹藩）說是30億斤。後來，吳芝圃開會讓批那個專員（張樹藩），開會批判他說是右傾嘛。問題出來以後，李先念他們去河南視察，專員（張樹藩）就訴苦，陶鑄
                    <sup epub:type="rearnote">
                        <a href="backmatter.xhtml#ch3en5" id="ch3ref5">（註5）</a>
                    </sup> 說你不要說了，我們都知道了。吳芝圃也假裝說我當年不知道，專員（張樹藩）馬上說，怎麼不知道，是你讓批的嘛。他不吭氣，臉馬上紅了。李先念說不要說了，不要說了，就和稀泥。
                </p>

                <p class='commentary'><span class='speaker'>解說：</span>1959年，信陽地區的糧食產量比1958年大幅度減少，實際產量只有20多億斤，但該地區卻虛報為50億斤。結果，政府徵購糧增加到10億斤，達到總產量的50%。許多徵購糧和“餘糧”是各級官員和民兵打、逼、搜出來的，先後有一萬多人被逮捕，死在監獄和拘留所裡的達700人。這樣，農民全年的口糧就只剩下100多斤，僅夠吃三、四個月的，饑荒隨之而來。1960年11月，副總理李先念和中共中南局第一書記陶鑄到信陽進行調查。五個月之後，陶鑄說:“我看死亡數字就不要再統計下去了，已經100多萬了。”</p>

                <p><span class='speaker'>楊繼繩：</span>信陽事件暴露後，河南省開了省委擴大會議，徐子榮
                    <sup epub:type="rearnote">
                        <a href="backmatter.xhtml#ch3en6" id="ch3ref6">（註6）</a>
                    </sup> （公安部副部長）、李先念、陶鑄、王任重
                    <sup epub:type="rearnote">
                        <a href="backmatter.xhtml#ch3en7" id="ch3ref7">（註7）</a>
                    </sup> 都講了話，要貫徹毛主席的路線。說要殺一萬人，說這些人都變質了。後來沒殺那麼多。毛主席要保，最後要殺光山縣委書記馬龍山
                    <sup epub:type="rearnote">
                        <a href="backmatter.xhtml#ch3en8" id="ch3ref8">（註8）</a>
                    </sup> ，毛主席就說我還一次沒殺過縣委書記呢，就不要殺了。一個人沒殺，但這些人都處理了，到基層了，都很慘。
                </p>
    </section>

    <section epub:type="subchapter" id="<%= chapter_ID[22] %>">
        <h2><%= titles[22] %></h2>

        <p class='commentary'><span class='speaker'>解說：在“大躍進”期間的1959年，毛澤東曾經對自己的保健醫生李志綏</span>
                    <sup epub:type="rearnote">
                        <a href="backmatter.xhtml#ch3en9" id="ch3ref9">（註9）</a>
                    </sup>
                    說：“有很多的假話，是上面一壓，下面沒有辦法，只好說。”1958年8月，中共中央政治局北戴河擴大會議估計當年糧食產量將比1957年增產60%到90%，達到6000億到7000億斤。年底公佈的預估數字8500億斤。直到1959年8月，中共領導層已經知道上一年的糧食產量被高估了，但仍不知道糧食的實際產量，還認為實際產量有5000億斤。按照這個估計，中國人均糧食佔有量將達到1300斤，大大超出了人均糧食消耗500斤的水平。於是，政府告訴老百姓“放開肚皮吃飯”。到1958年年底，中國農村建立起“吃飯不要錢”的人民公社公共食堂340多萬個。但實際上中國的糧食產量遠沒有那麼多，後來核實的1958年糧食產量只有4000億斤。結果，農民“寅吃卯糧”，沒過幾個月，家裡的糧食被食堂收走了，食堂的糧食​​吃光了，只有挨餓一條路。</p>

        <p><span class='speaker'>李肅：</span>您剛才說“大躍進”期間刮了“五風
            <sup epub:type="rearnote">
                        <a href="backmatter.xhtml#ch3en10" id="ch3ref10">（註10）</a>
                    </sup> ”，這“五風”是從上面直接刮起的，還是下面刮起來的？</p>

        <p><span class='speaker'>楊繼繩：</span>上下結合。上有好者，下必甚焉。上面說一，馬上擴大到一千了。</p>

        <p><span class='speaker'>李肅：</span>您能不能具體談一談“共產風”是怎麼回事？</p>

        <p><span class='speaker'>楊繼繩：</span>共產主義是共產黨的理想啊，考慮一個人對共產黨是不是忠誠就看他信念是不是堅定，考慮一個幹部能不能提拔也是看他的信念是不是堅定。每個人從小學到大學都是這個觀念嘛。共產主義什麼時候來？說共產主義快來了，要提前來。</p>

        <p>要來，怎麼來？首先有幾個試點。比如河北省徐水縣。那個縣的縣委張書記搞供給制，要包吃、包穿等十幾包嘛。後來包了兩個月就沒錢了。吃飯不要錢、軍事化、男女分居、發槍等，到處搞彩門，說是共產主義新村等。小村拆掉並大村，表面上刷牆刷得很漂亮，把農民所有財產都集中起來，把生產隊財產都集中到公社。公社被稱為全民所有製，就是這麼胡來。</p>

        <p>像湖北省當陽縣的“五風”，說是學校沒有筆記本，學生沒有書，就說到書店去拿吧。書店的筆記本就都拿光了，商店的布也搶光了，這樣的情況很多。徐水縣的“五風”刮到什麼程度？毛主席去了，劉少奇去了，周恩來去了，所有的中央領導人都去了，所有外國大使館都派人去了。大家都盛讚共產主義，沒有說壞的，只有鄧子恢
            <sup epub:type="rearnote">
                        <a href="backmatter.xhtml#ch3en11" id="ch3ref11">（註11）</a>
                    </sup> 偷偷地說了句話：“這不行”。</p>

        <p>這些到徐水的人看見的是表象，看到了最光輝的一面。過了幾個月以後，老百姓不聽張書記的話了，縣里就抓人、打人。抓人、打人的事暴露之後，毛主席就不相信，只是表示不要再宣傳那個徐水了，就宣傳了範縣，山東的範縣。</p>

        <p>毛澤東說，山東範縣是一首美妙的詩，什麼花園滿地、糧食吃不完等，講了很多好話。毛主席說範縣是一首詩，五年實現不了（共產主義），十年實現也可以嘛，全國各地都在搞。湖北省的王任重搞的試點當陽縣，算是最厲害的了。</p>

        <p class='commentary'><span class='speaker'>解說：</span>的確有跡象顯示，毛澤東當時真的相信中國糧食太多了。 1958年8月4日，毛澤東在河北省徐水縣視察，縣委書記告訴他說：今年全縣夏秋兩季平均畝產會達到兩千斤，全縣人均糧食年產量會達到3500多斤。實際上，當時徐水縣的糧食畝產只有200多斤。不明真相的毛澤東還頗為得意地問：“怎麼吃得完那麼多糧食啊？你們糧食多了怎麼辦？”“也要考慮怎麼吃糧食哩。”</p>

        <p class='commentary'>毛澤東建議說：“一天吃五頓也行嘛！”“糧食多了，以後就少種一些。一天做半天的活兒，另外半天搞文化，學科學，鬧文化娛樂，辦大學、中學。”1958年9月5日，毛澤東在最高國務會議上說，糧食產量“明年如果又翻一番”，糧食“除了人吃馬餵之外，現在還沒有找到用途，也許會發生問題。”他提議說：“糧食還是要找出路，糧食主要是吃，此外，也要找工業方面的出路，例如搞酒精、作燃料等等。”</p>

        <p class='commentary'>不僅如此，由於中共領導層當時認為糧食要吃不完了，竟然做出了更荒唐的決策，就是減少了糧食播種面積。 1958年11月23日，被“高產衛星”沖昏了頭的毛澤東在中共中央武昌會議
            <sup epub:type="rearnote">
                        <a href="backmatter.xhtml#ch3en12" id="ch3ref12">（註12）</a>
                    </sup> 上說：“農業快得很，明年再搞一年。就糧食而論，搞到一萬五千億斤，農民就可以休息了，就可以放一年假。糧食多了吃不完。”在另外一個場合，毛澤東還說：“我看一個人平均三畝地太多了，將來只要幾分地就足夠吃了。”這年9月，中共中央副主席劉少奇在江蘇視察時說：“這樣再過8年，就可以用三分之一的地種糧食，三分之一種樹，三分之一休閒。”隨後，中共中央作出第二年減少糧食播種面積的決定。1959年，中國糧食播種面積比上一年減少了9.1%，其中夏糧播種面積比1958年減少了20%，即減少1.1億萬畝。以1957年中國糧食畝產量計算，這相當於1959年中國減產339億斤糧食，相當於總產量的10%。這無疑給後來發生的大饑荒雪上加霜。</p>

        <%- photo[39] %>
    </section>

    <section epub:type="subchapter" id="<%= chapter_ID[23] %>">
        <h2><%= titles[23] %></h2>

        <p class='commentary'><span class='speaker'>解說：</span>1958年6月16日，《中國青年報》發表了當時擔任中國科學院力學研究所所長的錢學森
            <sup epub:type="rearnote">
                        <a href="backmatter.xhtml#ch3en13" id="ch3ref13">（註13）</a>
                    </sup> 的文章。該文說，如果合理地利用每年每畝地上照射的太陽光能，“那麼稻麥每年的畝產量就不僅僅是現在的兩千多斤和三千多斤，而是兩千多斤的20多倍！”錢學森的文章很快受到毛澤東的重視。《文匯讀書周報》2010年6月28日的一篇文章說，“毛澤東1958年10月在參觀中國科學院躍進成就展覽會時，與錢學森有以下對話：你在青年報上寫的那篇文章我看了......。你在那個時候敢於說四萬斤的數字，不錯啊。你是學力學的，學力學而談農業，你又是個農學家。錢學森回答說：“我不懂農業，只是按照太陽能把它折中地計算了一下，至於如何達到這個數字，我也不知道，而且，現在發現那個計算方法也有錯誤。”主席接著說：“你的看法在主要方面是對的......。”</p>

        <%- photo[40] %>

            <%- photo[41] %>

                <p><span class='speaker'>李肅：</span>是不是毛澤東是受了騙以後才說的這句話，還是說毛澤東說這個話，是要讓大家願意搞這個假東西。</p>

                <p><span class='speaker'>楊繼繩：</span>毛澤東說共產主義是理想，說共產主義可以提前到來，可以超英趕美，縣委就積極幹。幹了之後毛澤東就支持啊。出了問題、發現問題以後才制止。</p>

                <p><span class='speaker'>李肅：</span>錢學森的這篇文章，很有名，也很有影響。他是一位導彈專家，怎麼突然越界大談起農業問題來呢？</p>

                <p><span class='speaker'>楊繼繩：</span>錢學森這個人是一直緊跟政治的，他政治上不甘寂寞。他在導彈方面對中國是有貢獻的。他沒搞原子彈，他的貢獻主要是在火箭和導彈方面。當然，還有很多其他人。他從美國回去得比較早，知道一些東西。但在政治上，他一直緊跟，在什麼時候都緊跟，一直到死前都是這樣。</p>

                <p><span class='speaker'>李肅：</span>他為什麼這樣做呢？</p>

                <p><span class='speaker'>楊繼繩：</span>這就是他個人的素質吧？（緊跟）是有好處吧？“文革”期間，所有的科學家都在下面挨整，他穿著軍裝坐在主席台上。“文革”時如此，到江澤民要退休，他就讓江澤民
                    <sup epub:type="rearnote">
                        <a href="backmatter.xhtml#ch3en14" id="ch3ref14">（註14）</a>
                    </sup> 接著幹，接軍委主席。他就是這麼一種人嘛。所以，這個人在中國的口碑不怎麼好，在科學界的口碑也不怎麼好。
                </p>

                <p><span class='speaker'>李肅：</span>錢學森作為一個導彈科學家去發表有關農業的文章，大家也相信嗎？</p>

                <p><span class='speaker'>楊繼繩：</span>我們那時是18、19歲的年齡，把錢學森看成是科學的偶像，了不得。《中國青年報》當時是發行量很大的報紙，發行量上千萬。文章一發表，誰能不信呢？我們年輕人是相信的。毛澤東是種田的，應該不相信​​。可太陽能怎麼轉換成光合作用，變成糧食，利用百分之幾等等，他（錢學森）講得很有道理啊！他是科學家啊，頂級科學家啊！怎麼能不信呢，而且不是一篇，是兩篇啊，一篇接着一篇。當時中青報發行量很大，還有《知識就是力量》
                    <sup epub:type="rearnote">
                        <a href="backmatter.xhtml#ch3en15" id="ch3ref15">（註15）</a>
                    </sup> ，影響力也很大，青年人都看的，是半月刊雜誌，是個發行量很大的刊物。
                </p>
    </section>

    <section epub:type="subchapter" id="<%= chapter_ID[24] %>">
        <h2><%= titles[24] %></h2>

        <%- photo[42] %>

            <%- photo[43] %>

                <p><span class='speaker'>李肅：</span>我們稍微談一下鄧子恢。鄧子恢當時是中共中央農村工作部部長，是中共負責農業問題的重要官員。</p>

                <p><span class='speaker'>楊繼繩：</span>後來（這個部）就撤銷了。</p>

                <p><span class='speaker'>李肅：</span>他當時應該是了解一些情況的。</p>

                <p><span class='speaker'>楊繼繩：</span>他當然了解情況，在民間，私下朋友間了解情況。他也沒有辦法進言。但是，後來在1962年，他和鄧小平向毛進言，主張搞“包產到戶”。毛澤東非常反感。</p>

                <p class='commentary'><span class='speaker'>解說：</span>鄧子恢在農業發展問題上早就與毛澤東有分歧。中國共產黨新聞網2009年2月12日介紹，時任中共中央農村工作部部長的鄧子恢1955年提出“農業合作化發展速度不宜過快，要求不能過急”的意見，主張農業生產合作社應該穩步發展，不能操之過急。這與毛澤東大力發展合作社的政策主張相抵觸，因此受到毛澤東的多次警告和批評，鄧子恢也在高層會議上被迫作出檢討。</p>

                <p class='commentary'>在大饑荒非常嚴重的1961年，鄧子恢將廣西、安徽和湖南“田間管理包產到戶責任制”等經驗向中共中央作了匯報。他向毛澤東解釋，“包產到戶”
                    <sup epub:type="rearnote">
                        <a href="backmatter.xhtml#ch3en16" id="ch3ref16">（註16）</a>
                    </sup> 不是要解散合作社，更不是要改變社會主義所有制。但毛澤東在中共中央1962年“北戴河工作會議”
                    <sup epub:type="rearnote">
                        <a href="backmatter.xhtml#ch3en17" id="ch3ref17">（註17）</a>
                    </sup> 上把“責任田”和“包產到戶”這種“單幹”行為上升到是無產階級還是資產階級、是走社會主義道路還是走資本主義道路的高度，並在9月下旬中共八屆十中全會上再次對鄧子恢的“修正主義綱領”進行了批判，鄧子恢被撤銷中共中央農村工作部部長職務。同年10月，農村工作部被撤銷。在1964年12月召開的中國三屆全國人大一次會議上，鄧子恢被免去國務院副總理的職務，改任國家計委副主任。
                </p>
    </section>

    <section epub:type="subchapter" id="<%= chapter_ID[25] %>">
        <h2><%= titles[25] %></h2>

        <p><span class='speaker'>李肅：</span> 正當加快實現共產主義的口號在中國大地響徹雲天，共產主義運動如火如荼在全國展開的時候，廣大農村的共產黨幹部都在幹什麼？從很多資料看，那個時期幹部與群眾的關係很緊張，主要表現在哪些方面？</p>

        <p><span class='speaker'>楊繼繩：</span>在高度集權的情況下，幹部、幹部家屬多吃多佔的情況相當普遍。</p>

        <p><span class='speaker'>李肅：</span>他們怎麼多吃，怎麼多佔？能夠具體談談嗎？</p>

        <p><span class='speaker'>楊繼繩：</span>基層食堂成為幹部多吃多佔的基地。糧食、大餅、肉、魚等，老百姓是看不見的。但在有些地方，基層幹部都可以在食堂吃到這些東西。基層的幹部是為了讓自己和家屬吃飽。當時有很多順口溜，叫：工人吃一兩，餓不死小隊長；工人吃一錢，餓不死管理員。管理員也是有特權的，甚至於隊長拿著餅引誘婦女、強姦婦女的有很多。給她塊餅，就可以跟她睡覺。這樣的事情很多，因為都餓得不行了。</p>

        <p>基層的幹部主要是為了吃飽，而上層就更特殊化了。比如，甘肅省委書記張仲良
            <sup epub:type="rearnote">
                        <a href="backmatter.xhtml#ch3en18" id="ch3ref18">（註18）</a>
                    </sup> ，他到外地去考察，不吃農家飯，而要求蘭州飯店用專車每頓都給他送飯。飯店送的飯當然不是一般的飯啊！當時蘭州飯店是全省最好的飯店，相當於現在的五星級。是最好的飯店給他做飯。李井泉在重慶潘家坪幹部高級娛樂場所每天吃喝玩樂，每天晚上還要聽堂會，就是讓演員單獨給他唱戲，看電影，就是享樂唄。</p>

        <p>高級幹部中我們知道李井泉和張仲良，因為看的檔案上有。其他各省都有這種情況。只要有權力，就會搞特殊，絕對權力絕對腐敗嘛。他有絕對權力，可以說一不二，只要有人提出反對，馬上就對他打擊報復，置之於死地。</p>

        <p><span class='speaker'>李肅：</span>這些是他們個人的行為，還是說有這樣的規定，他們可以享受這樣的待遇？</p>

        <p><span class='speaker'>楊繼繩：</span>是個人行為，但是由制度造成的，是制度造成的個人行為。也有好幹部，但數量極少。有的幹部就餓死了。那個時候，餓死的幹部肯定是好幹部。這樣的人，有。</p>

        <p><span class='speaker'>李肅：</span>當時有沒有明文規定，說是什麼級別的幹部可以享受跟老百姓不同的待遇？在吃的方面或者其它方面有些特權？</p>

        <p><span class='speaker'>楊繼繩：</span>從延安以來，食堂都分小灶、中灶和大灶。高級幹部吃小灶，中級幹部吃中灶，下層人員吃大灶。這是共產黨的傳統。王實味
            <sup epub:type="rearnote">
                        <a href="backmatter.xhtml#ch3en19" id="ch3ref19">（註19）</a>
                    </sup> 不是在延安寫文章批評（共產黨）衣分三色，人分五等嘛？王實味不就被消滅了嘛。這些情況，共產黨是歷來就有的。</p>

        <%- photo[44] %>

            <p class='commentary'><span class='speaker'>解說：</span>王實味是中共中央研究院的研究人員。他於1942年延安整風
                <sup epub:type="rearnote">
                        <a href="backmatter.xhtml#ch3en20" id="ch3ref20">（註20）</a>
                    </sup> 時期在《解放日報》上發表雜文《野百合花》，批評延安幹部等級制度森嚴，是“食分五等，衣分三色”，允許高級幹部配備小灶和炊事員、警衛員和勤務員，中央委員吃小灶，中級幹部吃中灶，戰士吃大鍋飯等。王實味還對中共高層領導每個週末都舉行舞會提出了批評。王實味後來在“搶救失足者運動”中被劃為“托派分子”
                <sup epub:type="rearnote">
                        <a href="backmatter.xhtml#ch3en21" id="ch3ref21">（註21）</a>
                    </sup> ，遭到監禁，1947年被處決。</p>

            <p class='commentary'>上個世紀五十年代期間，中國的官員分為30個等級。即使在大饑荒最困難的時期，幹部的供應標準都高於普通市民。正科長、17級以上的幹部每月多給黃豆兩斤、白糖一斤；副廳局、13級以上高幹每月多給豬肉兩斤、雞蛋兩斤、白糖一斤；副部級（副省軍級）、8級高幹以上，每個月多給豬肉四斤，其它緊缺食品都要比下一個級別多一倍。</p>

            <p><span class='speaker'>李肅：</span>就是說在最困難時期，高級幹部，或是有一定層次的幹部還是有特殊的照顧。</p>
    </section>

    <section epub:type="subchapter" id="<%= chapter_ID[26] %>">
        <h2><%= titles[26] %></h2>

        <p><span class='speaker'>楊繼繩：</span> 比如說河南省，1960年的“雞公山會議
                    <sup epub:type="rearnote">
                        <a href="backmatter.xhtml#ch3en22" id="ch3ref22">（註22）</a>
                    </sup>
                    ”，在湖北省交界叫武勝關的那個山，有很多的小別墅。當時雞公山沒有公路，幹部都是農民用擔架一個個抬上去的，四川叫滑竿。是饑餓瘦弱的農民抬著肥胖的幹部上雞公山小別墅。他們上午開會，中午睡午覺，下午吃西瓜，開會期間雞、鴨、魚、肉都有。當時參加會議的信陽地區婦聯主任李瑞英，就看不過去，說農民在餓死，“雞公山會議”卻在享受。會在那裡開了一個月。</p>

                    <%- photo[45] %>

                    <p><span class='speaker'>李肅：</span> 這個會是誰召開的？</p>

                    <p><span class='speaker'>楊繼繩：</span>河南省委召開的，是為了捂蓋子。中央說有餓死人，它（省委）就說，沒有餓死多少人，就是捂蓋子會，掩蓋餓死人的罪惡。</p>

        <p><span class='speaker'>李肅：</span>這個會是哪年召開的？</p>

        <p><span class='speaker'>楊繼繩：</span>是1960年7月，是最困難的時候。</p>

        <p><span class='speaker'>李肅：</span>那個時候，“信陽事件”已經揭露出來了？</p>

        <p><span class='speaker'>楊繼繩：</span>揭露出來了。就是餓死30萬人，還是70萬人，還是100萬人？都在爭論這個數字。</p>

        <p><span class='speaker'>李肅：</span> 就是在這個會議上決定了“信陽事件”應該上報的餓死人的數字，是嗎？</p>

        <p><span class='speaker'>楊繼繩：</span>對。</p>

        <p class='commentary'><span class='speaker'>解說：</span>就在信陽饑荒十分嚴重的1960年7月，中共河南省委在雞公山召開信陽地委擴大會議，貫徹省委確定的捂蓋子精神。信陽地區行署專員張樹藩在《信陽事件：一個沉痛的歷史教訓》的回憶文章中說，這次會議目的是統一認識，縮小問題的嚴重性，繼續肯定“大好形勢”。張樹藩的秘書余德鴻說，河南省委第一書記吳芝圃雖然沒有出席會議，但捂蓋子基本是吳本人的意思，就是避重就輕。原信陽地委書記路憲文
            <sup epub:type="rearnote">
                        <a href="backmatter.xhtml#ch3en23" id="ch3ref23">（註23）</a>
                    </sup> 因此在總結性發言中只做了一些輕描淡寫的檢討，根本沒有涉及問題的實質。</p>

        <p class='commentary'>余德鴻說：“開始省委主要是以吳芝圃為首的。因為這個問題也涉及到他，他不願意把這個問題揭開，根本都不談餓死人的事。路憲文那個檢討報告還不准向下傳達，不准說餓死人，只能說是浮腫病，只能說是瘟疫。路憲文的那個（發言）材料我弄到一份，在幹部當中散佈了一下，結果還遭到了批判。那就是捂蓋子嘛！”</p>
    </section>

    <section epub:type="subchapter" id="<%= chapter_ID[27] %>">
        <h2><%= titles[27] %></h2>

        <p><span class='speaker'>李肅：</span> “反瞞產
            <sup epub:type="rearnote">
                        <a href="backmatter.xhtml#ch3en24" id="ch3ref24">（註24）</a>
                    </sup> ”，“反私分”可以說是典型的上下溝通不暢的一個例子。農民已經開始缺糧了，但上面還認為，農民不是沒糧，而是把糧食私分了，藏起來了。所以，當局就展開了“反瞞產”，“反私分”的運動。各地政府採取了嚴厲手段，比如，查抄、毆打、動私刑等。據說，也有不少人被迫害致死。現在看來，通過“反瞞產”，政府把農民家中僅存的一點救命糧都抄走了。這就意味著農民的最後生路被堵死了。您能不能講得稍微具體一些？</p>

        <p><span class='speaker'>楊繼繩：</span> 這個情況比較普遍，全國各地都有類似的情況。上面認為生產隊搞“瞞產私分”，就在全國搞了“反瞞產私分”運動。開各種會，如生產隊長會、會計會，要求基層幹部坦白自己隱瞞了多少糧食？糧食藏在哪裡？你不報的話，就挨打，吊起來打，甚至被打死也是有的。（甘肅）通渭就是同時開好幾個會。當時負責的縣委書記說，要是群眾打起來，不要潑冷水。結果，打得很慘，打死不少人。我書中有很多類似的記載。</p>

        <p>在信陽我去訪問一個農民，姓余。他當時是會計，在公社開會，說要“反瞞產”、“反私分”。中午生產隊長坦白說，有多少萬斤糧食放在什麼、什麼地方。會計也只好回答說，我們正在找。下午又問，（糧食）調到哪兒了？會計說正在路上。到了晚上，會計搪塞不過去，只好說，根本沒有糧食。結果，隊長就被痛打一頓，打得很厲害。就是糊弄上級。各地都有這種情況。</p>

        <p>當時“反瞞產”、“反私分”的刑罰種類很多，有幾十種。最通俗的刑罰，四川叫“洗毛芋”，就是南方帶皮的芋頭放在一個水桶裡面，拿棍子使勁揣，把皮都揣沒了，剩白的。比如要批鬥一個人，中間圍一圈人推來推去，當然不是一個人，就三、四個人把“毛芋”推來推去，這人就暈倒了，死了的也有，心臟病死了的也有。</p>

        <p>四川叫“洗毛芋”，甘肅叫“炒豆子”，“炒黃豆”。在不同的省份，雖然沒有交流，但同樣的刑罰都有。 “炒豆子”、“洗毛芋”還好的。還有活埋、“點天燈”等。所謂“點天燈”就從頭上燒起來把人給燒死。婦女捅陰道，這種情況都有，非常殘酷。</p>

        <p><span class='speaker'>李肅：</span> 基層應該知道糧食的實際情況，他們不知道嗎？他們真的認為是瞞產了，私分了？</p>

        <p><span class='speaker'>楊繼繩：</span> 基層當然知道農村真的沒有糧食。但上面不一定知道，還認為是農民把糧食藏起來了。1958年放了那麼多衛星，毛主席還擔心糧食多了怎麼辦？怎麼一下子就沒有糧食了呢？中央認為農村喊有糧食困難是兩條道路的鬥爭。當時的報紙就造這種輿論。在強大的政治壓力下，基層幹部也不得不跟著說假話。</p>

        <p><span class='speaker'>李肅：</span> 那他們為什麼要用這種殘酷的手段去對付自己的人呢？</p>

        <p><span class='speaker'>楊繼繩：</span> 政治運動一來，中國人惡劣的人性就表現出來了，都要表現自己積極。不打人是右傾，打人是進步。不打人的人受到排擠，打人的人得到提拔。這種情況，各地都有。</p>
    </section>

    <section epub:type="subchapter" id="<%= chapter_ID[28] %>">
        <h2><%= titles[28] %></h2>

        <h3>毛澤東，《黨內通訊》</h3>

        <p>省級、地級、縣級、社級、隊級、小隊級的同志們：</p>

        <p>我想和同志們商量幾個問題，都是關於農業的。</p>

        <p>第一個問題，包產問題。南方正在插秧，北方也在春耕。包產一定要落實。根本不要管上級規定的那一套指標。不管這些，只管現實可能。例如，去年畝產只有三百斤，今年能增產一百斤、二百斤，也就很好了。吹上八百斤、一千二百斤，甚至更多，吹牛而已，實際辦不到，有何益處呢？又例如，去年畝產五百斤的，今年增加二百斤、三百斤，也就算成績很大了，再增加上去，就一般說，是不可能的。</p>

        <p>第二個問題，密植問題。不可太稀，不可太密，許多年青幹部和某些上級機關缺少經驗，一個勁兒要密植，有些人竟說愈密愈好。不對，老年人懷疑，中年人也有懷疑的。這三種人開一個會，得出一個適當的密度，那就好了。既然要包產，密植問題就得由生產隊、生產小隊商量決定。上面死硬的密植命令，不但無用，而且害人不淺。因此，根本不要下這種死硬的命令，省委可以規定一個密植幅度，不當作命令下達，只供下面參考。此外，上面要精心研究，到底密植程度以何為好，積累經驗，根據因氣候不同，因地點不同，因土、肥、水、種等條件不同，因各種作物的情況不同，因田間管理水平高低不同，做出一個比較科學的密植程度的規定，幾年之內達到一個實際可行的標準那就好了。</p>

            <p>第三個問題，節約糧食問題。要十分抓緊，按人定量。忙時多吃，閒時少吃，閒時半乾半稀，雜以蕃薯、青菜、瓜豆、芋頭之類。此事一定要十分抓緊。每年一定把收割、保管、吃用三件事（收、管、吃）抓得很緊很緊，而且要抓得及時，機不可失，時不再來。一定要有儲備糧，年年儲一點，逐年增多，經過十年八年奮鬥，糧食問題可能解決。在十年內，一切大話、高調切不可講，講就是危險的。須知我國是一個有六億五千萬人口的大國，吃飯是一件大事。</p>

                <p>第四個問題，播種面積要有多少的問題。少種高產多收的計劃，是一個遠景計劃，是可能的。但在十年內不能全部實行，也不能大部實行。十年內，看情況逐步實行。三年以內，大部分不可行。三年以內，要力爭多種，當前幾年的方針是：廣種薄收於少種多收的高額豐產田同時進行。</p>

                    <p>第五個問題，機械化問題。農業的根本出路在于機械化。要是有十年時間，四年以內小解決，七年以內中解決，十年以內大解決。今年、明年、後年，這三年內，主要依靠改良農具，半機械化農具，每省、每地、每縣都要設一個農具研究所，集中一批科學技術人員和農村有經驗的鐵匠、木匠，收集全省、全地、全縣各種比較進步的農具，加以比較，加以實驗，加以改進，試制新式農具。試制成功，在田裡實驗，確實有效，然後才能成批製造，加以推廣。提高機械化，用機械製造化學肥料這件事，必須保括在內，逐年增加化學肥料是一件十分重要的事。</p>

                        <p>第六個問題，講真話問題。包產能包多少，就講能包多少。不講經過努力實在做不到而又勉強做得假話。各項增產措施，實行八字憲法，每項都不可講假話。老實人，敢講真話的人，歸根到底，於人民有利，於自己也不吃虧。愛講假話的人，一害人民，二害自己，總是吃虧的。應當說，有許多假話是上面壓出來的。上面，一吹，二壓，三許願，使下面很難辦。因此，幹勁一定要有，假話一定不可講。</p>

                            <p>以上六件事，請同志們研究，可以提出不同意見，以求得真理為目的。我們辦農業、工業的經驗還很不足。一年一年積累經驗，再過十年，客觀必然性可能逐步被我們認識，在某種程度上，我們就有自由了。什麼叫自由？自由就是對必然的認識。</p>

                                <p>同當前流行的一些高調比較起來，我在這裡唱的是反調，目的在真正調動積極性，達到增產目的。如果事實不是我講的那樣低，而達到了較高的目的，我變為保守主義者，那就謝天謝地，不勝光榮之至。</p>

                                <p>毛澤東
                                    <br /> 1959年4月29日
                                </p>
    </section>
</section>