			<section epub:type="chapter" id="start">
				<section epub:type="subchapter" id="<%= chapter_ID[10] %>">
					<h1><%= titles[10] %></h1>

					<blockquote class="pullout"><%= global.book.meta[book].description %><!--重災區死人六之有一；死亡數字的來歷；饑荒比戰爭兇殘百倍；人吃人——並非傳說；封鎖消息 拒絕援助；“餓死”與“病死”之間的奧秘；糧食分配，農民總在隊尾；高層秘密決定：犧牲農村，保證城市--></blockquote>

					<p>20世紀六十年代中國發生的那場大饑荒中究竟餓死了多少人？中國官方對此諱莫如深。據知情者說，中共高層曾經在1961年派人到各省摸底，搞得神神秘秘。當調查結果匯報到中央之後，總理周恩來立即下令銷毀所有數據和相關資料。甚至在幾十年之後，知情者都不敢透露真實的數據，只說有幾千萬。中國官方在80年代公佈的六十年代的人口統計數據顯示，僅1960年一年，中國人口就比前一年減少了1000萬。</p>

					<p>中國官方認可的死亡數據是三年死了1700萬。這是西安交大學者蔣正華
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en1" id="ch2ref1">（註 1 ）</a>
					</sup>
					 在八十年代研究的結果。但是，民間的研究結果普遍顯示，死亡人數要多得多。</p>

					<p>旅居海外的中國學者丁抒
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en2" id="ch2ref2">（註 2 ）</a>
					</sup>
					認為，從1958年到1962年的五年中，非正常死亡人數有3500萬。上海學者金輝
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en3" id="ch2ref3">（註 3 ）</a>
					</sup>
					只計算了1959年到1961年三年的非正常死亡情況，他得到的數字是不少於2791萬。前中國經濟體制改革研究所所長陳一咨
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en4" id="ch2ref4">（註 4 ）</a>
					</sup>
					說，體改所有過一份研究報告，採用的數字是4300萬。中國歷史地理學家曹樹基
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en5" id="ch2ref5">（註 5 ）</a>
					</sup>
					的研究成果是：從1959年到1961年的三年中，非正常死亡人數為3245萬。中國公安部的人口統計專家王維志
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en6" id="ch2ref6">（註 6 ）</a>
					</sup>
					的研究結果是，那三年中有3300萬到3500萬人屬於非正常死亡。</p>

					<p>國外專家們研究得到的數據大致也差不多，從2300萬到4000萬不等。</p>

					<p>數字是抽象的。討論大饑荒就不得不觸及那些活生生的具體事件。通過暸解一個個具體事件來達到對整體數據的充分理解。首先就來談談大饑荒時期發生的一起提起來就讓人心靈抽搐的“信陽事件”。</p>
				</section>

				<section epub:type="subchapter" id="<%= chapter_ID[11] %>">
					<h2><%= titles[11] %></h2>

					<p><span class='speaker'>李肅：</span>很多中國人可能都知道“信陽事件”非常悲慘。大饑荒時信陽究竟餓死了多少人？</p>

					<p><span class='speaker'>楊繼繩：</span>現在確認是100多萬人。有人說是108萬，就是100萬左右吧。</p>

					<p><span class='speaker'>李肅：</span>信陽地區當時有多少人？</p>

					<p><span class='speaker'>楊繼繩：</span>信陽有800萬人。八分之一比例不算高，有的地方的比例甚至高達三分之一，象（甘肅省的）通渭縣就是三分之一，通渭我去過三次。</p>

					<p><span class='speaker'>李肅：</span>當時還有哪些省份受災比較嚴重？</p>

					<p><span class='speaker'>楊繼繩：</span>四川饑荒持續的時間最長，從1958年底到1962年。它一直捂蓋子，一直不讓外面知道。後來，“文革”中打倒李井泉
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en7" id="ch2ref7">（註 7 ）</a>
					</sup>
					的時候不是說餓死800萬嗎？按照四川官方公佈的人口數據來計算，是790多萬。但四川省政協主席廖伯康
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en8" id="ch2ref8">（註 8 ）</a>
					</sup>
					說，四川餓死了1200萬人。廖伯康不是通過科學的數據來算的，是一個估計數。我估計餓死的在1000萬左右。</p>

					<p><span class='speaker'>李肅：</span>當時四川省人口一共有多少？</p>

					<p><span class='speaker'>楊繼繩：</span>1958年有7081萬人，1962年6459萬，1965年是7100多萬人。這是官方統計數。</p>

					<p><span class='speaker'>李肅：</span>我記得在“文革”初期，大概是在70年代初期，當時是說四川是7000萬人。也就是說在50年代應該有6000多萬。如果死1000萬人的話，差不多是六分之一，百分之十幾，接近20%的樣子。</p>

					<p><span class='speaker'>楊繼繩：</span>四川省（的情況）當時（外面）不知道，捂蓋子，沒有人敢告狀啊。安徽省的問題為什麼會暴露？因為有人告狀啊！中監委
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en9" id="ch2ref9">（註 9 ）</a>
					</sup>
					等都派人去調查了。一次一次地調查，曾希聖
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en10" id="ch2ref10">（註 10 ）</a>
					</sup>
					還造調查組的謠，說他們聽信壞人的話，把調查組趕走了。後來又調查，董必武
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en11" id="ch2ref11">（註 11 ）</a>
					</sup>
					、王維綱
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en12" id="ch2ref12">（註 12 ）</a>
					</sup>
					等領導人派李堅
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en13" id="ch2ref13">（註 13 ）</a>
					</sup>
					等去那裡調查，還寫信，周恩來都回信了。所以，安徽省告狀告得特別厲害，沒蓋住。四川省蓋得比較嚴密。</p>

					<%- photo[20] %>

					<%- photo[21] %>

					<p><span class='speaker'>李肅：</span>也就是說四川死了1000萬人的事實瞞了很久，什麼時候才被暴露出來的？</p>

					<p><span class='speaker'>楊繼繩：</span>“文革”的時候說是死人800萬。“文革”中是紅衛兵
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en14" id="ch2ref14">（註 14 ）</a>
					</sup>
					造反，抄了檔案。人口統計數字顯示的是790多萬，也就是800萬。但四川政協主席廖伯康說有1200萬。我也不是全信他。他是政協主席，是官員，不是人口學家，只能是個估計，聽了四川省群眾的意見，我估計在1000萬左右。</p>

					<%- photo[22] %>

					<%- photo[23] %>

					<p><span class='speaker'>解說：</span>廖伯康當年擔任中共重慶市委辦公廳副主任。他在回憶錄《歷史長河裡的一個漩渦──四川“蕭李廖事件”回眸》中說，他與重慶其他負責人員1961年向中央寄出匿名信反映情況。1962年，他還在北京向共青團中央第一書記胡耀邦
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en15" id="ch2ref15">（註 15 ）</a>
					</sup>
					和中共中央辦公廳主任楊尚昆
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en16" id="ch2ref16">（註 16 ）</a>
					</sup>
					當面匯報了四川餓死1000萬人的問題。廖伯康強調，這只是估計數字，實際死亡數字起碼要高出250萬。四天后，楊尚昆在鄧小平主持的中央書記處會議上匯報了四川的嚴峻情況，會議決定派人到四川調查。但是，據《南方人物周刊》2012年5月18日刊登的對廖伯康的採訪報導說，同年8月，毛澤東在中央北戴河工作會議上提出了階級、形勢和矛盾問題，對四川的調查不僅不了了之，而且參與向中央匯報的廖伯康、重慶市委常委兼組織部部長蕭澤寬
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en17" id="ch2ref17">（註 17 ）</a>
					</sup>
					和重慶市委副秘書長兼辦公廳主任李止舟
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en18" id="ch2ref18">（註 18 ）</a>
					</sup>
					被四川省委定為“蕭李廖反黨集團”。</p>

					<p><span class='speaker'>李肅：</span>還有哪些地方災情比較嚴重？</p>

					<p><span class='speaker'>楊繼繩：</span>安徽省比較嚴重，死亡率比較高，那裡也是一層一層壓，捂蓋子。</p>

					<p><span class='speaker'>李肅：</span>安徽省當年死了多少人？</p>

					<p><span class='speaker'>楊繼繩：</span>按照它（官方）公佈的人口數字，死亡300多萬人。但是安子文
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en19" id="19">（註 19 ）</a>
					</sup>
					文革”中間不是倒霉嗎，下放到安徽呆了好幾年，他回來說有500萬人。</p>

					<p><span class='speaker'>李肅：</span>安徽省的總人口是多少？</p>

					<p><span class='speaker'>楊繼繩：</span>三、四千萬吧。</p>

					<p><span class='speaker'>李肅：</span>那差不多也是六分之一的樣子，跟四川省是差不多的。在您的《墓碑》一書中還提到了吉林。</p>

					<p><span class='speaker'>楊繼繩：</span>吉林是一個比較好的省。</p>

					<p><span class='speaker'>李肅：</span>是東北的糧倉，糧食比較多，但是也有相當嚴重的災情，是不是？</p>

					<p><span class='speaker'>楊繼繩：</span>比如說，長春市周圍的樹皮都剝光了，市中心的樹皮也剝光了，後來園林局不得不下通知不讓剝樹皮，這就說明它的饑餓情況嘛。</p>

					<p><span class='speaker'>李肅：</span>那吉林的災情是怎麼造成的呢？</p>

					<p><span class='speaker'>楊繼繩：</span>跟全國一樣都是高糧食徵購。</p>

					<p><span class='speaker'>李肅：</span>它有捂蓋子的情況嗎？</p>

					<p><span class='speaker'>楊繼繩：</span>吉林情況要好一點。一個是吉林的吳德
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en20" id="ch2ref20">（註 20 ）</a>
					</sup>
					，一個是江蘇的江渭清
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en21" id="ch2ref21">（註 21 ）</a>
					</sup>
					，一直到“文革”還站住了。這兩個人很會應付共產黨官僚體系，是有辦法的人。</p>

					<p><span class='speaker'>李肅：</span>吳德後來做了北京市委第一書記，中央政治局的委員。</p>

					<p><span class='speaker'>楊繼繩：</span>江渭清後來還是做了江蘇省委書記，是共產黨中比較油的一個人。他兩邊都不得罪人，有時還講點真話，在毛澤東的面前有時還講點真話，取得毛澤東的信任。江蘇和吉林是兩個比較好的省，江蘇也有人吃人的情況。死亡較少的有江西、山西、陝西。為什麼江西、山西、陝西死亡人數少，需要進一步研究。</p>
				</section>

				<section epub:type="subchapter" id="<%= chapter_ID[12] %>">
					<h2><%= titles[12] %></h2>

					<p><span class='speaker'>李肅：</span>那好，我們現在就說這個數字，關於這個大饑荒的死亡數字，各方面都做過統計，這個統計出來的死亡人數從1600萬到4500萬不等，那麼您得出一個什麼結論？</p>

					<p><span class='speaker'>楊繼繩：</span>嚴格說來，這個數字是很難搞清楚的。如果是國家統計局公佈的數據，如總人口、出生率、死亡率是準確的話，那很容易算得出來，用很簡單的一個公式就可以算出來。但是，這些數字不准確，所以，就沒法算，算不清楚。各省的調查也不是科學調查，就是官員打個電話統計統計，這也不足信。</p>

					<p>人口學家包括美國的科爾
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en22" id="ch2ref22">（註 22 ）</a>
					</sup>
					、班尼斯特
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en23" id="ch2ref23">（註 23 ）</a>
					</sup>
					，還有法國的一位學者，他們用人口學的辦法校正出生率、死亡率和總人口，通過校正以後再算出非正常死亡人數。校正也不是隨便校正，他們校正的根據是過去幾次人口普查的數字，因為人口普查的數據相對可靠一些。還有一個千分之一的育齡婦女的追溯調查。這個調查比較可靠，入戶調查，專門有家庭調查的。他們校正後計算的結果從2700萬到4000萬不等。</p>

					<p><span class='speaker'>李肅：</span>2700萬到4000萬不等。</p>

					<%- photo[24] %>

					<p><span class='speaker'>楊繼繩：</span>對。按照他們校正的出生率，死亡率和總人口。像那個科爾，就是3000多萬，還有那個班尼斯特也是3000萬左右。法國學者推算的是4000萬。還有一本書叫《中國大饑荒》，一個小冊子，採用的是4500萬。外國人口學家的研究結果都不一樣。</p>

					<p>中國人口學家也算過。按照國家統計局公佈的人口數字，用簡單的公式計算得到的結果是三年死了1660萬。當時統計局長叫李成瑞
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en24" id="ch2ref24">（註 24 ）</a>
					</sup>
					，他去意大利開世界人口會議的時候，認識了班尼斯特，由此產生了中國人自己算的念頭。他就跟國家計生委主任陳慕華
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en25" id="ch2ref25">（註 25 ）</a>
					</sup>
					說，我們能不能立個國家課題，讓我們自己算一算。有了課題就招標，當時西安交大的蔣正華，他本來是學電機的，但80年代不是搞軟科學嗎，他就到印度孟買學了一年的人口統計。回來後他就成立了一個人口所。</p>

					<p>這個所成立不到一年，他就接受了李成瑞提出的這個課題。他計算的結果是1700萬。後來李成瑞就組織國家課題，蔣正華提交論文後，李成瑞組織了專家來鑑定、驗收，認為他這個數字是可靠的，是科學的。也就是說，1600多萬是國家統計局公佈的數字，1700萬是國家認為最科學的數據，這應該是政府認可的。</p>

					<p>八十年代，各省出過一個人口年鑑，29個省都有。我把它（的數據）抄下來，按照各省的人口統計年鑑，算出來是不到2100多萬。李成瑞有篇文章，對班尼斯特和科爾的數據作了修正，認為三年非正常死亡是2200萬。也就是說，從1600多萬到2200萬是政府認可的。</p>

					<p>另外，2010年出版的中共黨史第二卷也有個突破。它認為1960年人口絕對數比1959年減少了1000萬。這是什麼概念呢，按照1957年的自然增長率，1960年人口應該比1959年增加七、八百萬人。可實際上，人口不但沒增加，還減少了1000萬左右。那就是說，1960年餓死的人就不止1000萬了，就有1500萬到1800萬。也就是說黨史二卷承認1960年這一年就餓死了1500萬左右，還不包括1959年和1961年的。這是官方的認可。</p>

					<p><span class='speaker'>解說：</span>美國國家研究協會（National Research Council）人口研究辦公室主任科爾(Ansley J. Coale)1984年出版《從1952年到1982年中國人口的急劇變化》（Rapid Population Change in China, 1952-1982。）一書。他認為，按照中國的官方統計，中國1958年到1963年的死亡人數大約是4180萬，其中包括非正常死亡人口的1600萬。但科爾認為，這個數字不全面，因為在大饑荒最嚴重的1960年，官方對死亡人口的統計充其量只統計了全部死亡人口的66%。科爾對中國官方數據校正後認為，中國“大躍進”期間的非正常死亡人口應該在2700萬左右。</p>

					<%- photo[25] %>

					<p><span class='speaker'>李肅：</span>您認為哪個數字比較可靠？</p>

					<p><span class='speaker'>楊繼繩：</span>因為我不是人口學家，我只能把人口統計拿過來進行分析、比較、判斷。但有一個人口學家，叫王維志。他是五十年代到莫斯科統計學院學人口統計的，畢業後就到公安部負責人口統計工作。所有的國家統計局公佈的人口數字都是由公安部三局四處，也就是戶籍處統計的。王唯志正好是在戶籍處工作。</p>

					<p>他認為這些人口學家算的都是數字遊戲，因為他懂得人口數字是怎麼統計上來的。他用經驗公式算的，沒有必要那麼複雜。他認為，三年餓死3400萬到3500萬。他沒有算1958年和1962年，如果把1958年加上去，就接近4000萬。所以，我就取了3600萬，既不是很高也不是很低，是個中數。我認為3600萬是比較合適的。所以，我就公佈了3600萬。可以大而化之地說，當時餓死了3500萬到4000萬之間比較接近實際。</p>
				</section>

				<section epub:type="subchapter" id="<%= chapter_ID[13] %>">
					<h2><%= titles[13] %></h2>

					<p><span class='speaker'>李肅：</span>那麼3500萬到4000萬是個什麼樣的概念呢？這個數字應該是相當的大， 是相當於一個中型國家的人口了。</p>

					<p><span class='speaker'>楊繼繩：</span>所以，我在書上講，如果3600萬是比較準確的話，那麼，它相當於美國(在日本)投下兩顆原子彈中比較大的那一枚的威力，它炸死的人比較多，相當於1945年8月9號在長崎(投下)的原子彈的450倍。</p>

					<p><span class='speaker'>李肅：</span>投放了450顆原子彈？太嚇人了！</p>

					<p><span class='speaker'>楊繼繩：</span>唐山大地震
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en26" id="ch2ref26">（註 26 ）</a>
					</sup>
					死了24萬人，而3600萬人相當於發生了150次唐山大地震造成的死亡人數。這個數字比第一次世界大戰中死亡的人數還多，比二戰死亡人數多很多。可二戰持續了八年，咱們大饑荒只有兩、三年。這個慘烈程度要超過二戰。如果3600萬的數字得到認可的話，這麼個概念是非常慘烈的。</p>

					<%- photo[26] %>

					<p><span class='speaker'>解說：</span>荷蘭史學家馮克
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en27" id="ch2ref27">（註 27 ）</a>
					</sup>
					（Frank Dikötter）對中國的大饑荒做了深入的實地調查。他在2010年出版的《毛時代的大饑荒》（Mao's Great Famine）一書中稱，大饑荒堪稱喪失人性的大屠殺，可與古拉格群島
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en28" id="ch2ref28">（註 28 ）</a>
					</sup>
					和納粹大屠殺並列為20世紀三大人類災難。他2010年10月13日在紐約亞洲協會說，安徽阜陽地區1958年人口有800萬，三年饑荒中有240萬人死亡，其中很多人是被當地官員害死的。</p>

					<p><span class='speaker'>馮克說：</span>“在臨泉，縣委書記總結（當時）暴力行為時說，民眾挨打，被吊死，不讓吃飯，或被活埋。一些人遭受酷刑和毒打，被割去耳朵，雙眼被挖出，嘴被撕破等，經常有人死亡。我們開始調查後，才發現事態的嚴重性。謀殺也很普遍。在臨泉的大黃莊，19位村幹部中有9人在大饑荒時期至少殺死一名村民，生產隊長李鳳英（音譯）殺死了5個村民。村民有時還被故意矇騙。1959年年底饑荒最嚴重的時候，阜南縣糧食局屬下的食品加工廠在庭院中置放了豆餅，而且大門敞開。饑餓的村民們試圖搶豆餅時，身後的大門突然關上。縣委書記說，抓住的人被塞進了麻袋，然後被用鐵棍毒打，麻袋上全是血。有人臉還被刀劃破，傷口抹了油。”馮克說，僅安徽阜陽地區在大饑荒期間的死亡人數就相當於柬埔寨紅色高棉
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en29" id="ch2ref29">（註 29 ）</a>
					</sup>
					二十世紀七十年代屠殺當地民眾的總和。</p>
				</section>


				<section epub:type="subchapter" id="<%= chapter_ID[14] %>">
					<h2><%= titles[14] %></h2>

					<p><span class='speaker'>李肅：</span>當時聽說出現了人吃人的情況，尤其在農村地區。您調查的結果是什麼樣的？</p>

					<p><span class='speaker'>楊繼繩：</span>人吃人的數字全國有文字統計的資料，有數千起。安徽一個省就有1260起。</p>

					<p><span class='speaker'>李肅：</span>這是比較嚴重的地方嗎？人吃人的情況和災情的輕重有沒有直接的聯繫？</p>

					<p><span class='speaker'>楊繼繩：</span>有聯繫。比如江蘇是個比較好的省，江蘇有人吃人，安徽更多。安徽有人吃人的故事，甘肅也有人吃人的情況。</p>

					<p><span class='speaker'>李肅：</span>您能不能談一些比較嚴重的例子？</p>

					<p><span class='speaker'>楊繼繩：</span>甘肅、寧夏都是有名有姓的，我現在都記不住了。他母親死了。死之前說，我身上什麼肉都沒有，我心臟還有肉，就把我心臟吃掉。她女兒就把她心臟吃了。她女兒後來死了，也被別人吃了。</p>

					<p><span class='speaker'>李肅：</span>她女兒吃了母親的心臟也沒保住自己的命。</p>

					<p><span class='speaker'>楊繼繩：</span>她女兒也不行了。還有，安徽一個女的在家煮人肉，香味給幹部聞到了。他們把這個女的弄到會場上批判。很多人圍過來，聞到味道，說要嚐嚐看，結果一盆肉都搶光了。</p>

					<p>有很多這樣的例子。吃活人的情況還比較少，大量是吃屍體。1959年冬天到1960年春天是死人最多的時候，埋人也埋得很淺，大家都沒有力氣埋。（屍體的）肉都被片走了，大腿和臀部的肉。信陽有一個例子，是兩個人搶屍體，互相打，結果打死了一個，勝利者不僅把死人肉吃了，把活人肉也吃了。</p>

					<p><span class='speaker'>李肅：</span>他把被他打死的人也吃了？</p>

					<p><span class='speaker'>楊繼繩：</span>對。這例子很多，我在書上舉了上百例，挺慘的。</p>

					<p><span class='speaker'>解說：</span>大饑荒時期，信陽地區行署專員張樹藩的秘書余德宏2012年10月1日對美國之音證實，大饑荒最嚴重的時候，信陽地區確實存在人吃人的現象。他說：“活人吃死人嘛，餓極了，反正女兒也是活不了了，有吃孩子的，也是奄奄一息，也是活不了了。活不了了，乾脆都吃了。那時候，整個村子都弄得人心惶惶，誰也不管這了。都餓得命都不保了，生不了育了。為了這，都少生了多少孩子啊！”</p>

					<p>中國著名經濟學家、思想家顧準
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en30" id="ch2ref30">（註 30 ）</a>
					</sup>
					1959年被打成右派下放河南信陽商城縣。他的“商城日記”也有關於人吃人的記錄。12月22日下午：“除民間大批腫死而外，商城發生人相食的事兩起，19日城內公審，據說20日要公判。二起人相食，一是丈夫殺妻子，一是姑母吃侄女。”</p>

					<%- photo[27] %>

					<p><span class='speaker'>李肅：</span>在中國的歷史上最嚴重的饑荒是個什麼樣子？</p>

					<p><span class='speaker'>楊繼繩：</span>這一點我也翻了幾本中國饑荒史，是1928年到1930年，22個省同時受災，當時說是死亡人口是1000萬人，這是外國學者寫的。後來，中國學者寫了一篇文章，說這個數字誇大了，實際只有800萬人。這是最嚴重的。以前都沒有這麼集中。</p>

					<p><span class='speaker'>李肅：</span>那就是說，大饑荒實際上比中國歷史上最嚴重的饑荒還要嚴重三到四倍。</p>

					<p><span class='speaker'>楊繼繩：</span>對，但我要說，1928年到1930年真正是自然災害，天災，旱災。旱災對農作物的摧殘比水災要更重一些。所以，當時有1000萬左右，外國人寫的一本書，我書上有，書名字我記不得了。但是，中國學者李文海
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en31" id="ch2ref31">（註 31 ）</a>
					</sup>
					算出來說沒這麼多，他說是幾百萬人，是600萬人。</p>

					<%- photo[28] %>

					<p><span class='speaker'>解說：</span>宋永毅
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en32" id="ch2ref32">（註 32 ）</a>
					</sup>
					教授將“大躍進”時期的大饑荒同中國歷史上最嚴重的災難進行了對比，並得出結論說，“大躍進”是“中國歷史上歷朝歷代最悲慘的一頁”。他對美國之音說：“你拿《二十四史》看，發生吃人情況的只有兩種。第一種是戰亂，這個戰亂或者是夷族入侵，或者是內部農民起義。內部農民起義吃人最嚴重的是兩次，一次是黃巢起義
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en33" id="ch2ref33">（註 33 ）</a>
					</sup>
					；第二次就是元末明初時候的紅巾軍起義
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en34" id="ch2ref34">（註 34 ）</a>
					</sup>
					，這個也是《二十四史》記載中吃人最厲害的。你可以說這個有內憂外患，有戰亂、夷族入侵造成的。第二個就確實是由於大規模的自然災害引起的饑荒。那麼，今天大家都清楚了，就是所謂的‘三年自然災害’，連國家主席劉少奇都說是‘七分人禍，三分天災’。你想想，劉少奇也是堅決支持“大躍進”的，有的地方做得比毛澤東還要左。他最後都認識到，這麼搞下去不行，去跟毛澤東說，我們不能再把“大躍進”繼續搞下去了。他用的例子就是說，‘人相食，你我是要上史書的！'”</p>

					<p><span class='speaker'>李肅：</span>那麼在世界歷史上，和這次大饑荒來比的話，有沒有更大規模的或者是相應規模的饑荒？</p>

					<p><span class='speaker'>楊繼繩：</span>世界歷史上，天災我沒有統計，但人禍是有的，譬如烏克蘭大饑荒
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en35" id="ch2ref35">（註 35 ）</a>
					</sup>
					。最近烏克蘭總理尤先科
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en36" id="ch2ref36">（註 36 ）</a>
					</sup>
					講有1000萬，我認為有點誇大，因為尤申科的時候烏克蘭已經改制，脫離蘇聯了，他聲討蘇聯的罪行，所以說1000萬。實際上在尤申科以前統計的是600萬左右。 600萬相當於是人口的6%，咱們如果是3600萬也相當於當時人口的6%左右。這是前蘇聯的烏克蘭。烏克蘭周圍也有一些大饑荒，但烏克蘭較嚴重。</p>

					<p>再一個是朝鮮，朝鮮最近大饑荒也死了不少人。這兩個國家，包括當時中國、烏克蘭、朝鮮，都是因為當時的制度，是高度集權的制度，搞農業集體化，對農民實行強制性剝奪。當然，非洲也有大饑荒，那都是規模小的，而且有國際援助。我們社會主義國家當時都是不接受國際援助的，封鎖消息的，所以，完全是關起門來挨餓。</p>
				</section>

				<section epub:type="subchapter" id="<%= chapter_ID[15] %>">
					<h2><%= titles[15] %></h2>

					<p><span class='speaker'>李肅：</span>我們說到國際援助，現在一個國家發生饑荒，包括朝鮮，國際上都會提供援助。聯合國、韓國、美國、中國、以及朝鮮的伙伴都給朝鮮提供了大量的糧食。但是，中國唐山大地震的時候，國際社會也表示願意提供援助，可中國拒絕了。在中國發生大饑荒的時候，國際社會有沒有做出什麼反應？</p>

					<p><span class='speaker'>楊繼繩：</span>在當時那個制度下是不允許接受外國援助的。唐山大地震也不讓外國援助我們。當時大饑荒不但不讓（外國）援助，而且對外封鎖消息。外界都不知道中國有大饑荒。除了香港跟廣東有來往，透露些情況外，其它國家都不知道。比如說斯諾
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en37" id="ch2ref37">（註 37 ）</a>
					</sup>
					，斯諾是毛澤東的朋友，一個美國記者。他寫書時說中國沒有大饑荒。還有英國常駐北京記者叫格林
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en38" id="ch2ref38">（註 38 ）</a>
					</sup>
					，他寫了本書叫《無知的帷幕》，好像得獎了。他也說沒有大饑荒。</p>

					<%- photo[29] %>

					<%- photo[30] %>

					<p><span class='speaker'>李肅：</span>外界怎麼會得出一個沒有大饑荒的結論呢？</p>

					<p><span class='speaker'>楊繼繩：</span>因為當時對外國記者是封鎖的，只讓他們看指定的地方，不能隨便看。新華社有外國專家，新華社對外英文稿需要外國專家。陪專家去休假的是我們國內部主任方實
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en39" id="ch2ref39">（註 39 ）</a>
					</sup>
					。方實後來是《炎黃春秋》的副社長，跟我住一個房間。他跟我講，是他領著新華社的專家到安徽去休假。</p>

					<%- photo[31] %>

					<p>安徽合肥有個公園叫逍遙津公園，封鎖起來了，都隔絕了。湖面上漂著小船，穿著花衣服的女孩兒在那兒划船。商店裡擺著豐盛的商品，其實，公園跟外面完全隔絕了。外國人看到的全是假的。他們看了以後回去還寫文章，說中國沒有饑荒、中國怎麼好。然後，新華社再翻譯過來，通過內部刊物《參考消息》向國內高級幹部發，外國人都說中國很好，作為統一思想的一種工具。</p>

					<p><span class='speaker'>解說：</span>少數西方記者在大饑荒時期在官方的安排下走訪了中國的農村地區，參觀了人民公社，最後認為中國的饑荒沒有像西方描述的那樣嚴重。50年代後期和60年代初期曾三次訪問中國的英國記者費利克斯•格林在1964年出版的《無知的帷幕》（A Curtain of Ignorance）一書中說，1960年，他走遍了嚴厲實行糧食配給的中國，並沒有看見大量挨餓的人。他認為美國傳媒上勾畫的景象並不真實，美國公眾沒有得到有關社會主義中國的正確資訊。1960年再次訪問中國的美國作家斯諾在1962年出版的《今日紅色中國》一書中也談到了大饑荒。他在書中說，中國的糧食危機並沒有達到驚人的地步。</p>

					<p><span class='speaker'>李肅：</span>當時有種說法，美國中央情報局得到了一些消息，因為通過香港等地，中情局還是知道了中國內部出現了問題。它在調查後認為，中國沒有饑荒。中情局主要是看中國的糧食出口。當時中國的糧食出口並沒有中斷。</p>

					<p><span class='speaker'>楊繼繩：</span>對啊，是在出口。</p>

					<p><span class='speaker'>李肅：</span>美國當時僅僅憑出口這一點就做出結論說，中國沒有發生大饑荒嗎？</p>

					<p><span class='speaker'>楊繼繩：</span>美國根據什麼做出結論我不知道，它做出結論有可靠的信息嗎？信息高度封鎖，他不可能做出正確的結論。外國記者都看不見，中國的朋友，毛澤東的朋友斯諾都看不見，常駐中國的記者格林，也看不見。他寫的中國《無知的帷幕》還是本比較有名的書。那它（美國中央情報局）是怎麼獲得信息的？</p>

					<p><span class='speaker'>李肅：</span>中國當時封鎖消息的主要動機是什麼？只是不想讓外界知道，不想讓自己的老百姓知道？不是說是自然災害嗎？</p>

					<p><span class='speaker'>楊繼繩：</span>是政治原因吧。因為社會主義是高度先進的，是最優越的制度。如果餓死了人，怎麼會是最優越的制度呢？跟過去的理論教育和政治工作是完全相悖嘛。它為了證明自己的正確，證明社會主義的優越性，當然不要讓外面知道這些醜事。因此，不斷封鎖。不光是中央對外封鎖消息，各省也向中央封鎖消息，甚至縣裡也都在封鎖。</p>

					<p><span class='speaker'>李肅：</span>就是把郵局封了？</p>

					<p><span class='speaker'>楊繼繩：</span>郵局的信都通過公安局檢查。信陽有一萬二千件向外求救的信被沒收。有的還要追查寫信的人。有一封信透露了饑荒情況，公安局查這個信是誰來寄的，郵局說是一個女的，臉上有麻子，公安局就在全縣抓女麻子。</p>

					<p><span class='speaker'>李肅：</span>就是因為這封信裡說了發生了饑荒？</p>

					<p><span class='speaker'>楊繼繩：</span>是的。可見向外透露真實情況有多麼危險。</p>

					<p><span class='speaker'>解說：</span>前信陽地區行署專員張樹藩的秘書余德鴻告訴美國之音，大饑荒時期為了防範真實情況外洩，信陽地委責令對當地寄往北京和鄭州的上訪信件一律截扣。他說，“當時所有寫的信，地委有個精神，都得扣，就是上訪信，都不准向外反映。凡是向中央，向省委寫的信都扣。外出的人都當成盲流扣起來，也扣著好多人。”</p>

					<p>余德鴻說，這種情況就連他這位地區官員也不能倖免：“在餓死人的前後，我下鄉向地委先後寫了16個報告，就是把底下的實際情況寫成文字報告，（結果）地委按照我這個報告劃我為右傾，批鬥我。先鬥張樹藩，鬥張樹藩一個多月之後就鬥我，我也差一點死了。”</p>
				</section>

				<section epub:type="subchapter" id="<%= chapter_ID[16] %>">
					<h2><%= titles[16] %></h2>

					<p><span class='speaker'>李肅：</span>當年餓死人的情況您能不能談個具體的例子？</p>

					<p><span class='speaker'>楊繼繩：</span>餓死人的概念現在國內也有爭論，就是什麼叫餓死人。我在書中糧食問題的那一節叫“中國農民的能量平衡”。什麼叫餓死人？不是說餓了，倒了，就死了。有這種情況，但很多不是這樣的。</p>

					<p>人需要能量來平衡，能量是靠食品來補充的。一個身高在一米六五的人在15度氣溫的情況下，如果躺著不動，肚子全空了，胃不蠕動，24小時消耗能量1400多千卡，這是維持生命最低的能量。如果運動，那消耗能量就更高了，象農民在零度以下的殘酷的環境下重體力勞動一天要4000多千卡。當時農民一天只能從食品吸收幾百千卡。</p>

					<p>能量不夠怎麼辦？先消耗自己的脂肪，消耗脂肪的過程中產生病態，如酸中毒，會死亡。脂肪消耗完了就消耗蛋白質，由於維持生命的各種酶呀、抗體呀，是蛋白質構成的。蛋白質沒有了，各種病就來了。在每一個消耗環節都會引起多種疾病。</p>

					<p>最後消耗心臟，因為人的身體有自我保護能力，心臟最重要，最後消耗。消耗心臟就是心力衰竭而死。能到這一步算是壽命比較長的，很多人都是因為能量不足而在自我消耗的過程中死亡。這就叫餓死。當時統計時叫病死，不叫餓死，實際就是餓死。浮腫是消耗脂肪造成的，所以，從能量平衡來講，餓死就是吸收幾百千卡而消耗三、四千千卡，一天兩天還行，十天、八天或一個月就不行了。人就餓死了。</p>

					<%- photo[32] %>

					<p><span class='speaker'>李肅：</span>您能講一個具體的餓死人的例子嗎？就是發生在您調查過程當中，您暸解到的具體情況？</p>

					<p><span class='speaker'>楊繼繩：</span>我父親那時是這麼餓死的。我當時在上中學，我父親一個人在家裡，別人家裡有人挖野菜，我那時18歲，應該回去的，但我那時在上學，就回不去了。後來我村里一個小孩朋友上縣里告訴我說，你父親不行了，我父親倒在路上被抬回家了，渾身很瘦，瘦得跟解剖學用的骨架一樣，只剩下一張皮，說話就不行了。</p>

					<p>我回到家，父親就趕我回學校，不讓我在家呆著。我從學校帶回三斤米，在家待著不行，待着我也得吃那個米。所以我就走了。走之前，我把水缸裡挑滿水，又去挖點野菜，是花生的芽，有毒的那種，然後就走了。</p>

					<p>我2010年在武漢講課，順便回村看看，比我小七、八歲的張志清對我說，他當時看到我父親是怎樣餓死的。他說，你帶回去的米，你父親根本沒吃到口，因為農村米是很珍貴的。你父親對村民組組長胡仕瑞說：“你不要告訴伢兒，等我死完了，再告訴他。不然，伢兒又得停火拿米回來，那他吃什麼呀？”我回學校四五天后，父親死了，村里才叫我回去。</p>

					<p><span class='speaker'>李肅：</span>您的家鄉在什麼地方？</p>

					<p><span class='speaker'>楊繼繩：</span>湖北省浠水縣。</p>

					<p><span class='speaker'>李肅：</span>這個地方饑荒嚴重嗎？</p>

					<p><span class='speaker'>楊繼繩：</span>湖北省不算太嚴重，據張體學
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en40" id="ch2ref40">（註 40 ）</a>
					</sup>
					（湖北省長）在文化大革命中說的，湖北省餓死30萬人。但我用湖北的人口數據計算，湖北省應該餓死50到60萬人。這算比較少的。前幾年，我們村里一個老會計到北京來，跟我年齡差不多。他首先提醒我說：你父親是餓死的。我說，我當然記得。他說，當時一個副縣長比較好，放了點糧食，後來副縣長倒了霉，發配到新疆去了，再也沒有消息了。</p>

					<p><span class='speaker'>李肅：</span>就是說當年沒有餓死這麼多人是因為這位副縣長從糧庫中放了點糧食。當年你們那個縣餓死了多少人？</p>

					<p><span class='speaker'>楊繼繩：</span>縣里沒有統計，湖北省有統計，死了幾十萬。</p>

					<p><span class='speaker'>李肅：</span>現在網上和中國有一個左派網站叫“烏有之鄉”上面，有個人寫了一篇東西，指責你造謠，說您說您父親當年是餓死的，可實際上你們那個村及周圍沒有人餓死，只有你父親一個人死。怎麼能證明你父親是餓死的？</p>

					<p><span class='speaker'>楊繼繩：</span>這很簡單，從武漢坐車一個小時就可以到浠水縣火山村，問一問60歲以上的人就知道了。現在電話也比較方便，打個電話就可以求證。我可以提供幾個名字：張志松、張志清、宋善明、畢列勳、宋善英、畢介常、畢茲進等。</p>

					<p><span class='speaker'>李肅：</span>就是說村里還是有別人餓死的？</p>

					<p><span class='speaker'>楊繼繩：</span>我們村比較小，只有十戶人家，幾乎都浮腫了，我記得一位叫謝先仁的老農民，腿種得水桶粗，發亮，不久就死了，也應當是餓死的。最近聽老家的人來電話說，我村附近的黃家灣也餓死了人。</p>

					<p><span class='speaker'>李肅：</span>那麼，你們家族裡面除了您的父親，還有其他人餓死嗎？</p>

					<p><span class='speaker'>楊繼繩：</span>我們那個村實際上是個佃戶村，十家十個姓，都沒有血緣關係。我一直在學校，我只知道我家餓死一個人。其它家餓死人沒有我不知道。前面說過，謝先仁可能是餓死的。勞動力多的家庭可以去挖點樹皮。我當時上學，所以我一直很內疚，應該早點回家。很後悔。</p>
				</section>

				<section epub:type="subchapter" id="<%= chapter_ID[17] %>">
					<h2><%= titles[17] %></h2>

					<p><span class='speaker'>李肅：</span>是不是農村的饑荒要比城市嚴重得多？</p>

					<p><span class='speaker'>楊繼繩：</span>城市比農村晚挨餓一年，因為從糧食徵購到調撥至少10個月的時間。1959年清華大學還在隨便吃，有魚有肉的，到我1960年上清華時就沒有了。所以，城市人比農村人晚挨餓一年。到1961年底和1962年，農村就好一些了，但清華大學還挨餓。</p>

					<p>我記得1962年春天回老家，路經武漢，在漢口車站旁的小胡同里面賣的粉條，都是隨便買，隨便吃，吃得很飽。這在北京不可能有的。1961年、62年以后城市就不如農村了。那時有個順口溜：一個八級工不如一捆蔥；嫁工人怕定量，嫁幹部怕下放，嫁當兵怕打仗，嫁個農民吃得胖。這是1962年的情況。</p>

					<p><span class='speaker'>李肅：</span>那個時候嫁人的標準是要嫁農民。</p>

					<p><span class='speaker'>楊繼繩：</span>對，就是指1961年，嫁個農民吃得胖。</p>

					<p><span class='speaker'>李肅：</span>您說饑荒蔓延到了城市。城市的饑荒情況是什麼樣子？</p>

					<p><span class='speaker'>楊繼繩：</span>城市裡，我們大學生都有糧食定量，副食品有，但比較少。我書中寫到各種不同的情況。但城市餓死人可以說很少，幾乎沒有。但大學生很餓。我當時定量卡還丟了十天，朋友七拼八湊也就幫我湊合過去了。定量卡是一個卡片，劃三十個格，你吃一個格打個勾。我們班另外一個同學身體比較強壯，路上撿了一個定量卡，到別的食堂去劃卡被發現了，賣飯的女同學趕他，他到男廁所去了，又告到班上，還開會批評他了。另外一個同學拿了窩窩頭走了沒劃卡，後來抓著了，團支部宣傳委員就被撤職了。</p>

					<p><span class='speaker'>李肅：</span>他就因為拿一個窩窩頭，沒劃卡。</p>

					<p><span class='speaker'>楊繼繩：</span>後來，賣飯的同學發現趕上來了，這位同學背了很長時間的包袱。到80年代，他當了一個大公司的副總經理，有一次請我們吃飯，弄了好多菜，他什麼也沒有說，但我們心裡明白：那時為一個窩窩頭鬧成那個樣子，現在這麼豐盛！</p>

					<%- photo[33] %>

					<p>我們清華大學當時一個科研項目叫488項目，就是造小球藻。所謂小球藻就是尿生成的有機物。主持人是我們系的一位研究生，叫王紹光。還有我們班的另一個同學參加了，他說小球藻就是尿做的綠色植物，我們當時抱著很大的期待。吃起來也沒有什麼，只是窩窩頭有點綠顏色，可能是小球藻放太少了，很失望。還保密，不讓外國留學生知道。</p>

					<p>我們一個數學老師，四川口音很重，有一次在北院的一個平房教室給我們上數學輔導課。課間休息15分鐘，他去河邊拔野草，放在講台抽屜裡。學生淘氣問老師這是什麼東西？他說要拿回家做餡餅。</p>

					<p><span class='speaker'>李肅：</span>老師說要用野草做餡餅。</p>

					<p><span class='speaker'>楊繼繩：</span>清華大學是最高學府，條件應該是比較好的，結果助教還拔野草做餡餅。這個老師姓名我現在忘了，長得很瘦。</p>

					<p><span class='speaker'>李肅：</span>您說當年城市有定量，定量是多少？</p>

					<p><span class='speaker'>楊繼繩：</span>我們大學生是31斤。</p>

					<p><span class='speaker'>李肅：</span>就是說一天有一斤糧食。</p>

					<p><span class='speaker'>楊繼繩：</span>但是沒有別的，還是很餓。31斤糧食現在看吃不了啊。當時沒有油，沒有青菜，什麼都沒有。大家年輕長身體的時候，真是餓得很。</p>

					<p><span class='speaker'>李肅：</span>一般的居民也有這麼高的定量嗎？</p>

					<p><span class='speaker'>
					楊繼繩：</span>居民27、28斤，甚至更低一些。學生優惠，年輕，長身體的時候。</p>

					<p><span class='speaker'>李肅：</span>當年饑荒的時候，農村人口的平均口糧有多少？一個月有31斤嗎？</p>

					<p><span class='speaker'>楊繼繩：</span>沒有。農村更不行，平均每天有半斤糧就不錯了，半斤糧還不是糧食，是白薯乾，有些地方是發霉的白薯乾。白薯就是紅苕，瓜菜等等根本沒有。</p>

					<p><span class='speaker'>李肅：</span>城市的糧食是徵購來的？</p>

					<p><span class='speaker'>楊繼繩：</span>從農村徵購來的，而且是貿易糧。一斤貿易糧相當於1.2斤原糧。</p>

					<p><span class='speaker'>李肅：</span>也就是說，在大饑荒最嚴重的時候，城市的定量還是能保證？</p>

					<p><span class='speaker'>楊繼繩：</span>能保證，但是很饑餓，包括我書中寫的原子能科學家，搞原子彈的科學家，他們也很挨餓。朱光亞
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en41" id="ch2ref41">（註 41 ）</a>
					</sup>
					先生在外面揀了幾個小李子，大家分分吃就很了不得了，非常地高興了。</p>

					<p><span class='speaker'>李肅：</span>但城市畢竟沒有出現大規模死人的情況。</p>

					<p><span class='speaker'>楊繼繩：</span>沒餓死人，但出生率降低是有的。</p>

					<p><span class='speaker'>李肅：</span>當時中國的上層在暸解農村發生大面積饑荒的情況下，有沒有說把城市人口的糧食定量減一減，來補救農民？</p>

					<p><span class='speaker'>楊繼繩：</span>20多斤糧食，油很少，吃不上肉，也是很餓的呀，市民的定量也是一壓再壓。對於食油，周恩來提出了保城市，壓農村，農村一、兩年沒有供應食油。</p>
				</section>

				<section epub:type="subchapter" id="<%= chapter_ID[18] %>">
					<h2><%= titles[18] %></h2>

					<p><span class='speaker'>解說：</span>農民雖然為中共奪取政權做出了巨大的貢獻，但在中共建政以後，他們卻一直處於社會的最低層。在國家面臨大饑荒這樣的嚴重危機的時候，農民的命運就更加悲慘。1961年，中央高層接到糧食部關於京、津、滬三地糧食告急的緊急報告，秘密決定，要求四川省做出局部犧牲，調糧支援城市，保住全國大局。周恩來、鄧小平和李先念接連給四川省委打電話，命令火速調集糧食，運往三大城市。而就在此時，四川的饑荒已經持續了兩年多，饑民們死亡的速度還在加快，大多數地區已經不是糧食短缺，而是徹底斷糧。</p>

					<p>面臨無糧可調的局面，四川省委決定調集“死角糧”，也就是從四川東北部一些交通極為不便的地區往外調糧。四川省委第一書記李井泉心裡非常明白，繼續往外調糧意味著還要有成千上萬的農民因此而被奪去生命。</p>

					<p><span class='speaker'>李肅：</span>為什麼？是城市人的生命價值高一些嗎？</p>

					<p><span class='speaker'>楊繼繩：</span>當時小平在四川講了一句話嘛，叫四川山村餓死一個人和北京餓死一個人的影響哪個大？政治影響不一樣啊。</p>

					<p><span class='speaker'>李肅：</span>也就是說，是政治決策。</p>

					<p><span class='speaker'>楊繼繩：</span>政治決策。</p>

					<p><span class='speaker'>李肅：</span>主要是因為擔心影響，而多死一些農民對外的影響也不會很大。</p>

					<p><span class='speaker'>楊繼繩：</span>也看不見，外國人看不見。我們吃小球藻不讓外國留學生知道。清華有很多留學生，都不是歐美發達國家的，是亞、非、拉，斯里蘭卡、印度的留學生，我們系裡就有。他們單獨吃飯，有留學生食堂，但不讓他們知道我們吃了小球藻。</p>

					<p><span class='speaker'>李肅：</span>當時為了保證城市供應，中國上層、中共中央有什麼樣的明確決策？</p>

					<p><span class='speaker'>楊繼繩：</span>不斷地催糧食。</p>

					<p><span class='speaker'>解說：</span>大饑荒最為嚴重的時候，北京等主要城市的存糧明顯不足。 1960年5月28日，中共中央發出《關於調運糧食的緊急指示》說：“近兩個月來，北京、天津、上海和遼寧省調入的糧食都不夠銷售，庫存已幾乎挖空了，如果不馬上突擊趕運一批糧食去接濟，就有脫銷的危險。”中國共產黨新聞網刊登的1960年中共大事記說，為解決日益嚴重的市場供應緊張問題，中共中央當年除多次發出指示，緊急調運糧食以支援最困難地區外，還採取了減少民用布的平均定量，降低城鄉的口糧標準和食油定量，並提倡採集和製造代食品等多種應急措施。為了緩解糧、棉、油供應的緊張形勢，1959年5月26日，中共中央發出《關於採取非常措施解決當前食油供應問題的緊急指示》，決定5月至9月除個別地區外，停止對農村供應食油。</p>

					<p><span class='speaker'>楊繼繩：</span>比如說吃油，油的發熱量比一般的碳水化合物要高好多倍。周恩來明確表示農村停止銷售食油一年。這一年農村一滴油都看不見，沒有。</p>

					<p><span class='speaker'>李肅：</span>是不是可以這樣說，就是在那一年，農村的油全部被收購了？</p>

					<p><span class='speaker'>楊繼繩：</span>油料作物全部由國家收購了，由國家的工廠榨油，榨出的油全部供應城市，農村一兩油都沒有。</p>

					<p><span class='speaker'>李肅：</span>那就是餘油沒有了，如果有餘糧的話。</p>

					<p><span class='speaker'>楊繼繩：</span>沒有餘油。油是商品，由國家供應的，由國家榨油，沒有私人油坊，都是國家的，全部供應城市。周恩來親口說，壓農村保城市。(農村)一年沒供應油啊！</p>
				</section>
			</section>