			<section epub:type="chapter" id="<%= chapter_ID[29] %>">
				<h1><%= titles[29] %></h1>
				<h2>採訪：未可     撰文：木風 蕭雨   製作：杜林 張松林</h2>
				<blockquote class="pullout"><%= global.book.meta[book].description %><!--周恩來下令銷毀死人數據；欺上瞞下常態化；信陽催糧路遇餓殍，李先念下車失聲痛哭；“寧可四川餓死人，不可北京餓死人”；鄧小平庇護李井泉；蹲點調查，劉少奇立場大轉變；毛澤東對公共食堂情有獨鍾；毛澤東的唯意志論情結；大饑荒與國民黨何干；毛澤東如何與民共渡時艱--></blockquote>
					
				<p>大饑荒之所以能夠持續數年並造成數千萬人死亡，固然有多方面的原因，但中共高層無疑是這場全國範圍的大災難的第一推動者。無論是起初提出“跑步進入共產主義
				<sup epub:type="rearnote">
					<a href="backmatter.xhtml#ch4en1" id="ch4ref1">（註1）</a>
				</sup>
				”的口號，還是在全國範圍內掀起“大躍進”運動、刮起大放衛星的虛假之風、或者強行推廣公共食堂、組織全民大煉鋼鐵、或者下令基層堵截外流饑民、派民兵收繳農民私藏的保命糧，人們總可以看到中共高層領導人的身影，總可以聽到他們的聲音。</p>
				
				<p>有的領導人，如周恩來，以親民著稱，被官方媒體稱為“人民的總理”，但在拿到數千萬人餓死的調查數據時，他並沒有勇敢地站出來承擔責任，為農民說話，而是下令立刻銷毀數據，掩蓋真相；有的領導人，如劉少奇，也曾經激情滿懷地為“大躍進”搖旗吶喊，但在惡果浮現的時候還能夠順應良知的召喚，向“偉大領袖”提出坦誠的忠告；有些領導人，如鄧小平，據說性格“剛正”、“務實”，但在大饑荒時期也明顯喪失了良知，在四川幹部奮起追究該省最高領導人李井泉責任的時候出面力保，使其免受查處；還有的領導人，如李先念，身為副總理，與各省大員接觸頻繁，可以說是既知上情也知下情。他常常徘徊在人性與黨性之間，既對大饑荒的惡化負有責任，也為緩解地方災情做出過努力；中共中央主席毛澤東是始作俑者，他在“大躍進”和大饑荒期間表現出的偏執、對生命的漠視、對虛假風的縱容都超出了人們可以理解的程度。作為“人民領袖”，毛澤東在億萬臣民在饑餓中掙扎之際，竟要求各地為自己大修別墅，令人咋舌。</p>
				
				<p><span class='speaker'>李肅：</span>大饑荒持續了好幾年，問題如此嚴重，又死了這麽多人，中國高層領導人，如毛澤東、劉少奇、周恩來、鄧小平、彭真、陳雲等，對實際情況究竟知道多少？作出過什麼反應？</p>
				
				<p><span class='speaker'>楊繼繩：</span>應該說，他們知道一些，但知道的不一定全面。1959年春天，不是有許多信向他們反映情況嗎？他們當個別問題處理，沒有（把這些問題）作為全局問題予以處理，更沒有從政策上和制度上來考慮這些問題。毛澤東說是“九個指頭”和“一個指頭”的問題嘛。</p>
				
				<p>這個案子報了，那個案子報了，都當個案處理。當時有局部和全部的關係，支流和主流的關係，這些都是局部問題，不是全局問題，是支流問題，不是主流問題。是“九個指頭”和“一個指頭”的關係。“九個指頭”還是好的。</p>
				
				<p>那些問題被看成是局部問題當然跟他們的主觀偏見有關。更主要的是，這個制度封鎖消息，鼓勵講假話。專制制度是假話盛行的制度，當權者既要對下面封鎖信息，同時下面也向當權者封鎖信息啊。</p>
				
				<p>下面向上面封鎖消息有兩個好處，一是，他們的錯誤不被上面知道，報喜不報憂。這是集權制度通常的一個毛病。二是少報死亡人口，人死了，但糧食供應沒有給註銷，活著的人可以享用。這就是吃空額，像果戈理小說中寫的《死魂靈》
				<sup epub:type="rearnote">
					<a href="backmatter.xhtml#ch4en2" id="ch4ref2">（註2）</a>
				</sup>
				一樣。</p>

				<section epub:type="subchapter" id="<%= chapter_ID[30] %>">
					<h2><%= titles[30] %></h2>
					
					<p><span class='speaker'>李肅：</span>在大饑荒過後，中國官方有沒有公佈過非正常死亡的數字？</p>
					
					<p><span class='speaker'>楊繼繩：</span>沒有公開過。</p>
					
					<p><span class='speaker'>李肅：</span>從來沒有公開過？</p>

					<%- photo[46] %>
					
					<p><span class='speaker'>楊繼繩：</span>1961年年底，有三個人搞了個調查。糧食部長陳國棟
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en3" id="ch4ref3">（註3）</a>
					</sup>
					、統計部長賈啟允
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en4" id="ch4ref4">（註4）</a>
					</sup>
					、還有糧食部辦公廳的主任周伯萍
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en5" id="ch4ref5">（註5）</a>
					</sup>
					。周伯萍現在還在。周伯萍曾在80年代在社科院人口所做過一次報告，談到了一件事，說他們三個人讓各省填表，暸解究竟餓死多少人。說是有幾千萬。</p>
					
					<p>後來，我為了寫書，要落實此事，就親自去周伯萍家。那是2003年，或者是2002年。他承認，確有這個調查，死了幾千萬。周恩來看後就說，要趕緊銷毀。過了一個禮拜周恩來問他們，你們銷毀了沒有。他們說銷毀了。</p>
					
					<p>到底是幾千萬，周伯萍沒有說。後來我去問他，他不吭氣。也算巧，我跟他談話，看到牆上掛一幅照片，是我同學的照片。我說那不是常西昌（音）嗎？他問你怎麼認識？我說是同學。老先生本來穿著西裝革履接受我採訪。後來，回房間，跟老伴說我是常西昌的同學。我就再問他是幾千萬。他說，嗨，你管這幹什麼。他以一種長輩的身份來教訓我，就沒有談成。</p>
					
					<p><span class='speaker'>李肅：</span>那您就沒有再追問他具體數字嗎？</p>
					
					<p><span class='speaker'>楊繼繩：</span>我很傻，我不該說我是他女婿的同學啊。他不但不說，還說，你年輕人不要問這事，就幾千萬。後來，我又說了一句傻話，說是不是兩千萬啊？他說，就是這個數，就是這個數。肯定不止兩千萬。</p>
					
					<p><span class='speaker'>李肅：</span>那您當時要是多問一點或者少問一點？</p>
					
					<p><span class='speaker'>楊繼繩：</span>多問一點，四千萬，三千萬也可能是的。他說是，反正是幾千萬，這是肯定確切的。</p>
					
					<p><span class='speaker'>李肅：</span>他說了，周恩來是知道這個事情的。</p>
					
					<p><span class='speaker'>楊繼繩：</span>報到周恩來那兒，周恩來讓他趕緊銷毀。數據銷毀後一個禮拜，周恩來又問銷毀沒有，他們說銷毀了，是他們三個人一起銷毀的，連板都銷毀了，當時不是製版印刷嘛。</p>
					
					<p><span class='speaker'>李肅：</span>據您所知，這些數據，他們銷毀的這些數據，除了周恩來還有沒有其他高層領導人知道？</p>
					
					<p><span class='speaker'>楊繼繩：</span>估計毛知道。但是，後來是不是透露出去很難說。陳一諮在外面講四、五千萬嗎，是不是來自這個數字我就不好說。</p>

					<%- photo[47] %>

					<p class='commentary'><span class='speaker'>解說：</span>前中國國家統計局局長李成瑞1997年在《中共黨史研究》上發表了《“大躍進”引起的人口變動》一文，承認中國長期以來都將大饑荒時期的人口統計視為絕密，嚴防外洩。他寫道：“我國經常性人口統計資料是通過公安部門的戶口登記取得的。關於‘大躍進'和隨後的經濟困難時期的戶口登記數字，長期沒有公佈。特別是由於這些數字中顯示1960年全國人口比1959年淨減1000萬，所以當時把它作為絕密資料。直到1983年，國家統計局經國務院批准，才將這些數字納入了1983年出版的《中國統計年鑑》，第一次向國內外公佈了1949年到1982年戶口登記的每個年度的人口數字。”</p>
				</section>
				<section epub:type="subchapter" id="<%= chapter_ID[31] %>">
					<h2><%= titles[31] %></h2>
					
					<p><span class='speaker'>李肅：</span> 毛澤東是最高領導人，他暸解的情況會不會多一些呢？比其他領導人？</p>
					
					<p><span class='speaker'>楊繼繩：</span> 數字一旦和利益相聯繫，和官員的政績相聯繫，就不可能真實。“大躍進”時，糧食“放衛星”可顯示政績，大家都“放衛星”。少報死亡人口對官員有好處，所以就少報。到改革開放年代，可以向中央要錢，就叫苦，要錢嗎，叫“跑部錢進”嘛。這是專制制度的痼疾。</p>
					
					<p>在大饑荒年代，毛澤東下去跑一圈就感覺良好，那些省委書記在毛澤東面前講假話。但是，省委書記們對中央實際部門會講真話。比如李井泉，他在毛澤東那里大包大攬，說沒事，說我們這裡有糧食。但他跟李先念、跟陳國棟就會討價還價，爭取他們（對四川）少徵購一點。他如果在李先念面前少交一些糧食，感到寬鬆一些，就更有膽量跟毛澤東說假話了。我在檔案館裡看到了李井泉給李先念的信，要求減少徵購指標。</p>
					
					<%- photo[48] %>

					<p class='commentary'><span class='speaker'>解說：</span>不僅省委書記說假話，就連周恩來也向毛澤東隱瞞大饑荒的真相。美國明尼蘇達州諾曼岱爾社區學院（Normandale Community College）教授、中共黨史專家丁抒
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en6" id="ch4ref6">（註6）</a>
					</sup>
					說，周恩來在“大躍進”初期曾因主張制止冒進而受到毛澤東嚴厲批評。之後，他為了自保便立即轉向，支持“大躍進” 。</p>
					
					<p><span class='speaker'>丁抒：</span>“就在‘廬山會議’期間，國務院內務部向中共中央報告，14個省發生夏季糧荒，其中9個省缺糧人口達3.8億人。在彭德懷受到批判的時候，周恩來其實心裡明白彭德懷是有道理的。周頭腦是清醒的，就是心有餘悸，不得不小心翼翼，絕對不對“大躍進”提出任何負面意見。這些壞消息，周恩來從來不向毛澤東報告。”</p>
					
					<p><span class='speaker'>李肅：</span>李先念曾經是國家主席，當時是國務院副總理。</p>
					
					<p><span class='speaker'>楊繼繩：</span>主管經濟的，主管財經的。</p>
					
					<p><span class='speaker'>李肅：</span>他當時是不是更暸解情況呢？</p>
					
					<p><span class='speaker'>楊繼繩：</span>他很暸解情況，但焦頭爛額。城市的糧食他要管。當時天津報告說，糧食只剩幾天了，瀋陽也只剩幾天。這些報告對他不能沒有壓力。外貿出口單位要雞蛋、要豬肉,（貨物）出不去，他很著急。所以，他整天要糧呀、要雞蛋呀、要肉呀。他出面開電話會議、催糧食、催雞蛋、催出口產品。他當時也受到制度的壓力。他管這些事情嘛。</p>
				</section>

				<section epub:type="subchapter" id="<%= chapter_ID[32] %>">
					<h2><%= titles[32] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>中國官方媒體在描述李先念在“大躍進”時期表現時經常談到他當時表現出的務實態度。官方一些史料也說，在大饑荒期間，李先念曾經提出減少糧食徵購。但是，專門研究過大饑荒的中共黨史專家丁抒教授指出，中共中央1959年3月底在上海錦江飯店召開政治局擴大會議，決定把糧食徵購率從1958年的29%大幅度提升到40%。李先念堅決執行，並把毛澤東號召全國學習河南省加大糧食徵購力度的講話越級向全國傳達，加劇了各地的饑荒。《麥苗青菜花黃-大饑荒川西紀事》一書的作者王東渝在他的書中說，中共中央“先下手為強”的政策嚴重加劇了四川的饑荒。王東渝對川西地區的饑荒進行過深入調查和研究。他說，僅溫江地區1959年11月到1960年就餓死了五十多萬人。</p>

					<%- photo[49] %>

					<%- photo[50] %>
					
					<p><span class='speaker'>王東渝：</span>“李先念以後就在全國糧食會議上把毛澤東‘先下手為強，後下手遭殃'的講話傳達下去了。後來。河南省委財貿書記宋致和在傳達會議精神時說，‘李先念同志講先下手為強，後下手遭殃。’現在如果不抓徵購糧食，等到廬山會議精神貫徹下去之後再徵，群眾就把糧食吃光了。徵不到糧食，城市生活怎樣安排。要求​​在貫徹廬山會議精神的同時要兩手抓，一手抓徵糧食，一手抓精神貫徹。早秋下來群眾邊收割邊徵購。這個邊收割，邊徵購的措施在全國許多省份得到執行。這就是造成1959年11月開始全國普遍餓死人的關鍵原因。”</p>
					
					<p><span class='speaker'>王東渝：</span>“那個冬春餓死人是斷糧的問題，是完全沒有糧食的問題，完全把糧食給農民搜光了。中央下的命令就是‘先下手為強'，把糧食統統搜光。他們自始至終認為農民在瞞產私分。你既然要瞞產私分，你反正都要瞞產，老子乾脆給你搜光。搜光了以後，你還是餓不死。為什麼餓不死？你糧食是藏起來的。從上到下都是這個觀點。”</p>

					<p class='commentary'><span class='speaker'>解說：</span>時任中共河南省信陽地委書記的路憲文1993年8月回憶說：“1960年夏天，副總理李先念到（信陽地區）光山縣調查，車被滿路的餓殍擋住，李痛哭流涕，可能想到了自己要求‘提前強行徵購糧食'逼死了信陽農民。”</p>
					
					<p><span class='speaker'>李肅：</span>他主管這個事情，應該是知道下面很困難了，糧食不多了，已經收不上來了。他是什麼反應？他是向上面報告真實情況呢，還是向下面施壓一定要完成任務呢？</p>
					
					<p><span class='speaker'>楊繼繩：</span>他還是想完成任務的。下面的情況他知道，因為他在第一線，知道這個情況，但情況究竟有多麼嚴重，餓死多少人，他不一定知道得那麼多。</p>
					
					<p><span class='speaker'>李肅：</span>作為一個主管經濟的副總理，如果糧食調不上來，他不應該意識到下面糧食有短缺的問題嗎？</p>
					
					<p><span class='speaker'>楊繼繩：</span>當時的糧食部是不管糧食生產的，只管糧食收購和分配，像財政部只管錢的收入和分配一樣。國家庫存多少糧食，是糧食部最關心的。財政部希望資金入庫，至於哪個單位錢不夠花，不是他們關心的事。財政赤字和糧食庫存減少是財政部和糧食部最關心的。毛澤東說過：“手中有糧，心裡不慌。”他手裡有糧，他心裡不慌。可徵購多了，農民心裡慌啊！當時還強調運輸問題，說糧食不好調是因為運力不足。</p>
				</section>

				<section epub:type="subchapter" id="<%= chapter_ID[33] %>">
					<h2><%= titles[33] %></h2>
					
					<p><span class='speaker'>李肅：</span>但是，他在跟李井泉甚至是其他省委書記討價還價的時候，難道僅僅是因為運輸問題或者其他問題糧食調不上來嗎？</p>
					
					<p><span class='speaker'>楊繼繩：</span>當然知道沒糧食。所以才講全局和局部嘛。當時有個說法，說在四川山村餓死一個人和在北京街頭餓死一個人，影響哪個大？後來演變為“寧可四川餓死人，不可北京餓死人”。開始說的是在北京餓死人的政治影響比在四川山村餓死人的影響要大。要從全局考慮。這話說了，是鄧小平說的。</p>

					<p class='commentary'><span class='speaker'>解說：</span>鄧小平當時擔任中共中央政治局常委、書記處總書記。有了鄧小平這句話，時任中共西南局第一書記的李井泉就積極宣揚“丟卒保車”的重要性，四川百姓的身家性命就這樣為了大局被中央丟掉了。</p>
					
					<p class='commentary'>曾任解放軍成都軍區《戰旗報》編輯的王東渝（筆名東夫）在香港出版的《麥苗青菜花黃-大饑荒川西紀事》一書中說，1960年底，中共四川省委在工作會議上再次提出農村按每人每天半斤留糧，這是1959年底定下的標準。溫江地委書記宋文彬
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en7" id="ch4ref7">（註7）</a>
					</sup>
					說：1959年底實施這個標准後，一個冬春已經餓死了那麼多人，再出亂子怎麼辦？李井泉反問宋文彬：“亂子已經出了，是先保京、津、滬，先保成都，還是先保你溫江？”</p>
					
					<p class='commentary'>據當時擔任中共巴中縣委主管農業的副書記周永開
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en8" id="ch4ref8">（註8）</a>
					</sup>
					回憶：當時從上到下貫徹的指示是：“京、津、滬缺糧，如果出問題，影響國際形象，不得了。”然而，就是這個每人每天半斤的留糧，其實也是政府虛誇的結果，溫江的百姓實際上連這點兒糧食也沒有。</p>
					
					<p><span class='speaker'>王東渝：</span>“根本就沒有，因為它是浮誇的。這個賬是怎麼算的啊？我們的產量是由領導算、是由各級政府算的，不是農民的實際產量啊。比如說糧食一畝地只打了500斤，他給你算成1000斤。算成1000斤，他說我收你400斤，收你500斤，你還有500斤嘛。實際上他只有500斤的產量，收完就沒有了。很多地方是一粒糧食都沒有，全部吃野菜，全部斷糧，全部公共食堂停伙。”</p>
				</section>

				<section epub:type="subchapter" id="<%= chapter_ID[34] %>">
					<h2><%= titles[34] %></h2>
					<%- photo[51] %>
					
					<p><span class='speaker'>李肅：</span>對鄧小平在這場大饑荒期間的表現，我們好像不太清楚。您對鄧小平當年的表現有什麼暸解？</p>
					
					<p><span class='speaker'>楊繼繩：</span>很多人對鄧小平在“大躍進”中的表現都不清楚，但我聽安志文
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en9" id="ch4ref9">（註9）</a>
					</sup>
					說了一句話。安志文當時是國家計委的負責人之一。他說鄧小平對“大躍進”的責任大著呢。我說怎麼大了？他說，“南寧會議”
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en10" id="ch4ref10">（註10）</a>
					</sup>
					上毛說周離右派只有五十步。周恩來差一點辭職，國務院很多事就由書記處管了，鄧小平主持書記處的工作，都是他幹的嘛。就這麼一句話。當然，後來是鄧小平時代嘛，鄧小平所有這方面的問題都一字不談，都沒有披露。</p>
					
					<p><span class='speaker'>李肅：</span>您也沒有查到什麼東西？</p>
					
					<p><span class='speaker'>楊繼繩：</span>查不到。我到檔案館是查關於農村政策的歷史演變，關於糧食歷史的調查，只能是農村和糧食方面的。我不能說是查大饑荒的檔案呀。將來檔案公開了，人們可能知道得多一些。不過，1959年春採取的那幾項政策應該跟劉少奇和鄧小平有關。</p>
					
					<p class='commentary'><span class='speaker'>李肅：</span>您指的是“糾偏”的政策。</p>
					
					<p class='commentary'><span class='speaker'>楊繼繩：</span>1959年春的兩項通知，一個是關於自留地，一個是養豬養雞。這兩項政策可能跟鄧小平有關。我分析，這跟鄧小平後來的思想是一致的。開始跟著起哄，跟著鬧，鄧小平也是積極的，不積極他也不可能站得住。比如城市成立人民公社，鄧小平是最早講的。</p>

					<p class='commentary'><span class='speaker'>解說：</span>鄧小平當年作為負責一線工作的中共中央總書記，對“大躍進”是支持的。中國共產黨新聞網在《鄧小平在“大躍進”前後》的文章中說，1958年1月間，毛澤東在“南寧會議”上批評“反冒進”是洩了六億人民的勁，是方向性錯誤。鄧小平2月13日在四川省、地、縣、社四級幹部會議上說，​毛澤東和中共中央是根據客觀可能的條件加快建設。他強調說，只要是可能的，不是主觀主義的，就應該快。1958年3月份，毛澤東又在“成都會議”
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en11" id="ch4ref11">（註11）</a>
					</sup>
					上多次批評“反冒進”，甚至上升到路線錯誤的高度，說“冒進”是“馬克思主義的”，“反冒進”是“非馬克思主義的”。鄧小平會議發言時說，“反冒進”是不好的，挫傷了群眾和幹部的積極性。</p>
					
					<p class='commentary'>中國現代史專家丁抒透露，在四川饑荒最嚴重的時候，鄧小平不但不追究老部下李井泉的責任，還幾次保李過關。</p>
					
					<p><span class='speaker'>丁抒：</span>“在1962年1月中央工作會議上，四川省委宣傳部副部長明朗
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en12" id="ch4ref12">（註12）</a>
					</sup>
					寫了封匿名信給中央，控告李井泉，說四川餓死了很多人，李井泉有責任。這封匿名信被中央收到以後就開始要李井泉在四川組的小會上檢查。李井泉被迫檢查，而且在檢查的時候還哭了，掉了眼淚，但是四川的幹部對他的檢查不滿意，因為四川餓死人實在太多了。鄧小平兩次到四川小組會議上去為他開脫，說該檢討的都檢討了，就是那麼多問題。四川出的問題中央也有責任，然後說停止追查李井泉的個人責任，保護李井泉過了關。”</p>

					<p class='commentary'><span class='speaker'>解說：</span>根據有關當事人回憶，力保李井泉過關並不只是鄧小平個人的意思，而是包括毛澤東在內的中共高層領導的意思。周恩來、鄧小平、朱德等都在“七千人大會”參加過四川組會議。</p>
					
					<p class='commentary'><span class='speaker'>周恩來說：</span>“四川糧食調多了，責任在國務院。我是總理，責任在我。”</p>
					
					<p class='commentary'><span class='speaker'>鄧小平說：</span>“調糧的問題，井泉同志檢討了。中央也有責任。這個責任不能只怪四川省委。四川調糧調得多了些，死人死得多了些，中央也有責任”。</p>
					
					<p class='commentary'>朱德專門召開四川地委書記以上幹部座談會，說“井泉同志檢討兩次了，差不多了。四川的問題中央有責任，大家要團結一致，振作精神，戰勝困難，爭取工農業生產盡快恢復和發展，我看是大有希望的。”</p>
					
					<p class='commentary'>鄧小平女兒鄧榕在《我的父親鄧小平—文革歲月》一書中說：“‘老爺子’
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en13" id="ch4ref13">（註13）</a>
					</sup>
					健在時，曾不止一次說過，關於四川調糧問題，是中央的決定，責任在中央，不在地方，是集體的決定，責任在集體，不在個人。這個問題中央已經做過明確的結論。”</p>
					
					<p class='commentary'>毛澤東在“七千人大會”後曾經就四川調糧的問題對李井泉提出過批評。他說李井泉是“只有大公，沒有小我”
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en14" id="ch4ref14">（註14）</a>
					</sup>
					。這與其說是批評，不如說是表揚，足見毛澤東不僅沒有因為四川千萬農民餓死而怪罪李井泉，反而對他憐愛有加。</p>
				</section>

				<section epub:type="subchapter" id="<%= chapter_ID[35] %>">
					<h2><%= titles[35] %></h2>
					
					<p><span class='speaker'>李肅：</span>當時毛澤東曾經讓他身邊的領導人劉少奇、朱德
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en15" id="ch4ref15">（註15）</a>
					</sup>
					、陳雲
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en16" id="ch4ref16">（註16）</a>
					</sup>
					、周恩來等下去做實地調查，這是在什麼時候？</p>
					
					<p><span class='speaker'>楊繼繩：</span>1961年。因為1960年的時候情況比較嚴重，毛澤東也苦於得不到真實信息，讓他的警衛員下去調查，讓朱德、周恩來、陳雲都去調查，而且把1961年作為調查研究年，有這麼個說法。也就是他們苦於得不到真實信息。被謊言所包圍，在專制制度下都是這樣的。專制制度最高領袖被謊言和陰謀所包圍嘛，就是這個情況。</p>
					
					<p><span class='speaker'>李肅：</span>那毛怎麼會想到讓他們去調查？他一定是得到了什麼信息。</p>
					
					<p><span class='speaker'>楊繼繩：</span>他當然得到信息，真真假假也不清楚，處於懵懂之中，在模糊中做決策是很危險的。所以，1961年和1960年的情況，他可能知道。1960年12月“信陽事件”就爆發了嘛，死了一百多萬人。當時“信陽事件”是嚴格保密的，我們到上大學的時候都不知道。後來，我到90年代才知道有“信陽事件”。中國人都不知道，只有高層知道。高層知道“信陽事件”，下面甚至省以下的人都不知道，我們的學生、農民根本不知道有“信陽事件”。</p>
					
					<p><span class='speaker'>李肅：</span>原來有種說法是，下面的人騙上面的人，而上面的人壓下面。那麼，這些最高層的領導人下去調查回來後有沒有把真實情況反映上去？</p>
					
					<p><span class='speaker'>楊繼繩：</span>反映了一些，比如劉少奇回老家調查了一個月。他原來是緊跟毛澤東的，比毛澤東還左，說的話更極端，在各地方講話講得很厲害，包括在徐水的講話，河北省徐水縣、在江蘇的講話，講得很極端、很激進的。他回湖南調查一個月之後態度就轉變了。</p>

					<%- photo[52] %>

					<p class='commentary'><span class='speaker'>解說：</span>中國共產黨新聞網在《劉少奇在湖南農村蹲點調查的四十四天》這篇文章中說，1961年4月1日到5月15日，劉少奇率領中央調查組先後在湖南省寧鄉縣王家灣生產隊、長沙縣天華大隊和寧鄉縣花明樓炭子衝蹲點調查。調查期間，劉少奇認真聽取了當地民眾對公社食堂和‘浮誇風'等問題的意見。他在寧鄉聽取匯報時，對當地百姓有關“三分天災，七分人禍”的說法表示認同，承認中央政策存在失誤。</p>
					
					<p class='commentary'>1961年5月31日，劉少奇在中共中央工作會議上說：“這幾年發生的問題，到底主要是由於天災呢，還是由於我們工作中間的缺點錯誤呢？湖南農民有一句話，他們說是‘三分天災，七分人禍'。”“總起來，是不是可以這樣講：從全國范圍來講，有些地方，天災是主要原因，但恐怕不是大多數；在大多數地方，我們工作中間的缺點錯誤是主要原因。”</p>
					
					<p><span class='speaker'>李肅：</span> 毛澤東當年是不是暸解事實的真相？</p>
					
					<p><span class='speaker'>楊繼繩：</span>我想他暸解局部的真相，全局的東西很難說。各地反映說餓死人了，沒糧食吃等，從1959年春天就有人反映。但他把反映的這些問題當做個別問題處理。中共有這麼一個指導思想，就是局部還是全局？是支流還是主流？是現像還是本質？他（毛澤東）總認為是局部的，支流的，是現象。所以，他這麼看。他認為這些問題是“九個指頭”和“一個指頭”的關係，就是“十個指頭”中，有“九個指頭”是成績，只有“一個指頭”是缺點。他自始至終認為是“一個指頭”的問題。</p>
				</section>

				<section epub:type="subchapter" id="<%= chapter_ID[36] %>">
					<h2><%= titles[36] %></h2>
					<%- photo[53] %>

					<p class='commentary'><span class='speaker'>解說：</span>1959年3月，毛澤東在鄭州開會期間，要求召開河南省“六級幹部會議”，暸解農村情況。上萬名幹部參加會議，大到省委書記，小到生產隊長，誰都不敢講實話。唯有洛寧縣一個生產隊長李成午
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en17" id="ch4ref17">（註17）</a>
					</sup>
					冒冒失失地講了真話，抱怨人民公社隨意調用農民的糧食、牲畜、家畜和財產，“80%的勞力都被調去煉鋼鐵了，地裡沒人幹活了。……人人都擠到集體食堂吃飯，……集體食堂已經坐吃山空，沒有糧食下鍋了，就用榆樹皮、野菜湊合，吃得解不下大手，孩子哭、大人鬧，好多人害上了浮腫病，蹲到地上就站不起來了。”</p>
					
					<p class='commentary'>毛澤東在3月8日親自接見了李成午，讚揚說：“一萬多人的代表會議，沒有人敢這麼講實話。成午同志說得好啊！看來，‘共產風'是實。”毛澤東還對在場的洛陽地委書記、“文革”期間曾經擔任中共政治局委員和副總理的紀登奎
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en18" id="ch4ref18">（註18）</a>
					</sup>
					說：“我去年在北戴河會議上說辦人民公社，沒說叫刮‘共產風'。……吃食堂飯，實踐證明不行，要搞人民公社，必須去掉食堂。”</p>
					
					<p class='commentary'>有了毛澤東的尚方寶劍，1959年5月，中共中央發出指示說：“糧食分配到戶，個人自願參加(食堂)，口糧依人定量，節餘全部歸己。”還指示將自留地發還社員，允許社員私養家畜家禽。</p>
					
					<p><span class='speaker'>李肅：</span>公共食堂顯然加速了饑荒的蔓延。據資料，毛澤東本人是知道公共食堂情況的，毛本人也說過，這個食堂不行，不該再辦下去。毛在1959年3月舉行的“鄭州會議”就說過這樣的話。</p>

					<%- photo[54] %>
					
					<p><span class='speaker'>楊繼繩：</span>	毛澤東聽到不少對食堂的批評意見，但毛對食堂是情有獨鍾的。他欣嘗中國古代的“五斗米道
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en19" id="ch4ref19">（註19）</a>
					</sup>
					”，吃飯不要錢。後來出了問題，一直到“鄭州會議”，甚至“廬山會議”，他說，公共食堂保住了三分之一就是了不得的成績，就是大事情。到60年餓死人最多的時候，貴州省說了假話，向中央寫報告說食堂如何好，說貴州是如何堅持的，毛澤東對這個報告很重視，做了很長的批示，說貴州調查報告是科學的，是好的，全國都要恢復食堂，沒有例外。</p>
					
					<p>毛澤東自始至終對公共食堂情有獨鍾，沒有動搖，一直到1961年派胡喬木
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en20" id="ch4ref20">（註20）</a>
					</sup>
					他們到韶山、到​​湖南調查。胡喬木寫了報告，毛澤東的親屬也給毛澤東寫了封信，毛澤東沒說解散，只說由農民自願吧。這樣食堂才解散，到1961年冬天，食堂才解散。</p>
					
					<p><span class='speaker'>李肅：</span>在1959年6月，毛澤東回到了自己的家鄉韶山，他在跟鄉親開會時，鄉親們就反映公社食堂不行，不能再辦。毛澤東當時也跟鄉親們說：“食堂裡吃不飽飯可以散了嘛，這個辦法也太浪費糧食。”這是他自己說的。</p>
					
					<p><span class='speaker'>楊繼繩：</span>但是,他的話沒有兌現。</p>
					
					<p><span class='speaker'>李肅：</span>他為什麼連自己家鄉老鄉的話都不聽，而且他自己也要老鄉把公社食堂散掉，為什麼反過來又要堅持辦下去？</p>
					
					<p><span class='speaker'>楊繼繩：</span>公共食堂當時對統治者來說是一個理想，不僅是毛澤東的理想。這是他的理想，烏托邦
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en21" id="ch4ref21">（註21）</a>
					</sup>
					式空想社會主義的理想，把農民拴在集體所有制的繩子上。食堂取消了家庭的經濟職能，這就便於教育農民，讓農民走社會主義道路。毛澤東不是說嚴重的問題在於教育農民嗎？食堂消滅了私有制，消滅了小生產觀念，這都是毛需要的。對生產隊幹部來說，大家在一起吃飯，便於管理，便於控制。食堂是便於管理，便於控制的好形式。</p>

					<p class='commentary'><span class='speaker'>解說：</span>公社食堂暴露出嚴重問題之後，毛澤東內心仍然不想解散公共食堂。他這邊剛剛允許韶山解散了公共食堂，那邊馬上就在前往“廬山會議”的途中鼓勵河南省委第一書記吳芝圃說：“食堂要堅持下來。”“不要去提倡食堂堅決垮台，是堅決自願，堅決辦好。”</p>
					
					<p class='commentary'>1959年6月29日，毛澤東在中共政治局常委擴大會議上重申要積極辦好公共食堂。美國加州州立大學洛杉磯分校教授、中共黨史研究專家宋永毅透露，毛澤東讓各省委負責人向中央匯報公共食堂的問題，也並非是想取消食堂，四川省委書記李井泉就投其所好。</p>
					
					<p><span class='speaker'>宋永毅：</span>“就是李井泉，他立刻給毛澤東寫信，說公共食堂怎麼好，我們如何把公共食堂恢復起來了。毛澤東一看，他要的東西來了。實際上，毛澤東表面上是徵求意見，言下之意是不服。他要下面給他提供他可以在上層和劉少奇、鄧小平等務實派交手的砲彈，李井泉就提供了。而這個時候，實際上，四川所有的公共食堂根本就開不出伙，沒有飯吃。他（李井泉）就胡扯一通，然後，毛澤東就非常得意，說公共食堂還是要辦下去。那就餓死了更多的人。”</p>
				</section>

				<section epub:type="subchapter" id="<%= chapter_ID[37] %>">
					<h2><%= titles[37] %></h2>
					
					<p><span class='speaker'>李肅：</span>中國華東師範大學教授楊奎鬆對大饑荒很有研究。他自己說過：“毛長期認為，只要有了人和馬克思主義，有了好的制度，什麼人間奇蹟都可以創造出來。這是不是因為他在中共奪取政權的過程中創造了許多奇蹟而自信心大漲？他相信自己能夠繼續創造其它國家不能創造的奇蹟？</p>

					<%- photo[55] %>

					<%- photo[56] %>
					
					<p><span class='speaker'>楊繼繩：</span>毛澤東他有唯意志論，這個思想根子很深。他年輕時在長沙第一師範學院唸書時，就很崇拜“六君子”之一的譚嗣同
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en22" id="ch4ref22">（註22）</a>
					</sup>
					。譚嗣同有本書談心力說，書名叫《仁學》。它誇大心的作用，就是思想的作用。</p>
					
					<p><span class='speaker'>李肅：</span>主觀意識。</p>
					
					<p><span class='speaker'>楊繼繩：</span>書中說，心力最大者，無不可擋。譚嗣同說，就是精神力量最大，什麼都擋不了。當時毛澤東的老師，他的岳父楊昌濟
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en23" id="ch4ref23">（註23）</a>
					</sup>
					，也是主張心力說的學者。他有一篇文章叫《達化齋日記》。文章說，人動莫大於心，精神一到，何事不成？毛澤東就很相信譚嗣同和楊昌濟的話。毛澤東也寫了篇文章談心力的作用（見本文後附錄），系統闡述了心的力量。楊昌濟給他打了105分，滿分是100分。</p>
					
					<p>毛澤東另外一篇文章《貫通大本大源》中說：“欲動天下者，當動天下之心，動其心者，當具有大本大源。”大本大源是一種思想體系。“今吾以大本大源為號召，天下之心其有不動者乎？”大本大源作為根本的意識形態，作為核心價值來號召，天下沒有人不動心的。“天下之心皆動，天下之享有不能為者乎？”</p>
					
					<p>所以，毛澤東對大本大源找了幾十年，後來才找到馬克思主義。開始是無政府主義，最後到1922年左右，他在蔡和森
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en24" id="ch4ref24">（註24）</a>
					</sup>
					的啟發下找到了馬克思主義。他說，是馬克思大旗一張，天下為之震動，都跟著來了。他就很重視意識形態的作用，重視心的作用。他的唯意志論
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en25" id="ch4ref25">（註25）</a>
					</sup>
					從年輕時一直到年老都一直沒變的。楊奎松是講毛澤東的唯意志論。</p>
					
					<p><span class='speaker'>李肅：</span>但毛澤東自稱是唯物主義
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en26" id="ch4ref26">（註26）</a>
					</sup>
					者。</p>
					
					<p><span class='speaker'>楊繼繩：</span>他自稱是唯物主義者，但實際是唯意志論者。</p>
					
					<p><span class='speaker'>李肅：</span>就是他認為意識決定一切。</p>
					
					<p><span class='speaker'>楊繼繩：</span>只要心到了，什麼都能辦成。他的心就是意識，就是意識形態。</p>
					
					<p><span class='speaker'>李肅：</span>這是不是可以說，面對大饑荒的事實，他即便是掌握了實際情況，還是會認為，只要他意識堅定，只要全國人民的意識堅定，難關就能闖過去。最後的結果呢？</p>
					
					<p><span class='speaker'>楊繼繩：</span>他最後是失敗了，意識肯定抗不住事實嘛，最後造成大饑荒，失敗了嘛。</p>
				</section>

				<section epub:type="subchapter" id="<%= chapter_ID[38] %>">
					<h2><%= titles[38] %></h2>
					
					<p><span class='speaker'>李肅：</span>“信陽事件”震動了中共的上層，而且他們也進行了處理。但毛澤東把這個事情說成是民主革命不徹底，是國民黨的殘渣餘孽在作怪，他真的這麼認為嗎？</p>
					
					<p><span class='speaker'>楊繼繩：</span>我想這是個藉口，是推卸責任的表現。信陽這個地區是老根據地，每一根樹木，每一根草，都說是對革命有貢獻。張體學
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en27" id="ch4ref27">（註27）</a>
					</sup>
					、尤太忠
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en28" id="ch4ref28">（註28）</a>
					</sup>
					都在那裡打過游擊，李先念對那裡也有感情，四方面軍
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en29" id="ch4ref29">（註29）</a>
					</sup>
					對那裡都是有感情的。怎麼能說是國民黨的殘渣餘孽呢？他把哪個縣委書記娶了地主的女兒作老婆當成是蛻化變質的表現，這肯定是一種藉口，也是不符合歷史事實的。</p>
					
					<p><span class='speaker'>李肅：</span>當時中共其他領導人都認同毛的說法嗎？</p>
					
					<p><span class='speaker'>楊繼繩：</span>劉少奇認同。其他人就沒看到根據了。</p>
					
					<p><span class='speaker'>李肅：</span>劉少奇是怎麼反應的？</p>
					
					<p><span class='speaker'>楊繼繩：</span>劉少奇說，（信陽）三分之一的政權在敵人手裡嘛。劉少奇也曾在一個報告上批示：信陽地主階級復辟了，“信陽事件”是反革命事件，要讓信陽人民來個第二次解放。地、富、反、壞和國民黨殘餘為什麼能如此猖狂？是因為“民主革命不徹底。”</p>
					
					<p><span class='speaker'>李肅：</span>這是哪一年？</p>
					
					<p><span class='speaker'>楊繼繩：</span>1960年，搞“四清”的時候。大饑荒之後是“整風整社
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en30" id="ch4ref30">（註30）</a>
					</sup>
					”，就是整基層幹部，就是清算他們在大饑荒中多吃多佔的行為、欺壓老百姓的行為等，把他們抓起來。“整風整社”之後就是“四清
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en31" id="ch4ref31">（註31）</a>
					</sup>
					”。劉少奇搞“四清”比毛澤東還要左，還要厲害。</p>
					
					<p><span class='speaker'>李肅：</span>有沒有級別比較高的領導幹部因大饑荒而受到處罰？</p>

					<%- photo[57] %>
					
					<p><span class='speaker'>楊繼繩：</span>級別高的幹部，我們剛才說到的，他們受到的所謂處罰就是降職、調離，真正慘的是縣委書記以下的。信陽地委書記（路憲文）也很慘，當時要槍斃他。本來，吳芝圃是支持他的。吳芝圃說信陽的糧食產了多少、多少。路憲文是緊跟吳芝圃才犯了錯誤。但吳芝圃在批判路憲文的時候說：人心隔肚皮，我怎麼沒有看出你這個壞人！路憲文後來去一個農場當了副場長，後來還重新入了黨。對待造成大饑荒的領導幹部，中共中央對基層幹部和高級幹部採取了雙重標準：把責任推給基層幹部，保護高級幹部。</p>
					
					<p><span class='speaker'>李肅：</span>縣級以下的幹部有些還是受到了很嚴厲的處罰。</p>
					
					<p><span class='speaker'>楊繼繩：</span>這一級的幹部通過1961年的“整風整社”，就把整個責任推到這批人身上去了，說這批人民主革命不徹底，是國民黨的殘渣餘孽。這批人坐牢挨整的很多。</p>
					
					<p><span class='speaker'>李肅：</span>當時處罰他們時候的名義是說他們是國民黨，而不是共產黨自己犯了錯誤？</p>
					
					<p><span class='speaker'>楊繼繩：</span>對，就是民主革命不徹底，把他們抓起來，集訓，特訓。集訓的時候外面都架著機槍不能出來，很多這種情況。這批人就是基層幹部。中國農村基層幹部的素質本來就不高，痞子嘛，“痞子運動”
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en32" id="ch4ref32">（註32）</a>
					</sup>
					嘛，本來素質就不高，特別差的人也就淘汰下去了。</p>
					
					<p>素質不高的人在那個情況下幹壞事是很可能的。本來是上面有政策啊，上面逼著搞的，比如反瞞產私分，徵購糧食，或者農民偷吃點青菜，就把農民打死，或者食堂扣飯等等，這都是上面的政策，是制度造成的。他們有罪，但把全部責任推給他們，說他們是國民黨的殘渣餘孽，這就不符合事實了。</p>
					
					<p>信陽地區本來是老革命根據地，經常說信陽的一草一木都是有功的，怎麼可能有國民黨的殘渣餘孽呢？實際上，信陽是作為民主革命的試點，毛澤東批的，全國就推廣民主革命的試點，就開始整基層幹部。這後來就跟“四清”聯繫在一起了，“四清”就跟“文革”聯繫在一起了。</p>
				</section>
				<section epub:type="subchapter" id="<%= chapter_ID[39] %>">
					<h2><%= titles[39] %></h2>
					
					<p><span class='speaker'>李肅：</span>中國大陸很多人都知道，在那幾年間，由於全國糧食供應和其它副食品供應都很緊張，毛澤東自己也決心不再吃肉了。他身邊很多工作人員寫回憶錄時也都把這個作為毛澤東體察民情，與民同苦的情況寫出來，以此讚揚人民領袖毛澤東。您對當時毛澤東的生活情況有什麼暸解？</p>

					<%- photo[58] %>

					<%- photo[59] %>

					<%- photo[60] %>
					
					<p><span class='speaker'>楊繼繩：</span>我看到很多紅牆內部的一些警衛人員的回憶錄。王若水
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en33" id="ch4ref33">（註33）</a>
					</sup>
					說，奴才眼裡無奸雄。他們寫的也可以信，也可以不信。比如說，他不吃肉。現在我們也可以不吃肉，營養過剩。他不吃肉，還吃別的。我在書上講了當時的菜單，有上海烤麩、蝦等，菜單都公佈出來了，這肯定是有的。其實，他個人吃不吃肉不是什麼大事。他就是吃肉，也吃不了多少，他生活特殊一點也可以理解，他是皇上嘛，可以理解。</p>
					
					<p>但實際上也不是這麼回事。最近披露，他抽煙是專門有車間給他造的，是特殊的，成本很高。他吃魚，是必須專門用飛機從南方運的。他吃青菜，也是專門種的，成本不知道高多少倍。這還不說，他還在各地建了很多行宮，要花多少錢啊。比如他老家的滴水洞，我去看過了，修滴水洞的時候他老家在餓死人啊！</p>
					
					<p><span class='speaker'>李肅：</span>就是1959年。</p>
					
					<p><span class='speaker'>楊繼繩：</span>他跟周小舟
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en34" id="ch4ref34">（註34）</a>
					</sup>
					說，我（小時候）在那裡放過牛，打過架，你就搭個草棚子吧，等我老了在那裡休息吧。周小舟不久就垮台​​了，可能是周小舟沒理解他的意思。張平化
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch4en35" id="ch4ref35">（註35）</a>
					</sup>
					上台以後馬上大興土木，搞了滴水洞。張平化是周小舟的接班人。</p>
					
					<p><span class='speaker'>李肅：</span>你說的滴水洞實際上是一個別墅？</p>
					
					<p><span class='speaker'>楊繼繩：</span>是個很高檔的別墅。規模很大，我去看過。</p>
					
					<p><span class='speaker'>李肅：</span>修在什麼地方？</p>
					
					<p><span class='speaker'>楊繼繩：</span>就在他老家韶山不遠的地方，現在有車可以通到那裡去。</p>
					
					<p><span class='speaker'>李肅：</span>您去看過，那裡面怎麼樣？</p>
					
					<p><span class='speaker'>楊繼繩：</span>基本是中南海的樓房吧。洞裡面，冬暖夏涼，保衛很好。有個大山洞，房子都是按照中南海的房子修建的。沙發很寬，按照毛澤東的身材做的沙發，床都是那樣的。其實，他(毛澤東)很少住，就住了一次。</p>
					
					<p><span class='speaker'>李肅：</span>那個房子面積有多大？</p>
					
					<p><span class='speaker'>楊繼繩：</span>大概一萬多平米。</p>
					
					<p><span class='speaker'>李肅：</span>一萬多平米，只為毛澤東一個人修的，而且是在大饑荒期間修的。</p>
					
					<p><span class='speaker'>楊繼繩：</span>當時是203還是302保密工程，老百姓都不知道在幹什麼。</p>
					
					<p><span class='speaker'>李肅：</span>這可是在毛澤東的直接要求下修建的。這位人民領袖心裡看來並沒有人民。</p>
					
					<p><span class='speaker'>楊繼繩：</span>是啊。他跟周小舟說，我小時候在這裡打過架，放過牛，你在這邊給我搭個棚子吧。除了我休息以外，其他領導同志也可以來休息嘛。</p>
					
					<p><span class='speaker'>李肅：</span>在那個年代，還有其它地方為毛澤東建別墅的嗎？</p>
					
					<p><span class='speaker'>楊繼繩：</span>都有。比如河北省修的天津賓館，現在叫第一招待所。修了四棟樓，毛、周（周恩來）、朱（朱德）、劉（劉少奇）一人一棟。毛澤東的最高級，現在還用著呢。</p>
					
					<p><span class='speaker'>李肅：</span>是哪年修的？</p>
					
					<p><span class='speaker'>楊繼繩：</span>60年，大饑荒年代。各地都有，杭州、山東、各省差不多都有，我書中寫了很多，都是行宮，其實他都沒怎麼住，他也住不過來呀。</p>
					
					<p><span class='speaker'>李肅：</span>毛澤東當年不吃肉其實並不能說明是毛澤東體察民情，與民同苦。</p>
					
					<p><span class='speaker'>楊繼繩：</span>少修一棟別墅就夠了，肉值多少錢呢？</p>
				</section>
				<section epub:type="subchapter" id="<%= chapter_ID[40] %>">
					<h2><%= titles[40] %></h2>
					
					<p>宇宙即我心，我心即宇宙。細微至發梢，宏大至天地。世界、宇宙乃至万物皆為思維心力所驅使。博古觀今，尤知人類之所以為世間万物之靈長，實為天地間心力最致力于進化者也。夫中華悠悠古國，人文始祖，之所以為万國文明正義道德之始作俑者，實為塵世諸國中最致力于人類自身与天地万物間精神相互養塑者也。蓋神州中華，之所以為地球文明之發祥淵源，實為諸人种之最致力于人与社會与天地間公德、良知依存共和之道者也。古中華先賢道法自然，文武兼備，運籌天下，何等的揮洒自如，何等的英杰偉倫。然天妒英杰，愚昧叢生，國人于邪魔強盜陰險心力滲透、攻擊治下，漸漸失憶，泱泱中華眾生卻敗于甘愿自卑沉淪、散弱。</p>

    				<p>有德者心力難濟，無德者霸擁民眾所賦世權以為私勢，神器私用，貪腐國賊舉家富貴，万眾民脂民膏皆被劫掠。則國力日衰，國力衰則國家民族之心力衰竭，內可誘發天災兵禍，朝代更迭，官僚、商賈、農工、學者盡難免沉淪；外可唆引強盜侵犯，奴役掠奪，國賊、漢奸、軍民、學生均家破人亡。近年甲午海戰，八國聯軍……不平等諸般條約引狼入室，資敵來犯，實為召喚、鼓勵諸多蠻夷強盜分食華夏之舉。</p>
					
					<p>与蠻夷通商者使洋貨泛濫，居高居奇，國人盡被盤剝，泱泱中華竟無力生產民眾生活諸品。多年來世界強盜在中國多有斬獲，故惡敵覬覦長存、亡我之心不死。太多國恥未雪，蠻夷、豺狼、凶魔紛沓而至，國民皆因腐敗漢奸、軍閥、買辦所欠洋人無盡之亡國債務而自危。國債深陷，物价飛漲，民眾食宿艱難，災厄連連，何日可止？今滿清韃虜雖敗，可恨國、政、經濟均被愚昧獨夫、洋奴把持，國民心力沉屙羸弱，蠻夷惡敵肆意分割、吞并華夏，万民為奴，國資殆盡。</p>
					
					<p>若欲救民治國，雖百廢待興，惟有自強國民心力之道乃首要謀划，然民眾思維心力變新、強健者是為首要之捷徑！</p>

					<p>心力變新、強健者首應破除封建、官僚之愚昧邪道，懲治賣國、漢奸、洋買辦之洋奴愚眾，明戒不義浮財絕善終。以國家民族之新生心力志向締造世界仁德勇武文明之新學，新學為思想理論之基石、棟梁，新學不興，御敵難成。</p>
					
					<p>中華古國之敵皆為西方邪惡之魔盜与漢奸，万勿混淆。</p>
					
					<p>力主洋務借鑒“師夷之長以制夷”之道，盡知“非我族類其心必异，非我族者其性必惡”之祖訓。留學列強之同胞須警惕邪魔強盜對我正義靈魂之誤導、侵扰，則各類洋奴、漢奸將無處安身，中華棟梁亦生自主自強之睿智。開設抗御蠻夷強盜殺戮預防國策，弘揚神州民眾自強富國雄軍壯志，恤農商并滋養工業。為抗擊西方蠻夷列強剿滅中華神圣傳承之奸計，執履行万國大同目標之正義道德教化优靖之使命。</p>
					
					<p>夫聞“三軍可奪其帥，匹夫不可奪其志”。志者，心力者也。民之志首推舉國民眾個性之天然強健，則國家棟梁層出不窮。數百年外侮內斗中民眾個性屢被君主官僚殘害之重弊，舉國凡有壓抑個人、違背國民個性者，罪莫大焉！故我國三綱所在必去，愚民愚治盡除，方有优塑民眾強盛希冀。</p>
					
					<p>自中國開埠以來，封建、洋務禍國殃民，究其緣由，而教會、資本家、君主、賣國賊四者，同為天下惡魔強盜者也。</p>
					
					<p>四賊之中，尤以執掌政權之官僚最為緊要！蓋國之神圣重器以民為先，決不可助長惡私貪欲竊為己用！國之中樞如有愚昧膚淺肖小之徒竊而居之，則外魔必侵，國民必衰亡。</p>
					
					<p>自滿清韃虜洋務運動之后，貪墨腐敗家族皆以盜取、盤剝民脂民膏逃逸海外為家族享樂之詭計。假以時日，神州中華億民之血肉、骨髓乃至福祉將被盡數剝奪轉送西方魔盜！國人如寒冬之時又墮深淵，農業落后之國民眾必將淪落為亡國之奴。今無人于海內查處、治罪，于海外統計、堵截，故國賊趨之若鶩。吾輩倘若不能懲戒，又与國賊、禽獸何异？</p>
					
					<p>千古圣人，教化為根。我輩恰逢此亂象當前之世，人皆逐物欲而迷心，循末節而忘真，醉娛樂輕國志，謀小私絕大利，認蠻夷做乃父，拜魔盜為師尊，毀文明于無恥。你我何必苟且偷生，熟視無睹？有志者呼吸難暢，應以天下為己任。</p>
					
					<p>今愚者忘本墮淵，竟爭先自掘其墳，卻不思危亡之計。苟活于當下，遺失神圣之使命，忘卻民族之重任；背离于真理，違逆人本之慧根，蔑毀先民之道德；醉心于享樂，不知當世之惊變，甘當媚外之洋奴；沉迷于自我，罔顧危机之四伏，輕信魔盜之讒言！故西方強盜可肆意侵殺、奴役中華。</p>
					
					<p>普看當今，世界格局風云激蕩，人類文明之前途扑朔渺茫，天下蒼生之幸福岌岌可危。雖有科技帶來物質之充足，仍難滿人欲之巨壑，各派皆為私利而競相奔走，人人皆被牽入滾滾洪流。強盜流氓制訂裁決世界法律，邪惡魔鬼公然成為人間領袖，万國不思興道義之師，竟全然拜魔盜為導師<p>雖有智者、勇者愿做中流之砥柱，卻猶如鬧市之人語，瀑下之魚鳴。請問周邊，還有几人執著于真理？還有几人探求于本源？一句開心就好，便甘愿隨波逐流；一句事不關己，便通行四海愚夫；一句莫談國事，便据民權為私器。孰不知天下興亡匹夫有責？試問為天地立心何以立？為生民立命何以立？為往圣繼絕學何以繼？為万世開太平何以開？若我輩之人此心已無，則中華即將亡亦！中華亡則人類必亡亦！</p>
					
					<p>天之力莫大于日，地之力莫大于電，人之力莫大于心。陽气發處，金石亦透，精神一到，何事不成？改朝換代，為民謀福，懲治貪墨漢奸，又有何難！苟其公忠体國，百折不回，雖布衣下士，未始無轉移世運之能也。有志之士可不勉哉！人生于天地之間，形而下者曰真心實性。血肉者物質之所成，心性者先天地之所生。故而有唯物唯心之論說。人活于世間，血肉乃器具，心性為主使，神志為天道。血肉現生滅之相，心性存不變之質，一切有靈生命皆与此理不悖。蓋古今所有文明之真相，皆發于心性而成于物質。德政、文學、藝術、器物乃至個人所作所為均為愿、欲、情等驅使所生。</p>
					
					<p>故個人有何心性即外表為其生活，團体有何心性即外表為其事業，國家有何心性即外表為其文明，眾生有何心性即外表為其業力果報。故心為形成世間器物之原力，佛曰：心生种种法生，心滅种种法滅。西方強盜宗教亦有舊約主神虐民之邪暴，后有耶穌新約愛民之改良。神魔心性之變幻如此，故世人多為耶穌所迷。耶穌明之故說忏悔，懂恥而不惡；孔子明之故說修心，知止而不怠；釋迦明之故說三乘，明心而不愚；老子明之故說無為，清靜而不私。心為万力之本，由內向外則可生善、可生惡、可創造、可破坏。由外向內則可染污、可牽引、可順受、可違逆。修之以正則可造化眾生，修之以邪則能涂炭生靈。心之偉力如斯，國士者不可不察。</p>
					
					<p>大凡英雄豪杰之行其自己也，确立偉志，發其動力，奮發踔歷，摧陷廓清，一往無前。其強大如大風之發于長合，如好色者朱之性欲發動而尋其情人，決無有能阻回之者，亦決不可有阻者。尚阻回之，則勢力消失矣。吾嘗觀大來勇將之在戰陣，有万夫莫當之概，發橫之人，其力至猛，皆由其一無顧忌，其動力為直線之進行，無阻回無消失，所以至剛而至強也。眾生心性本同，豪杰之精神与圣賢之精神亦然。</p>
					
					<p>故當世青年之責任，在承前啟后繼古圣百家之所長，開放胸怀融東西文明之精粹，精研奇巧技器胜列強之產業，与時俱進應當世時局之變幻，解放思想創一代精神之文明。破教派之桎楛，匯科學之精華，樹強國之楷模。正本清源，布真理与天下！愿与志同道合、追求濟世、救世真理者攜手<p>故吾輩任重而道遠，若能立此大心，聚愛成行，則此熒熒之光必點通天之亮，星星之火必成燎原之勢，翻天覆地，扭轉乾坤。戒海內貪腐之國賊，懲海外漢奸之子嗣；養万民農林之福祉，興大國工業之格局；開仁武世界之先河，滅魔盜國際之基石；創中華新紀之強國，造國民千秋之福祉；興神州万代之盛世，開全球永久之太平！也未為不可。</p>
				</section> 
			</section>
