			<section epub:type="chapter" id="start">
				<h1>中國禁書</h1>
				<h2><%= chapter_title[0] %></h2></p>

				<p>編者語：書籍的出現是人類歷史上的一個重要里程碑。它承載並傳遞著人類文明，促進著人與人的思想交流和觀點的傳播，幫助人們成熟起來。也正因為如此，自從書籍出現以來，控制出版與爭取出版自由之間的鬥爭就從來沒有停止過。這種鬥爭不是在墨香四溢的書房中的口舌之辯，而是常常充滿著血腥味的生死較量，其殘酷程度超出想像。</p>

				<p>在政教合一的中世紀歐洲，神權與王權結合在一起，對“異端邪說”展開了大規模的圍剿。無數的書籍被焚毀，大批的異端人士遭到迫害和殺害，整個歐洲都籠罩在一片恐怖之中。1309年，三大車的猶太教典籍在巴黎被焚毀；1490年，西班牙一座藏有六千卷書的藏書樓被付之一炬；1596年，意大利北方城市克雷莫納公開燒毀了一萬兩千冊書。據記載，從1483年到1820年，西班牙宗教裁判所判處的異端分子達38萬多人，被火刑處死的有10萬餘人。</p>

				<p>自秦朝以降至明朝之前，中國古代的統治者對讀書人的態度應該說比他們的歐洲同僚要寬容許多。雖然也發生過一些類似秦始皇“焚書坑儒
				<sup epub:type="rearnote">
					<a href="backmatter.xhtml#en1" id="ref1">（註1）</a>
				</sup>
				”、西漢史學家司馬遷受宮刑、北魏重臣崔浩
				<sup epub:type="rearnote">
					<a href="backmatter.xhtml#en2" id="ref2">（註2）</a>
				</sup>
				因修史被誅殺、北宋文豪蘇軾身陷“烏台詩案
				<sup epub:type="rearnote">
					<a href="backmatter.xhtml#en3" id="ref3">（註3）</a>
				</sup>
				”等因言獲罪的案例，但這類案例數量不多，比較孤立，禁言、禁書尚沒有形成一種制度性的防範機制。在14世紀之前，中國的文化環境相對欧洲比较寬鬆和自由，在某些階段，如初唐和盛唐、北宋等時期，讀書人有著較高的社會地位，並受到普遍的尊重。他們可以自由地著書立說，遊學傳道。這種文化發展的制度環境為一批又一批文化巨匠的湧現和一波又一波的文化繁榮發揮了重要的作用。</p>

				<p>但進入近代以後，歐洲和中國言論出版環境開始朝著兩個截然不同的方向發展。中世紀的壓迫喚醒了歐洲社會對言論出版自由權利的意識和追求，各種言論、書報檢查的法律和禁令被迅速突破。</p>

				<p>1695年，英國議會決定終止出版許可證法，使英國成為第一個廢除出版檢查制度的國家。之後，法國、荷蘭、挪威等歐洲國家也都陸續取消了出版檢查制度。到19世紀，歐洲大部分國家的出版檢查制度都被廢除了。只有俄國和德國屬於例外，這兩個國家在20世紀走向了集權專制，使出版檢查制度得以延續了數十年。</p>

				<p>聯合國在1948通過的《世界人權宣言》和1966年制定的《公民權利和政治權利公約》標誌著思想自由和出版自由作為公民不可剝奪的權利得到了世界性的承認。</p>

				<%- photo[1] %>

				<%- photo[2] %>

				<%- photo[3] %>

				<p>在爭取言論出版自由的鬥爭中，英國政論家和詩人約翰·密爾頓
				<sup epub:type="rearnote">
					<a href="backmatter.xhtml#en4" id="ref4">（註4）</a>
				</sup>
				（John Milton）的名字佔有非常重要的位置。他於1644年在英國國會出版委員會上發表的著名演說《出版自由請願書》堪稱一個劃時代事件。在這篇演說中，密爾頓首次提出，言論出版自由是一切自由中最重要的自由權利，只有保障這些自由，才能使真理戰勝謬誤。</p>

				<p>在歐洲走出黑暗，擁抱自由的時候，中國的文化專制主義鎖鏈反而愈收愈緊。</p>

				<p>研究中國古代文化的學者一般認為，到了明清時代，中國古代文人的“好日子”大致到了頭。明清時期“文字獄”的興起給文化專制主義增添了恐怖色彩，無論是學者還是官員，無論是有意還是無意，只要他們觸犯了統治者的忌諱就會受到懲治，輕則被收監、撤職，重則被殺頭，甚至禍及九族。</p>

				<p>中國人是在密爾頓那篇演講發表255年後才知道“言論著作之自由
				<sup epub:type="rearnote">
					<a href="backmatter.xhtml#en5" id="ref5">（註5）</a>
				</sup>
				”這個概念的。但是，之後的歷史似乎並沒有給這一嶄新的概念生根、發芽提供合適的土壤。民國之初，臨時大總統孫中山一度提倡過這些權利，並把它們寫入了《中華民國臨時約法》。但他下台後，政局動盪，戰亂頻仍，群雄四起，日本入侵，國共內戰，民生尚成問題，遑論自由權利。</p>
	
				<%- photo[4] %>

				<p>國內外局勢的動盪促使蔣介石領導的國民政府加強了對新聞出版的限制。國民政府陸續制定了《審查刊物條例》、《出版法》、《圖書雜誌查禁解禁暫行辦法》等一系列媒體和書籍管理法規，建立起一個從中央到縣、市一級，從報社、雜誌社、出版社到印刷廠、書店的新聞出版檢查網絡。</p>
 
				<p>這套檢查制度嚴重妨礙了民眾的自由權利，也有悖於世界民主進步潮流，引起了普遍的抵制。中共在和國民黨的鬥爭中高舉爭取言論出版自由的大旗，搶占道德制高點，贏得了社會廣泛的支持。可以說，追求民主、保障新聞出版自由等政治主張對中共爭取民心，最終打敗國民黨起到了非常重要的作用。</p>

				<p>但中共在1949年建政之後,立場發生了180度的轉變，從言論出版自由的吶喊者變成了它的終結者。雖然言論自由和出版自由等公民權利被寫進了《中華人民共和國憲法》，但這些權利在實際上從來沒有真正實行過。</p>

				<p>在建政後的五十多年裡，中共在全國建立起一個規模龐大的控制言論出版活動的網絡。全國三千多個縣級以上行政單位的黨委都設有宣傳部，它們在中共中央宣傳部的直接指揮下對全國各地的輿情變化實施著全面的監控。近年來，遍布全國的公安系統、國安系統和維穩體制更是大大強化了這種監控的力度，把監控範圍擴展至全國乃至海外，確保任何“出格”的言論和書籍得到及時的控制。這個監督體系的嚴密程度和監管效率遠遠超過了中世紀的歐洲、中國的明清和國民黨統治時期。</p>

				<p>中共查禁禁書的活動往往都是秘密進行的，外界對之了解甚少。為了讓更多的人了解禁書的寫作、出版過程中發生的那些不為人知的事情，我們製作了《中國禁書》（上下兩集）系列報導。我們採訪了許多知名禁書的作者、出版商和知情者，比如《晚年周恩來》、《墓碑》、《毛澤東私人醫生回憶錄》、《改革歷程》、《廬山會議實錄》等。從這些當事人各不相同的故事中，我們可以了解到他們撰寫禁書的初衷、出版過程的驚心動魄和他們為追求真相而承受的生離死別。在他們的講述中，我們看到，人類爭取言論出版自由的鬥爭還在繼續……。</p>
