			<section epub:type="chapter" id="start">
				<h1><%= chapter_title[0] %></h1>
				<h2>撰文：蕭雨   製作：杜林 昱杉</h2>
				<div class="pullout"><%= global.book.meta[book].description %><!--核心提示：難民：拼命也要去中國去；在中國：尊嚴不屬於隱形人；朝鮮監獄曝光：犯人不如狗；脫北女性：人口販子的目標；過沙漠去蒙古，出逃計劃再成空；一萬美元買生路；脫北者對中國人的複雜情感--></div>

				<p>在中國和朝鮮交界的地區有一個鮮為人知而又人數龐大的群體。他們或因忍受不了饑餓的折磨，或因不堪專制的迫害，冒著生命危險穿越戒備嚴密的中朝邊界，從朝鮮逃往中國。數十年來，這些被外界稱為“脫北者”的難民源源不斷地奔走在這條逃亡的道路上。</p>

				<p>他們有的孤身逃亡，有的拖家帶口，有的斃死途中，有的家破人亡。即便是那些最終逃離朝鮮進入中國的幸運兒們也並沒有真正擺脫厄運，他們中有不少人被中國警方抓獲後被遣返回朝鮮。這些人大都被關進了集中營或者監獄，承受了非人的待遇。僥倖不死的一旦獲釋便像著魔一樣，不畏艱險，再次踏上逃亡之路。</p>

				<p>據粗略估計，自90年代以來，有20萬到30萬朝鮮人通過各種方法偷渡進入中國，然後又想方設法輾轉去了韓國或者其它自由國家。</p>

				<p>趙真惠，一個80後的朝鮮姑娘，就是無數脫北者中的一個。她和家人在10年中幾度逃到中國，又幾度被遣返回朝鮮。在逃亡的過程中，她失去了爸爸、奶奶、哥哥、弟弟和一個妹妹。所幸的是，她和媽媽、妹妹在經歷了各種苦難、陷阱、屈辱之後終於離開了朝鮮和中國，定居在自由的美國。</p>

				<p>趙真惠這個善良、陽光的女孩兒向美國之音的《解密時刻》講述了她一家九死一生、百折不撓的逃亡經歷，一個充滿驚險、十分感人的追求生存、幸福和自由的故事。</p>

				<p>趙真惠在談到她一家為何一次次遭遣返，又一次次出逃的原因時描述了一個普通得不能再普通的農村畫面。她說，她越界進入中國後看到中國的農田裡的土豆、玉米、黃瓜無人看管，中國農婦用土豆和質量稍次的大米餵養家畜。</p>

				<p>這個畫面讓趙真惠感到震撼。在自己的祖國，糧食極為短缺，農村到處找不到糧食。奶奶在餓死前念叨的不過就是想吃塊在中國被用來餵豬的土豆。這種反差讓趙真惠看到了希望、有了嚮往、驅使她下定決心一定要逃出朝鮮。</p>

				<%- photo[1] %>
				
				<p>我們可以從趙真惠給我們講述的她的逃亡故事中窺見封閉、神秘的朝鮮貧窮和壓制的真相，暸解這一大群“脫北者”在追尋幸福和自由的過程中遇到的驚喜、艱難和恐懼。</p>

				<p>這條江叫圖門江。江面並不寬闊，非汛期時水也不深。它是中國和朝鮮之間的界河。河的北岸是中國吉林省延邊朝鮮族自治州，南岸是朝鮮的咸鏡北道。1987年，趙真惠就出生在那裡。</p>

				<section epub:type="subchapter" id="part1">
					<h2><%= chapter_title[1] %></h2>

					<p><span class='speaker'>趙真惠：</span>差不多在我八歲左右，北朝鮮出現糧食緊張，開始餓肚子。（以前）國家每個月都發點糧食，可是金日成 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en01" id="ref01">（註 1 ）</a>
					</sup>死了六個月左右，這點糧食就不發了。只有在過年或者是金日成、金正日 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en02" id="ref02">（註 2 ）</a>
					</sup>的生日時才供電，老百姓才能看電視。那個電視也不是自家的。村裡管事的那種地方， 有一台電視和收音機，在那兒可以看，可以聽。</p>

					<p><span class='speaker'>李肅：</span>都能看到甚麼，聽到甚麼呢？</p>

					<p><span class='speaker'>趙真惠：</span>全都是關於金日成怎麼建立起這個國家，金正日是怎麼學習的。我們要怎麼跟上他。唱歌、跳舞都是為了金正日，我們死也為他服務。我剛開始上幼稚園的時候，那時候我自己的想法是：金日成爺爺，我們那時候說金日成是爺爺，金正日是爸爸，偉大的將軍。當時我就想，我長了大以後，我的夢想也是要跳舞或者是唱歌。我學好了以後，會在他們面前唱歌，讓他們高興，想過這些事。</p>

					<p>開始餓肚子的時候，沒想過（那麼多）。我可能是太小吧，沒想過為甚麼會這樣餓肚子。去學校的時候，他們就說，偉大的金正日為國家做了這些事、那些事。他們講了一堆這樣的話。然後說，你們知道我們為甚麼這樣餓肚子嗎？我們說，不知道。</p>

					<%- photo[2] %>

					<p>他們說是因為那些美國佬。他們長著很大的鼻子，還有藍色的眼睛。他們這些像惡魔似的那種人威脅我們朝鮮。外國有給我們糧食的，但這個國家不讓給。所以，我們朝鮮才這麼苦。可是我們一定要守住朝鮮，因為他們喜歡朝鮮的黃金，我們地下有很多黃金。他們為了搶這個，要滅我們的國家。所以，我們餓著肚子，即便是餓死，也要守好這個國家。 那是我第一次聽說，哦，原來是美國佬，是這些人，這些混蛋對我們這樣，所以我們這樣苦。</p>

					<p><span class='speaker'>解說：</span>20世紀90年代初，朝鮮開始出現嚴重糧食短缺。1991年，蘇聯解體，朝鮮失去了最大的援助國。失誤的農業政策，外界的經濟封鎖，加上連年的惡劣氣候，使朝鮮經濟瀕臨崩潰，並出現了連年不斷的大饑荒。由於朝鮮政府封鎖消息，人們無法知道大饑荒確切的死亡人數。但是，從一些研究機構和逃到國外的朝鮮人口中獲得的零星資訊中，外界還是可以窺見這場大饑荒的慘烈程度。</p>

					<p>黃長燁 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en03" id="ref03">（註 3 ）</a>
					</sup>，曾經是朝鮮的第二號人物，1997年叛逃到韓國。在他的回憶錄《我看懂了歷史的真諦》中，他引述朝鮮勞動黨中央組織部的資料說：“1995年共餓死50萬人，包括5萬名黨員，今年（1996年）已經餓死100萬人。”</p>

					<p>美國國會眾議院國際關係委員會1998年的一份實地考察報告說，從1995年到1998年期間，朝鮮有大約90萬到240萬人死於食物短缺，可能高達人口總數的十分之一。</p>

					<p>2007年，韓國非政府組織“北韓逃北者聯合會”說，在金氏家族執政的60年間，至少有350萬人因為饑餓和與之相關的疾病死亡。</p>

					<%- photo[3] %>

					<p><span class='speaker'>趙真惠：</span>我爸爸就想，聽說中國有食物，我們可不可以去那邊？有時候一、兩個星期爸爸媽媽都不回來。一回來，他們就背著大米，帶一點油之類的。好像去了五次吧，回來的時候，跟我們講一些中國的故事。我開始想，為甚麼朝鮮這麼苦？中國就隔著一條河，為甚麼中國就有這麼多的食物可以吃？我想過這些。</p>

					<p><span class='speaker'>解說：</span>雖然只是一江之隔，然而跨過這條圖門江進入中國卻是一趟亡命之旅。朝鮮政府將脫北視作叛國罪，朝鮮邊防軍常常對試圖過河逃往對岸的人開槍射擊。在朝中邊界上，時常會看到脫北者的屍體。在充滿恐怖的政治環境中，擅自離境的者，如果被抓住，都會作為政治犯被送進監獄或者勞改營。</p>

					<p>即便如此，還是不斷地有人越境逃往中國。著名的朝鮮人權事務專家戴維·霍克 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en04" id="ref04">（註 4 ）</a>
					</sup> 2003年在《隱秘的古拉格》一書中說：“估計在90年代中後期，越過邊界逃入中國，躲避朝鮮饑荒的人多達20到30萬人。”</p>

					<p>美國《基督教科學箴言報》2012年5月11日的一篇報導說，韓國的“北韓人權資料中心”主任金相勳估計，目前居住在中國的朝鮮人估計有10萬到20萬人。他們的準確人數幾乎無從統計，因為他們都從事著不起眼的工作，而且同200多萬中國朝鮮族人混在一起。</p>

					<p>而在朝鮮，政府為了防堵脫北者，鼓勵國民互相監督檢舉。趙真惠的父母就因為去過中國被人告發入獄。</p>

					<p><span class='speaker'>趙真惠：</span>有一個人先被抓，他在朝鮮國家安全保衛部，也算是一個公安局。那裡是一個很可怕的地方，進去的大多數人都出不來。去那邊以後，當官的對他說，如果你告發其他人，揭發別人做的壞事，就可以減輕自己的罪名。這樣，保衛部知道了我爸爸和我媽媽去過中國，他們因此被抓起來了。</p>

					<p>聽我媽媽說，他們拿著棍子打我爸爸，把棍子都打斷了。我媽媽看我爸爸的時候，他癱倒在地，旁邊有一灘血。我爸爸不承認他的罪名。朝鮮政府說：“你是黨員，可是你去了中國，等於是賣國。你去了那邊後見了甚麼人，你是不是當了間諜？”</p>

					<p>我爸爸死也不承認。最後那些當兵的說，你老婆已經懷孕了，如果你不承認，肚子裡面的孩子可能要和你一起進監獄。這樣他們可能會死。我爸爸說，如果我承認罪名的話，你可不可以放了她們？然後，我爸爸畫押，他們就放了我媽媽，她這才得以回家。</p>

					<%- photo[4] %>

					<%- photo[5] %>

					<p><span class='speaker'>李肅：</span>那你爸爸後來回來了嗎？</p>

					<p><span class='speaker'>趙真惠：</span>沒有。</p>

					<p><span class='speaker'>李肅：</span>一直就沒回來？</p>

					<p><span class='speaker'>趙真惠：</span>跟我爸一起呆過的那些犯罪的人，跑到我們家來告訴我們，我爸爸是怎麼死的。他說，他和我爸爸一起坐火車被遣送到別的監獄的路上，他們沒給食物。他在那邊呆了十天以後，在火車上餓死了。</p>

					<p><span class='speaker'>解說：</span>後來，趙真惠的姐姐被人販子賣到了中國，最小的弟弟在出生兩個月後餓死了。再後來，奶奶也死了。</p>

					<p><span class='speaker'>趙真惠：</span>我媽媽都沒有力氣哭，給奶奶換衣服，幫她洗。家裡又沒有錢，不能給她買棺材。村裡人過來看了以後，給了我們一些塑膠布之類的，用奶奶的被子給她包好，用牛把奶奶拖到山上埋了。</p>

					<p>要埋的時候，我問他們為甚麼要把奶奶埋到這麼遠的地方？村裡人說，你奶奶活著的時候跟我們說，她死了以後想看看她的那些小孩子們活著走出這個山頭。回家以後，我對媽媽說，反正在這兒也要死，試試看吧，用最後的力氣試試看。然後，我背著我弟弟，牽著妹妹的手，扶著媽媽，走出了那個山。因為這是奶奶最後的願望。</p>

					<p>這樣走出來以後，我們就把弟弟放在一個人的家裡，因為我實在累得背不動他。我只好把他留在那裡。我對弟弟說，五天後，我們會回來找你。可是他抓住我媽媽和我的手說：“媽媽，為甚麼小姐姐你都要帶，為甚麼不帶我？”我回答說：“媽媽和二姐姐去背些大米過來，小姐姐可能要背著糖和餅幹過來，我們三個人要一起走。”他說：“可以。”這樣我們就來中國了。</p>

					<p>可是五天後，要回去的時候，雨下得太大，河水太深了，過不去。第二呢，金正日當時做總統 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en05" id="ref05">（註 5 ）</a>
					</sup>投票（選舉），四年一次。他說，不參加投票儀式的朝鮮人民，要槍斃，所以我們也不敢回去。兩個月以後，我們找了個人，給他一點兒錢，讓他把我弟弟背過來。可是他空著手回來，跟我們說，養我弟弟的那家人生活也很艱難。實在不行，把他給趕出去了。</p>

					<p>我媽媽生了六個孩子，現在就剩下了我和我妹妹。有的時候，我真的很想弟弟。雖然現在我已經來美國了，可是看見小孩，我就想弟弟，看到年紀大一點的人就想我爸爸，看見老人就想我奶奶，所以我覺得精神上還不是自由的。</p>
				</section>
				<section epub:type="subchapter" id="part2">
					<h2><%= chapter_title[2] %></h2>

					<p><span class='speaker'>李肅：</span>你們去中國先到了甚麼地方，在甚麼地方落腳的呢？</p>

					<p><span class='speaker'>趙真惠：</span>我們剛過河的時候，那個村子叫甚麼名字我已經忘了，是屬於是和龍縣的，吉林省和龍縣。剛過河的時候，我們就看見地裡那些土豆啊、苞米啊、黃瓜之類的，滿地都是。我們就覺得很嚇人，這怎麼能沒人去偷呢？因為在朝鮮，這樣的地裡面肯定有很多人要看管，可（這裡）沒人看管。我們實在餓得不行，就摘苞米，剝了皮生著就吃。黃瓜之類的，我們也摘了吃，一邊吃，一邊走。</p>

					<p>過了一陣以後，我們到了一個村裡，有一位奶奶和爺爺住在那裡。這個地方是我爸爸媽媽以前來的時候住過的家裡。我一進門就看見炕上面有做米飯做完以後剩下的鍋巴，有一大堆。我問他們吃這個行不行？他們說可以。我妹妹和我就跑過去吃。差不多一個多小時以後，他們讓我們吃飯。吃完飯後，實在撐得不行，一邊吃藥，一邊拉肚子。差不多有一個月左右，我們每天就知道吃，一天到晚只想著吃。</p>

					<p>第二天早上，我一起來看外面的時候，我就懵了。那個奶奶把一些大米，碎一點兒的，不好的大米滿地撒。雞啊，狗啊，豬啊，都跑過來吃那個大米。土豆也在外面放著，豬去那邊吃土豆。我甚麼都說不出來。然後我就哭。這位奶奶和媽媽問我為甚麼哭，是不是甚麼地方疼？我說，不是。我奶奶去世的時候不是想吃土豆嗎，可那些豬都可以吃的土豆，為甚麼我們家就沒有？那是我來中國以後受到的最大的一次打擊。後來，那個奶奶幫我媽媽找了個人，算是我的後爸爸，中國人，朝鮮族。</p>

					<p><span class='speaker'>李肅：</span>你媽媽嫁給他了？</p>

					<p><span class='speaker'>趙真惠：</span>對。差不多一年後，我跟村子裡的孩子一起玩。一個男孩子不小心跌倒了，他就罵我。我不知道他在說甚麼，但我看他的眼神好像是在罵我。他說甚麼我就跟著說甚麼，他說我王八蛋。我就跟著說王八蛋。說到最後，他氣得哭了。</p>

					<p><span class='speaker'>回家以後我問爸爸：</span>“這是甚麼意思？”爸爸說：“這是罵人的話，你為甚麼說這 個？”後來，那個男孩的媽媽跑過來對我說：“你這個從北朝鮮滾過來的孩子，為甚麼欺負我的孩子？”</p>

					<p>她這樣罵我。我以為我媽媽會很生氣，跟她吵架。可媽媽一句話都不說，跟她道歉，說：“對不起，我以後會好好跟我的孩子說。”然後，媽媽就拉著我的手回家了。</p>

					<p>我很生氣，說：“人家媽媽為了孩子跟我生氣。你為甚麼不能為我出氣呢？”</p>

					<p><span class='speaker'>媽媽說：</span>“你想回家嗎？回到北朝鮮去嗎？”</p>

					<p><span class='speaker'>我說：</span>“不想。”</p>

					<p><span class='speaker'>媽媽說：</span>“如果媽媽和他們生氣的話，他們可能要告我們，讓我們回到北朝鮮去。”</p>

					<p><span class='speaker'>媽媽說：</span>“你能忍就忍，不想忍的話就不要跟孩子們玩。”</p>

					<p>媽媽說了這番話後，我就開始很小心，盡量不跟孩子們玩。</p>

					<p><span class='speaker'>解說：</span>如此小心翼翼地生活，是出於對中國官方強制遣返脫北者政策的恐懼。</p>

					<p><span class='speaker'>中國官方媒體2012年3月報導：</span>對於韓國媒體稱，脫北者被遣返後將遭受迫害虐待，（中國外交部發言人）洪磊說，這些報導帶有情緒化和政治化的傾向，不符合實際情況。據中方掌握，一些非法入境的朝鮮人已反復被多次遣返，有的多達十多次，他們非法入境主要是出於經濟目的，沒有充分的根據來定性為難民。</p>

					<p><span class='speaker'>洪磊說：</span>“我想重申，中國的司法尊嚴理應得到尊重和維護。在任何國家，非法偷渡，組織偷渡等犯罪行為都是不能允許的。”</p>

					<p>2001年，趙真惠和媽媽被中國警方抓起來，遣送回朝鮮。</p>
				</section>
				<section epub:type="subchapter" id="part3">
					<h2><%= chapter_title[3] %></h2>

					<p><span class='speaker'>趙真惠：</span>差不多走了四個小時左右，到了一個監獄，國家安全保衛部，是北朝鮮基本上 （監獄級別） 最高的地方吧。進到那裡面待了差不多一個月。朝鮮政府那時候有規定，小孩子不能關在監獄裡。所以，過了兩個星期後，他們把我們轉到孤兒院。孤兒院是朝鮮專門管理那些沒家的、或者是有母親，但被抓以後要與母親分開的孩子們的地方。我們被關在那裡，整天讓我們學習、檢討，說出自己的罪行。說完以後，很多孩子罵我們，說我們一些不好的話，反正不把我們當人看。</p>

					<p>在那邊呆了一個多月以後，媽媽就過來接我們。媽媽問我：“你想不想在這裡過？”我想了想說：“我們能去嗎？能去就走吧。”</p>

					<p>我在監獄裡呆了一個月，和小孩子呆在孤兒院的時候，一直想著中國。很後悔那個時候，那個東西我為甚麼沒吃完呢？還想著大米飯。哎呀，那個大米飯。想了很多的東西，都是吃的，關於吃的東西。那時還是小，沒想別的，我只是想去中國。</p>

					<p>十天以後，我們開始過那條河。過河的時候，我媽媽準備了錢。她在那邊（中國）被抓以後，她就把中國錢，差不多一千多塊錢吧，包起來，差不多手指蓋這麼大的錢，包得很緊很緊，然後用塑膠布再包，用線綁上，綁了好幾層，然後她就吞下去。再上廁所時把錢拉出來，用剪刀剪掉裹在錢外面的東西才能用。在監獄裡上廁所時不能撿，因為廁所上面有一個Camera，他們在監控那個。</p>

					<p><span class='speaker'>李肅：</span>有一架攝像機在監控著。</p>

					<p><span class='speaker'>趙真惠：</span>對，所以根本就不行。那還算好的。有一天早晨，看守帶著我們上廁所，一堆人都要去。是在野外，在野地裡，很多當兵的站在旁邊看。他們說：“你們別想你們是女的，害羞甚麼的，你們只是犯人，就像是狗。”</p>

					<p>他們就這樣說我們。剛開始我們真地很害羞，不敢去。可是時間久了，就甚麼都不想了。有的人拉完以後，要去撿那個錢。被逮著的話呢，會遭到一頓毒打，錢會被沒收。那天晚上，給的飯好一點兒。本來是很稀的粥，但品質好一點，多放了一點苞米。他們會說：“這是托誰誰的福。”</p>

					<p><span class='speaker'>李肅：</span>他的錢被人家沒收了？</p>

					<p><span class='speaker'>趙：</span>對。說托誰誰的福。他們還說：“盡量吃吧，明天早上再上廁所啊。”說完就出去了。我媽媽為了存這個錢，好多天沒吃飯。最後被放出來後，撿到那個錢，在過河時給了站崗的軍人，然後就過了。</p>

					<%- photo[6] %>

				</section>
				<section epub:type="subchapter" id="part4">
					<h2><%= chapter_title[4] %></h2>

					<p><span class='speaker'>解說：</span>趙真惠和媽媽第二次越過圖門江時，中國公安部門正在加緊清查朝鮮脫北者。延邊地區風聲很緊。中國《21世紀環球報導》２００２年的一篇報導引述當地人的話說：“現在基本上不可能有朝鮮人還能在城市裡生活。因為檢查嚴格，一旦被發現，凡是允許朝鮮偷渡者打工的店主和收容他們的人都要被罰款。”報導說，當年7月，圖門江各街道居委會要求每個家庭簽訂合約：保證不收留任何朝鮮人。“一旦發現，收容者罰款1000元，舉報者獎勵500元，提供線索者獎勵100元。”</p>

					<p><span class='speaker'>李肅：</span>你們從那兒（繼父）出來以後，你們全家去了甚麼地方？</p>

					<p><span class='speaker'>趙真惠：</span>先是去了瀋陽。有一個人給我媽媽介紹了一個工作，那是一個韓國的長老家。在他們家，我們第一次看了韓語電視，韓國電視（節目）。之前看的都是中國電視（節目）。我們看韓國的電視後就懵了，因為我們以前（在北韓）看到韓國是要飯的，做乞丐的人很多，生活得很苦。美國人居住在韓國，欺負韓國人，所以，韓國是一個很可憐的地方。可是我們看電視的時候，根本就不是那麼回事。</p>

					<p>那個長老，他穿的衣服，他說的話，喝的咖啡，都讓我們覺得很奇怪。那麼苦的咖啡怎麼喝呢？他的朋友，韓國人老是過來，來的時候穿著西裝。星期天他們去教會的時候就穿成那樣。</p>

					<p>有一次，他邀請我們一起去教會。我們一直在學《聖經》，但都是在家，不敢去教會，因為一去教會可能會被抓。可那些韓國人說，那是韓國人的教會，不用擔心。我們一去看，那些年紀大的女人，化妝化的，衣服穿的很像是公主。</p>

					<p>我們那時侯就懵了，哎呀，這個有點奇怪，然後開始問他（韓國長老）韓國的一些情況。那個爺爺就讓我們看電腦，開始慢慢上網。我們就想，這麼好的地方，語言又可以說得通，他們說的我們能聽懂嘛。我們去這個地方怎麼樣？</p>

					<p>有一次，有個人說，他可以幫助我們去韓國。他說：“你們到了韓國以後，給我們錢。”他們要的錢很多。我們就問：“我們沒有那麼多的錢，怎麼給你們呢？”他說：“如果北朝鮮人到韓國，他們給房子、給錢、給吃的、給住的。所以，你們放心，只要把給你們的錢的三分之一給我就行。”</p>

					<p><span class='speaker'>我們說：</span>“可以。”</p>

					<p>這樣跟著他一起去到北京，說是第二天一早要進一個地方。跟我們一塊兒去的共12個人。其中一個北朝鮮人說：“好了，從這開始跑進去吧。”媽媽說：“跟上媽媽。”然後，她就跑進去了。那兒有鐵絲網，差不多兩米左右高吧。</p>

					<p>我媽媽一下子就跳進去了。接著，一個男的跳進去了，後來有三個女的也跳進去了。我那時候也有點兒胖，差不多65公斤左右。我從來沒爬過那種牆。我一看，妹妹這麼小，站在旁邊，我就想，哎呀，可能我是不行了，讓她先進去吧。我就把她放在上面，讓她過那個（鐵絲網）。</p>

					<p>她到一半的時候，裡面有個穿軍服的人過來接她。我一看就懵了，這是怎麼回事啊？不是說不會被抓嗎？一看旁邊很多人，差不多20多個人，從兩邊追進去。我回頭一看，有三個人過來要來抓我。我用包打他們，要跑的時候，有個人打我的頭，我就倒下了。實在疼得起不來，腿也不好使，脖子也很疼，抬不起頭。</p>

					<p><span class='speaker'>李肅：</span>你知道你們要逃進去的地方是甚麼地方嗎？</p>

					<p><span class='speaker'>趙真惠：</span>他們說是個大使館。</p>

					<p><span class='speaker'>李肅：</span>誰的大使館？</p>

					<p><span class='speaker'>趙真惠：</span>沒說是哪個國家的。</p>

					<p><span class='speaker'>李肅：</span>你和你妹妹都被抓了，你媽媽進去了？</p>

					<p><span class='speaker'>趙真惠：</span>進去了。</p>

					<p><span class='speaker'>李肅：</span>沒被抓？</p>

					<p><span class='speaker'>趙真惠：</span>當時還沒被抓，可是等我上車差不多30分鐘以後，我媽也過來了。我媽也被抓了。</p>

					<p><span class='speaker'>解說：</span>由於中國的強制遣返政策，脫北者寄希望於通過中國前往第三國。近年來，中國一再發生朝鮮脫北者闖入外國駐華機構的事件。互聯網上流傳的這段視頻就是2002年5月，朝鮮一個五口之家試圖進入日本駐瀋陽領事館尋求庇護的畫面。當時，一名外國記者剛好在對面拍攝下了這段畫面。</p>

					<p>這個被眼前的景象嚇得不知所措的朝鮮小姑娘叫金韓美，當時只有兩歲。她望着媽媽和中國保安拉扯時那無助、哭泣的表情不知道感動了多少人。金韓美和家人後來終於成功抵達韓國，然而趙真惠一家那一次卻沒有那麼幸運。</p>

					<%- photo[7] %>

					<p><span class='speaker'>李肅：</span>你們三個人被押到哪裡去了？</p>

					<p><span class='speaker'>趙真惠：</span>押到北京的一個公安局的監獄。</p>

					<p><span class='speaker'>李肅：</span>關了多長時間？</p>

					<p><span class='speaker'>趙真惠：</span>十天。</p>

					<p><span class='speaker'>李肅：</span>放出來了還是送回北朝鮮了？</p>

					<p><span class='speaker'>趙真惠：</span>送回北朝鮮了。我們在火車上走的時候，他們說，要把我們的資料和被抓的時間都要給北朝鮮。我想了一會兒，開口說:“如果你們這樣把我們送回到北朝鮮去的話，我們一家人都要死。我哭着告訴他們，我弟弟是怎麼死的，我爸爸是怎麼死的，所以我們想活，可不可以幫我們？”</p>

					<p>那裡有個女的看起來心眼很好，她說她願意幫我。旁邊還有兩個男的，就是打我三天三夜的那兩個人。他們說：“打了三天三夜都不開口，現在開口了。”他們不想幫我。這個女的跟他們吵架，說：“她是為了活才不開口的，又不是為了別的。”她跟那兩個男的爭辯，顯然是要幫助我。她把我們的資料全都撕了，打開窗戶，把碎片撒了出去。</p>

					<%- photo[8] %>

					<p>這樣遣送回去以後，每個月他們都打我媽媽，讓我媽媽說實話。可我媽媽說：“我那時候不知道那個是大使館。有人告訴我，那裡面有我的大女兒，我想見我的女兒，所以我進去了。可是被抓了以後我才知道是這樣。”她是死也不承認，最後被放了出來。我們再次逃跑。</p>
				</section>
				<section epub:type="subchapter" id="part5">
					<h2><%= chapter_title[5] %></h2>

					<p><span class='speaker'>李肅：</span>再次逃跑又是過河？</p>

					<p><span class='speaker'>趙真惠：</span>對。一樣的方式。</p>

					<p><span class='speaker'>李肅：</span>過了河以後，又到甚麼地方去了呢？</p>

					<p><span class='speaker'>趙真惠：</span>我們三個人不能一起過來，讓我媽媽和我妹妹先過河。她們兩個到了中國後，打電話給我。偷偷地到一個人的家裡，讓人傳話說：“安全過了，過幾天你再過來。”可半路上我媽媽又被抓了。我聽說她被抓以後，我就自己先來中國，找一點錢回到北朝鮮，想把我媽媽給贖出來。</p>

					<p><span class='speaker'>李肅：</span>她又被送回去了嗎？</p>

					<p><span class='speaker'>趙真惠：</span>對。我來到中國以後找到我妹妹了。我開始掙錢、打工。打工的時候，不小心被他們認出是北朝鮮人，他們就不給工錢，我又跑到別的地方去。在那邊工作時，我就沒有說出我的身份，覺得他們快認識我的時候，我就再跑。</p>

					<p>有的時候，公安局的人來到我們工作的地方查身份，查外地來的人。遇到公安局來查的時候，我就從後門逃跑。後來打電話給老闆，告訴他我的身份，問他可不可以把我的工資給我？好心的老闆會給我工資。不好的老闆就說，是你自己要跑的，如果你事先跟我們說，我們會幫助你。我就覺得，這錢就這麼拉倒吧。過幾個月後，我見到我媽媽了。我媽媽被放出來後，有人想要拐賣我媽媽。</p>

					<p><span class='speaker'>解說：</span>陌生的環境和陌生的語言使女性脫北者很容易成為人口販子的目標。花幾千元買上一個朝鮮新娘在當地並不罕見。另據韓國的“北韓人權資料中心”估計，有大約兩萬到三萬名朝鮮女性在中國被迫賣淫或者做性奴。</p>

					<p><span class='speaker'>趙真惠：</span>和龍和延吉那些拐賣人的電話號碼我差不多都有。我挨家挨戶問的，給他們留言，跟他們說，如果找到這樣的女人的話，我會給你3000塊錢，把這個女人給我吧。這些人就打電話告訴我，好像是你媽媽，她來了，在瀋陽的甚麼地方。</p>

					<p>我去的時候，那些人快要把我媽媽賣出去了。我去見到了她，然後從那邊一起逃跑了。我們跑到了一個人的家裡，碰到一個牧師。那個牧師現在在西雅圖，美國的西雅圖。見到這個人後，他開始給我們住的地方，吃的、穿的，都給我們。</p>
				</section>
				<section epub:type="subchapter" id="part6">
					<h2><%= chapter_title[6] %></h2>

					<p><span class='speaker'>解說：</span>趙真惠和媽媽遇到的這位牧師叫菲力普·巴克。他1941年出生在朝鮮。上個世紀50年代韓戰期間，巴克和家人失散，逃亡韓國，後來移民到美國。從1994年起，他開始在中國傳教。通過在美國籌募資金，巴克在中國建立起一個朝鮮難民庇護網路。美國《時代週刊》網站曾將其比作19世紀美國南北戰爭期間幫助黑奴逃往自由的“地下鐵路”系統。巴克與趙真惠母女在2005年相識。當時，脫北者開始開闢新的出逃路線。他們通常會選擇兩條路線：一是輾轉大半個中國，途經老撾，進入泰國。在那裡向當局自首，並被送往韓國。另一條是巴克牧師當時正在籌劃的，從中國的東北到內蒙，穿過戈壁沙漠，進入蒙古國。蒙古承認脫北者的難民地位。脫北者可以從那裡自由前往第三國。</p>

					<p><span class='speaker'>趙真惠：</span>我們碰上牧師後，跟他一起過了六個多月。然後，牧師開始準備錢。有個帶路的人要價太高了，他帶一個人要收7000元人民幣。牧師帶了30多個北朝鮮人要去韓國，沒有這麼多錢。他歎着氣對我說：“怎麼才能幫助他們？”我說：“這樣吧，我會講中文，找兩個聰明的人先給他們錢，讓他們走。他們在半路上停在哪個車站、哪個飯店甚麼的，把那些名字記下給我。我可以試試看。”</p>

					<p><span class='speaker'>李肅：</span>當時你自己還沒有跑出去，你怎麼會想起幫別人一塊跑出去呢？</p>

					<p><span class='speaker'>趙真惠：</span>因為我小的時候，從13歲開始，就得到教會的幫助。我認識這個牧師，是在我14歲時，在和龍縣，有一個信教的人幫我們，讓我們在他那兒住了一年左右的時間。這個人來過我們家。他給過我們錢、食物、住房的費用。我當時很小，覺得他很偉大。我幫助別人等於是報答他。所以我開始想幫助這30個人先過去，最後我們一家人再過去。</p>

					<%- photo[9] %>

					<p><span class='speaker'>李肅：</span>結果這次出逃成功了嗎？</p>

					<p><span class='speaker'>趙真惠：</span>第一次去的人就聽我的話，按照我的意思，走了幾公里，轉身再走幾公里就過了那個鐵絲（網），然後打電話告訴我說：“過了”。然後，我再讓另一些人去。可這些人去的時候，帶了一個五歲的孩子和一位老人。沒走一會兒他們就覺得累了。在沙漠裡走路很辛苦。晚上很冷，白天很熱。冷得不行。那天晚上風刮得很厲害，所以他們走了沒一會兒就過那個鐵絲（網）。邊境的那些當兵的見有人過來，就把他們給抓起來了。</p>

					<p><span class='speaker'>李肅：</span>他們過鐵絲（網）的地點是不對的。</p>

					<p><span class='speaker'>趙真惠：</span>對，要多走一會兒才能過。他們沒走一會兒就要過，所以就被抓了。被抓了以後，中國的公安局騙他們，說你們只要說出你們後面的人，我們就放了你們。我們只想對他罰款。他們就信了這個話，全部說了。這五個人當中，有一個人是騙錢的，他是受到北朝鮮政府的指使來中國，專門抓這些想去韓國的北朝鮮人。</p>

					<p><span class='speaker'>李肅：</span>等於是密探了。</p>

					<p><span class='speaker'>趙真惠：</span>對，他自己是想去韓國的，所以，出發後就向公安告了密，說了後面人的情況。這樣後面的就被公安局盯上了。他想著要讓自己先跑到韓國，後面的人可能被抓。可他沒想到自己在前面被抓，後面的人也被抓。所以美國牧師、我和我媽媽都在不同地點都被抓起來了。</p>

					<p>出賣我們的人說，有50多個北朝鮮人要從這裡過，可被抓的才十幾個人，剩下的人都跑了。他們想從我嘴裡知道他們的情況。哄也不行，打也不行，打了三天三夜，實在不行，我快撐不住了，暈過去了，全身被打得都腫了，外套都不能穿。</p>

					<p><span class='speaker'>李肅：</span>是中國的警察打的？</p>

					<p><span class='speaker'>趙真惠：</span>對，是中國當兵的，邊防軍人。</p>

					<p><span class='speaker'>李肅：</span>準備把你們遣送回北朝鮮？</p>

					<p><span class='speaker'>趙真惠：</span>可是我們還不能那樣（被送回去），因為中間還有個美國人。這個美國人要判刑的話，那我們就是證人。</p>

					<p><span class='speaker'>李肅：</span>你說的是那個牧師嗎？</p>

					<p><span class='speaker'>趙真惠：</span>對。所以，他們不想把我們遣送到北朝鮮去，只是在延吉的一個監獄裡關著我們。</p>

					<p><span class='speaker'>解說：</span>延邊邊防支隊收容審查所是中朝邊界唯一臨時關押朝鮮非法偷渡者的監獄。據悉裡面可以容納幾百人。2012年8月，趙真惠在美國華盛頓市郊的家中向我們展示了她妹妹畫的這樣一幅畫。</p>

					<p><span class='speaker'>趙真惠：</span>這個是4號房間，我們呆了六個月。這是5號房間，呆了兩個月，然後又換來換去。這邊都是（房間），是這樣一個形狀，底下也有，很多房間。剛剛有一個當兵的進來打了一個老人和孕婦，所以我們就很來氣，開始絕食，跟他吵架的那個場面。我妹妹想起那天的事，就開始畫了。</p>

					<p>這個外面是玻璃，裡面有鐵絲，前面是監控。一面牆上全部是電視（監視器），很小很小的那種。一個房間兩個電視（監視器），衛生間裡一個，房間裡一個。我們洗澡他們都看。我們開始洗澡的時候，這個走來走去的人（執勤的衛兵）就知道誰進去了，然後從那邊告訴他們。很多人就跑到那個監控（室）裡面。所以剛剛進來的年輕人，她們都不敢洗。有的時候我們拿著毯子幫他們蓋一下、擋一下，然後洗。這樣一來他們就說，你們是不是在那邊要挖個洞啊，或者是要藏錢甚麼的，不讓我們那麼做。因為這個，我絕食七天跟他們鬧了一場。</p>

					<p>被關押了15個月後，趙真惠和妹妹被遣返回朝鮮。</p>
				</section>
				<section epub:type="subchapter" id="part7">
					<h2><%= chapter_title[7] %></h2>

					<p><span class='speaker'>趙真惠：</span>到北朝鮮後，我們已經是沒有身份的人了，因為沒有參加總統的投票，兩次沒參加，等於是算是死人，把戶口都抹掉了。我們到了北朝鮮後，我和我妹妹在名字上撒謊。北朝鮮沒有電腦，被抓的地方每次都不一樣。這樣，我們說甚麼就是甚麼了。在那邊呆了一個月，然後被放出來。在朝鮮呆了兩個月以後，我們找個機會又逃跑。</p>

					<p><span class='speaker'>李肅：</span>又逃到中國去？</p>

					<p><span class='speaker'>趙真惠：</span>嗯。</p>

					<p><span class='speaker'>李肅：</span>這次逃到中國去的是甚麼地方？</p>

					<p><span class='speaker'>趙真惠：</span>先到的是延吉。剛過河有兩個朝鮮族的牧師在等我們。我們坐了車直接去延吉。在延吉呆幾天後，他們就給我們找了一個房子。在那個房子裡住的時候，我們就突然發現，在北朝鮮收一萬美元的那些人都被抓了。</p>

					<%- photo[10] %>

					<p><span class='speaker'>李肅：</span>也就是說，實際上你們放出來，是你們的教會用一萬美元疏通的管道？</p>

					<p><span class='speaker'>趙真惠：</span>是。</p>

					<p><span class='speaker'>李肅：</span>那些拿錢的人也被北朝鮮發現了，也被抓了？</p>

					<p><span class='speaker'>趙真惠：</span>因為北朝鮮開始查這個的時候，我們已經被放出來了，已經不在那兒了。然後就知道是有人吃了這個黑錢，把我們放出來了。我聽說是六個人吃了這個錢，這些人都被抓，一個被槍斃，其他的人不知道去哪兒了。幫我們過河的那個當兵的也被抓了。</p>

					<p><span class='speaker'>趙真惠：</span>然後我就給聯合國難民署打電話，電話號碼是美國牧師給的。</p>

					<p><span class='speaker'>李肅：</span>是駐北京的辦事處？</p>

					<p><span class='speaker'>趙真惠：</span>對。美國政府同意讓我們住在那裡，因為是難民署辦的這個（事情）。當時美國政府也參加了和中國政府商量這個事情，中國政府就差不多同意了。我們在那裡住了一年三個月左右。美國人和韓國人都出來審問我們，查我們是不是朝鮮人。確認之後，就跟中國協商。中國說：“這是Last Time。”</p>

					<p><span class='speaker'>李肅：</span>最後一次。</p>

					<p><span class='speaker'>趙真惠：</span>對，他們不能再收容其他的北朝鮮人了。他們就這樣說。可能難民署的人也說“OK”了。那是2008年。</p>

					<p><span class='speaker'>李肅: </span>是2008年，是奧運會那年？</p>

					<p><span class='speaker'>趙真惠: </span>對，（奧運會）之前，要把所有的（脫北者）送出去。我去見公安局的人時，他們（對我）說：“所有在中國發生的事情，出去後不要說出去。”可我不能不說。</p>
				</section>
				<section epub:type="subchapter" id="part8">
					<h2><%= chapter_title[8] %></h2>

					<p><span class='speaker'>李肅：</span>你認為多數的朝鮮人，你的同胞，他們逃出這個國家是為了甚麼？</p>

					<p><span class='speaker'>趙真惠：</span>96年開始是餓肚子，想填飽肚子才跑出來。來中國以後，看到中國的生活，被抓回去後忘不了中國的生活，所以他們又跑回來。（對）女人來說，她們在這邊生了孩子，有了家庭了，所以她們還來。後來的一些人是為了自由。在中國，他們知道自由是甚麼了，為了自由他們才跑的。</p>

					<p><span class='speaker'>李肅：</span>現在朝鮮的經濟狀況，生活狀況會比以前更差嗎？</p>

					<p><span class='speaker'>趙真惠：</span>我被抓四次，每次回去的時候都差不多。地方一點兒都沒變。快十年了，一點兒都沒變。市場啊甚麼的都差不多。生活苦的人還那麼苦。當時我第一次跑去中國的時候，（在朝鮮）50多歲的人現在已經死了，30多歲的人已經老了。他們還活着。所以很多人都願意跑到中國來，讓中國人幫他們。可是已經十年了，中國人已經累了。邊境的那些鮮族們已經沒有能力幫他們了。中國人已經不讓他們進門了。你要是敲門進來，我就要告你。所以很多人都不敢過來。</p>

					<p><span class='speaker'>李肅：</span>在中國的時候，你見到了很多人，有些人可能對你們很不好，有些人可能幫助過你們，總的來說，你對中國人怎麼看？</p>

					<p><span class='speaker'>趙真惠：</span>壞人比較多吧，對我來說。可是如果沒有那些好心人的話，我不會活到現在。因為有好人保護我，有壞人又告我們，所以我們被抓，受了那樣的苦。可是我們每次被放出來以後，去過一家，進過門，敲過門的時候，都對我們很好。給我們吃的，給我們穿的，生病的時候幫我們買藥。</p>

					<p>在中國，種地的人要攢錢不容易嘛。可他們還是為我們出這個錢。幫助我們坐車跑到北京去、瀋陽去，在路上全部是中國人幫忙的。</p>

					<p>中國人是很好，我喜歡他們。可是政府的政治我就不喜歡，因為我本身被抓四次。</p>

					<%- photo[11] %>

					<p>我想通過這個節目，讓更多的中國人瞭解北朝鮮人的背景。如果中國政府聽了我的話後，同情北朝鮮的人民。不要光是為了國家之間的利益把北朝鮮人遣送回去。不要硬搶着要抓住他們。</p>

					<p>很多北朝鮮的女人被賣了後，生了孩子。他們的母親又被抓到北朝鮮去，有的已經在監獄裡死了。有的爸爸得病死了，孩子變成孤兒。所以，我覺得北朝鮮人和中國人之間已經不是很小的問題。我覺得中國政府能不能重新考慮這個問題，不要為了國家的利益，一定要抓他們，遣送回去。</p>

					<p>如果北朝鮮政府改變了，抓我們回去後，不殺我們，不槍斃我們，或者不把我們關到監獄裡，那麼，中國遣送北朝鮮難民回去，關係不大。可是，我們是為了想活才來這邊的。我不知道政治是甚麼，可是為了想活命逃出來的這些人，再把他們遣送回去，就等於是殺了他們。就像有人掉進水裡，再用腳踩他一樣。所以，我覺得中國政府可不可以寬待他們一些？我就想求求他們這個。 </p>

					<p><span class='speaker'>結束語：</span>聯合國人權理事會2012年的報告顯示，仍然有數百萬計的朝鮮人食不果腹，脫北者的人數還在不斷上升。與此同時，中國遣返越境朝鮮人的行動從來沒有停止過。韓國線上媒體《每日北韓》（DailyNK）在朝鮮的一位通訊員說：“這裡所有的人都想逃跑，唯一讓我們望而卻步的是中國當局的強硬。”</p>
				</section>
			</section>
