			<section epub:type="chapter" id="start">
				<h1><%= chapter_title[41] %></h1>
				<h2>（原題：誰之過）</h2>
				<blockquote class="pullout"><%= global.book.meta[book].description %><!--毛、劉關係出現嚴重裂痕；饑荒—分裂—文革   不幸的政治鏈條；“艄公”的尊嚴不可冒犯；周恩來的世故與圓滑；林彪如何博得毛的信賴；昔日英雄變家奴；無人為幾千萬生命負責；大饑荒調查，步履維艱--></blockquote>
				<p>編者語：毛澤東的秘書李銳曾經把“大躍進”形容為“狂風巨浪”。這場狂風巨浪把中國的國民經濟吹打得七零八落，比例嚴重失調，國民生計陷入危機，造成了人類歷史上罕見的大饑荒。</p>
				<p>在一個現代的民主國家，發生這樣的災難，執政者是要承擔責任的。但是，在毛澤東統治的那個時代，釐清責任本身就是一件非常困難的事情，更不用說要求責任者承擔責任了。事實上，災難發生後，最高當局一直裝作災難根本沒有發生一樣，數十年間禁止人們談論這一敏感話題。</p>
				<p>在1959年的“廬山會議”上，彭德懷元帥給毛澤東寫信，反映他對“大躍進”中出現的問題的看法。前中共中央總書記張聞天
				<sup epub:type="rearnote">
					<a href="backmatter.xhtml#en1" id="ref1">（註1）</a>
				</sup>
				也在會上做了長篇發言，對“大躍進”中出現的錯誤和混亂做了系統的分析。</p>
				<p>1962年，中共中央舉行工作會議，黨內要求追究責任的呼聲空前高漲。劉少奇公開反對毛澤東對“大躍進”得失做出的所謂“九個指頭和一個指頭”的評價。他大膽地提出了“三七開”（七分成績，三分人禍）的觀點，並對大饑荒的成因提出了“三分天災，七分人禍”的評價。政治局委員彭真
				<sup epub:type="rearnote">
					<a href="backmatter.xhtml#en2" id="ref2">（註2）</a>
				</sup>
				更是把矛頭指向毛澤東，說有關向共產主義過渡和大辦公共食堂等重要決策都是經毛澤東批准的，毛澤東是有責任的。</p>
				<p>但中共高層中不乏見風使舵者。正當毛澤東為自己闖下大禍而面臨黨內強大壓力的時候，中共中央副主席林彪、周恩來等到會極力為毛澤東開脫，把“大躍進”中出現的問題歸結為偏離毛主席指示的後果。</p>
				<p>毛澤東在這次會議上除了泛泛地表示自己對中央的錯誤負有領導責任之外，沒有對自己應該承擔的責任做出任何具體的說明，既沒有向國人道歉，鞠躬下台，更沒有追究那些曾經跟隨他的指揮棒弄虛作假、稱霸一方、把成千上萬的農民逼上死路的地方大員的責任。</p>
				<p>《墓碑》一書的作者楊繼繩在分析這場災難責任的時候認為，根本的責任是中共建立的制度。他說：“現在幾乎所有的著作中都把責任推給了毛澤東。當然，作為國家第一把手，他有不可推卸的責任。他是‘始作俑者’。但是，僅停留在這個層面上，是膚淺的。當時那個制度，沒有民主決策機制，沒有制度性的糾錯機制，沒有暢通的信息傳遞渠道，如果把別人放在毛澤東的位置，也會犯同樣的錯誤。”</p>
				<p><span class='speaker'><span class='speaker'>李肅：</span> </span> 劉少奇在“大躍進”中發揮了什麼作用，對這場饑荒持什麼態度？</p>
				<p><span class='speaker'>楊繼繩：</span> 劉少奇在1959年“八大”以後就升任國家主席了，毛澤東退居二線。他（劉少奇）在第一線主持工作。從主持工作的角度來說，劉少奇是應該有責任的。從指導思想來看，他比毛澤東還要偏，比如消滅家庭。公共食堂是他第一次在全國婦聯講話時提出來的，當然是傳達毛澤東的意思。</p>
				<p>再比如毛澤東關於“赶超”和“大躍進”的想法最先是他傳達下去的。但他講要做得更快一點，速度更高一點，都是他比較積極地提出來的。人民公社，他也是支持的，比毛澤東還極端。到江蘇講話，講大鍋飯，講供給制，講得很厲害，比毛澤東還厲害。“五風”是從上層刮起來的，劉少奇是刮“五風”的重要力量。</p>

				<section epub:type="subchapter" id="part1">
					<h2><%= chapter_title[42] %></h2>
					<%- photo[1] %>

					<%- photo[2] %>

					<p><span class='speaker'>李肅：</span> 在大饑荒問題上，劉少奇是什麼時候跟毛澤東有了分歧？</p>
					<p><span class='speaker'>楊繼繩：</span> 1959年國慶節，“十年大慶”。在天安門城樓上，劉少奇和鄧子恢上廁所的時候，劉少奇對鄧子恢說：沒想到人民公社對生產力的破壞力這麼大。鄧子恢的秘書在旁邊聽到了，告訴了劉少奇的秘書姚力文
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en3" id="ref3">（註3）</a>
					</sup>
					。姚力文前幾年給講了這個事。這說明劉少奇對人民公社是有不同看法的。後來對困難的估計究竟是“一個指頭”還是“九個指頭”，劉少奇是有不同的看法的。他在1961年到湖南老家調查回來說，不是“一個指頭”，而是“三七開”的問題。 “三個指頭”跟“一個指頭”意思是不一樣的。</p>
					<p><span class='speaker'>李肅：</span> “三個指頭”指的是？</p>
					<p><span class='speaker'>楊繼繩：</span> “三個指頭”指的是問題，“七個指頭”指的是成績。毛澤東認為，問題是“一個指頭”，成績是“九個指頭”。到“七千人大會”的時候，兩人的看法就更不一樣了，分歧更嚴重了。劉少奇甚至離開講稿，自己講了很多話，講“三個指頭”和“一個指頭”，講“三分天災，七分人禍”。這都是他在“七千人大會”上講的。</p>
					<p class='commentary'><span class='speaker'>解說：</span> 1962年1月11日到2月7日，中共中央召開擴大的中央工作會議。由於參加會議的各級官員有7000餘人，因此被稱為“七千人大會”。這次會議的議題之一，是對“大躍進”進行總結。劉少奇在會上指出“大躍進”是“三分缺點，七分成績”，大饑荒是“三分天災，七分人禍”。他指出，“天災的確不是那麼嚴重”，是執行總路線的具體政策，具體工作中犯了錯誤”。毛澤東把劉少奇的講話視為對自己權威地位的挑戰，因而十分不滿。多數學者認為毛、劉關係出現根本性裂痕就是在這次會議上。</p>
					<p class='commentary'>中共黨史專家、美國明尼蘇達州諾曼岱爾社區學院教授丁抒介紹，在大會結束時，中共中央書記處安排全體代表呼喊“毛主席萬歲！劉主席萬歲！”，毛澤東的不滿情緒表露無遺。</p>
					<p><span class='speaker'>丁抒：</span> 這時候毛澤東拉著劉少奇的手說，“我是三天不學習，趕不上劉少奇。官當得大了，不做調查研究了。總之，錯誤在我。少奇啊，你聽到沒有？現在是兩個主席，兩個萬歲，很好嘛。萬歲的重任你早挑起來了。”毛澤東表面上是誇獎劉少奇，實際上是將劉少奇放在了對立面的位置上，兩個主席、兩個萬歲，正是毛澤東的心病。</p>
					<p><span class='speaker'>李肅：</span> “三分天災，七分人禍”，這有着明顯的否定“大躍進”的味道，毛是這麼理解的嗎？</p>
					<p><span class='speaker'>楊繼繩：</span> “三七開”是講成績和缺點。 “三分天災，七分人禍”是說大饑荒產生的原因。七分是人為造成的，三分是老天爺造成的。</p>
					<p><span class='speaker'>李肅：</span> 劉少奇的看法跟毛澤東有什麼不同呢？</p>
					<p><span class='speaker'>楊繼繩：</span> 第一個是對成績和缺點所佔份量的估計不同。毛澤東是一分缺點，他是三分缺點；第二個關於饑荒造成的原因，劉少奇認為是“七分人禍，三分天災”。</p>
					<p><span class='speaker'>李肅：</span> 那毛澤東呢？</p>
					<p><span class='speaker'>楊繼繩：</span> 毛澤東沒有具體說明。</p>
					<p><span class='speaker'>李肅：</span> 毛澤東沒有明確說明是幾分天災，幾分“人禍”。</p>
					<p><span class='speaker'>楊繼繩：</span> 他沒有說。到目前為止，人們一般認為“七千人大會”是一個很好的大會。實際上， “七千人大會”是中央高層分裂了。</p>
					<p><span class='speaker'>李肅：</span> 誰跟誰分裂？</p>
					<p><span class='speaker'>楊繼繩：</span> 中央高層吧，分裂了就是意見不一致了，起碼就是劉少奇和毛澤東分裂了。後來處置大饑荒的問題，就更分裂了。劉少奇、陳雲等都認為問題很嚴重，要整頓治理。毛澤東認為不要把問題說得一片黑暗。</p>
				</section>

				<section epub:type="subchapter" id="part2">
					<h2><%= chapter_title[43] %></h2></p>
					<p><span class='speaker'>李肅：</span> 劉少奇跟毛澤東的分裂當時是公開的嗎？</p>
					<p><span class='speaker'>楊繼繩：</span> 當時在老百姓中間沒有公開。老百姓都認為中央是團結一體的，但是，上層都看得很清楚。在王光美
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en4" id="ref4">（註4）</a>
					</sup>
					和劉少奇的文章中就看出來，關於餓死人的問題，劉少奇說：人相食，將來是要上書的，我們是要負責任的。毛澤東就不以為然嘛。</p>
					<p><span class='speaker'>李肅：</span> 這次分裂對後來中國的政治發展有影響嗎？</p>
					<p><span class='speaker'>楊繼繩：</span> 這就是政治邏輯鏈嘛。如果沒有大饑荒，就沒有毛、劉分裂。沒有毛劉分裂，就沒有“四清”的進一步分裂。沒有“四清”的進一步分裂，就沒有“文化革命”這麼個結果。</p>
					<p><span class='speaker'>李肅：</span> 我們都知道“文化大革命”最直接的目的就是打到劉少奇。這是從“七千人大會”開始的嗎？</p>
					<p><span class='speaker'>楊繼繩：</span> 可以說是“七千人大會”開始的。但高崗
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en5" id="ref5">（註5）</a>
					</sup>
					秘書趙家樑
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en6" id="ref6">（註6）</a>
					</sup>
					對我說：1953年毛就想拿下劉少奇，讓高崗代替。但被高崗弄砸了。</p>
					<p class='commentary'><span class='speaker'>解說：</span> 劉少奇曾經是毛澤東最忠實的追隨者。他在1945年4月中共第七屆全國代表大會第一次提議把毛澤東思想正式列入中共黨章，成為和馬列主義並列的中共的指導思想。在這次會議上，劉少奇正式成為中共排名第三的領導人。1956年，在中共第八屆全國代表大會上，劉少奇成為排名第二的中共領導人，實際上成為毛澤東的接班人。1961年9月的一天，毛澤東明確地說：“我死後，就是他。”</p>
					<p class='commentary'>然而，很多研究中國現代史的專家認為，毛澤東在1962年中共“七千人大會”以後就開始計劃打倒劉少奇了。在“文革”期間的1967年，毛澤東曾經表示：“‘七千人大會'的時候已經看出問題來了，修正主義要推翻我們。”他的妻子江青
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en7" id="ref7">（註7）</a>
					</sup>
					在“文革”初期也曾經說：“‘七千人大會'憋了一口氣，直到文化大革命才出了這口氣。”</p>
					<p><span class='speaker'>楊繼繩：</span> 劉少奇後來在挽救危機的時候對陳雲說，要求退到底，把問題講得比較嚴重。毛澤東就不同意。毛澤東反過來就抓階級鬥爭，要年年講、天天講、月月講嘛。就是在1962年，面對危機的形勢，劉少奇主張（從人民公社）退到底，實行“包產到戶”。毛澤東認為這是階級鬥爭的好機會。他不退啊。1959年春天，中央發了幾個整頓的文件，毛澤東都認為是右傾。
					
					<%- photo[3] %>
					
					<p><span class='speaker'>李肅：</span> 當年劉少奇在“七千人大會”上講“三分天災，七分人禍”，毛澤東對此沒有表態？</p>
					<p><span class='speaker'>楊繼繩：</span> 他沒有表態。</p>
					<p><span class='speaker'>李肅：</span> “七分人禍”就是人為的錯誤，是失誤。</p>
					<p><span class='speaker'>楊繼繩：</span> 人為的錯誤和失誤。</p>
					<p class='commentary'><span class='speaker'>解說：</span> 當時，毛澤東被迫承認：“我們有時也是唯心主義的，例如食堂，沒有調查……沒有聽取群眾的。”“過去的錯誤，主要是中央和我負責，我負主要責任。”</p>
					<p><span class='speaker'>楊繼繩：</span> 毛澤東空洞地承認了一下（錯誤），有兩次，包括甘肅省的報告也提到他要一起克服錯誤，但實際上他沒承認，實際上他從來沒承認錯誤。</p>
					<p><span class='speaker'>李肅：</span> 他跟劉少奇的分歧是因為劉少奇認為“三分天災，七分人禍”。</p>
					<p><span class='speaker'>楊繼繩：</span> 毛澤東認為把“人禍”成分說多了。</p>
					<p><span class='speaker'>李肅：</span> 毛澤東真的認為“人禍”沒那麼多嗎？</p>
					<p><span class='speaker'>楊繼繩：</span> 起碼他口頭上不承認“人禍”有那麼多。</p>
					<p><span class='speaker'>李肅：</span> 他跟劉少奇的分歧就在這個地方嗎？</p>
					<p><span class='speaker'>楊繼繩：</span> 天災、“人禍”哪個多？成績和缺點哪個多？成績是“九個指頭”，還是“七個指頭”？對於天災和“人禍”哪個多？包括對“三面紅旗”，劉少奇表示還要看一看、等一等，先不要做結論，對“三面紅旗”持懷疑態度。但毛是不會認輸的。</p>
					<p><span class='speaker'>李肅：</span> 劉少奇當年已經對“三面紅旗”持懷疑態度了？</p>
					<p><span class='speaker'>楊繼繩：</span> 在“七千人大會”上，他提出了（對三面紅旗）還要看一看，暫時不要做結論。而劉少奇的一批人，包括彭真，他們公開出來批評毛澤東，說毛澤東有責任，毛主席不是不能批評的。</p>
					<p><span class='speaker'>李肅：</span> 實際上指出毛澤東並不是沒有錯誤的。</p>
					<p><span class='speaker'>楊繼繩：</span> 這是彭真第一個講出來的。彭真一講，陳伯達馬上駁斥，說不對。</p>
					<p class='commentary'><span class='speaker'>解說：</span> 彭真當時是中共中央政治局委員和書記處書記，兼北京市委書記和市長。他在“七千人大會”的一次會議上說，“毛主席也不是什麼錯誤都沒有，三、五年過渡，辦食堂，都是毛主席批的。”“如果毛主席的百分之一、千分之一的錯誤不檢討，將給我們黨留下惡劣影響。”“誰都有犯錯誤的可能，毛主席也可能犯錯誤。”在當時的中國，毛澤東已經被神化，顯然，彭真的這番話讓毛澤東聽起來很不舒服。</p>
				</section>

				<section epub:type="subchapter" id="part3">
					<h2><%= chapter_title[44] %></h2></p>
					<p><span class='speaker'>李肅：</span> 彭德懷發表反對意見是在“廬山會議”上嗎？</p>
					<p><span class='speaker'>楊繼繩：</span> “廬山會議”（1959年）7月14號一封信嘛。

					<%- photo[4] %>

					<%- photo[5] %>

					<%- photo[6] %>

					<%- photo[7] %>

					<p class='commentary'><span class='speaker'>解說：</span> 1959年7月，中共中央在江西廬山召開政治局擴大會議，討論完成“大躍進”生產任務問題。8月，中共在這裡召開八屆八中全會。這兩次會議統稱“廬山會議”。這次會議最引人注意的是毛澤東將國防部長彭德懷寫給他的一封私人信件冠以“彭德懷同志意見書”在會上散發，指責彭德懷攻擊黨的總路線，反黨，並在全黨掀起了一場反對右傾機會主義運動。</p>
					<p><span class='speaker'>李肅：</span> “廬山會議”起初的目的不是反左嗎？怎麼又變成反右了？</p>
					<p><span class='speaker'>楊繼繩：</span> 反左。因為1958年11月開始糾“五風”之偏，“共產風”、“高指標”、“高產風”等等。基本是糾偏的，說共產主義還沒到，還早著呢。“不斷革命論和革命發展階段論”相結合，不斷革命，向共產主義前進。但革命是分階段的，我們現階段還不是共產主義，還不要搞全民所有製，還要搞三級所有，公社、大隊和小隊，以小隊為基礎。所有制要退回來，給農民些讓步，經濟指標要壓縮一點，不要定那麼高。</p>
					<p>就是從1958年年底到1959年夏天6月份還是這樣。7月份開會的時候本來也是這麼個氣氛。各單位送的材料也是關於這麼個問題。7月14日彭德懷發了一封信，毛澤東7月23日講話馬上就變了。“7•23”以後，再沒一個人說反左，再沒一個人敢吭氣。所有的人，不管多大的官，政治局常委、副主席或者將軍、元帥，都倒過來了。</p>
					<p><span class='speaker'>李肅：</span> 您剛才說彭德懷是“溫和的”反對。他溫和的反對主要體現在他那一封被毛澤東稱作“萬言書”的信上？</p>
					<p><span class='speaker'>楊繼繩：</span> 那封信現在看很溫和。</p>
					<p><span class='speaker'>李肅：</span> 為什麼說是溫和的？</p>
					<p><span class='speaker'>楊繼繩：</span> 他沒有尖銳地提出一些問題嘛，最尖銳的詞就是小資產階級狂熱性，其他都沒有什麼尖銳的地方。</p>
					<p><span class='speaker'>李肅：</span> 他只是說有點狂熱？</p>
					<p><span class='speaker'>楊繼繩：</span> 說農村問題比較嚴重，有許多問題。周小舟帶著他到湖南老家看了一遍，有些老紅軍跟他講地裡糧食沒人收，煉鋼鐵等問題。他在信上反映這個情況。</p>
					<p class='commentary'><span class='speaker'>解說：</span> 彭德懷在“廬山會議”期間寫給毛澤東的信中對“大躍進”中的“浮誇風氣”和“小資產階級狂熱性”提出了批評。當然，彭德懷的這封信也沒有少唱讚歌。他說，“大躍進的成績是肯定無疑的”，公社化“不僅使我國農民將徹底擺脫窮困，而且是加速建成社會主義走向共產主義的正確途徑。”彭德懷隻字未提毛澤東的失誤，反而多處為毛開脫。彭德懷在信的結尾說：“今年、明年和今後四年計劃必將勝利完成，15年趕上英國的奮鬥目標，在今後四年內可以基本實現，某些重要產品也肯定可以超過英國。這就是我們偉大的成績和光明的前途。”</p>
					<p class='commentary'>然而，毛澤東對彭德懷提出的溫和批評大為不滿。1959年8月2日，中共中央在廬山上召開八屆八中全會。毛澤東指責彭德懷等人“要攻擊總路線，想破壞總路線，”是“右傾機會主義在向著黨、向著黨的領導機關猖狂進攻，向著人民事業，向著六億人民的轟轟烈烈的社會主義事業進攻。”於是，彭德懷等人被打成“反黨集團”。</p>
					<p><span class='speaker'>楊繼繩：</span> 他本來跟毛澤東是很好的戰友，見面“老毛”、“老毛”地喊，見毛澤東睡覺，推門就進，把被子掀起來說話。他就是這麼一個戰友。彭德懷這個人不懂政治，人家當了皇帝了，還叫人家“老毛”，“老毛”地。應該尊重，他卻不尊重。人家把兒子交給他，結果，在抗美援朝中也被打死了
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en8" id="ref8">（註8）</a>
					</sup>
					。這個人是個大老粗，不懂政治。當然，後來小心點，不再叫“老毛”，改叫“主席”。總而言之，他不像別人那樣把毛當作皇帝來尊重。</p>
					<p><span class='speaker'>李肅：</span> 當初“廬山會議”本來就是反左的，這與彭德懷所批評的方向應該是一致的啊。</p>
					<p><span class='speaker'>楊繼繩：</span> 整個會議是反左，但毛澤東內心深處還是留戀1958年的“大躍進”。</p>
					<p><span class='speaker'>李肅：</span> 那他為什麼要召開“廬山會議”來反冒進呢？</p>
					<p><span class='speaker'>楊繼繩：</span> 毛澤東是要反“五風”，這是肯定的。但是，他的前提是不要傷及“三面紅旗”--“大躍進”、人民公社和“總路線”。他不容許傷及。這“三面紅旗”當時叫“三個萬歲”，是永遠不能反對的。他要在不反對“三面紅旗”的前提下去反“五風”。而“五風”恰恰是“三面紅旗”造成的，所以是悖論。</p>
				</section>

				<section epub:type="subchapter" id="part4">
					<h2><%= chapter_title[45] %></h2></p>
					<p><span class='speaker'>李肅：</span> 周恩來當時同意彭德懷的意見嗎？</p>
					<p><span class='speaker'>楊繼繩：</span> 開始彭德懷的信他也沒有看，彭德懷發言後，他也沒有表態。7月23號毛澤東批評了（《意見書》）以後，他就轉向了，跟毛保持一致。7月23日（毛的）講話是個分水嶺，沒有一個人為彭德懷說句公道話，都往彭德懷頭上潑髒水，把陳年舊賬都翻出來，把私房話都擺出來，陷害彭德懷。</p>
					<p><span class='speaker'>李肅：</span> 毛澤東為什麼對彭德懷反應這麼強烈，他不過就是說一點溫和的反對的話嘛。</p>
					<p><span class='speaker'>楊繼繩：</span> 周恩來從不談戰略問題，只講戰術操作，戰略由毛澤東決定。毛澤東怎麼說，周就怎麼幹，而且幹得很漂亮。彭德懷總是愛談戰略，愛談大事。所以，毛懷疑他有野心。</p>
					<p><span class='speaker'>李肅：</span> 他給人的印象是要把毛澤東的工作抓過來。</p>
					<p><span class='speaker'>楊繼繩：</span> 他有沒有抓過來的主觀願望，不好說。起碼他這個人的性格就是愛談大事。這就犯了大忌諱。戰略是皇帝講的，你作為大臣只能執行。周恩來很明顯把自己擺在大臣的地位。</p>
					<p><span class='speaker'>李肅：</span> 據說當年在“廬山會議”上，中共高層在批判彭德懷的時候，彭德懷曾經斥責過周恩來，說周恩來太老奸巨猾。當時是一個什麼情況他說了這樣的話？</p>
					<p><span class='speaker'>楊繼繩：</span> 7月23日毛澤東講話散會以後，周恩來召集幾位副總理談話。其中，周恩來和彭德懷有一段對話。周恩來談到經濟中面臨很多困難。鋼、鐵、煤的計劃不能完成，運輸也是個大問題。機械、財政、金融、外貿……都有困難，上海的煤只有7天的儲備。周講後，彭德懷說，這個情況為什麼不到大會上講一講呢？周說，開始就講這些困難，像訴苦會了，誤會成洩氣不好。彭說，你真是人情世故太深了，老奸巨滑。</p>
					<p><span class='speaker'>李肅：</span> 他說周恩來老奸巨猾具體指什麼？</p>
					<p><span class='speaker'>楊繼繩：</span> 該說的問題不說嘛，應該擺在桌面說嘛。你明明知道“大躍進”出了這麼多問題，為什麼不說呢？周恩來說現在說不是時候，該怎麼怎麼地講了一通，講了很多不是道理的道理。周恩來和林彪在後來舉行的“七千人大會”上完全是支持毛澤東的。</p>
					<p><span class='speaker'>李肅：</span> 那麼，在整個大饑荒過程中或者“大躍進”過程當中，周恩來是什麼態度？是積極支持嗎？</p>
					<p><span class='speaker'>楊繼繩：</span> 周恩來1956年搞了個“馬鞍形”，因為1956年的經濟指標定得太高了，他們第一線做經濟工作的人壓力很大。經濟指標高了，資金不夠，原材料不夠，他壓力很大。所以，他就壓縮，把指標降低。1956年降低，1957年又上來了，不就是馬鞍形了嗎？毛澤東對“馬鞍形”耿耿於懷，一個勁兒地批評“馬鞍形”。</p>
					<p><span class='speaker'>李肅：</span> 毛澤東為什麼批評？</p>
					<p><span class='speaker'>楊繼繩：</span> 毛澤東喜歡高速度啊，希望速度高一點。周恩來、陳雲和劉少奇要求壓縮指標，指標有一年下降了，成了馬鞍形。批“馬鞍形”，一直批了好幾年，到南寧會議上批得更厲害啦，說周恩來離右派只有50米了。所以，周恩來打算辭職。他的辭職書沒看到，但是中央討論會討論了周恩來要不要辭職的問題。會上說周恩來不應該辭職。後來就是書記處主持工作，鄧小平主持全面工作。</p>
					<p><span class='speaker'>李肅：</span> 也就是說1958年以後周恩來對毛澤東的政策是堅決支持了？</p>
					<p><span class='speaker'>楊繼繩：</span> 周恩來挨批以後就不停地檢討，不停地檢查自己，檢查錯誤，甚至“大躍進”時《人民日報》有一篇社論說“躍進”這個詞好，毛澤東就表揚，說應該得什麼獎，說功勞很大，很有氣派，“大躍進”這個詞提得好。周恩來馬上找出來，說這段話是他在哪一年最早說的，（並把有關依據）獻給了毛澤東。毛澤東馬上批示讓大家看。周恩來也是爭“大躍進”這個詞的。</p>
					<p class='commentary'><span class='speaker'>解說：</span> 在“七千人大會”上，周恩來說：“主觀上的錯誤，要著重講違反毛澤東思想，個別情況是我們供給的材料、情況有問題，不能叫毛主席負責。……過去幾年是浮腫，幸虧主席糾正得早，否則栽得跟頭更大，要中風。……主席早發現問題，早有準備，是我們犯錯誤，他一人無法挽住狂瀾。現在要全黨一心一德，加強集中統一，聽‘艄公'的話，聽中央的話，中央聽毛主席的話。”最後一天他又說：“‘三面紅旗'經過實踐的考驗，證明是正確的。……我們的缺點和錯誤雖然嚴重，但是，它是屬於執行中的具體政策和具體工作的問題，不是‘三面紅旗'本身的問題。缺點和錯誤，恰恰是由於違反了總路線所確定的正確方針，違反了毛主席的許多寶貴的、合乎實際而又有遠見的意見才發生的。”</p>
					<p><span class='speaker'>李肅：</span> 周恩來在“大躍進”過程中一直都是積極支持的？</p>
					<p><span class='speaker'>楊繼繩：</span> 自從“馬鞍形”以後，他就支持。整個領導集團都支持“大躍進”，不是毛澤東一個人的行為，當然，毛澤東是為首的，其他人沒有人反對，除了彭德懷很溫和地反對以外，沒人反對。</p>
				</section>

				<section epub:type="subchapter" id="part5">
					<h2><%= chapter_title[46] %></h2>

					<%- photo[8] %>

					<%- photo[9] %>

					<p><span class='speaker'>李肅：</span> 林彪是在“廬山會議”之後再次崛起的。在那之前，他淡出公共視線好一段時間，一直在養病。從朝鮮戰爭開始直到“廬山會議”，林彪基本是在休養。</p>
					<p><span class='speaker'>楊繼繩：</span> 他在“廬山會議”以前，在1958年或者1959年好像就提了軍委副主席，後來又取代了彭德懷的國防部長
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en9" id="ref9">（註9）</a>
					</sup>
					。“廬山會議”上，林彪表現得很突出。</p>
					<p><span class='speaker'>李肅：</span> 林彪在“廬山會議”上突出在什麼地方？</p>
					<p><span class='speaker'>楊繼繩：</span> 批彭德懷他調子最高嘛，說彭德懷是偽君子，甚至為了批判彭德懷把抗戰的功績都否定了，連他自己的“平型關大捷”
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en10" id="ref10">（註10）</a>
					</sup>
					也給否定了，都到了這個地步。</p>
					<p><span class='speaker'>李肅：</span> 林彪對“大躍進”的政策支持不支持？</p>
					<p><span class='speaker'>楊繼繩：</span> 他在“廬山會議”和“七千人大會”這兩個會議上的發言是唱了最高調。</p>
					<p class='commentary'><span class='speaker'>解說：</span> 在1962年舉行的“七千人大會”上，林彪說：“事實證明，這些困難，在某些方面，在某種程度上，恰恰是由於我們沒有照著毛主席的指示、毛主席的警告、毛主席的思想去做。如果聽毛主席的話，體會毛主席的精神，那麼，彎路會少走得多，今天的困難會要小得多。”</p>
					<p class='commentary'><span class='speaker'>林彪還說：</span> “我感覺到，我們同志對待許多問題，實際上經常出現三種思想：一種是毛主席的思想，一種是‘左'的思想，一種是右的思想。當時和事後都證明，毛主席的思想總是正確的。可是，我們有些同志，不能夠很好地體會毛主席的思想，把問題總是向‘左'邊拉，向‘左'邊偏，說是執行毛主席的指示，實際上是走了樣。”</p>
					<p>對於林彪的這番話，毛澤東鼓掌叫好。毛在林彪講話整理稿上批示：“（這）是一篇很好、很有份量的文章，看了很高興。”</p>
					<p><span class='speaker'>楊繼繩：</span> 周恩來也吹毛澤東，他們兩個人吹得最厲害。所以，我說“七千人大會”上毛澤東看到了，誰是我們的敵人，誰是我們的朋友，為文化革命的階級陣線打下了基礎。</p>
					<p><span class='speaker'>李肅：</span> 這跟“文革”期間周恩來沒有被打倒，林彪成為第二號領導人有沒有必然的聯繫？</p>
					<p><span class='speaker'>楊繼繩：</span> 如果沒有林彪、沒有周恩來，不可能搞“文革”。林彪當然是副統帥啊，周恩來是維持政府的蕭何
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en11" id="ref11">（註11）</a>
					</sup>
					。沒有蕭何，劉邦
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en12" id="ref12">（註12）</a>
					</sup>
					能站得住嗎？而且周恩來是整個中央專案組組長，劉少奇的案子都是他簽字，劉少奇幾個罪行都是他簽字。</p>
					<p><span class='speaker'>李肅：</span> 劉少奇的專案組的組長是周恩來，中央專案組的組長也是周恩來，都是他簽字啊！</p>
				</section>

				<section epub:type="subchapter" id="part6">
					<h2><%= chapter_title[47] %></h2></p>
					<p><span class='speaker'>李肅：</span> 1958年下半年饑荒已經出現了，到1959年饑荒就很嚴重了，當時已經餓死差不多有上千萬人了。“廬山會議”是在這種嚴重的情況下召開的。“廬山會議”結束後，原來計劃的“反左糾偏”非但沒做，反而要繼續“大躍進”，結果餓死的人更多了。是否可以這樣認為，中共高層在“廬山會議”上做出的錯誤決策使得這場大饑荒繼續擴大，嚴重惡化，最終導致幾千萬人失去了生命？</p>
					<p><span class='speaker'>楊繼繩：</span> 可以這樣說。</p>
					<p class='commentary'><span class='speaker'>解說：</span> 農民缺糧，毛澤東顯然對這個情況是清楚的。但他提出的解決辦法是讓農民吃糠咽菜。1959年7月5日，毛澤東在“廬山會議”期間指示說：“告訴農民，恢復糠菜半年糧”。“忙時多吃，閒時少吃，有稀有乾，糧菜混吃”。</p>
					<p><span class='speaker'>楊繼繩：</span> “廬山會議”也說明了這一點，就是一人說了算，決策是一個人。他們這些人，包括元帥、將軍在內，在戰爭年代的槍林彈雨中，他們不怕死。在敵人的嚴刑拷打下，他們不怕死。但他們成為極權制度的高官以後，有的變成了綿羊，有的變成了鷹犬。為什麼？過去他們面對的是他們認為的邪惡的敵人。即使死了，他們還可以名垂千古。現在，他們面對他們認為是正確的領導，是偉大的領導者。他們要是死了，就會遺臭萬年。更何況他們還有家小，還有妻子、孩子，還有龐大豐厚的利益。我是這麼寫的：在極權制度下，昔日英雄都成了奴才或者鷹犬。</p>
					<p>明尼蘇達諾曼岱社區大學教授、中共黨史專家<span class='speaker'>丁抒：</span> “黨內的高層人物都讓一根無形的繩索綁著，唯恐一失足便永遠不得翻身。他們怕被黨拋棄。正如張聞天在‘廬山會議'上的發言中說的，‘被共產黨殺頭還要遺臭萬年'。他們都放棄道德勇氣，以服從毛澤東為第一原則。比如廣東省委第一書記陶鑄就勸總參謀長黃克誠
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en13" id="ref13">（註13）</a>
					</sup>
					說，‘你要承認反黨。你不承認反黨，大家通不過。我們作為一個黨員對於黨的忠誠就等於舊社會一個女人嫁了人一樣，一定要從一而終'。”</p>
					<p class='commentary'><span class='speaker'>解說：</span> 1959年“廬山會議”之後，中共中央要求各地提高糧食徵購指標，對農民強行徵購。由於農村糧食短缺，一些官員認為農民隱瞞了糧食產量，因此，開展了“反瞞產”鬥爭。1959年1月27日，廣東省主管農業的省委書記趙紫陽
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en14" id="ref14">（註14）</a>
					</sup>
					向中共中央報告說，目前農村有大量糧食，糧食緊張完全是假象，是生產隊瞞產造成的。要對瞞產幹部進行處分，甚至法辦。毛澤東批示說：“（這）在全國是一個普遍存在的問題，必須立即解決。”</p>
					<p class='commentary'>前中國國家新聞出版署署長杜導正
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en15" id="ref15">（註15）</a>
					</sup>
					在趙紫陽被罷黜和軟禁之後整理的回憶錄《改革歷程》一書的序中說：“趙紫陽說他過去很左，確實。在反右派
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en16" id="ref16">（註16）</a>
					</sup>
					、公社化
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en17" id="ref17">（註17）</a>
					</sup>
					、大躍進、反右傾、農村社教
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en18" id="ref18">（註18）</a>
					</sup>
					等等極左性質的運動中，他並不消極。”</p>
					<p><span class='speaker'>楊繼繩：</span> 反瞞產，反私分，按說趙紫陽是立了一大功，不過是反面的。</p>
				</section>

				<section epub:type="subchapter" id="part7">
					<h2><%= chapter_title[48] %></h2>

					<%- photo[10] %>

					<%- photo[11] %>

					<%- photo[12] %>

					<%- photo[13] %>

					<%- photo[14] %>

					<%- photo[15] %>

					<p class='commentary'><span class='speaker'>解說：</span> 四川、安徽、河南、湖南和山東是大饑荒期間餓死人最多的幾個省，然而這些省份當時的省委書記基本沒有受到嚴厲的處置。</p>
					<p class='commentary'>四川省是大饑荒中餓死人最多的省份，大約為1000萬人。當時擔任中共四川省委第一書記的李井泉1958年晉升為中共中央政治局委員。在大饑荒期間的1960年，李井泉出任中共西南局第一書記。“大饑荒”之後的1965年，李井泉擔任中國全國人大副委員長。</p>
					<p class='commentary'>安徽省在大饑荒年代餓死500-600萬人。在大饑荒期間的1960年，中共安徽省委書記曾希聖還兼任了中共山東省委第一書記。1962年，曾希聖調任中共華東局第二書記。 1965年，曾希聖調任中共西南局書記處書記。</p>
					<p class='commentary'>河南省在大饑荒期間餓死大約300萬人。中共河南省委第一書記吳芝圃在1961年7月轉任中共河南省委第二書記，一年後調任中共中南局書記處書記，沒有降級。</p>
					<p class='commentary'>山東省在大饑荒期間餓死大約300萬人。該省省委第一書記舒同
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en19" id="ref19">（註19）</a>
					</sup>
					在山東問題暴露後被降職為縣委書記，但不久，在1963年，就被調任陝西省委書記處書記。</p>
					<p class='commentary'>湖南省大饑荒期間餓死248萬人。張平化1959年出任中共湖南省委第一書記，1960年10月任中共中南局書記處書記。1966年6月，張平化擔任中共中央宣傳部常務副部長，其後曾經先後擔任過中共山西省委書記和中共中央宣傳部部長等職。</p>
					<p class='commentary'>湖北省在大饑荒時期餓死100多萬人，中共湖北省委書記王任重從1960年開始擔任中共中南局第二書記。“文革”結束後，王任重曾經先後擔任國務院副總理和全國人大副委員長。</p>
					<p class='commentary'>除省委書記以外，地委書記以下的有關官員很多也沒有被追究責任。《麥苗青菜花黃--大饑荒川西紀事》一書的作者王東渝舉例說，溫江地委書記宋文彬等四川幾個饑荒為最嚴重地區的地委負責人當年都沒有受到懲處，只是後來才作了檢討。</p>
					<p class='commentary'>他說：“李井泉都沒有追究責任，他還能追究責任嗎？李井泉都沒事了。檢討是做檢討，但是，官照當啊。你說不對，但是當時的政治環境就是那麼回事。主要的原因是毛澤東，毛澤東沒有因此而下台。“大躍進”搞完了他還搞“文革”，他搞得更厲害。”</p>
					<p><span class='speaker'>李肅：</span> 那麼在這場大饑荒的結局當中，幾千萬中國人餓死了，中央的決策起了重大的作用，造成了巨大的災難。結果在中央的決策層難道沒有人來承擔責任嗎？</p>
					<p><span class='speaker'>楊繼繩：</span> 沒人負責。那個時候，毛澤東是主要領導者，他也自己承認是始作俑者。他應該負責任。其實也不是他個人，其他人都附合他，都同意他，沒人公開反對他，是集體領導。在這個問題上是集體責任。但毛澤東責任更大。他地位擺在那兒，從革命年代開始，他的地位已經變成神的地位，再沒有第二個人能夠撼動他的地位，所以只能如此。</p>
					<p>他是馬克思加秦始皇啊。他雖然是最後的皇帝，但他比歷代的皇帝權力更大，控制的資源更多。秦始皇才能控制多少資源呢？他有多少財富，多少軍隊？毛澤東有多少資源？控制的資源沒有哪個皇帝能有他多，沒有哪個皇帝有他的威望高。他還統治了那麼多年。所以，一切以他的是非為是非，以他的界限為界限。</p>
					<p><span class='speaker'>李肅：</span> 實際上這件事情在那個時候沒有人承擔責任，幾千萬人死了沒有人承擔責任。</p>
					<p><span class='speaker'>楊繼繩：</span> 沒有人承擔責任。</p>
					<p><span class='speaker'>丁抒：</span> 中國農村餓死了幾千萬人，對此中央高層都知道。可毛澤東是不在乎的。在1961年9月廬山工作會議上，毛澤東曾經說過，“錯誤就是那麼一點，有什麼了不得？人哪能不犯錯誤？人不犯錯誤，天誅地滅。”他後來還對他的侄子毛遠新
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en20" id="ref20">（註20）</a>
					</sup>
					這樣說過,“任何時候我都不下罪己詔。”</p>
					<p class='commentary'><span class='speaker'>解說：</span> 被譽為中國改革開放總設計師的鄧小平在1980年4月曾經說：“‘大躍進’，毛澤東同志頭腦發熱，我們不發熱？劉少奇同志、周恩來同志和我都沒有反對，陳云同志沒有說話。在這些問題上要公正，不要造成一種印象，別的人都正確，只有一個人犯錯誤。這不符合事實。中央犯錯誤，不是一個人負責，是集體負責。”然而，時至今日，這個“集體”並沒有因為這場大饑荒而受到任何懲罰和追究。中國共產黨對“大躍進”時期非正常死亡的數千萬人既沒有公開謝罪，鞠躬下台，也沒有向災難遇難者提供任何賠償。</p>
					<p><span class='speaker'>李肅：</span> 直到現在，中國的領導層對於這件事情還沒有對中國人民做出任何道歉？</p>
					<p><span class='speaker'>楊繼繩：</span> 沒有任何道歉，而且沒有追究原因，只是說蘇聯逼債，蘇聯撕毀合同，三年自然災害，政策失誤，以及有關基層幹部怎麼壞。不過，最後一個說法現在不提了。</p>
				</section>

				<section epub:type="subchapter" id="part8">
					<h2><%= chapter_title[49] %></h2></p>
					<p><span class='speaker'>李肅：</span> 在這十幾年的採訪調查過程中，您有沒有遇到任何障礙和阻力？</p>
					<p><span class='speaker'>楊繼繩：</span> 障礙很多，比如我去貴州採訪，拿著新華社的介紹信，還拿著新華社貴州分社的介紹信，貴州分社採編主任，也就是總編輯，陪著我，開車去檔案館。檔案館當時看到我們的介紹信很熱情接待。一般是先看目錄，看了目錄我抄了幾十項下來。抄下來以後，管事的女孩子說需要找館長請示，館長說這事他作不了主，要找省裡廖副秘書長批一下。</p>
					<p><span class='speaker'>李肅：</span> 廖副秘書長是誰啊？</p>
					<p><span class='speaker'>楊繼繩：</span> 是省委副秘書長。貴州省委有個很大的院子，而常委在院子裡面有個小院子，我們就在常委院子裡，因為貴州朋友幫忙，否則我們進不去。省委廖副秘書長很熱情，請我們喝茶。他說這個事情他也作不了主，還得上樓去請示秘書長。過了20分鐘，秘書長下來說這個事情不好辦，還得請示中央辦公廳，是不是要向中央辦公廳請示一下啊？那怎麼能夠請示？請示不就完了嘛。我說，這樣吧，以後再來吧。我們就走了。</p>
					<p><span class='speaker'>李肅：</span> 您要查找的檔案是關於哪些方面的？為什麼還要請示中央辦公廳啊？</p>
					<p><span class='speaker'>楊繼繩：</span> 是關於某某地方的饑荒調查、某某地方的糧食調查、某某地方的生活狀況，這類的目錄。比如，遵義（餓死人）的調查，由中央和省委包括當時的統戰部搞了一些調查，他就不給我看。</p>
					<p><span class='speaker'>李肅：</span> 這些東西就是他們認為即使是上個世紀五十年代的東西，仍然是保密的？</p>
					<p><span class='speaker'>楊繼繩：</span> 對，都不讓看。</p>
					<p><span class='speaker'>李肅：</span> 為什麼呢？</p>
					<p><span class='speaker'>楊繼繩：</span> 其實就是有關檔案都蓋了“控制”兩個字。因為我是新華社記者，而且有介紹信，他說你看可以，但是必須簽字保證，不能外傳，不能引用。但我後來也引用了，當然冒著險了。</p>
					<p><span class='speaker'>李肅：</span> 在您採訪調查過程中，您有沒有告訴調查對像，或者採訪對像，或者檔案資料存放的地方關於您的調查目的，說您要寫一本大饑荒的書？</p>
					<p><span class='speaker'>楊繼繩：</span> 那當然是不行了，我說是為了調查中國糧食政策的演變，了解中國糧食問題的歷史和現狀。用途說是政策研究。當然不會說是大饑荒了，那肯定是不可能的。</p>
					<p><span class='speaker'>李肅：</span> 當時，您還是新華社的記者？</p>
					<p><span class='speaker'>楊繼繩：</span> 是的，還沒退休。</p>
					<p><span class='speaker'>李肅：</span> 如果是一個普通的學者到這個檔案館裡面去查這些檔案能查到嗎？</p>
					<p><span class='speaker'>楊繼繩：</span> 看不到。象南京檔案館也開放。我去看時還有一個日本人也在看。過去的民國啊、歷史啊，都可以看，但真正現狀你看不見。</p>
					<p><span class='speaker'>李肅：</span> 就是說1949年以後的事情不准看。</p>
					<p><span class='speaker'>楊繼繩：</span> 1949年以後重大的事件，都不讓看。現在不是講檔案三十年（解密）嘛，其實他還留了很多口子，說除了什麼什麼之外，都可以看。關鍵檔案就在所說的“什麼什麼”那裡了。</p>
					<p><span class='speaker'>李肅：</span> 除了查檔案遇到阻力，還有其它的阻力嗎？</p>
					<p><span class='speaker'>楊繼繩：</span> 比如，1960年到中央派到河南和安徽調查的幾個人，我找了四、五個人，只有一個人願意跟我談，一個老首長，現在是中紀委副主任的待遇吧，八、九十歲，耳朵也很聾，跟我談了幾次，另外幾個人就不願意談，害怕。</p>
					<p><span class='speaker'>李肅：</span> 害怕什麼呢？</p>
					<p><span class='speaker'>楊繼繩：</span> 問題太敏感，你談這麼敏感的問題幹什麼？過去的事情太苦了。</p>
					<p><span class='speaker'>李肅：</span> 在您出版這本書以後，官方有沒有反應，比如找你談話什麼的？</p>
					<p><span class='speaker'>楊繼繩：</span> 官方沒找過我。但《墓碑》在大陸是禁書。大陸讀者在香港買的《墓碑》海關查出來就沒收銷毀。武漢市教育局下發通知，令各單位收繳反動、黃色書刊，《墓碑》名列其中。我大概是上了“黑名單”，主流媒體不發我的文章。我去大學演講，有的可以，比如去師範大學。北師大講個題目，開始安排了一個大教室。</p>
					<p><span class='speaker'>李肅：</span> 哪個師大？</p>
					<p><span class='speaker'>楊繼繩：</span> 北京師範大學。後來說學校干擾，換成小教室，後來又換成到外面飯館裡面講。</p>
					<p><span class='speaker'>李肅：</span> 您說干擾是誰干擾？</p>
					<p><span class='speaker'>楊繼繩：</span> 說是上面，系總支。不知道誰干擾，反正說是學校干擾。我在北京政法大學研究生院講另外個題目，說下個題目到市郊給本科學生講，後來又通知說，楊老師，現在不能講了，學校上面不同意。這樣的事情也有。</p>
					<p><span class='speaker'>李肅：</span> 您在前面講的題目是這個題目嗎？</p>
					<p><span class='speaker'>楊繼繩：</span> 前面講的是改革開放的事情。</p>
					<p><span class='speaker'>李肅：</span> 不是這個題目。那麼，第二個就應該是這個題目。</p>
					<p><span class='speaker'>楊繼繩：</span> 講這個題目，主持人就說，楊老師，下面就別講了，以後再說吧。那就知道是上面通知不能講了嘛。</p>
					<p>結束語：大饑荒過去半個多世紀了，當局依然嚴格禁止人們研究和討論這個中華民族歷史上最大的一場災難，楊繼繩先生至今也不能在發生那場災難的土地上自由地把他的研究成果講述給那裡的人民。中國有句古話“前事不忘，後事之師”。如果只是一味地要把那場災難從人民的記憶中抹去，中華民族又如何能夠防止歷史的重演？</p>
				</section>
			</section>
