			<section epub:type="chapter" id="start">
				<h1><%= chapter_title[0] %></h1>
				<h2>採蕭雨  杜林 昱杉 李肅</h2>

				<blockquote class="pullout"><%= global.book.meta[book].description %><!-- 迫害劉少奇是周最大的污點；林彪當副帥是周舉薦的；周與鄧，盟友還是對手；批朱德毫不容情，稱其“定時炸彈”；挺身保陳毅，為陳也為己；賀龍倒台的真相；一份檔案把紀登奎嚇出一身冷汗 --></blockquote>

				<%- photo[1] %>

				<%- photo[2] %>

				<%- photo[3] %>

				<%- photo[4] %>
				
				<%- photo[5] %>

				<p class='commentary'><span class='speaker'>解說：</span> 1969年11月12日，中國國家主席劉少奇在河南開封的一間陋室裡孤獨、淒慘地死去，死得無聲無息。他的屍體被秘密火化，火化單上的名字是“劉衛黃”，職業一欄裡填的是“無業”。</p>
				<p class='commentary'>就在一年前的1968年10月，中國共產黨八屆十二中全會批准了《關於叛徒、內奸、工賊劉少奇罪行的審查報告》，將這位中共副主席、毛澤東親自選定的第一位接班人“永遠開除出黨，撤銷其黨內外一切職務”。這份報告宣布了劉少奇“政治生命”的終結，同時也為對這個“黨內頭號走資派”實施各種人身迫害提供了政治依據。</p>
				<p class='commentary'>需要說明的是，宣讀和起草這份置劉於死地的報告的人，不是後來被官媒描述為張牙舞爪的文革派“四人幫”的成員，也不是被中共定位在“叛國投敵”的“林彪反黨集團”的成員，而是眉濃目明、和藹可親的“人民的好總理”周恩來。他是劉少奇專案審查工作的總負責人。</p>
				<p><span class='speaker'>李肅：</span> “文革”的時候，毛澤東要打倒劉少奇，周恩來是個什麼態度？</p>
				<p><span class='speaker'>高文謙：</span> 開始，毛並沒想把劉少奇像在“九大”的時候那樣給搞死。一開始只是想把他從接班人的位子上拿下來，從第二號下降到第八號。周那時候還都是保劉的，因為毛那時候也講，劉、鄧是人民內部矛盾嘛。</p>
				<p class='commentary'><span class='speaker'>解說：</span> 1966年8月1日到12日，中共中央召開八屆十一中全會，決定開展文化大革命，同時劉少奇在黨內的地位由第二位下滑到第八位。不過，劉少奇還保留著中共中央政治局常委和國家主席的職位。毛澤東儘管在8月5日發表了《炮打司令部─我的一張大字報》，矛頭直指劉少奇，但此後他也曾制止張貼劉少奇的大字報。毛澤東在1966年八次接見紅衛兵，劉少奇都參加了。11月3日接見時，毛澤東在天安門城樓上還特別走到劉少奇跟前，詢問了他的工作、生活情況。</p>
				<p class='commentary'>在這期間，周恩來的確有保護劉少奇的言行。例如，周恩來在1967年初曾經告誡造反派說：“不要揪人，劉少奇、鄧小平也不能揪。劉、鄧、陶（鑄）
				<sup epub:type="rearnote">
					<a href="backmatter.xhtml#en4" id="ref4">（註4）</a>
				</sup>
				是中央常委，我還得保。”</p>
				<p>但在毛澤東下決心要徹底打倒劉少奇以後，周恩來對劉少奇的態度發生了180度的變化，從“保”變為“打”了。</p>

				<section epub:type="subchapter" id="part1">
					<p><span class='speaker'>高文謙：</span> 毛就著手查劉少奇的歷史問題。一旦坐實歷史問題，定為叛徒，劉少奇就是敵我矛盾了。只有這樣，才能對黨內外有一個交待，證明文化大革命是完全必要的和非常及時的。</p>
					<p>毛下決心要拋棄劉的時候，周的態度就變了。周當時是中央專案審查委員會（簡稱“中央專案組”）主任。這個委員會是在1966年5月政治局召開擴大會議，打倒“彭羅陸楊” 的時候成立的，任務是專門審查他們四個人。</p>
					<p class='commentary'><span class='speaker'>解說：</span> “彭羅陸楊”指的是當時被打倒的中共北京市委書記，政治局委員彭真、解放軍總參謀長兼公安部長羅瑞卿、中宣部部長陸定一和中共中央辦公廳主任楊尚昆。“彭羅陸楊”專案組後來改名為中央專案組。該機構直屬政治局常委會領導，向毛澤東負責，專門負責審理高級官員的案子，擁有很大的權力。鼎盛時，其規模達數千人。“文革”結束以後，也就是在1979年，這個機構被解散了。周恩來生前一直是中央專案組的總負責人，並且兼任劉少奇專案組組長。</p>
					<p><span class='speaker'>李肅：</span> 那麼在這個過程中，周恩來發揮了什麼作用呢？</p>
					<p><span class='speaker'>高文謙：</span> 劉案的審理是在江青的直接指導下進行的，但周有參與，而且，周是江青的上級。江青把材料搞出來之後，送到周那裡，由周最後認可。</p>

					<%- photo[6] %>

					<p class='commentary'><span class='speaker'>解說：</span> 中共黨史專家司馬清揚在《周恩來與林彪》
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en5" id="ref5">（註5）</a>
					</sup>
					一書中寫道：劉少奇專案組成立之後，所有關於劉少奇的罪證材料能否上報都是由劉少奇專案組組長周恩來決定的。沒有周恩來的同意，這些材料根本上報不了。</p>
					<p class='commentary'>司馬清揚還引述“文革”史專家王年一
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en6" id="ref6">（註6）</a>
					</sup>
					的話說，送給毛澤東看的只是那些可以證明劉少奇有罪的“人證、物證”，而證明劉少奇無罪的人證和物證卻不送給毛看。對毛要打倒的人，周恩來總是可以遞上毛希望看到的材料。</p>
					<p class='commentary'>1968年9月25日，周恩來向毛澤東和林彪提交了關於劉少奇的審查報告。</p>
					<p><span class='speaker'>高文謙：</span> 我看的檔案材料——上送給中央的劉少奇問題審查報告——是周恩來親自起草的。是周、陳伯達
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en7" id="ref7">（註7）</a>
					</sup>
					、康生
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en8" id="ref8">（註8）</a>
					</sup>
					、江青四個人聯名向毛、林報告的。周在這個報告裡親筆寫了“劉賊”，給劉戴了五頂帽子。</p>
					<p class='commentary'><span class='speaker'>解說：</span> 周恩來在劉少奇的“罪證材料”上做了一大篇批示。他寫道：“劉賊是大叛徒、大工賊、大內奸、大特務、大漢奸，真是五毒俱全、十惡不赦的反革命分子！ ”</p>
					<p class='commentary'>“我們要首先歡呼我們偉大領袖毛主席親自發動和領導的這場無產階級文化大革命。沒有這種大革命，怎麼才能把劉賊及其一夥人的叛黨賣國、殺害同志的罪狀，挖得這樣深、這樣廣？ ”</p>
					<p class='commentary'>據司馬清揚在《周恩來與林彪》一書中透露：“在上個世紀​​八十年代擔任中共中央組織部常務副部長的李銳
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en9" id="ref9">（註9）</a>
					</sup>
					說：大約在1983年至1984年間，中​​組部奉命銷毀一大批檔案材料。在銷毀之前，中組部部長陳野蘋
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en10" id="ref10">（註10）</a>
					</sup>
					讓李銳看了一個原屬於劉少奇專案組的絕密件。這個絕密件中有兩份原稿，都對劉少奇的問題做了結論。其中一份是由江青主持草擬的，一份是由周恩來主持草擬的。由周恩來主持草擬的那份結論共有四條，是周恩來親筆寫的。比較起來，周恩來給劉少奇定的罪名，要重於江青給劉少奇定的罪名。中共八屆十二中全會關於劉少奇問題的決議，基本上就是按周恩來所親筆擬出的那個結論來定調子的。”</p>
					<p><span class='speaker'>李肅：</span> 作為中央專案審查委員會的負責人，對於劉少奇的這個案子，他最後下的批示，他起草的這個東西，有沒有落井下石之嫌？</p>
					<p><span class='speaker'>高文謙：</span> 劉本身已經落難了，從毛的接班人已經成了階下囚，你還要用偽證，在政治上宣判劉少奇的死刑。這本身就是一種落井下石。</p>
					<p>如果說周恩來在“文革”中有很多污點的話，他審理“劉案”，最後代表中央作“劉案”的審查報告，而且親筆寫的那些話，就是他最大的一個污點。</p>
					<p><span class='speaker'>李肅：</span> 劉少奇的夫人王光美對周恩來怎麼看？</p>
					<p><span class='speaker'>高文謙：</span> 王光美剛從秦城監獄裡出來的時候，她對外界的很多情況不暸解，因此她的兒女們，劉源
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en11" id="ref11">（註11）</a>
					</sup>
					啊，劉平平
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en12" id="ref12">（註12）</a>
					</sup>
					啊，寫過一篇紀念他父親的文章。在這篇文章的最後部分，王光美說：“總理，你真好。”這是在王光美不暸解情況的時候。到王光美出來之後，暸解了很多情況。她對周，我聽說，意見就很大。90年代，國內有一部周恩來的電影，講周恩來在“文革”中，是王鐵成主演的。王光美全家拒絕觀看。</p>
				</section>

				<section epub:type="subchapter" id="part2">
					<h2><%= chapter_title[2] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span> 周恩來到底為什麼沒有對落難的劉少奇施以援手，反而落井下石？其真實原因我們也許永遠不會知道。劉少奇之死發生在被稱為“十年浩劫”的文化大革命開始後的第三年，成為“文革”中最大的冤案。劉少奇被打倒後，林彪取而代之，成為中共黨內排名第二的領導人。</p>
					<p><span class='speaker'>李肅：</span> 周恩來的地位在歷史上一直是在林彪之上，在黨內是這樣，在軍內也是這樣。到了“文革”，林彪躍升為毛的接班人，成了第二號人物，周變成了他的下級。周是如何適應這個因位置轉換而產生的巨大心理落差呢？ </p>
					<p><span class='speaker'>高文謙：</span> 周這個人的組織紀律觀念非常強。一旦黨定了什麼事情，他就會去照辦。黨做出什麼決定，他會服從。所以，在“文革”中，林的地位一經確定，他就非常注意處理好他跟林的關係。</p>
					<p class='commentary'><span class='speaker'>解說：</span> 1966年，在中共決定開展“文革”的八屆十一中全會上，毛澤東親自擬定政治局常委候選人名單，把林彪列在第二位。當時，包括林彪在內，中共有五位副主席。為了突出林彪的副統帥和接班人地位，周恩來主動提出不再提及自己中共中央副主席的頭銜，從而也避免提及其他幾位副主席的頭銜，讓林彪成為唯一的副主席。周恩來曾經在“文革”初期多次公開自豪地提及這件事，說林彪“是活學活用毛澤東思想最好，跟毛主席跟得最緊的，我推薦他為副統帥”。</p>
					<p class='commentary'>1969年4月，中共召開“九大”，林彪的接班人地位被寫入《中國共產黨章程》。當時毛澤東有意讓周恩來也擔任副主席，但被周婉拒，為的是突出林彪的接班人地位。周恩來在4月14日的全體會議上說：“我們不僅為著我們偉大領袖，當代最偉大的馬克思列寧主義者毛主席而感到無限幸福，我們還為有了眾所公認的毛主席的接班人，林副主席而感到很大幸福。”</p>
					<p class='commentary'>此外，周還修改朱德和毛澤東在井崗山會合，建立“朱毛紅軍”的歷史，把中共南昌暴動中只是一個連長的林彪說成是率領部隊與毛澤東會師的領導人。他說：“林彪同志南昌起義失敗後，帶領部隊上井崗山，一直在毛主席身邊戰鬥。所以，我說南昌起義的光榮代表應該是林彪同志。”</p>

					<%- photo[7] %>

					<p><span class='speaker'>高文謙：</span> 周在寫報告的時候，都是毛、林並列。每天晚上寫到半夜三更，多少年就這麼寫下來，從1966年一直寫到1971年。</p>
					<p>林彪事件之後有個小插曲。林彪已經摔死了，周恩來一晚上沒睡覺，還要給毛、林寫報告。報告裡面是寫給毛的，但信封上卻還寫著“毛主席，林副主席”。這個筆誤讓周嚇出一身冷汗。他特意把他的小秘書紀東給叫過來說：“你看看，我犯了這麼個錯誤，你以後要替我來把關啊。 ”</p>
					<p>實際上信根本就沒有送出去。你從這個事情就可以看出來，他已經習慣了。</p>
					<p class='commentary'><span class='speaker'>解說：</span> “文革”史專家宋永毅
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en13" id="ref13">（註13）</a>
					</sup>
					說，周恩來和林彪的關係好過他和毛澤東的關係。林彪當年的“四大金剛”之一、前解放軍副總參謀長兼總後勤部部長邱會作
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en14" id="ref14">（註14）</a>
					</sup>
					的兒子程光
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en15" id="ref15">（註15）</a>
					</sup>
					曾經回憶說，林彪一再關照他下面的“四大金剛”和葉群，要在中央文革碰頭會上與周恩來合作。這是林彪特地關照多次的。林說，“周恩來就代表我。”</p>

					<%- photo[8] %>
					
					<p><span class='speaker'>高文謙：</span> 林彪是中共打下紅色江山的頭號功臣，但是建國以後就閉門養病了。周利用總理職務之便，經常去看望，關照，問候。周去看林彪時，林彪每次都把周送到大門口，也是表示對周的尊重吧。</p>
					<p>林彪事件之後，從毛家灣抄出不少周和林彪之間的書信和照片，最後都被汪東興
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en16" id="ref16">（註16）</a>
					</sup>
					送給周，周一把火都給燒了。</p>
					<p><span class='speaker'>李肅：</span> 在政治上周恩來和林彪曾經是盟友嗎？</p>
					<p><span class='speaker'>高文謙：</span> 兩個人一文一武，共同支持毛發動“文革”，那時候江青還沒有成氣候。</p>
					<p class='commentary'><span class='speaker'>解說：</span> “文革”初期，林彪和江青同屬文革派，協助毛澤東鬥倒了以劉少奇為首的“走資派”。之後，雙方矛盾日益增多。到1970年8月舉行中共中央九屆二中全會的時候，兩派關係已經相當緊張。林彪在會上沒有點名地批評了“四人幫”主要成員張春橋
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en17" id="ref17">（註17）</a>
					</sup>
					，得到與會者的廣泛支持，給張春橋等文革派造成了很大的壓力。毛澤東沒料到“文革”如此不得人心，非常惱怒。毛後來說，“他們名為反張春橋，實際上反我。”毛發動反擊，以文革小組組長陳伯達為突破口，開展“批陳整風”，震懾林彪。毛澤東和林彪這兩個政治盟友的關係自此開始交惡。</p>
					<p><span class='speaker'>李肅：</span> 在毛澤東和林彪關係惡化的過程中，周扮演了什麼角色？</p>
					<p><span class='speaker'>高文謙：</span> 周實際上是被夾在當中。</p>
					<p><span class='speaker'>李肅：</span> 左右為難？</p>
					<p><span class='speaker'>高文謙：</span> 左右為難。在一開始的時候，周還試圖和稀泥。</p>
					<p><span class='speaker'>高文謙：</span> 但毛這個人是這樣的人，不得罪人則已，一得罪人，就得罪到底。一開始是集中對付陳伯達。陳伯達那時還要保留中央委員呢，後來，就根本關到秦城監獄裡去了。接著矛頭就轉到黃、吳、葉、李、邱，敲山鎮虎，逼林彪出來作檢討。</p>
					<p><span class='speaker'>李肅：</span> 但林彪一直拒絕做檢查，是不是？</p>

					<%- photo[9] %>

					<%- photo[10] %>

					<p><span class='speaker'>高文謙：</span> 毛對林彪之所以非常惱火，之所以抓住黃、吳、葉、李、邱不放，就是因為林彪不檢討。林彪也看得非常清楚，一旦檢討，事情就沒完沒了，等於你輸了理了。實際上，林彪在廬山會議上沒有做錯什麼事情，他在廬山會議上的講話，不指名地點張春橋，事先都和毛打過招呼的，兩個人在小會議室裡，開會前。結果呢，沒想到林彪這麼一講話，在全會上引起的反響非常大，所有人都說，林副主席講得好，包括四方面軍的人，毛是非常看重的，如許世友
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en18" id="ref18">（註18）</a>
					</sup>
					、陳錫聯
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en19" id="ref19">（註19）</a>
					</sup>
					等。他們在林彪講完話後走過去跟林彪握手。8月25號，江青帶著張春橋、姚文元到毛主席那兒，緊急求見毛。張、姚都下跪啊，大哭，據說都把毛的褲腿兒都哭濕了。</p>
					<p><span class='speaker'>高文謙：</span> 周的本意是希望毛、林不要（對抗），最好能夠緩和下來。這樣，大家就可以共同搞經濟建設，但毛那個時候已經決心要和林彪分道揚鑣了。</p>
					<p class='commentary'><span class='speaker'>解說：</span> 1971年9月13日，一架中國的三叉戟式飛機在蒙古溫都爾汗附近墜毀。機上包括林彪、葉群夫婦、兒子林立果在內的八男一女全部喪生。這就是震驚中外的“九•一三事件”。至此，毛澤東親手扶植起來的第二位接班人也被他親手打倒了。</p>

					<%- photo[11] %>

					<%- photo[12] %>

					<p><span class='speaker'>李肅：</span> 在林彪出事以後，周恩來對林彪的子女是怎麼對待的？</p>
					<p><span class='speaker'>高文謙：</span> 林彪的子女實際上就剩下一個林豆豆（林立衡
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en20" id="ref20">（註20）</a>
					</sup>
					）。林立果已經（跟父母）一塊兒摔死了。中央對林立衡的待遇前後是不一樣的，開始時讓林立衡住在玉泉山，中央文件說她是立了功的，但很快就對她立案審查了。</p>
					<p>林立衡在高壓下，講了好多林彪說毛的黑話。有一句話是比較要害的：“毛主席身邊也有葉群那樣的人。”你想想，大家都知道“葉群“指的是誰？很清楚。從那以後，林立衡的處境就大壞了。</p>
					<p>這期間，林立衡專門給毛寫過信，要求跟毛面談。毛把這封信批給了周恩來。周一見林立衡，劈頭蓋臉就是一句話：“你一個小孩子家，胡亂寫什麼呢？我都看不懂。 ”</p>
					<p>你說林彪說毛的黑話，“毛主席身邊也有葉群這種人”，周會看不懂？聽不懂？他說他聽不懂。</p>
				</section>

				<section epub:type="subchapter" id="part3">
					<h2><%= chapter_title[3] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span> 林彪的出走和周恩來勢力的擴張讓毛澤東深感不安。這個時候他想起了遠在千里之外的“黨內第二號走資派”鄧小平
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en21" id="ref21">（註21）</a>
					</sup>
					。鄧曾經是毛屬意培養的接班人之一，排名在劉少奇和林彪之後。劉林的倒台給鄧的復出提供了機會。當1973年3月10日中共中央向全黨發出恢復鄧小平黨組織生活和國務院副總理職務的通報的時候，全黨都為之震驚。中國官媒的大量文章把鄧的復出歸功於周恩來。但高文謙認為，這實際上是毛澤東在困境中走出的一步棋，一步用意很深的棋。</p>

					<%- photo[13] %>

					<%- photo[14] %>

					<%- photo[15] %>

					<p><span class='speaker'>李肅：</span>  鄧小平的複出，按照後來官方的說法，周恩來是發揮了很大作用的。周的作用真的很大嗎？</p>
					<p><span class='speaker'>高文謙：</span> 並非如此，實際上恰恰相反。鄧的復出是毛用鄧制約周的一招棋。林彪事件之後，周的勢力在上升，而且掌握實際權力，而毛的身體又不行了。毛考慮，制衡周，最好的辦法就是起用鄧。</p>
					<p class='commentary'><span class='speaker'>解說：</span> 毛澤東在打倒劉少奇的同時，卻對“劉鄧司令部”的二號人物鄧小平網開一面。 1968年，在開除劉少奇黨籍的中共八屆十二中全會上，毛澤東先後兩次為鄧小平講好話，說“不要開除黨籍，最好嘛，還能夠做點工作”。在另外幾個場合，毛澤東曾經幾次指示要把鄧小平和劉少奇區別對待，並且指示中共中央辦公廳主任汪東興直接管理鄧小平的事情，保護他的人身安全，為日後重新起用鄧埋下伏筆。</p>
					<p class='commentary'>在對待鄧小平的問題上，周恩來完全是按照毛澤東的旨意行事。1969年秋，鄧小平被發落到江西。周恩來事先打電話給江西的黨政領導人，過問對鄧小平一家的生活安排，還對他們說，鄧小平下去“是到農村鍛煉”。</p>
					<p class='commentary'>鄧小平的女兒鄧榕在回憶父親的書中說，鄧小平被送到江西的時候，江西省政府的辦公室主任親自接機，親切地稱鄧小平為同志，說“毛主席叫你來江西，我們非常歡迎”。鄧小平一家人在江西住的是原福州軍區南昌陸軍步兵學校少將校長的兩層小樓，被稱為“將軍樓”。鄧小平在一公里以外的新建縣拖拉機修造廠“監督勞動”，廠內專門為他設立了一個休息室。在下放江西期間，汪東興還親自幫助鄧小平的女兒和兒子上了大學。</p>
					<p class='commentary'>“九•一三事件”後，毛澤東在1972年1月再次明確表示，鄧小平和劉少奇不一樣，是人民內部矛盾。8月14日，毛澤東對鄧小平的來信批示說“鄧小平同志沒有歷史問題”，“有戰功”，“沒有屈服於蘇修”。於是，周恩來於1972年12月18日要毛澤東的親信紀登奎
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en22" id="ref22">（註22）</a>
					</sup>
					和汪東興寫信提議恢復鄧小平的工作，再拿著這封信去請示毛澤東。1973年3月9日，毛澤東批示同意恢復鄧小平的黨組織生活和國務院副總理的職務。在同年8月舉行的中共第四次全國代表大會上，鄧小平再次成為中共中央委員。</p>
					<p><span class='speaker'>李肅：</span> 周恩來和鄧小平之間，究竟是盟友呢，還是對手？</p>
					<p><span class='speaker'>高文謙：</span> 毛的如意算盤最開始是想用鄧來制衡周，進而用鄧來取代周，以完成權力格局的轉換。這當然是在周病重之後了。但實際上，並沒有達到這麼一個作用。很快，周、鄧兩人就成為盟友了。</p>
					<p>為什麼能成為盟友呢？也和當時的政治環境有關。林彪事件之後，江青這一派坐大。周那時候在朝里面就他一個人。鄧出來之後，雖然毛是想讓鄧來制衡周，但周也有意識地做了鄧的工作。譬如說，鄧小平從江西回北京後，第一次見周，在玉泉山，周就跟他談了張春橋的問題。周說：“張春橋是叛徒，但主席不讓說。”</p>
					<p>以我對周的暸解，周不會輕易講這種話。但他要是看準了人，他會講，給鄧這樣講就是跟鄧交了心。換句話，這也是幫助鄧在復出後能夠更好地應付局面。當然，周和鄧之所以結盟，也和江青咄咄逼人有關。不斷地對鄧發難，把鄧也推到周的那一邊去了。</p>
					<p class='commentary'><span class='speaker'>解說：</span> 毛澤東讓鄧小平復出以後還曾經考驗過鄧小平對周恩來的態度。1973年11月到12月間，毛澤東為了壓制周恩來，指責周恩來在跟美國總統國家安全事務助理基辛格的談判中犯了“右傾投降主義”的錯誤，並指示政治局開會對周恩來展開批評。</p>
					<p><span class='speaker'>高文謙：</span> 江青把這個問題說成是第十一次路線鬥爭，上綱上得非常高，就等於周要（被）打倒了。周這個人就是這樣，你讓我檢討，我就去檢討。毛最後一看，也不想徹底把他整垮。但毛又想通過這個事情來敲打周，所以，選擇鄧列席政治局擴大會議。這是大有深意的。深意是什麼？就是通過這件事情來考驗鄧。</p>
					<p><span class='speaker'>李肅：</span> 考驗鄧對毛的忠誠度？</p>
					<p><span class='speaker'>高文謙：</span> 對，考驗對自己的忠誠度。其次，是看他對周是不是能下得去手？最後鄧就講了那一番話：總理啊，你這個人，別人跟主席都是可望而不可及。你呢，跟主席是可望又可及，只有一步之遙，今後希望你注意這個問題。</p>
					<p><span class='speaker'>李肅：</span> 警告他不要奪權？</p>
					<p><span class='speaker'>高文謙：</span> 對，警告他不要有非分之想。其實，這個事情對周是很冤枉了，周一輩子也沒有想過自己要當第一號人物，但毛始終對這個事情放心不下。這個話最後通過鄧的嘴講出
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en23" id="ref23">（註23）</a>
					</sup>
					：“小平同志發言沒有？”“還沒有。”又問王海容，（王說）“沒有”。最後聽說小平同志發言了，毛非常高興。這就等於在周、鄧之間打了一個楔子。</p>
					<p class='commentary'><span class='speaker'>解說：</span> 毛澤東得知鄧小平發言之後高興地說：“我知道他會發言的，不用交待也會發言的。”於是，1973年12月12日，毛澤東在中共政治局會議上宣布鄧小平擔任中共中央政治局委員和軍委委員。鄧小平再次進入中共最高決策圈。</p>
					<p class='commentary'>讓毛澤東始料不及的是，以江青為首的文革派與鄧小平發生了嚴重矛盾，使“文革”前關係並不密切的周恩來和鄧小平在“文革”後期結成了政治聯盟。</p>
				</section>

				<section epub:type="subchapter" id="part4">
					<h2><%= chapter_title[4] %></h2>
					<%- photo[16] %>

					<%- photo[17] %>

					<p class='commentary'><span class='speaker'>解說：</span> 朱德曾經是和毛澤東一起被中國人喊過“萬歲”的中國領導人。周恩來不僅是朱德的入黨介紹人，而且在中共南昌暴動中，周和朱都是主要領導人，周負責全面領導，而朱負責軍事指揮。</p>
					<p><span class='speaker'>高文謙：</span> 周與朱的關係是很好的。朱這個人與世無爭，而且資格很老，德高望重。周一向對他很尊重。周又是朱的革命引路人。當年旅歐的時候，周介紹他，朱德和孫炳文
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en24" id="ref24">（註24）</a>
					</sup>
					，就是孫維世
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en25" id="ref25">（註25）</a>
					</sup>
					的父親，在德國加入中共。所以，周和朱德兩人的相知是很深的。</p>
					<p class='commentary'><span class='speaker'>解說：</span> 1966年5月，毛澤東授意政治局開會批評朱德，主要針對他在“彭、羅、陸、楊反黨集團”問題上的消極態度。周恩來等朱德的老朋友、老戰友都在會上對朱做了不留情面的發言。</p>
					<p><span class='speaker'>高文謙：</span> 會上唱主角的是林彪。林彪講朱有野心，想當領袖。還有一個人唱得也非常高，是陳毅。陳毅講，朱德想黃袍加身。真是子虛烏有。朱德在建國後，長期賦閒在家。</p>
					<p><span class='speaker'>李肅：</span> 周恩來在批判會上是怎麼表現的？</p>
					<p><span class='speaker'>高文謙：</span> 周那個時候也跟著批，周跟林彪和陳毅所不同的是，把自己也擺進去了。周說：“我在歷史上就一直反毛。說到反毛，你朱德歷史上錯誤也非常多。你也多次反過毛。你是中央常委裡的‘定時炸彈’！ ”</p>
					<p class='commentary'><span class='speaker'>解說：</span> 周恩來在發言時指責朱德多次犯路線錯誤，“反對毛主席”。還教訓朱德說，“毛主席說過，你就是跑龍套，可是你到處亂說話。你要談話，得寫個稿子，跟我們商量。 ”“你是不可靠的，是不能信任的。”</p>
					<p><span class='speaker'>高文謙：</span> 這個話的份量也很重啊。那個會場上簡直是亂七八糟。從這裡你就可以看出中共高層政治生活是個什麼樣子。政治真是非常殘酷，完全失去了人性。其實，周跟朱的私交是非常好的，兩個人相識是非常深的，但在會上也是要指著鼻子這麼講：“你是中央常委的‘定時炸彈’。”你可以看到，這個共產黨裡面講黨性就沒辦法講人性。</p>
				</section>

				<section epub:type="subchapter" id="part5">
					<h2><%= chapter_title[5] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span> “文革”中的混乱局面使得人心惶惶，即使是中共高层的老干部们也感到岌岌可危，心中积累了很大的怨气和愤怒。這種情緒在1967年2月周恩來主持的懷仁堂碰頭會上突然爆發出來。会上怒火最大，发言最激烈的有两位副总理，一个是谭震林，再一个就是陈毅。</p>

					<%- photo[18] %>

					<p><span class='speaker'>高文謙：</span> 陳毅大鬧懷仁堂，這是“文革”中一個重要的關節點。陳毅講得最厲害。陳毅講到延安整風
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en26" id="ref26">（註26）</a>
					</sup>
					，影射林彪，而且還提到延安整風，涉及到毛。他的意思是說，延安整風的時候是他們這些人最擁護毛主席，劉、鄧、彭（真）、薄（一波）。現在歷史證明怎麼樣？挨整的都是我們這些人。</p>
					<p>事後，張春橋和王力兩個人對了筆記，向毛匯報大鬧懷仁堂的過程。毛一開始像听笑話似的，臉上還有笑容呢。但王力注意到，當陳毅講到延安整風的時候，毛的臉就變了。最後毛大怒啊，用江青的話說，“發無產階級之震怒”。就是說，你們還想翻延安整風的案，“你們把王明，把張國燾，把劉少奇都給請回來。陳毅，你當中央文革小組的組長，我和林彪重新上山打游擊去。”</p>
					<p><span class='speaker'>李肅：</span> 周恩來和陳毅的歷史淵源應該是很深了。</p>
					<p><span class='speaker'>高文謙：</span> 兩個人早在紅軍的時候就共事。建國以後，周和陳毅又同在外交系統，陳是周的左膀右臂。陳毅是個性情中人，豪爽，說話也幽默，因此周很喜歡他的個性。我當時在周恩來研究組的時候採訪過的一些周的老秘書說，在國務院這些副總理裡面，就是陳毅跟周走動得近。陳毅經常是不請自來，到西花廳就串門去了，招呼也不打。別人進西花廳，都要事先打個招呼。陳毅經常踱著步自己就過來了，兩人的關係還是不錯的。</p>
					<p>毛對整陳毅實際上並不是像對賀龍、對劉少奇、對彭真那樣，非要在政治上把他們剪除掉。毛那時又開始緩和了。懷仁堂會議是在2月份嘛，可到5月1號，（毛）又讓陳毅他們上了天安門，要表示團結吧。</p>
					<p class='commentary'><span class='speaker'>解說：</span> 1966年“文革”開始以後，陳毅在中國外交部受到批判。毛澤東當時的態度是，對陳毅既要批判，又要保護，即“一批二保”。1967年5月1日，在天安門城樓上，周恩來特別安排陳毅與毛澤東合影留念。毛當時對陳毅說：“我是保你的。”正因為如此，周恩來在保護陳毅的問題上也勇氣十足。他曾對要求批鬥陳毅的外事口造反派堅定地表示：“你們誰要攔截陳毅同志的汽車，我馬上挺身而出！你們誰要衝擊會場，我就站在人民大會堂門口，讓你們從我身上踏過去！”</p>
					<p><span class='speaker'>高文謙：</span> 毛自己說的就很清楚，當面對周講，點明了，陳毅一倒，你也就差不多了。所以，在1967年夏天，周為保陳而苦戰。周知道，他和陳毅的關係是一損俱損，保陳毅就是保自己。</p>
					<p class='commentary'><span class='speaker'>解說：</span> 不過，到1970年中共中央在廬山召開九屆二中全會的時候，毛澤東與周恩來的關係已經有了很大的變化。毛澤東為了保住文化大革命的地位，決定在林彪與張春橋之間的衝突中棄林保張。此時，周恩來成了毛倚重的唯一的主要力量，而周恩來對陳毅的態度也有了變化，周恩來已經不再需要陳毅這個“門戶”了。</p>
					<p class='commentary'>據司馬清揚著的《新發現的周恩來》
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en27" id="ref27">（註27）</a>
					</sup>
					記述，當時賦閒已久的陳毅以中央委員的身份參加了廬山會議。在8月24日的華北組小組會議上，一心要站對隊的陳毅在陳伯達發言後第一個站出來支持陳伯達有關天才的論述。</p>
					<p class='commentary'><span class='speaker'>陳毅說：</span> “毛主席是天才，是幾十年鍛煉出來的天才。…我犯過三次大的錯誤，是個犯錯誤的人，我願站在林副主席這一方面參加戰鬥。別以為我靠邊站就不能保衛毛主席，不論在什麼地方，就是有人在牆旮旯裡反對毛主席，我陳毅也要把他揪出來！”</p>
					<p class='commentary'>當會議轉向之後，毛澤東在大會上嚴厲批評了陳毅，並把他和陳伯達並在一起稱之為“二陳合流”。據司馬清揚的考證，“二陳合流”的提法來源於周恩來。周在毛講話前就說過，陳毅是跟著陳伯達來的，發言表示同意陳伯達的意見。</p>
					<p class='commentary'>此後，陳毅帶著“右派代表”、“二月逆流”和“二陳合流”的屈辱度過了他生命的最後階段。到1972年1月6日，周恩來和葉劍英代表中央傳達毛澤東為陳毅平反的決定時，陳毅已經處於彌留之際，對外界毫無反應。陳毅夫人張茜十分生氣，說“為什麼不早來？這時候已經聽不見了，傳達有什麼用！”</p>
				</section>

				<section epub:type="subchapter" id="part6">
					<h2><%= chapter_title[6] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span> “文革”開始後不久，賀龍元帥被打倒了。賀龍當時身兼中共政治局委員、中央軍委副主席、國務院副總理、國家體委主任，因此他的下台無疑是一個重大事件。</p>
					<p class='commentary'>賀龍在歷史上同毛澤東和周恩來都有很深的淵源。延安整風期間，賀龍站在毛澤東一邊反對王明。賀龍領導的晉西北根據地對延安給予了大力支持。在1959年的廬山會議會上，賀龍對彭德懷進行了嚴厲的批判，受到毛的讚賞。此外，賀龍在毛澤東與江青結婚的事情上也曾力排眾議，堅決支持。賀龍與周恩來的關係更是不同一般。周是賀的入黨介紹人，也可以說是賀龍走上“革命道路”的引路人。兩人長期保持密切的關係。在中共南昌暴動（南昌起義）中，周恩來是最高領導人，賀龍是暴動總指揮，他們兩人的名字在中共建軍史上是永遠寫在一起的。正因為如此，毛澤東和周恩來對賀龍是非常信任的，並在對待賀龍的問題上，開始都是持“保”的態度。</p>
					<p class='commentary'>那麼，究竟是什麼原因導致賀龍在“文革”開始後的迅速垮台？答案有多種。高文謙的觀點是，倒賀的主要力量來自林彪。</p>
					<p><span class='speaker'>高文謙：</span> 毛一開始，還是希望賀龍跟林彪搞好關係，所以，在八屆十一中全會之後，他要賀龍到林彪家去跟林彪談一次話。</p>
					<p><span class='speaker'>李肅：</span> 也就是說，毛澤東開始的時候，並沒有想要真的要打倒賀龍？如果他能跟林彪搞好關係，毛還是可以用他的。</p>
					<p><span class='speaker'>高文謙：</span> 對，結果兩個人談崩了。談崩之後，毛那個時候就只有一個選擇了：是林彪還是賀龍?</p>
					<p class='commentary'><span class='speaker'>解說：</span> 根據史料，毛讓賀緩和關係的並不只是林彪一人，還有葉劍英、徐向前、聶榮臻等。賀龍在主持軍委工作期間有意無意地表現出對這些老帥不夠尊重，開罪過他們。另外，賀龍在處理一些兵種內部問題上有越權行為，觸動了解放軍內部不同山頭的利益，引起很多意見。這些意見匯總到毛澤東那裡，為毛拿下賀龍提供了自然的藉口。</p>
					<p class='commentary'>司馬清揚認為，林彪僅僅是毛澤東在倒賀過程中利用的一枚棋子而已，真正決定賀龍命運的是毛澤東。毛對賀的不滿最早在“文革”前夕處理“羅瑞卿事件
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en28" id="ref28">（註28）</a>
					</sup>
					”的時候就非常明顯了，因為羅的許多做法與當時負責軍委日常工作的賀龍是密不可分的。不過，毛為了保護賀，選擇了把羅賀分割開來的做法。司馬清揚在《新發現的周恩來》
					rear
					一書中提供了大量的證據說明，毛對賀徹底失望的真正原因是賀龍與劉少奇、彭真走得太近，甚至在劉少奇問題公開之後，賀龍還遲遲不能夠與劉劃清界限。司馬清揚說，毛在1965年和1966年那個階段非常擔心“兵變”，對劉少奇插手軍隊防範得很嚴，絕對不能容許三心二意的將領擔任軍隊的主要領導職務。</p>
					<p class='commentary'>有關史料顯示，賀龍的老部下成鈞
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en29" id="ref29">（註29）</a>
					</sup>
					（時任空軍副司令員）和廖漢生
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en30" id="ref30">（註30）</a>
					</sup>
					（時任北京軍區政委）在1967年1月因不堪迫害而供認了“賀龍兵變計劃
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en31" id="ref31">（註31）</a>
					</sup>
					”，導致賀龍問題的性質發生了改變。曾經擔任毛澤東秘書的王力
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en32" id="ref32">（註32）</a>
					</sup>
					後來回憶說，毛澤東就是在成鈞供認後決定不再保賀龍的。周恩來和李富春
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en33" id="ref33">（註33）</a>
					</sup>
					在1967年1月19日代表中央給賀龍談話就是在這個背景下進行的。高文謙對此分析是認同的。</p>
					<p><span class='speaker'>高文謙：</span> 周在這種情況下，代表中央和李富春一塊兒找賀龍談話，這就等於是宣布對賀龍隔離審查。話說得比較委婉：我送你到西山象鼻子溝去，那是軍委前指（中央軍委前線指揮部）。送到那兒休息一段時間，秋天我來接你回去。實際上，就是把賀龍正式隔離了。</p>
					<p>開始的時候，周還派人去看過。賀龍相信周的話，每天一個人在西山前指那兒，一個人也沒有，就看通往山下的一條小路，只要上來一輛車，就看是不是總理來接他來了。結果就到了秋天，也就是1967年的秋天，實際上賀龍被正式立案審查。</p>

					<%- photo[19] %>

					<p class='commentary'><span class='speaker'>解說：</span> 如果說毛澤東對賀龍的不滿主要是因為賀對劉少奇的態度，那麼周恩來與賀龍的矛盾則是圍繞着要不要打倒賀龍的部下，國家體委副主任榮高棠
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en34" id="ref34">（註34）</a>
					</sup>
					。周恩來認為榮高棠是修正主義分子，必須打倒，而賀龍一直保護榮高棠，不惜與周恩來對著幹。後來，周恩來在體育系統的會議上公開點了榮高棠的名字後，造反派起來造了榮高棠的反，隨後就把鬥爭矛頭對準了賀龍。因此，賀龍被造反派追得東躲西藏，背後的推手可以說就是周恩來。</p>
					<p class='commentary'>1966年底，賀龍在北京東郊民巷的家數次被抄，周恩來建議賀龍夫婦搬到北京西郊為中共領導人修建的別墅——新六所去休息。根據中國官方的說法，在這個時候，周恩來主動把賀龍夫婦請到中南海西花廳保護起來。高文謙駁斥了這種說法。</p>
					<p><span class='speaker'>高文謙：</span> 恰恰相反。賀龍去中南海西花廳是不請自來。賀龍被造反派揪得東躲西藏，新六所也救不了。所以，賀龍一看，乾脆回家算了，等著你們揪我去了。結果他們兩個人（賀龍和薛明）坐著車，從新六所，就是萬壽路，往家開。他們家是在反帝路（東郊民巷）。</p>
					<p>路上經過中南海。薛明說，你看看，咱們當時到新六所也是總理讓咱們去的，既然咱們回家，總得跟總理打聲招呼吧。這麼著就去了。所以說，是不請自來啊。到總理家的時候，周當時不在家，周恩來的秘書周家鼎在。他馬上跟總理報告。總理一看說，既然來了就住下吧。賀龍住在西花廳期間，在生活上，周和鄧穎超，主要是鄧穎超，對賀龍夫婦噓寒問暖，但絕不談任何政治話題。</p>
				</section>

				<section epub:type="subchapter" id="part7">
					<h2><%= chapter_title[7] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span> 1969年6月9日，賀龍元帥病逝於北京301醫院，成為“文革”初期被迫害至死的第一位國家主要領導人。許多事實顯示，對賀龍在被囚禁至死期間所受到的迫害，周恩來是難辭其咎的。</p>
					<p class='commentary'>1967年9月，林彪夫人葉群在“文革”碰頭會上提出要對賀龍進行專案審查。周恩來附議。後來，他還在賀龍的審查報告上寫下數百字的批語，把賀龍大罵了一通。</p>
					<p><span class='speaker'>高文謙：</span> 立案審查的報告就是周寫的。</p>
					<p><span class='speaker'>李肅：</span> 審查報告又是他寫的？</p>
					<p><span class='speaker'>高文謙：</span> 對，因為周兼任賀龍專案審查組的組長。周對賀龍的問題，基本上可以用四個字來概括：始保終棄。開始是保的，後來放棄了。他是看毛的臉色行事。</p>
					<p class='commentary'><span class='speaker'>解說：</span> 不過，中國獨立學者姚監復
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en35" id="ref35">（註35）</a>
					</sup>
					認為，周恩來在賀龍問題上遠不止是“始保終棄”或者“違心”行事這麼簡單。他說，在上個世紀80年代，曾經和他一起工作過的原中共中央政治局委員、國務院副總理紀登奎給他講了關於周恩來的一件事，令人震驚。</p>
					<p class='commentary'>紀登奎說，他在擔任中央專案組負責人的時候曾經去西山黨史檔案館查閱過賀龍的絕密檔案，發現專案組的定案材料把賀龍定為“叛徒”。但是，檔案館同時也保存著有關賀龍當年如何受到國民黨策反和他向上級請示如何一步步應對的完整檔案。紀登奎認為，這些證實賀龍不是叛徒的材料周恩來不可能不知道。但身為賀龍專案組負責人的周恩來，為了緊跟毛澤東而在明知賀龍不是叛徒的情況下，硬給賀龍帶上叛徒的帽子，這不是陷害又是什麼呢？紀登奎說，如此處理一位元帥，叫他感到不寒而慄，驚出一身冷汗。</p>
					<p class='commentary'>賀龍病逝不到兩年發生了林彪事件。毛澤東說，看來賀龍的案子搞錯了。周恩來聽了，馬上派人把賀龍的遺孀薛明從貴州接回北京。</p>
					<p class='commentary'>1975年6月9日，賀龍的骨灰安放儀式在北京舉行。周恩來此時已是病入膏肓。當人們勸他不要出席這個儀式時，他說，“我已經對不起賀老總了，我不能不來啊！” 他還對薛明說，“薛明啊，我來晚了，……我沒有保護好他。”周恩來一進入追悼大廳就朝著賀龍遺像深鞠一躬，接著在安放儀式開始前又一個人向賀龍遺像鞠了三個躬，最後又和眾人一起三鞠躬，前後總共鞠了7個躬。周恩來還親自致悼詞。</p>
					<p class='commentary'>姚監復說，這七個躬顯示周恩來受到了良心的譴責，他本可以證明賀龍不是叛徒，卻親手把賀龍從中南海自己家送到西山看管起來接受審查，之後又把賀龍定為叛徒，置之於死地。姚監復說，這是周恩來“一生中不可饒恕的罪孽”，他不僅是一個“偽君子”，還是直接參與“殺害賀龍的劊子手之一”。（參見附錄一）</p>
					<p class='commentary'><span class='speaker'>解說：</span> 扣在賀龍頭上的帽子有很多，比如“三反分子”，“土匪”、“軍閥”、“二月兵變”、“錦標主義”等。但這些帽子並不能置賀龍於死地。最要命的罪名是周恩來領導的專案組給賀龍量身定制的“通敵”和“殺害”烈士等罪名。周恩來對賀龍的有關歷史問題是非常清楚的。但是，在關鍵時刻，他並沒有出來為賀龍說話，而是把這些罪名強加在賀龍頭上，讓賀龍帶著這些罪名離開了世界。</p>

					<%- photo[20] %>

					<p><span class='speaker'>李肅：</span> 薛明對周恩來有什麼評價？</p>
					<p><span class='speaker'>高文謙：</span> 這跟王光美的情況是一樣的。開始都以為這就是林彪、四人幫迫害的。後來暸解情況多了之後，知道周在這裡面扮演了一個重要的角色。薛明對周也是有非議的。</p>
					<p>有一個流傳非常廣的說法，講薛明跟賀龍如何受迫害，其中講到賀龍那時候在山上，水上不去，連水都不夠喝，他們只好接雨水喝，而且伙食營養也嚴重不足。賀龍是個糖尿病人，吃不飽之後，就渾身發顫，血壓高，最後惡化了，走著走著，就摔倒在地上，嘔吐。</p>
					<p>周是中央文革碰頭會的牽頭人，各個專案小組都定期向中央文革碰頭會匯報被審查人的思想、生活和身體狀況。</p>
					<p><span class='speaker'>李肅：</span> 也就是說賀龍當時的慘狀，周恩來應該是知道的？</p>
					<p><span class='speaker'>高文謙：</span> 不是所有，但基本上應該知道。周在“文革”中不是什麼人都保，他首先要看毛的臉色。第二，他要不得罪林彪，不得罪江青。在毛、林、江，甚至於包括康（生），在這幾個人之間，哪一方都不得罪的情況下，找到一個平衡點，他去保。如果得罪了其中任何一個人，他就不吭聲了。</p>
					<p class='commentary'><span class='speaker'>解說：</span> 司馬清揚的《新發現的周恩來》一書記述了這樣一個情節：在賀龍病危的當天，黃永勝、邱會作把賀龍病危報告交上去等了四個小時左右才有回音。薛明在私下接受某知名女作家採訪時，一談到周恩來就“咬牙切齒”。</p>
					<p>結束語：對於毛澤東有意要保的人，周恩來會堅決貫徹執行。正如周恩來在“文革”初期所說的：“主席領導我們，要我們做的，沒有別的話好講。我保了多少人，劉少奇、鄧小平、王光美，但我還不是‘保皇派’，我奉命‘保’。”然而值得注意的是，迄今為止，我們在史料中還找不到一例毛澤東要打倒的人被周恩來保下來的事例。 1949年中共建政以後，劉少奇、朱德、陳雲、林彪、鄧小平、陶鑄、彭德懷、高崗、陳伯達等與周恩來同時代的中共領導人，或遭到清洗、迫害，或被打入冷宮，幾乎無一倖免，唯有周恩來得以“任憑風浪起，穩坐釣魚台”。</p>
				</section>

				<section epub:type="subchapter" id="part8">
					<h2><%= chapter_title[8] %></h2>
					<h3>《名星》第3期2013年11月6日：</h3>
					<p>我1980年代在中共中央農村政策研究室工作期間，同紀登奎有過多次談話，他主動地向我們講過一些他的“文革”經歷和史實。</p>
					<p>紀登奎曾經擔任過中共中央專案組的負責人之一，專案組的一辦管高級幹部，二辦管軍隊高級幹部，三辦管公檢法幹部及“五一六”專案。因此，紀登奎有權力、有資格查閱黨的絕密檔案。</p>
					<p>偽君子劊子手</p>
					<p>紀登奎曾經告訴我，有次他去西山的黨史檔案館，查閱賀龍的檔案資料，看完材料出來時，渾身發涼，出了一身冷汗。因為，中央專案組領導的賀龍專案組的定案材料，把賀龍定為“叛徒”。但是，在檔案館裡保存著國民黨派人策反賀龍的全部原始檔案，包括賀龍向上邊的請示及答覆，賀龍槍斃說客的決定等材料。紀登奎的意思是，證明賀龍並非叛徒的原始檔案完整地保留在檔案館裡，他親眼看到了、讀過了。但是周恩來負責的賀龍專案組，仍然要將賀龍定性為叛徒。他從檔案館出來， 想一想這樣處理賀龍元帥，令人不寒而慄，驚出一身冷汗。</p>
					<p>周恩來向賀龍骨灰七鞠躬</p>
					<p>紀登奎原來不知道，後來才看到了保存完好的賀龍檔案，震驚萬分。而長期處在黨內最高領導地位的周恩來，肯定知道這些檔案的存在，證明賀龍不是叛徒的原始檔案就在北京西山，對過去的歷史結論，作為賀龍的入黨介紹人，周恩來一定一清二楚。但是，為了適應“文革”的形勢，適應毛澤東要求打倒賀龍的要求，周恩來主管的中央專案組認可賀龍專案組的結論，報送毛澤東，將賀龍定性為叛徒，致以死命。</p>
					<p>周恩來在這個慘劇中不僅是“違心 的”，而是直接動手修改、審定了賀龍是“叛徒”的專案調查報告，是冤案的製造者和殺害元帥的劊子手之一。對於賀龍的死，周恩來在1975年賀龍骨灰安放儀式上 說：“薛明啊，我來晚了……我沒有保護好他”。這是對家屬、對輿論和民情所作的表演，推脫責任的演戲手法。而他面對賀龍骨灰的七鞠躬，則是周恩來受到良心 譴責，為自己明明知道原始檔案可以證明賀龍不是叛徒，但是卻親自把賀龍從中南海家中送入虎口，並且以賀龍專案組名義定性為叛徒，置之於死地，這是自己一生 中又一不可饒恕的罪孽。向骨灰七鞠躬，是認罪，是祈求賀龍饒恕他的醜惡卑鄙的靈魂。周恩來這一招能騙過不少世人，但騙不了賀龍，也騙不了紀登奎，他看到檔 案後渾身冰涼，因為他發現了周恩來也是陷害迫害賀龍的當事人，掩蓋真實史實的偽君子。</p>
					<p>當然，他對我沒有這樣明白地講 出來，他多次以“愚忠”形容周恩來這個人。但是，把陷害說成“沒有保護好”就不僅是“愚忠”了，而是偽君子。當然，這不僅是周恩來一個人的悲劇，這是毛澤 東培養的那一代領導人和許許多多高、中、低級幹部的共性，而且具有可遺傳後代的嚴重後遺症，這是更可怕也更可悲的具有中國特色的“三個自信”的悲劇。</p>
					<p>我們還應感謝鄧穎超的秘書趙瑋提供了重要證明。趙瑋在香港鳳凰衛視的專題訪談節目中，講述了她在鄧穎超身旁工作時的親身經歷。她回憶，鄧穎超在“文革”中工 作非常繁重，不能很好休息的一個重要原因是，中央專案組的所有材料都要送到趙瑋處，趙每一份都要認真讀過，然後交給鄧穎超；鄧也是每份都要看過，再交給周 恩來；周也是每份都看，因此，周恩來、鄧穎超對中央專案組一辦、二辦、三辦經手的所有專案，都是負責人，都瞭解辦案進展情況和最終處理結果。這樣，周恩來對於劉少奇、彭德懷、賀龍等死於專案組監護之下，更多的老幹部冤死於秦城等監獄中負有不可推卸的罪責。絕不是“沒有保護好他們”，而是周恩來的手上沾有 “文革”中死難者的鮮血。而他只向賀龍的骨灰七鞠躬謝罪，其他死難者呢？</p>
				</section>
			</section>
