			<section epub:type="chapter" id="start">
				<h1><%= chapter_title[0] %></h1>
				<h2>撰文：杜林   製作：蕭雨 詩喬</h2>
				<div class="pullout"><%= global.book.meta[book].description %><!--核心提示：兵敗大陸的痛苦思考；明知腐敗害國，為何坐視不管；"獨裁者"親啟自由選舉之門；執迷反攻大陸卻反對使用核武；"獨夫民賊"的俠骨柔腸；傅作義、宋慶齡反毛秘事；兩岸之間可有密使；慘淡經營外交保衛戰；讓蔣介石一生痛苦的原因；民眾為何要跟共產黨走；民族主義者的情懷--></div>

				<p>蔣介石長期擔任中華民國總統，是中國現代史上一位非常重要、非常複雜的政治人物。他在大陸輸給了毛澤東，卻在台灣創造了世人羡慕的奇跡；他曾被稱為中國最大的獨裁者和"人民公敵"，卻在台灣親手開啟了自由選舉之門；他日思夜想要反攻大陸，卻在機會來臨時不忍累及百姓而屢屢選擇放棄。這樣一位極富爭議、又充滿傳奇的人物給世人留下了太多值得探尋的秘密。</p>

				<%- photo[1] %>
				<%- photo[2] %>
				<%- photo[3] %>
				<%- photo[4] %>
				<%- photo[5] %>
				<%- photo[6] %>
				
				<p>所幸的是，蔣介石日記給我們留下了大量珍貴的資料，讓我們有可能走進他的內心世界，瞭解他對重大歷史事件認識的變化，獲取對這位複雜的歷史人物和一些中國現代史重要事件的新的認識。《解密時刻》和大家一起翻閱這部塵封數十年的日記，展開歷史探秘之旅。</p>
				<p>蔣介石日記的唯一真本保存在美國斯坦福大學胡佛研究所。該所研究員郭岱君教授參加了日記的保管工作。郭岱君教授曾經擔任台灣總統府總統新聞秘書。我們特邀她來為大家介紹蔣介石日記的內容，特別是蔣介石退守台灣前後的那些鮮為人知的所思所想。</p>
				<p>
					<span class='speaker'>解說：</span>
					1949年，共產黨軍隊勢如破竹，國民政府敗退台灣。蔣介石痛定思痛，認真檢討國共力量此消彼長的個中原因。蔣介石日記記錄了他真實的思考，呈現出國民黨如何從獨裁走向民主的改革軌跡。</p>
				<section epub:type="subchapter" id="part1">
					<h2><%= chapter_title[1] %></h2>
					<p>
						<span class='speaker'>李肅：</span>
						1949年之後國民黨就退到了台灣，共產黨在大陸建立了中華人民共和國。蔣介石在日記中有沒有反省這件事？有沒有對丟失大陸的原因作出具體的檢討？</p>
					<p>
						<span class='speaker'>郭岱君：</span>
						那太多了。1949年，不但對蔣介石本人，而且對整個中華民國，都是非常重要的年代。這一年是全民族命運的重要分水嶺。</p>
					<p>實際上，國民黨正式遷到台灣是在12月。也就是說，整個1949年這一年，蔣介石基本是在大陸打仗，在督導作戰，因為李宗仁最後不願意到廣州，更不願意去成都，而是跑到廣西去了。所以，真正率軍打仗的是蔣介石。1949年是陳誠
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en01" id="ref01">（註1）</a>
						</sup>
						在台灣，蔣介石在大陸。我們現在談論的台灣很多的改革基本是陳誠在負責的。</p>
					<p>蔣介石在1949年寫的日記特別多，幾乎每天都在反省。他一直想，這是怎麼回事，為甚麼？不但是1949年反省，1950年繼續反省。</p>
					<p>蔣介石理出了幾條失敗的原因。一是外交，他認為不能過於依賴或者信賴它國，因為過去對美國太依賴了；二是黨的問題。他認為國民黨整個渙散了，沒有信仰，對三民主義沒有認識，黨員離心離德。黨也沒有黨紀，完全處於失控狀態；三是軍隊的問題。他說軍隊士氣蕩然，認為這些帶兵的人每到一地就先想好自己的退路。一旦戰況不利，帶兵的將軍們自己先跑，把士兵留下。他說這怎麼可以打仗？</p>
					<p>第四是經濟。經濟是壓死駱駝的最後一根稻草。他在財政方面相當責備宋子文
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en02" id="ref02">（註2）</a>
						</sup>
						。他覺得宋子文做行政院長時允許黃金自由兌換，導致庫存黃金減少了一半，結果也沒有穩定金融市場。所以蔣說："子文誤國"。他好幾次談到金融問題時就說，就怪子文一人。事實上沒有那麼簡單。</p>
					<p>另外，蔣介石也做自我反省。他認為自己管事太多，"驕矜，自持，忙迫，不能詹敬虛心,全憑主觀行事"。他說，自己輕浮急躁，個性太強，凡大小政策無不自信自覺，因此無人近也，無法集思廣益，折衷至當。</p>
					<p>他對自己有很多的批評，實際上在1949年他就說自己幾無面目活在天地之間，甚至想自殺以謝國人。當時，國民黨一些大員只有三個選擇，一是投共，二是逃到香港、澳門或美國，第三種就是自殺，很多人自殺。</p>
					<p>蔣介石身邊最信賴的人，一個是陳佈雷
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en03" id="ref03">（註3）</a>
						</sup>
						，一個是戴季陶
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en04" id="ref04">（註4）</a>
						</sup>
						，兩人最後都選擇自殺。蔣介石也不是沒有想過，但他還是認為，這是我闖的禍，我犯的錯，要贖罪，要革新。他當時就說，要尋找一單純之地，另起爐灶。</p>
				</section>
				<section epub:type="subchapter" id="part2">
					<h2><%= chapter_title[2] %></h2>
					<p>蔣介石再一個看法是，誤學了美國的民主。他說，"未及民主程度而硬行民主"。具體是說，1946年中國開始行憲，可是那個時候整個中國的條件還不成熟，勉強行憲結果是一塌糊塗。</p>
					<p>還有一點我認為很重要，他認為本黨對孫中山
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en05" id="ref05">（註5）</a>
						</sup>
						總理的三民主義沒有切實執行，特別是民生主義。蔣下野後在奉化住了三個月。他在家鄉到處走，說他自己的家鄉奉化由本黨執政20多年，但當地民眾的生活沒有甚麼改變。</p>
					<p>他說，本黨的人都在做官，沒有好好地執行總理的旨意。如果有機會，一定要在經濟上徹底改革，切實執行三民主義
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en06" id="ref06">（註6）</a>
						</sup>
						。蔣到了台灣以後就做了一些改革。</p>
				</section>
				<section epub:type="subchapter" id="part3">
					<h2><%= chapter_title[3] %></h2>
					<p>
						<span class='speaker'>李肅：</span>
						蔣在總結教訓的時候對國民黨的腐敗是怎麼看的？他是否認為當年國民黨敗給共產黨，國民黨的腐敗起到了很大的作用？</p>
					<p>
						<span class='speaker'>郭岱君：</span>
						當然了。他在日記中講是"五子登科"
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en07" id="ref07">（註7）</a>
						</sup>
						。那個時候大家都在罵國民黨是"五子登科"，就是票子、房子、車子、金子、女子。他在日記中說，抗戰勝利復原，黨員只想到這些。你復原要好好地建設，可是大家都去搶房子，車子還有女人等。</p>
					<p>他在日記中講，黨員心中只想這些，置黨國於何地？蔣其實對國民黨裡面的問題是蠻清楚的，只是說當年在大陸的時候，他沒有機會來改革，因為一直都在征戰之中。所以，我們到了台灣以後回頭看蔣介石的許多做法，基本上都能在他在大陸寫的日記裡面找到根源。</p>
				</section>
				<section epub:type="subchapter" id="part4">
					<h2><%= chapter_title[4] %></h2>
					<p>
						<span class='speaker'>李肅：</span>
						蔣介石到台灣後進行了土改，而且，更重要的是，引進了選舉，允許地方在一定程度上享有自治，甚至允許黨外人士參加選舉，同執政黨的候選人展開競爭。其中一些人贏得了選舉，成為地方首長。這些東西在蔣先生的日記中有甚麼記載？</p>
					<p>
						<span class='speaker'>郭岱君：</span>
						有很多。日記中這方面的內容很多。不少學者來看，但由於這部份記載都在日記很靠後的地方，所以大陸學者來看的比較少。我就比較幸運，能夠經常去翻看。有些內容我是最近才看到的，因為中間有些只有三言兩語，如果不注意，還真看不到。</p>
					<p>比方說，他到台灣後第一件事就是舉辦革命實踐研究院，相當於中央黨校，對黨員作思想上的重新教育。他還組建了改造委員會，對國民黨，對整個自治進行重新改革。比如說，他歡迎工人入黨，農民入黨，婦女入黨，青年學生入黨。</p>
					<p>他在日記中常常自問，為甚麼大學老師都不聽我們的，跟著共產黨走？為甚麼婦女和青年學生都跟著他們走，老是反對我們？他做了很多改革，另外就是土地改革。</p>
					<p>再就是你剛剛談到的地方自治。這非常有意思，因為他在1950年想要開始地方自治，國民黨內部都表示反對。</p>
					<p>1950年，台灣還處在風雨飄搖之中。大家都說你這不切實際。可是他覺得不能再拖。他表示，我們當年就是沒有好好執行孫中山總理的三民主義遺教。現在到了台灣，一定要認真做。</p>
					<p>他說要舉行選舉，舉行鄉、鎮、市的首長選舉，縣、市長選舉，還有省議會選舉，都是直選。當時大家都很害怕，可是他堅持要做。</p>
					<p>有趣的是，蔣介石雖然說自己是總理的信徒，要實行三民主義，其實中國三千多年來沒有真正做過選舉，誰也不知道真正民主是怎麼回事。所以，大家都說你這樣做很危險，因為我們外省人是從大陸來的，外省人只佔人口13%，一選不就完蛋了嗎？最後可能連飯碗都沒有了。</p>
					<p>內部反對的結果是搞折衷，縮小選舉範圍，比方說，台灣一共有21個縣市，他把它分成八次選舉，因為這樣比較不會亂嘛。</p>
					<p>第一批就是台中市長的選舉。國民黨候選人姓林，非國民黨候選人姓楊，叫楊基先
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en08" id="ref08">（註8）</a>
						</sup>
						。另外還有一位無足輕重的候選人。楊基先是台中的世家，他的叔叔當時是台灣省民政廳廳長，所以楊一路領先。</p>
					<p>很多人就在蔣介石面前講，台中是台灣省中部第一大市，萬一市長落入別人之手，我們國民黨還有的混嗎？蔣介石後來也忍不住了，就打電話給台灣省主席吳國楨
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en09" id="ref09">（註9）</a>
						</sup>
						。他說，你叫那個姓楊的自動退選，而且不能說是我不讓他選，要他自動退選，因為蔣不願意擔這個駡名。</p>
					<p>這個日記裡寫得很清楚。我一直到前幾個月才看到。吳國楨是在美國讀的書，當然覺得不妥。但吳國楨還是聽蔣的話，去跟楊基先說。所以蔣在日記中說，楊某同意退選，態度良好。</p>
					<p>但蔣馬上就後悔了，覺得此舉似有不當。蔣第二天又想究竟該怎麼辦呢？結果第二天吳國楨跑來跟蔣說，此舉似乎不妥。蔣就在日記中說："國楨甚囉嗦"，"但余有錯，只好忍耐其囉嗦"。蔣後來又緩言告之，有沒有補救的方法。</p>
					<p>第三天蔣又思考，到12月29日這天，他又打電話給吳國楨，叫通知楊某，允其繼續參選。吳國楨告訴楊後，楊也很大方，就同意參選。結果等電話打完之後，蔣在日記中就說，這樣"余心稍可慰也"，即使本黨失去選舉，"余心亦無愧也"。</p>
					<p>當然，最後果然楊某當選了，而且是高票當選。所以，第一任的台中市長是一位非國民黨人。有了第一任台中市長選舉的經驗，最後就是台北市長選舉。這是國民政府的臨時首都，結果出現一匹黑馬，叫吳三連
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en10" id="ref10">（註10）</a>
						</sup>
						，是位本土人士。</p>
					<p>國民黨根本推不出人選和他競選。國民黨人士就問怎麼辦？是不是不准他參選。可是因為有了台中的經驗，蔣介石就說，還是允許他參選。最後國民黨是禮讓。所以，第一任台北市長也不是國民黨的人。</p>
					<p>當時很多人都很害怕，但我認為正因為國民黨還守住了基本的原則，就使得越來越多的台灣人願意加入國民黨，成為國民黨的候選人來代表國民黨參選。</p>
				</section>
				<section epub:type="subchapter" id="part5">
					<h2><%= chapter_title[5] %></h2>
					<p>
						<span class='speaker'>解說：</span>
						從1949年退守台灣到1975年去世，蔣介石日思夜想的事情就是反攻大陸。但是，他內心的矛盾和國際形勢的多變使他未能如願。對於這些，蔣介石在日記中都有所記述。</p>
					<p>
						<span class='speaker'>李肅：</span>
						1949年之後國民政府撤到了台灣。我相信蔣介石並沒有說我就永遠不回大陸了。他應該還有一個反攻大陸的計劃。</p>
					<p>
						<span class='speaker'>郭岱君：</span>
						整個1950年代期間，他心心念念想的就是反攻大陸。所以，他把經濟建設交給陳誠，自己主管外交軍事，最主要就是反攻大陸。</p>
						<%- photo[7] %>
						<%- photo[8] %>
					<p>
						<span class='speaker'>李肅：</span>
						他認為這怎麼可能呢？大陸失守後，他會認為台灣這個小小的基地能夠讓他有能力達成反攻大陸的目標嗎？</p>
					<p>
						<span class='speaker'>郭岱君：</span>
						蔣介石的個性最特別的一點，就是堅韌不拔，決不屈撓。北伐時期他就那麼一點兵就北伐了，抗戰時期，中國如此貧窮落後，他也撐下來了。</p>
					<p>
						<span class='speaker'>李肅：</span>
						把不可能變成可能。</p>
					<p>
						<span class='speaker'>郭岱君：</span>
						他領導一個貧窮落後的國家同非常先進的日本前後打了14年的仗，最後贏得了勝利。但在內戰中，他一敗塗地。不過，他在台灣也站起來了。所以，我覺得在他是相信人定勝天的。</p>
					<p>他在等待機會。韓戰
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en11" id="ref11">（註11）</a>
						</sup>
						就是他的一個機會。韓戰一爆發，他覺得機會來了，立刻很興奮，馬上在總統府召集軍事首長開會，馬上想派一個軍，要派三萬三千人去參戰。然後又說三萬人不夠，要派十萬人去，協助南韓打仗，因為他跟李承晚
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en12" id="ref12">（註12）</a>
						</sup>
						總統的交情是蠻好的。</p>
					<p>可很不幸，美國並不希望中華民國涉入。美國不想掀起大戰，因為二戰才剛剛結束，不想掀起第三次世界大戰。所以，基本上是，美國給國民黨澆了冷水了。最後，蔣介石也明白了韓戰不是國民黨的機會，他也不希望事情惡化，不希望事情複雜化。</p>
					<p>可從韓戰爆發到1953年簽署停戰協定，以至整個50年代，國民黨在東南沿海一直部署有突擊隊，前前後後大概發動了80多次突襲。</p>
					<p>這些大都是小規模的，主要是美國中央情報局
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en13" id="ref13">（註13）</a>
						</sup>
						在幕後策劃。中央情報局當時用的名稱叫西方公司，派遣蛙人和突擊隊在大陸沿海製造紛擾，獲取情報，瞭解鐵幕
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en14" id="ref14">（註14）</a>
						</sup>
						後面的情況。</p>
					<p>但這些小打小鬧起不了甚麼作用，蔣介石一直在等待機會。後來中美簽訂共同防禦條約，美國就很明白地跟蔣說，不希望在台海兩岸再有大規模的軍事衝突了。</p>
					<p>到了1950年代末和1960年代初，蔣介石就意識到反攻大陸沒有甚麼希望了。尤其是蔣經國訪美之後，美國明確地告訴蔣經國，美不希望台海有任何軍事衝突。美國之所以這麼說，是因為蔣介石不死心嘛。</p>
					<p>
						<span class='speaker'>李肅：</span>
						也就是說美國一直並不希望蔣介石反攻大陸。</p>
					<p>
						<span class='speaker'>郭岱君：</span>
						美國是要維持現狀。</p>
				</section>
				<section epub:type="subchapter" id="part6">
					<h2><%= chapter_title[6] %></h2>
					<p>
						<span class='speaker'>李肅：</span>
						中國和美國其實是敵人，兩國又在朝鮮爆發了激烈的衝突。在這個過程中，美國有沒有任何時候希望借助蔣介石的力量跟中國對抗？</p>
					<p>
						<span class='speaker'>郭岱君：</span>
						有好幾次。美國當然想借助國民黨的力量，特別是後來跟中共對峙的時候，比如文革以後，美國有好幾次希望借助國民黨的力量。有趣的是，當美國想要國民黨來扮演某種角色的時候，蔣介石反而退縮。</p>
					<p>我這裡有一個記錄。比方說在韓戰時期，杜魯門
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en15" id="ref15">（註15）</a>
						</sup>
						總統曾經想要用原子彈。蔣介石知道這個消息後馬上寫道，杜魯門跟美國朝野主張使用原子彈，台灣應設法予以阻止。蔣認為，這是我們自己的人民，不應該用原子彈。</p>
					<p>到了1954年，美國甚至想用氫彈對付越南和中國。蔣在日記中說，美國想用原子彈和氫彈對付越南和中國。台灣必須阻止美國對越南和中國大陸這樣做。</p>
					<p>1954年的4月和10月都發生過這樣的事情。1958年大陸大躍進時美國又有人提出同樣建議，由於大陸局勢混亂，美國認為是進攻的好時機，所以找到了國民黨。</p>
					<p>蔣介石也很想進攻大陸，但他表示不能使用原子彈。他認為用原子彈對付自己的人民是不對的。到了文革以後也還有一些機會，但美國內部的意見也不一致，有爭論，所以，最後也沒有結果。</p>
					<p>中共建政沒多久，武漢曾經發生一次很大的洪水，好像是1953年。當時就有人建議，現在是反攻的好時機。蔣就很斟酌，他就是太仁了。蔣介石說，我要反攻，但也不能趁人民都在水深火熱之中的時候。他說，現在我們應該是救災才對，這不是談反攻的時候。他就是這樣一個人。</p>
					<p>
						<span class='speaker'>李肅：</span>
						中共習慣稱蔣介石是"獨夫民賊"，但他到台灣之後對大陸民眾卻是心懷仁愛。</p>
					<p>
						<span class='speaker'>郭岱君：</span>
						那次洪水前前後後持續了兩個月之久，蔣介石非常關注，每天日記寫了很多，例如，本日武漢災情如何、水深多少尺、有多少災民死掉了等等，他很注意這件事。儘管他人在台灣，正在努力進行建設，但他的心心念念還是在中國大陸。他真的希望有朝一日能夠重新回到中國大陸。</p>
					<p>
						<span class='speaker'>李肅：</span>
						蔣介石對台灣前途到底怎麼看呢？因為當年他認為蘇聯靠不住，美國開始不讓他反攻大陸，後來美國想動手的時候，蔣介石又不同意。各種方式都行不通，他在日記中有沒有對這個問題有所記述？</p>
					<p>
						<span class='speaker'>郭岱君：</span>
						最近還有人問我，說蔣介石雖然在1949年失敗了，很悲慘。但看到台灣後來的經濟起飛，他應該很高興啊。我說沒有，因為看他的日記，他都是非常的憂慮，很多心心念念，想要回到中國大陸，心中想的都是中國大陸人民怎樣怎樣的。</p>
					<p>大陸發生水災，他非常痛心；大陸搞大躍進
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en16" id="ref16">（註16）</a>
						</sup>
						，發生大饑荒，以及後來又鬧文革
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en17" id="ref17">（註17）</a>
						</sup>
						，他都十分關心。當然，整個大的形勢決定他沒有辦法發動軍事反攻，最後就希望能夠用軟實力來反攻。</p>
					<p>所以，他後來在台灣講，要以三民主義統一中國。他提出把台灣建設成為三民主義的模範省，還特別成立文化復興委員會。共產黨在中國大陸摧毀傳統文化，他在台灣就特別推動保護傳統文化。他重視教育，重視學生，重視科學。他最後提出民主、科學、教育。這都是他的想法。</p>
					<p>
						<span class='speaker'>解說：</span>
						蔣介石1971年在"紀念國父誕辰暨慶祝中華文化復興節"大典上說："我們國父一生致力於國民革命，原就是要把中華文化從根救起，再造一個莊嚴華麗之新中國。所以國父說，'中國有一個正統思想，自堯、舜、禹、湯、文、武、周公以至孔子。我的思想，就是繼承這一個正統的道德思想，以來發揚光大。''要發揚吾固有之文化，且吸收世界之文化，以期與諸民族並驅於世界，以馴致於大同。'已故國父之誕生，實即為中華文化復興運動之啟明肇始，而此'再造一個莊嚴華麗之新中國'的大願，乃就是我們六十年來始終堅持復興中華文化，貫徹國民革命的唯一指標。"</p>
				</section>
				<section epub:type="subchapter" id="part7">
					<h2><%= chapter_title[7] %></h2>
					<p>
						<span class='speaker'>解說：</span>
						蔣介石日記披露兩個令人震驚的消息：曾在1949年投誠中共的原國軍高級將領、時任大陸水利部長的傅作義
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en18" id="ref18">（註18）</a>
						</sup>
						在1963年捎信給蔣介石，表示願意為蔣效勞。而被奉為國母的宋慶齡
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en19" id="ref19">（註19）</a>
						</sup>
						一度因不滿毛澤東的政策而考慮離開中國。</p>
					<p>
						<span class='speaker'>李肅：</span>
						我們聽說傅作義在這個過程中曾經給蔣介石寫了密信。</p>
					<p>
						<span class='speaker'>郭岱君：</span>
						是的。這個事情，我看了嚇了一跳。我相信中國大陸也有學者看到，但是到目前為止沒有人把它寫出來。我不知道是不是其他人有別的考量。</p>
					<p>蔣介石在1963年8月9日的日記中寫道："傅逆作義特以專人帶來其親筆書'悉貢所能'四字，密告於余，但其並未具名，其字確是真筆，可知匪共內部已至崩潰在即，有不可想像之勢，否則此種投機份子，絕不敢出此也。"</p>
					<%- photo[9] %>
					<p>"悉貢所能"就是說我願意盡心盡力提供給你，跟你裡應外合，為此提供一切。</p>
					<p>
						<span class='speaker'>解說：</span>
						傅作義，早年參加辛亥革命，1927年跟隨閻錫山
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en20" id="ref20">（註20）</a>
						</sup>
						參加北伐，後依附蔣介石，協助其對付奉系軍閥張作霖
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en21" id="ref21">（註21）</a>
						</sup>
						，為扭轉戰局立下戰功。但他在1930年的中原大戰中又與國民政府為敵，慘敗後再次投奔蔣介石。抗日戰爭期間，傅作義率領59軍參加長城抗戰，取得抗戰第一場勝利。</p>
					<p>國共內戰開始後，傅作義率綏遠部隊連克解放軍佈防的集寧、大同、張家口等重鎮，多次擊敗聶榮臻
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en22" id="ref22">（註22）</a>
						</sup>
						兵團，後任華北剿匪總司令。1949年平津戰役後期，傅作義率北平25萬國軍投向解放軍。</p>
					<p>中華人民共和國成立後，傅作義曾任全國政協副主席、國防委員會副主席和水利部部長等職。</p>
					<p>
						<span class='speaker'>郭岱君：</span>
						1963年正好是在大躍進之後，大陸發生了大饑荒，非常悲慘。傅作義肯定也看到了，他可能也為當年自己做的很多事情感到後悔，才會把這麼一封密信轉交給蔣介石。意思是，如果蔣介石方面有甚麼反攻的行動，需要我做甚麼的話，我悉貢所能，裡應外合。</p>
					<p>
						<span class='speaker'>李肅：</span>
						蔣介石的日記當中除了提到這點之外，還提到其它甚麼嗎？</p>
					<p>
						<span class='speaker'>郭岱君：</span>
						傅作義的事情一直持續了六個月。這是第一次出現。到後來8月、9月、10月、11月都還有出現，蔣還在日記中說，下週討論傅逆之事等等。可見他們之間是有聯繫，但後來也就無疾而終了。可能是整個大形勢的發展沒有機會，同時也需要謹慎小心。</p>
					<p>這裡面很有意思，因為傅作義也好，蔣介石也好，他們當年都是在一起的，彼此非常熟悉。所以兩人之間有默契。傅作義信得過蔣介石，萬一蔣介石把這個東西拿出來，傅作義是要掉腦袋的。</p>
					<p>同樣的，蔣介石在某些地方也信得過傅作義，因為傅作義1949年投共之後，蔣介石還派飛機到北平去載學人出來，西苑機場還讓他們起降。這都是雙方的默契。</p>
					<p>
						<span class='speaker'>李肅：</span>
						那是不是只有傅作義一人有這樣的表示？有沒有其他的國軍將領也有類似的考慮？</p>
					<p>
						<span class='speaker'>郭岱君：</span>
						我覺得很多事情是人同此心，心同此理。如果只從日記本身來看，傅作義是個最明顯的例子。但我從其他檔案以及我同其他人家屬的接觸中，我就曉得宋慶齡在大躍進、三反五反、反右以及文革期間曾經寫過好幾封信給毛澤東，大概寫了七封信給毛澤東，對毛的做法表示不滿。</p>
					<%- photo[10] %>
					<p>毛開始時還很客氣，最後就火了。他就說，她不想的話，就走吧。這七封信始終都沒有公開過，可是宋家的家屬跟我講，他們當時是很認真地跟北京聯絡，要把宋慶齡接出來。</p>
					<p>宋慶齡也想出來。這個接洽談判都到了很具體的程度，包括美國的宋靄齡
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en23" id="ref23">（註23）</a>
						</sup>
						願意支付700萬美元的保證金，讓宋慶齡出來。談判已經到了最後的關頭了，都準備歡迎她來了，最後不曉得是哪位上面的人認為國母怎麼能走呢？所以很遺憾，她們宋家姐妹到最後都沒有再見上一面。</p>
						<%- photo[11] %>
				</section>
				<section epub:type="subchapter" id="part8">
					<h2><%= chapter_title[8] %></h2>
					<p>
						<span class='speaker'>解說：</span>
						坊間傳說，中國大陸和台灣曾經長期通過密使聯繫，探討統一問題。兩岸之間究竟有沒有密使？中蘇交惡、中美緩和、中日建交，蔣介石如何看待這些外交上的重大衝擊？</p>
					<p>
						<span class='speaker'>李肅：</span>
						當年就是說反攻大陸這個計劃是不行了，蔣介石自己也知道做不成了。他有沒有想過跟大陸再進行某種形式的統一？或者說有沒有想過再次進行國共合作？</p>
					<p>
						<span class='speaker'>郭岱君：</span>
						沒有，至少在日記中沒有。</p>
					<p>
						<span class='speaker'>李肅：</span>
						根據坊間一些說法和回憶，都說蔣介石在那個時候跟中國共產黨、毛澤東、周恩來一直都有密使的聯繫，這種聯繫一直到1960和1970年代才停止。日記中有沒有這方面的記載？</p>
					<p>
						<span class='speaker'>郭岱君：</span>
						我相信國共兩黨的很多人是互相認得的，彼此有很深的交情。所以我相信中間的來往是有的。但有沒有真正的密使，我個人很懷疑。</p>
					<p>比如說，有一位先生叫曹聚仁
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en24" id="ref24">（註24）</a>
						</sup>
						，他就講曾經擔任國共之間的密使等，傳遞消息，然後某年某月某日在日月潭跟蔣先生報告等等。</p>
						<%- photo[12] %>
						<%- photo[13] %>
					<p>我們按照他所提到的時間特別去翻蔣介石的日記，發現蔣在日記中只提到曹聚仁一次，稱其為曹逆，逆就是叛逆的逆。如果蔣信任他就不會叫他曹逆。</p>
					<p>第二就是我們發現日期不對。他說在日月潭跟蔣介石報告，可是那天蔣根本不在日月潭。當然我們也沒有辦法去證明曹聚仁究竟扮演了甚麼角色，我們不曉得，但我想國共之間這種來來往往是不會斷的，因為彼此之間千絲萬縷，交往密切，但是有沒有上升到一個密使的程度，這點我個人是比較存疑的。</p>
				</section>
				<section epub:type="subchapter" id="part9">
					<h2><%= chapter_title[9] %></h2>
					<p>
						<span class='speaker'>李肅：</span>
						1949之後，中共就決定一面倒，投向蘇聯，要跟蘇聯結盟。雙方也結盟了，但從1960年代中蘇開始分裂，尤其到了文革期間中蘇甚至發生了軍事衝突。這個時候台灣和蘇聯有沒有甚麼樣的聯繫，要雙方聯手，共同對付中共？</p>
						<%- photo[14] %>
					<p>
						<span class='speaker'>郭岱君：</span>
						這個故事過去一直有傳言。日記開放以後果然有個維克多·路易士
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en25" id="ref25">（註25）</a>
						</sup>
						。路易士其實是克格勃
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en26" id="ref26">（註26）</a>
						</sup>
						。他以英國記者的身份來跟國民黨聯絡。當時正好發生了珍寶島事件
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en27" id="ref27">（註27）</a>
						</sup>
						，中蘇交惡，蘇聯就想找中華民國一起聯手對付中國大陸。</p>
					<p>
						<span class='speaker'>解說：</span>
						維克多·路易士(Victor Louis)，上個世紀60年代曾經擔任幾家英國報紙駐莫斯科記者，其真實身份是蘇聯克格勃間諜。他當時故意向西方記者透露機密，以便讓西方報紙刊登對克里姆林宮有利的新聞，包括赫魯曉夫
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en28" id="ref28">（註28）</a>
						</sup>
						下台、蘇軍即將入侵捷克斯洛伐克和蘇聯宇航計劃等。</p>
					<p>1969年，維克多·路易士曾經"獨家"披露蘇聯正考慮對中國的核設施發動攻擊。維克多·路易士同時向克格勃提供西方駐莫斯科記者的情況。</p>
					<p>
						<span class='speaker'>郭岱君：</span>
						維克多因此在台灣呆了10天。這個事情是上了議程的。他見了蔣經國
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en29" id="ref29">（註29）</a>
						</sup>
						，蔣經國當時是國防部長，就跟蔣介石報告了，所以蔣介石日記中有很多很多的細節的描述。以後又繼續進行，在不同的地方見面，比如在東京、在墨西哥、在巴西、在倫敦等。這個事情一直在談，討論具體的合作方式。</p>
					<p>蔣經國最後還把這個事情交給當時的新聞局局長魏景蒙
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en30" id="ref30">（註30）</a>
						</sup>
						，因為蔣經國非常信任魏景蒙，視為自己人，就把這件事交給魏景蒙，讓他負責。魏景蒙就跟路易士聯繫。</p>
					<p>其中涉及的人還有很多，如中華民國駐日本大使、駐墨西哥大使、駐巴西大使等都親自參與會談。蘇聯派出的人也相當的多。這個事情一直到1969年、1970年和1971年都還在進行。但是後來為甚麼無疾而終，不清楚。</p>
					<p>蔣介石到最後有很多的考量，他覺得蘇聯狡詐，不可信也；另外一個原因可能是，蔣介石說不願做吳三桂
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en31" id="ref31">（註31）</a>
						</sup>
						。</p>
				</section>
				<section epub:type="subchapter" id="part10">
					<h2><%= chapter_title[10] %></h2>
					<p>
						<span class='speaker'>李肅：</span>
						蔣對中美在1970年代發展關係，尼克松
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en32" id="ref32">（註32）</a>
						</sup>
						，基辛格
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en33" id="ref33">（註33）</a>
						</sup>
						訪華，甚至發表上海公報等，他對這些事情是怎麼看的？</p>
					<p>
						<span class='speaker'>郭岱君：</span>
						他很關心的。對於基辛格到中國大陸訪問，後來尼克松訪問，他都是密切關注的，覺得他們是背叛，沒有堅守反共的陣容。他日記中有很多非常詳細的批評。事實上，他也沒有辦法，只能自己在紙上埋怨。</p>
					<p>
						<span class='speaker'>李肅：</span>
						日記中有沒有顯示應該採取甚麼措施來，如果不能阻攔的話，至少能減少這方面的損失和壓力？</p>
					<p>
						<span class='speaker'>郭岱君：</span>
						蔣其實對每一個戰役都很謹慎，不管是軍事戰役還是政治戰役，他都做很詳細的計劃和沙盤的推演。對這場聯合國席位保衛戰的策劃，那真是非常詳細、非常精彩的。</p>
					<p>後來中日斷交的問題能不能再拖延，能不能阻止？以及後來基辛格訪問中國大陸，尼克松也訪問的時候，他都非常注意。當然，他是有一些想法，不過，畢竟還是沒有辦法。</p>
					<p>在聯合國保衛戰中，蔣介石還是發揮了作用。比方說，當時我們駐美大使是葉公超
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en34" id="ref34">（註34）</a>
						</sup>
						，在美國負責聯合國的事情。但另一方面，蔣介石他們又有第二個管道，透過蔣經國和克萊恩
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en35" id="ref35">（註35）</a>
						</sup>
						，就是美國中央情報局駐台灣的主任。一個是正式的管道通白宮，另外還有第二管道。</p>
					<p>這時蔣介石的參與程度很高。到了中日斷交，以及日本承認中國大陸並與之建交，以及尼克松訪問中國的時候，蔣非常憤怒，可這個時候，我想世界大勢是如此，他能做的也非常有限。</p>
				</section>
				<section epub:type="subchapter" id="part11">
					<h2><%= chapter_title[11] %></h2>
					<p>
						<span class='speaker'>郭岱君：</span>
						蔣介石一生都苦，尤其到了晚年他也非常苦。到了1960年代以後，衝擊跟橫逆是一個又一個接踵而至，對他來講，都是不順。雖然這個時候台灣經濟發展得非常蓬勃，可蔣介石更關心的還是能不能夠反攻，還是中華民國能不能夠重返中國大陸。</p>
					<p>很遺憾，就是在他去世之前，我們看他的日記都是，自我鼓勵，講天將降大任於斯也，必先苦其心志，勞其筋骨，然後說，主耶穌說必會賦予我以復國大任，一定會保佑我，事實上最後他還是走了。</p>
					<p>
						<span class='speaker'>解說：</span>
						蔣介石到底是甚麼樣的人？他對打了一輩子交道的共產黨到底怎麼看？儒教理念、基督精神、三民主義，對蔣介石的為人處世有甚麼影響？蔣介石的日記揭示他心中的秘密。</p>
					<p>
						<span class='speaker'>李肅：</span>
						您看過他幾乎所有的日記。從他的日記來看的話，您感覺蔣介石是一個有獻身精神的人，還是一個極度自私的人？</p>
					<p>
						<span class='speaker'>郭岱君：</span>
						我也沒有看過他全部的日記，因為日記有數千萬字，看完幾乎是很困難。真正看完的人極少。</p>
					<p>我自己覺得他是一個無私的人。為甚麼？他生活非常簡單。他的穿著和吃都是非常、非常簡單。他到了台灣之後一直都穿著一雙輪胎底的舊皮鞋，舊的咔嘰褲，他的衣服都非常老舊。</p>
					<p>他的一生奉獻給了革命。他總覺得他對不起總理。中國大陸在他手上失掉了，他要把她再拿回來。基本上他並不是為自己，他是想為國家、為民族。</p>
					<p>但是在這個過程當中，因為他本人的執著，有的時候他會覺得，只有他才能領導革命。你想要領導革命，你不如我領導得好。也因為有這樣的想法，他後來跟國民黨裡面一些派系關係處得不好。我們都知道象桂系李宗仁
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en36" id="ref36">（註36）</a>
						</sup>
						和白崇禧
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en37" id="ref37">（註37）</a>
						</sup>
						，粵系張發奎
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en38" id="ref38">（註38）</a>
						</sup>
						等等。國民黨裡面的派系，他處理得不好。</p>
					<p>還有就是到台灣來之後，他當選第一任總統，又連任了一次，因為根據憲法是連選則連任一次。所以到了第三任，他不應該再連任了，可是他認為我要贖罪。大陸在我手上失掉了，我要帶大家回到中國大陸，所以，我必須再做第三任總統。很多人因此批評他。</p>
					<p>還有，他為了維護台灣的安全而採取經濟上開放，政治上嚴厲的做法，也就是1950和1960年代的所謂白色恐怖。我想這些也是大家批評他的地方。</p>
					<p>
						<span class='speaker'>李肅：</span>
						他繼續擔任總統，外界可能說他有權力欲望，戀棧。他自己在日記中是怎麼說的？</p>
					<p>
						<span class='speaker'>郭岱君：</span>
						他認為是責無旁貸。</p>
				</section>
				<section epub:type="subchapter" id="part12">
					<h2><%= chapter_title[12] %></h2>
					<p><span class='speaker'>李肅：</span>
						沒有能夠反攻大陸的最大障礙當然就是中國共產黨。</p>
					<p><span class='speaker'>郭岱君：</span>
						一個是中國共產黨，另外就是受制於整個台海的形勢和美國的態度。他其實在抗戰的時候就經常閱讀共產黨的參考通訊，他還經常看馬列的東西，毛澤東寫的東西他也經常看，他覺得寫得好的，甚至傳給周圍來看。</p>
					<p>他當時就經常自問，為甚麼婦女不相信我們？為甚麼大學教授要跟著他們走？為甚麼青年學生要跟著他們走？他經常自問。他有一次還寫了問卷，讓周圍的人來回答這個問題。也就是說他自己經常思考。他日記裡面就講，為甚麼共產黨的組織力比我們強？為甚麼宣傳能力比我們強？為甚麼青年學生和婦女都願意跟著他們走？可見他一直都想著這些事情。</p>
					<p>有一次，他看到中共黨組織的運作方案，就說，他們（中共）很有效率，本黨（國民黨）若再不奮起直追，"將敗亡也"。他認為共產黨在組織和動員方面是很有效率的。</p>
					<p>他也討論過為甚麼最後國民黨沒有辦法走共產黨這條路。他在日記中寫道，共產黨是講階級鬥爭，我們中國是講"仁"，儒家講仁。他說基督教講"愛"。我們對人民如果能用仁愛來做，何必要用階級鬥爭？為甚麼要仇恨？所以他經常做這樣的比較。他認為共產黨這套不足取，行不通。他還是覺得我們中國自己儒家的仁愛，以及基督的愛更好，他覺得這是他願意選擇走的路。</p>
					<p>
						<span class='speaker'>李肅：</span>
						是不是可以說蔣跟共產黨鬥爭中失敗，主要是因為他有仁人之心呢？</p>
					<p>
						<span class='speaker'>郭岱君：</span>
						1945年他不是想把毛抓起來審判嗎？最後他還是把毛放掉了。放掉之後，毛出去講的第一句話就是蔣介石是婦人之仁。</p>
				</section>
				<section epub:type="subchapter" id="part13">
					<h2><%= chapter_title[13] %></h2>
					<p><span class='speaker'>郭岱君：</span>蔣介石當然跟毛澤東是不一樣的。他對儒家的信念，對三民主義的追求，以及最後成為基督徒，都使他對愛有更多的理解。他經常談到愛，人與人之間的愛。他認為愛是人類努力的很大的一個動力。</p>
					<p>我個人對他印象最深的有幾點。第一點，我覺得他是一位真正的民族主義者。他在任何的壓力面前，內在和外在的壓力面前都沒有屈服，一直維持著中國的尊嚴和中國的統一。</p>
					<p>從北伐到抗戰，直到台灣，美國多少次都表示，希望台灣的軍隊能夠用美式裝備、發美國人的薪水、穿美國人的衣服。蔣介石都拒絕了，寧願讓國軍拿很少的錢，也不願做美國人的附庸。所以，他是一位真正的民族主義者。</p>
					<p>第二點，他是有理想。他對中國現代化有他自己的想法。他希望中國能夠現代化，有尊嚴，希望中國能夠統一，能夠在世界上站起來。這是他一生的追求。</p>
					<p>雖然在追求的路程中，他跟別人的想法會有不同，但目標是一樣的。他是真的希望看到中國實現現代化，廢除不平等條約，能夠有尊嚴地站起來。</p>
					<p>第三點，我覺得，他在維護中國尊嚴，國家統一方面特了不起。剛才我們談到的，跟日本和談、投降和屈服，他都不做。他認為在事關民族大是大非問題上，我們要有所堅持。雖然自己有那麼多的痛苦和困難，我們要有所堅持。這點也是我對他印象最深的。</p>
					<p>
						<span class='speaker'>解說：</span>
						蔣介石1961年在台灣發表元旦講話時說："國父說，中國革命當充分產生於世界，發揚其光明優良之遺產。現在就是我們一起建立、發揚民族遺產於世界的時機了。"</p>
				</section>
			</section>
