			<section epub:type="chapter" id="start">
				<h1><%= chapter_title[0] %></h1>
				<h2>採訪：未可     撰文：木風 蕭雨   製作：杜林 張松林</h2>
				<blockquote class="pullout"><%= global.book.meta[book].description %><!--核心提示：北京有個總書記監獄；他為何縱情大笑；政治家生涯突然中斷；孤獨—趙紫陽健康的殺手；誰是真正的"總設計師"；社會主義初級階段的真正內涵；鄧趙之間的誤會；胡溫為何難成大事；李先念緣何憎恨趙紫陽；開放黨禁、報禁的政治主張--></blockquote>
				<p></p>

				<section epub:type="subchapter" id="part1">
					<h2><%= chapter_title[1] %></h2>
					<p></p>
				</section>
				<section epub:type="subchapter" id="part2">
					<h2><%= chapter_title[2] %></h2>
					<p></p>
				</section>
				<section epub:type="subchapter" id="part3">
					<h2><%= chapter_title[3] %></h2>
					<p></p>
				</section>
				<section epub:type="subchapter" id="part4">
					<h2><%= chapter_title[4] %></h2>
					<p></p>
				</section>
				<section epub:type="subchapter" id="part5">
					<h2><%= chapter_title[5] %></h2>
					<p></p>
				</section>
				<section epub:type="subchapter" id="part6">
					<h2><%= chapter_title[6] %></h2>
					<p></p>
				</section>
				<section epub:type="subchapter" id="part7">
					<h2><%= chapter_title[7] %></h2>
					<p></p>
				</section>
				<section epub:type="subchapter" id="part8">
					<h2><%= chapter_title[8] %></h2>
					<p></p>
				</section>
				<section epub:type="subchapter" id="part9">
					<h2><%= chapter_title[9] %></h2>
					<p></p>
				</section>
				<section epub:type="subchapter" id="part10">
					<h2><%= chapter_title[10] %></h2>
					<p></p>
				</section> 
				<section epub:type="subchapter" id="part11">
					<h2><%= chapter_title[11] %></h2>
					<p></p>
				</section>
				<section epub:type="subchapter" id="part12">
					<h2><%= chapter_title[12] %></h2>
					<p></p>
				</section>
				<section epub:type="subchapter" id="part13">
					<h2><%= chapter_title[13] %></h2>
					<p></p>
				</section>
				<section epub:type="subchapter" id="part14">
					<h2><%= chapter_title[14] %></h2>
					<p></p>
				</section>
				<section epub:type="subchapter" id="part15">
					<h2><%= chapter_title[15] %></h2>
					<p></p>
				</section>
				<section epub:type="subchapter" id="part16">
					<h2><%= chapter_title[16] %></h2>
					<p></p>
				</section>
				<section epub:type="subchapter" id="part17">
					<h2><%= chapter_title[17] %></h2>
					<p></p>
				</section>
			</section>
