			<section epub:type="chapter" id="start">
				<h1><%= chapter_title[0] %></h1>
				<h2>採訪：未可     撰文：木風 蕭雨   製作：杜林 張松林</h2>
				<div class="pullout"><%= global.book.meta[book].description %><!--核心提示：國共內戰為何不可避免？為經營台灣而做的多種準備；外蒙古獨立之真相；蔣介石為何要保護一批日本戰犯；戰略抉擇：走西方的道路；精心培養蔣經國；蔣介石性格之剖析--></div>
				
				<p>抗戰結束後，中華民國經歷了劇烈的動盪。國共之間展開了一場極為慘烈、規模空前的軍事較量。伴隨著軍事上的失利，國民黨政權陷入危機。在共產黨著手組建政府的同時，蔣介石把目光轉向了台灣，並從文化、經濟、人才和文物方面為經營重點的轉移做了全面的準備。 </p>

				<p>這是中國近代史上的一段極為重要，也是史學家長期爭論之所在。國共雙方明知內戰無可避免，為甚麼還要投入巨大力量舉行重慶談判？作為一個堅定的民族主義者，蔣介石為何允許外蒙古脫離中國？一大批手上沾滿中國人民鮮血的日本戰犯又為何得到國民黨的保護？蔣介石為甚麼選擇走西方發展之路，而放棄了30年代風靡一時的軍國主義？蔣經國如何從一個共產黨員轉身走入國民政府的權力核心？蔣介石又怎樣在夾縫中求生存，對列強有打有壓，為戰勝日寇而殫精竭慮？ </p>

				<p>本篇《解密時刻》要跟蔣介石日記的研究專家，美國斯坦福大學胡佛研究所研究員郭岱君女士一起尋找這些問題的答案。郭女士將主要介紹蔣介石日記中1945年抗戰結束以後的部份，同時也跟我們分享她多年的研究成果。 </p>

				<p><span class='speaker'>解說：</span>八年抗戰結束後，中國民眾嚮往和平、安定，而國民黨和共產黨背後的最大支持者美國和蘇聯也都不希望中國發生內戰。於是，1945年8月，國共兩黨領導人在重慶舉行和平談判，商討國家前途，史稱“重慶談判”。雙方於1945年10月10日簽署協定《政府與中共代表會談紀要》，簡稱《雙十協定》 <sup epub:type="rearnote">
					<a href="backmatter.xhtml#en1" id="ref1">（註1）</a>
				</sup>，內容包括避免內戰和平建國、推動政治民主化、軍隊國家化、以及組建多黨制民主聯合政府等。但不幸的是，隨即爆發的內戰使這一爭取和平的努力化為泡影。</p>

				<section epub:type="subchapter" id="part1">
					<h2><%= chapter_title[1] %></h2>
					<p><span class='speaker'>李肅：</span>對於上個世紀四十年代末發生的那場持續三年、規模巨大的國共之間的生死搏鬥，很多人都深感遺憾。在經歷了八年抗戰、八年戰亂之後，和平對中國人民來說是多麼地來之不易。此時，鞏固安定、休養生息、發展經濟是民心所向。但為甚麼中國的政治家們在那時不是致力和平、發展，而是策劃內戰呢？這種做法背後的依據是甚麼？ </p>

					<p><span class='speaker'>郭岱君：</span>其實，中共的很多檔案都已經公開。毛澤東也公開表示，他感謝日本人發動了那場對華戰爭給中共的發展提供了機會。毛在很多公開的內部檔案中都強調要保存實力，到戰爭結束，立刻接收日軍佔領區，擴大自己的勢力範圍。</p>

					<p>國共之間有很多人當年都是同事、戰友，彼此非常熟悉，互通消息。國民黨有很多人在共產黨裡面，共產黨也有很多人在國民黨裡面，就像電視劇《潛伏》所描寫的那樣，“你中有我，我中有你”。大家對此心知肚明。這也是中國人的悲哀。</p>

					<p>本來抗戰勝利以後，是不應再打內戰的。但共產黨有自己的想法，國民黨也有自己的打算，認為抗戰的勝利是在國民黨政府領導下取得的，而且蔣介石是中國名義上的領袖。雙方相持不下，最後導致了民族悲劇。 </p>

					<p><span class='speaker'>李肅：</span>蔣介石日記裡面有沒有反映他對這場內戰的看法，是否已經清楚地意識到，在抗戰後期，內戰就已經是難以避免，和平也難以實現？</p>

					<p><span class='speaker'>郭岱君：</span>蔣介石認為共產黨是一定要再打仗、奪取土地和政權的。1945年9月，毛澤東去重慶和談的時候，共產黨提出了很多條件。當時，國民黨都準備要談判，美國人也一直在促成這件事。蔣介石在日記中就說，共產黨提出11項條件是貪得無厭。這些條件中包括要求承認解放區，這就等於要求中央政府承認國中有國了。 </p>

					<%- photo[1] %>

					<p><span class='speaker'>李肅：</span>這麼說“一國兩制”那個時候就有了。</p>

					<p><span class='speaker'>郭岱君：</span>蔣在日記中說“絕無可能”。此外，共產黨還要得到華北五省的主席和其他幾省的副主席、北京，天津和上海等市的市長和副市長等職位，還要北平行轅主任的位置。國民黨認為你要的超過了你的實力。國民黨沒辦法接受。</p>

					<p><span class='speaker'>李肅：</span>如果蔣當年認定內戰躲不掉，那麼，為甚麼他還要搞重慶談判呢？</p>

					<p><span class='speaker'>郭岱君：</span>重慶談判之所以能夠進行，最主要還是美國人的推動，美國希望國共舉行和談。</p>

					<p><span class='speaker'>李肅：</span>那可不可以說，蔣介石在當年重慶談判前是沒有誠意呢？</p>

					<p><span class='speaker'>郭岱君：</span>這裡講誠意不大妥當。有沒有誠意是要看你有多大實力。如果沒有實力就無法維持和平，就是一廂情願。重慶談判之前，蔣介石是歡迎毛澤東來的。但談判開始後，他開始對毛澤東不耐煩了。他在日記中用了很多字眼來形容毛，例如，說毛貪得無厭，借抗戰之名義而行破壞抗戰之實，說他擁兵自衛、割據地盤等等。蔣在整個日記裡面幾乎每天都在盤算到底應該如何處理這個問題。是要跟毛好好和談，還是幹脆把他抓起來？</p>
				</section>

				<section epub:type="subchapter" id="part2">
					<h2><%= chapter_title[2] %></h2>
					<p><span class='speaker'>李肅：</span>他想抓毛澤東？</p>

					<p><span class='speaker'>郭岱君：</span>他是想抓毛澤東，因為中共提出條件後，蔣覺得沒辦法談。他在日記中說，承認解放區是絕無可能的。他稱毛是“害國殃民，勾敵構亂之第一人”，是罪魁禍首。他這時就想“扣押毛，加以審治”。</p>

					<p>但他第二天又想，不能太孟浪，不能太魯莽，想到答應過美國人，會不會因此而失信。他又害怕蘇聯。蘇聯如果發火，對收復新疆和東北等地就會不利。他有很多的顧慮，想來想去，最後還是決定放毛一把。</p>


					<%- photo[2] %>


					<p><span class='speaker'>李肅：</span>當時重慶談判雙方實際上都沒有甚麼信心。蔣介石連發了三次的邀請電。他在他日記當中有沒有說到他為甚麼要連發三次，既然他沒有信心？</p>

					<p><span class='speaker'>郭岱君：</span>基本上，蔣對共產黨是不信任的。重慶談判最後得以舉行，一是蘇俄那邊給共產黨壓力，一是美國的努力。美國特別希望促成這個談判。</p>

					<p>但是無論是國民黨也好，共產黨也好，都各有各的盤算。蔣介石在日記裡很不看好。他覺得，即便雙方最後簽了協定，也不會有用。</p>

					<p><span class='speaker'>李肅：</span>雙方最後簽署了《雙十協定》，就表示這個協定的條款得到了雙方的認可，雙方應該是願意執行這些條款的。蔣在日記裡有沒有具體談到有關內容？</p>

					<p><span class='speaker'>郭岱君：</span>他認為協定沒有用。國民黨很多人也希望能夠跟共產黨談出一個名堂來。但蔣從頭到尾對共產黨是不信任的，他對毛澤東也不信任。他說毛這個人“陰險叵測，綿裡藏針，不可信任”。</p>

					<p><span class='speaker'>李肅：</span>當時據說在蔣介石和毛澤東舉行宴會的時候，毛澤東還喊過“蔣委員長萬歲”，這個日記裡面有體現嗎? </p>

					<p><span class='speaker'>郭岱君：</span>這個倒沒有。</p>

					<p><span class='speaker'>李肅：</span>他只是說他對毛澤東個人的看法並不好? </p>

					<p><span class='speaker'>郭岱君：</span>是，他不信任毛。在蔣介石眼裡，毛這個人基本上是不可信的。</p>

					<p><span class='speaker'>李肅：</span>既然國共雙方都認為達成協定也落實不了，那麼，蔣為甚麼要達成這個協定呢? </p>

					<p><span class='speaker'>郭岱君：</span>這是各種壓力的結果。內部有壓力，國民黨裡面有，共產黨裡面也有，還有來自廣大民眾的壓力。外來的壓力來自美國、蘇俄、還有英國等。大家都不希望再有內戰。但實際上，中共不滿足，要極力擴充。</p>

					<p>蔣介石也很清楚對方要擴充。從共產黨提出的條件來看，它的心很大。蔣認為他們貪得無厭，獅子大開口，這是行不通的。那怎麼辦呢？當然只有打啦。</p>

					<p><span class='speaker'>李肅：</span>實際上，國共雙方都在積極備戰，是這樣的嗎？</p>

					<p><span class='speaker'>郭岱君：</span>我相信雙方都是這樣的。都在一邊談一邊備戰。 </p>
				</section>

				<section epub:type="subchapter" id="part3">
					<h2><%= chapter_title[3] %></h2>
					<p><span class='speaker'>解說：</span>史料記載，在重慶談判期間，由於彼此存在根本的不信任，國共雙方不僅都在積極備戰，而且摩擦不斷。《雙十協定》簽訂後，國共兩軍在各地的衝突不斷升級，最後發展到全面內戰。1946年11月，國共關係全面破裂。第二年10月10日，共產黨提出了“打倒蔣介石，解放全中國”的口號。</p>


					<%- photo[3] %>


					<p><span class='speaker'>李肅：</span>大陸的說法是，蔣介石和國民黨政府方面撕毀協定，發動內戰。看來這種說法是不全面的，共產黨其實也做好了開戰的準備。對嗎？</p>

					<p><span class='speaker'>郭岱君：</span>這個問題我也跟很多學者談論過，很多人認為，就算國共之間能夠達成某種合作協定，或者說是按照某種模式暫時把戰爭壓下來，不再打了，最後這兩個黨還是要分道揚鑣的。因為彼此的願望和欲望，對國家的管理方式都不一樣。再說，國共兩黨基本的政治理念相差太遠，很難組成一個聯合政府。</p>

					<p>聯合政府不管怎麼說，需要有一個基本共識，不能光是在政策上的對立。而國共兩黨不是這樣，他們在各個方面來講都是南轅北轍，很難在一個政府裡面共存。就算勉強達成和平，和平也是非常短暫的。</p>

					<p>當然很可惜，在1945年到1949年那個階段，全世界都不知道甚麼樣的政治制度最是適合自己。國民黨要三民主義 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en2" id="ref2">（註2）</a>
					</sup>，共產黨要實現共產主義 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en3" id="ref3">（註3）</a>
					</sup>，還有的國家要軍國主義 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en4" id="ref4">（註4）</a>
					</sup>、無政府主義 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en5" id="ref5">（註5）</a>
					</sup>等。現在大家都比較清楚了，知道甚麼樣的政治制度和經濟發展模式才比較適合自己。</p>
				</section>

				<section epub:type="subchapter" id="part4">
					<h2><%= chapter_title[4] %></h2>
					<p><span class='speaker'>解說：</span>1948年，蔣介石開始為撤退台灣做準備，並指示制定了一份“搶救大陸學人計劃”，動員著名學者隨國民政府撤退。先後撤往台灣的著名學者包括胡適 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en6" id="ref6">（註6）</a>
					</sup>、錢穆 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en7" id="ref7">（註7）</a>
					</sup>等思想家，也有吳大猷 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en8" id="ref8">（註8）</a>
					</sup>、錢思亮 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en9" id="ref9">（註9）</a>
					</sup>等科學家，還有張大千 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en10" id="ref10">（註10）</a>
					</sup>、蘇雪林 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en11" id="ref11">（註11）</a>
					</sup>等藝術家。不過，這個計劃的實施並不算成功，名單中的大部分人並沒有去台灣。原國民政府中央研究院80多位院士中，有60多位留在了中國大陸。 </p>

					<p><span class='speaker'>李肅：</span>蔣介石在準備撤往台灣的時候做了很多準備工作。其中一項就是把著名的學人、學者、專家、教授們帶到台灣去。蔣介石日記中有沒有提到這個計劃？</p>

					<p><span class='speaker'>郭岱君：</span>有的。回答你這個問題，我想談的更多一點。蔣介石在1948年秋天已經開始考慮另起爐灶的問題。他在尋找單純之地，另起爐灶。他已經有這麼一個想法。</p>

					<p><span class='speaker'>李肅：</span>他已經想到要撤退的有關問題了。</p>

					<p><span class='speaker'>郭岱君：</span>第一個事不可違。第二個他對國民黨很失望。他覺得黨員沒有主義，沒有信仰，軍隊士氣渙散，國民黨派系林立，整個戰爭打下來讓他感到無可奈何。這時他就想到要另起爐灶。</p>

					<p>蔣介石在1948年年底就準備下野。下野之前，就是1948年12月，他下達了四個命令。一個是命令陳誠 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en12" id="ref12">（註12）</a>
					</sup>就地接任台灣省主席。當時陳誠正在台灣養病。時任台灣省主席的是文人魏道明 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en13" id="ref13">（註13）</a>
					</sup>。</p>

					<p>第二個命令是文教方面的，他要求朱家驊 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en14" id="ref14">（註14）</a>
					</sup>先生等把重要的學人、知識分子請到南京，然後前往台灣。第三個命令是給俞鴻鈞 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en15" id="ref15">（註15）</a>
					</sup>和蔣經國 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en16" id="ref16">（註16）</a>
					</sup>的，就是把黃金集中到各地，然後再運到台灣。</p>

					<p>第四個命令是要求他信任的政府官員，把故宮博物院的文物和中央研究院的重要檔案，以及政府裡面的重要檔案運到台灣去。</p>

					<p>這裡可以看到，蔣介石在下野之前想到的都是甚麼事情？是文物、文化、教育、人才和經濟。如果換了別人，考慮的可能就只是黃金。</p>

					<p><span class='speaker'>李肅：</span>可不是，如果換了軍閥、土匪，他們可能是只想到黃金。</p>

					<p><span class='speaker'>郭岱君：</span>你剛才談到學人的事情是蔣介石做出的四個重要指示之一。學人有好幾批，特別是北平失陷後。胡適跟陳寅恪 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en17" id="ref17">（註17）</a>
					</sup>先生等是第一批。當然，胡適先生是最重要的。</p>

					<p>當時，共產黨在他身上花了很大的功夫，希望他留下來，但胡適最後還是選擇離開。他走得非常匆忙，所以，他的日記、很多私人書信和非常大量的檔案都留在了他的住宅裡。</p>

					<p>胡適走了，陳寅恪先生也跟著走了。但到了南京之後，陳先生覺得南方應該比較安全，因此又不想去國離鄉。在廣州，陳寅恪認為沒有多大問題，就這樣，他沒有邁出這最後一步。</p>

					<p>實際上，選擇不走的學人佔絕大多數。一個原因是，大部分人很匆忙；再一個原因是，好不容易八年抗戰結束，大家真的想好好過一點日子。還有一個原因是，有家有小的，世世代代住在北京，實在不願意走。</p>

					<p>當然，也有一些學人對共產黨有一些期望，也希望當局實行真正的土地改革，真正為中國人民造福。因此，他們願意留下來。後話就不必說了，走了的和留下來的，從此開始了他們不同的命運。他們的孩子的命運也從此改變了。</p>

					<p><span class='speaker'>李肅：</span>在執行這樣一個學者撤離計劃的過程中，蔣介石是否下令要強迫撤離呢？</p>

					<p><span class='speaker'>郭岱君：</span>沒有。</p>

					<p><span class='speaker'>李肅：</span>有一些傳言甚至說，當局派特務監視計劃撤離的學者，有的學者是被綁架到台灣的。</p>

					<p><span class='speaker'>郭岱君：</span>那完全沒有。沒有必要。你想想看，在烽火萬里的時候，到處都在打仗。蔣介石能夠想到搶救學人就已經是很不容易了。他當時說，飛機停在北京西苑機場，要教育部中央研究院去通知那些學人，願意去的就去，不願去的請便。</p>

					<p>如果所有人都要去，蔣介石也沒有那麼多的飛機運送，所以運送分了好幾批。傅作義 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en18" id="ref18">（註18）</a>
					</sup>投共之後，照理說，運送工作就可以停下來了，但雙方還是有一個默契，之後又運送了一批人到台灣。</p>
				</section>

				<section epub:type="subchapter" id="part5">
					<h2><%= chapter_title[5] %></h2>
					<p><span class='speaker'>李肅：</span>蔣介石有沒有想過台獨 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en19" id="ref19">（註19）</a>
					</sup>的問題？當然，我想他可能應該不會。不過，真實情況如何？</p>

					<p><span class='speaker'>郭岱君：</span>沒有，他那個時候沒有台獨的說法，根本沒有台獨的呼聲。所謂的台獨運動是在50年出現的。美國曾經認為台灣保不住，國民黨無法生存。沒有人看好，覺得國民黨不可能在台灣生存下去。</p>

					<p>當時，美國曾有個想法，要讓聯合國託管台灣。蔣介石非常生氣。他在日記中說，這絕對不可能，絕對不允許這種事情發生。蔣介石認為，美國駐台總領館就是一個“倒蔣俱樂部”。他很生氣，說這個事情我們中華民國絕對不可以做。後來發生了韓戰，託管的打算也就沒有了下文。</p>


					<%- photo[4] %>


					<p><span class='speaker'>李肅：</span>蔣介石設想過“一邊一國”嗎？</p>

					<p><span class='speaker'>郭岱君：</span>沒有，他不允許，更沒有想過。你知道大家後來所說的台獨實際上部份原因是土地改革引起的。</p>

					<p>陳誠他們執行土地改革，要“耕者有其田”，每個農人都有自己的土地。政府把口袋裡的地都發給農民了，最後地分光了，怎麼辦呢？ 政府又沒有錢，最後就想到用公營企業的股票跟大地主換地。可是，想想看，1953年誰見過證券啊？誰見過股票啊？很多大地主就非常生氣，我這個綠油油的良田就換了幾張紙。很多人不幹，就跑到日本去了。台獨就從這個時候開始的。</p>

					<p>當然，也有人信任政府，跟政府合作。比方說，辜振甫 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en20" id="ref20">（註20）</a>
					</sup>家族。他們很多的財產後來都翻了幾百倍。隨著台灣經濟的發展，他們自己的財產也急速增加。</p>
				</section>

				<section epub:type="subchapter" id="part6">
					<h2><%= chapter_title[6] %></h2>
					<p><span class='speaker'>解說：</span>外蒙古是中國現代史中丟失的最大一塊國土。蔣介石領導的中國政府在1945年8月14日與蘇聯簽訂的《中蘇友好同盟條約》 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en21" id="ref21">（註21）</a>
					</sup>實際上是以承認外蒙獨立為條件，換取蘇聯“尊重東北的主權、領土完整；不幹涉新疆的內部事務；不援助中共”等條件。當時的中國外長宋子文 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en22" id="ref22">（註22）</a>
					</sup>曾經拒絕在條約上簽字，並憤而辭職。</p>
					
					<p><span class='speaker'>李肅：</span>關於1949年之前的歷史，我還有一個事情想問一下，就是中國所說的“外蒙”的獨立問題。外蒙獨立過程是在民國政府，也就是中華民國政府時期發生的。無論是中華民國政府還是中華人民共和國政府最後都承認了蒙古國的獨立。蔣介石對這個問題是怎麼看的，怎麼處理的？</p>

					<p><span class='speaker'>郭岱君：</span>很多人都很關心這個問題。《中蘇友好同盟條約》是1945年宋子文率團到莫斯科去談的。最大的恥辱是允許外蒙獨立。</p>

					<p>此外，還有允許蘇聯繼續租借旅順、大連這些港口。所以，宋子文談完之後表示，他不願簽字，覺得這是喪權辱國。中國為甚麼不能爭取更好的條件呢？因為那個時候確實沒辦法。弱國無外交嘛，孤臣無力回天啊！</p>

					<p>條約中列出的那些條件是雅爾塔會議 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en23" id="ref23">（註23）</a>
					</sup>定下的。美國、英國、法國私下允許蘇聯獲取在華的利益，以換取蘇聯對日作戰。</p>

					<p><span class='speaker'>解說：</span>1945年2月第二次世界大戰結束前夕，美國總統羅斯福 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en24" id="ref24">（註24）</a>
					</sup>、英國首相邱吉爾 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en25" id="ref25">（註25）</a>
					</sup>和蘇聯領導人斯大林 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en26" id="ref26">（註26）</a>
					</sup>在蘇聯雅爾塔開會，討論戰後世界新秩序和列強的利益分配。美英兩國為了爭取蘇聯在遠東地區參加對日作戰，同意外蒙古獨立，納入蘇聯勢力範圍，並承認蘇聯在遠東地區的戰略利益，包括允許蘇聯繼續租用旅順港，以及與中國共同管理大連港和南滿鐵路等等。中國政府事先並不知道會議討論了這些涉及中國主權和領土的問題。</p>


					<%- photo[5] %>


					<p><span class='speaker'>郭岱君：</span>宋子文不願意簽，最後是新任外交部長王世傑 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en27" id="ref27">（註27）</a>
					</sup>去簽。蔣介石日記對此有很多、很多的記載，他也做了各種分析。</p>

					<p>宋子文在蘇聯談判期間跟蔣介石每天都有電報往來。蔣為甚麼同意外蒙獨立？他自己的分析是，外蒙早在1920年代就已經被蘇聯控制。雖然名義上外蒙還是中華民國的領土，但蘇聯駐軍在那個時候就有了，外蒙已經進入蘇聯的勢力範圍內，中國軍隊根本進不去。</p>

					<p>蔣介石認為，反正拿不回來外蒙，還不如讓出外蒙，換取蘇聯退出東北和新疆。蔣介石認為東北和新疆我們是可以控制的。他擔心蘇聯最後不肯交回東北和新疆，對此做了各種斟酌。蔣介石在日記中反復考慮，覺得外蒙反正不是我們的了，喪權辱國也只是名義上的。</p>

					<p>他最後同意外蒙獨立，但有個條件，就是保面子，起碼表面上看不能是自動把領土讓給人家。這個條件是，讓外蒙人民舉行公投。如果外蒙人民選擇他們要獨立的話，中央政府也也沒辦法。</p>

					<p><span class='speaker'>李肅：</span>據說在這次公投中，有百分之九十多的蒙古人贊成獨立。</p>

					<p><span class='speaker'>郭岱君：</span>是的，他們贊同，因為他們本來就是被蘇聯控制的，那裡駐有蘇聯軍隊。王世傑要去簽約的時候也很猶豫，他也不願意做這個喪權辱國的人。蔣介石勸王世傑說，你放心好了，外蒙早就不是我國領土，我們現在是以外蒙來交換回東北跟新疆。這是蔣介石的考量。</p>

					<p><span class='speaker'>李肅：</span>要說是中華民國政府把外蒙給割讓出去的，準確嗎？</p>

					<p><span class='speaker'>郭岱君：</span>應當說是在中華民國政府時期，外蒙被割讓出去的。</p>


					<%- photo[6] %>


				</section>

				<section epub:type="subchapter" id="part7">
					<h2><%= chapter_title[7] %></h2>
					<p><span class='speaker'>李肅：</span>剛才我們講過蔣介石對蒙古國獨立的看法，但獨立的問題不只是蒙古國，還有西藏。西藏的問題，蔣介石怎麼看？他在日記中有沒有提到西藏問題？</p>

					<p><span class='speaker'>郭岱君：</span>有。西藏比外蒙的情況要單純。外蒙在20年代就已經被蘇聯佔領了，成為蘇聯的勢力範圍。中國根本進不去。但西藏不同。</p>

					<p>西藏是英國的勢力範圍，一直是英國人在控制。抗戰時期，中國的沿海遭到封鎖，中國要打通與西方的陸路聯繫，只有開拓“駝峰航線” <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en28" id="ref28">（註28）</a>
					</sup>，修建滇緬鐵路和滇緬公路。為了修建這些道路，中央派人進入過西藏。國民黨的勢力確實達於西藏。但國民黨的勢力從來沒有達於外蒙。</p>


					<%- photo[7] %>


					<%- photo[8] %>



					<p>抗戰時期舉行的多次盟國峰會上，英國首相每次都要對西藏問題講來講去，好像西藏是他們的地方。宋子文不客氣地說過，“首相先生，西藏是我們中國的領土，不需要你來教導我們怎麼處理西藏問題”。</p>

					<p>蔣介石日記裡也講了不少。他非常痛恨英國染指西藏。他對宋子文說，絕對不可以讓英國染指西藏，我們有自己的西藏政策。</p>

					<p>不過，抗戰勝利後不久，內戰就爆發了。戰爭的蔓延是從東北、華北、華東、最後是西南。西藏這一片地方，國民黨是鞭長莫及。</p>

					<p>蔣介石在各種場合都明示西藏是中華民國的領土。這一點他很堅持。正因為如此，1949年中華人民共和國成立之後可以順理成章地認定西藏是中國的領土。可以說，國民黨當年的做法為後來大陸堅持西藏主權奠定了法理基礎。所以在中共接管西藏的時候，英國沒有多說甚麼，就把西藏還給了中國，讓中共的軍隊進去了。</p>
				</section>


				<section epub:type="subchapter" id="part8">
					<h2><%= chapter_title[8] %></h2>
					<p><span class='speaker'>解說：</span>抗日戰爭以後，共產黨再次成為中央政府的主要威脅。蔣介石為了對付共產黨，曾經與投降的侵華日軍進行合作，因此保護過一些日本戰犯。中華民國政府撤退到台灣以後，蔣介石還將日本軍官請到台灣，協助訓練軍隊。</p>

					<p><span class='speaker'>李肅：</span>剛才談到了一點點，二戰以後，蔣介石跟侵華日軍達成了某些諒解，由投降的侵華日軍高級軍官協助蔣介石的部隊對付共產黨。這個事情可不可以詳細一點談談？</p>

					<p><span class='speaker'>郭岱君：</span>在抗戰後期，勝利在望的時候，蔣介石想到與日本合作。一是為了接收的問題。國民黨的軍隊在西南，而日軍佔領著廣大地區，蔣介石希望日本能夠維持所佔地區的秩序，而且只跟國民黨進行交接，而不跟共產黨交接。</p>

					<p>二是下一步的內戰。跟共產黨打仗，日軍有經驗。日軍不僅跟共產黨打過仗，而且反共，可以給國軍剿共提供協助。在這方面，蔣介石認為美國人不可信，且沒有經驗。他認為，美國人早就被共產黨那一套宣傳搞得昏頭昏腦的，因此幫不上忙。</p>

					<p>三是日軍的戰鬥力強。抗戰期間，蔣介石看到，日軍雖然是中國的敵人，但日本軍人的軍容、士氣、訓練等都很優秀。蔣介石批評自己的軍隊是“士氣蕩然，將軍都怕死，”“將軍置士兵之生死於不顧”，而日軍從來都沒有發生這種事情。所以，蔣介石覺得，國軍全部需要重新訓練，特別是要學習日本的這套訓練方法。</p>

					<p>基於這三點，蔣介石希望日本人跟他合作。有個日本專家，根本博 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en29" id="ref29">（註29）</a>
					</sup>中將。他曾任駐蒙古的日軍總司令，被蔣介石請來做國民黨的顧問。重慶保衛戰的時候，根本博就參加了。</p>

					<p>當然，內戰很快就結束了。到台灣以後，蔣介石是認認真真地把日本的軍事專家請到台灣來。但那個時候台灣還有美國人，所以日本專家都是秘密來台的，都隱姓埋名。</p>

					<p>之所以秘密來，一是有美國的因素，二是，要公開的話也說不過去。他們曾經是中國的敵人，現在要中國的軍隊跟他們學習，軍隊難以接受，人民也難以接受。</p>

					<p>日本專家在台灣有個聯絡人，叫富田直亮 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en30" id="ref30">（註30）</a>
					</sup>，化名是白鴻亮。後來日本專家都被叫作“白團”。“白團”大概有七十幾個人。</p>

					<p><span class='speaker'>解說：</span>1949年，中華民國政府撤退到台灣以後，蔣介石邀請由幾十名前日軍的中、高級軍官組成的“白鴻亮軍事顧問團”到台灣，簡稱“白團”，對中華民國軍隊校級以上軍官進行培訓。“白團”還曾經協助蔣介石制定各種軍事計劃，包括反攻大陸的初期作戰大綱等。在1958年的“八二三炮戰” <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en31" id="ref31">（註31）</a>
					</sup>中，白團教官曾經親赴前線督導。在美國的壓力下，“白團”於1968年解散。</p>

					<p><span class='speaker'>郭岱君：</span>國軍高級將領中大概有一萬多人都受過日本人的訓練。美國對此當然很不高興。蔣介石好幾次在日記裡提到，美國軍事顧問團蔡斯 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en32" id="ref32">（註32）</a>
					</sup>當面對他說，你不能這樣，必須讓他們走。</p>

					<p>蔣介石敷衍蔡斯，一直拖，拖了很久，大概有十幾年。最後在美國的堅持下，“白團”的人數才逐步減少了。這中間還有個插曲：日本的軍官來訓練台灣的軍官，孫立人 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en33" id="ref33">（註33）</a>
					</sup>第一個反對。同時孫立人也在訓練新軍，不過是採用美國的方法。雙方的想法是不一樣的。</p>

					<p>蔣介石在日記裡就罵孫立人，說他心胸狹小。蔣要用日本訓練的部隊跟美式訓練的部隊進行對抗比賽，用美式師對抗日式師。不單是陸軍對抗，還有兩棲登陸對抗。那一次對抗，日本訓練的部隊表現非常好。這樣，孫立人也沒話說了。</p>

					<p><span class='speaker'>李肅：</span>從實用上說，日軍那一套是有用的，國民黨可以採用，但道德上說，是不妥的。蔣介石是否意識到這個問題，他日記中有沒有反映這一點？</p>

					<p><span class='speaker'>郭岱君：</span>我覺得他沒有這樣的考慮。你想，那是生死存亡之戰。更遠一點講，蔣介石自己在日本受過軍事訓練，瞭解日本軍隊的長處和短處。他想用日軍的辦法提高國軍的士氣自不用說。</p>

					<p>蔣介石就覺得國民黨的失敗，原因之一是“士氣蕩然”。沒有士氣了，不可能打勝仗，所以，他特別希望日本人能夠通過訓練提高國軍的士氣。另外，蔣介石還認為，日本人作戰那一套有可取之處。</p>

					<p><span class='speaker'>李肅：</span>蔣介石這樣做實際上是保護了一批本應該受到懲罰的日本戰犯。他是否對此有所意識？</p>

					<p><span class='speaker'>郭岱君：</span>那當然，例如，岡村寧次 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en34" id="ref34">（註34）</a>
					</sup>大將，他是中國戰區的頭號戰犯，但蔣介石保護他，把他送走了。岡村寧次非常感激。還有好幾個受到保護的日軍將領為了表達他們的感激之情成立了“富士俱樂部”。這個俱樂部實際上是個軍事研究院，專門搜集各種戰役的資料，提供給中華民國國軍。</p>

					<p>除了日本之外，最早在1933、1934、1935年訓練國民黨軍隊的還有德國的將軍法肯豪森 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en35" id="ref35">（註35）</a>
					</sup>。他也是紐倫堡審判 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en36" id="ref36">（註36）</a>
					</sup>中的一名戰犯。最後蔣介石還是救了他，因為他對中國的軍隊有貢獻。</p>
				</section> 

				<section epub:type="subchapter" id="part9">
					<h2><%= chapter_title[9] %></h2>
					<p><span class='speaker'>解說：</span>在蔣介石的政治生涯中，他打交道最多的外國列強主要是日本、德國、蘇聯和美國。他早年留學日本，在日本軍校學習；得到過納粹德國的軍事援助；也熱衷過蘇聯的榜樣；後來則同美國結盟。蔣介石日記吐露出他在跟這些列強交往中的平衡、得失。 </p>

					<p><span class='speaker'>李肅：</span>當年中國與日本和德國的關係非常有意思。日本一直企圖侵略中國、佔領中國。而德國，一方面與日本結盟，另一方面又來幫助中國。 </p>

					<p><span class='speaker'>郭岱君：</span>德國幫助中國在前，德日結盟在後。雙方結盟後，德國就退出了中國。德國願意支援中國是因為德國準備在歐洲起事，需要訓練軍隊，增加武器。</p>

					<p>但德國缺少鎢礦。鎢是稀有金屬，是製造槍膛必須有的金屬。而中國有一個很大的鎢礦。中國沒有資金，只能拿這個鎢礦跟德國換，以鎢易物，跟德國換武器。德國當時也想拉攏中國，所以派了它的軍事顧問團到中國來，幫助中國訓練軍隊。但到戰爭在歐洲打起來之後，德國跟日本結了盟，德軍顧問法肯豪森也就離開了中國。</p>

					<p><span class='speaker'>李肅：</span>納粹統治下的德國是既反西方，也反共產黨。可蔣介石的國民政府跟蘇聯的關係還是蠻好的。德國人怎麼會在這個情況下幫助國民政府呢?</p>

					<p><span class='speaker'>郭岱君：</span>蔣介石在得到德國軍援的同時，也從蘇聯那裡獲得援助。</p>

					<p><span class='speaker'>李肅：</span>對啊，這有點不可思議。</p>

					<p><span class='speaker'>郭岱君：</span>這需要從兩方面看。首先是雙方都各取所需。蔣介石要備戰，德國給他提供很多、很好的援助。德國提供的軍事訓練，我認為，蔣介石也是認可的。此外，德國也需要中國能夠成為自己在遠東的盟友。其次，德國需要中國這些礦產。</p>

					<p>國民黨曾經考慮是不是要跟德國結盟，但最後還是決定不跟德國結盟。這不一定是蔣介石本人的決定。</p>

					<p><span class='speaker'>李肅：</span>蔣的日記裡沒有反映這一點？</p>

					<p><span class='speaker'>郭岱君：</span>日記顯示，蔣介石考慮過這個問題。有人建議說，中國是不是走德國的道路。但蔣介石最後沒有選擇德國的道路，原因是，他認為法西斯這一套不符合三民主義。最後，蔣介石還是選擇走西方的道路。</p>

					<p><span class='speaker'>李肅：</span>那麼說，在30年代的時候，蔣介石就已經決定要走西方的道路了？</p>

					<p><span class='speaker'>郭岱君：</span>那個時候，中國是想走西方經濟發展的道路。30年代是軍國主義盛行的時期。德國和日本都是世界上發展很快的國家，它們的經濟、軍事發展的速度讓很多人感到羡慕。</p>

					<p>蔣介石也受到這種思潮的影響。中國有很多人去德國讀書，蔣百里 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en37" id="ref37">（註37）</a>
					</sup>就是其中之一。不過，也有一些人有些猶豫。國民黨內部就有辯論，提出中國是不是要跟德國學。但最後的結論是，不能走法西斯這條道路。</p>
				</section>

				<section epub:type="subchapter" id="part10">
					<h2><%= chapter_title[10] %></h2>
					<p><span class='speaker'>李肅：</span>蔣經國一開始是在蘇聯學習，後來還加入了蘇聯共產黨。他回國後還跟蔣介石常常發生意見分歧。</p>

					<p><span class='speaker'>郭岱君：</span>我想，蔣介石對蔣經國在蘇聯的所作所為是理解的。他想念經國，在日記裡經常念叨經國，尤其是過年過節，老說經兒不在身邊。</p>

					<p>抗戰以後，經國終於回來了，蔣介石很高興。但他沒有讓蔣經國跟大家見面。而是叫他跟吳稚暉 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en38" id="ref38">（註38）</a>
					</sup>讀書。蔣介石擔心經國在俄國這麼多年會受到影響，所以先讓他讀一些中國的東西。蔣介石很看重蔣經國，在日記裡常說：“經兒可教，緯兒 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en39" id="ref39">（註39）</a>
					</sup>可愛”。他對蔣經國的期望是不一樣的。</p>

					<p><span class='speaker'>李肅：</span>蔣介石培養蔣經國擔任各種重要的職務，直到在台灣擔任國防部長等。 </p>

					<p><span class='speaker'>郭岱君：</span>蔣經國還擔任行政院副院長、院長，最後是總統。 </p>

					<p><span class='speaker'>李肅：</span>這就是說，蔣介石培養蔣經國接班，形成了一種子承父業的模式。這種模式跟封建的世襲制很類似，也和民主的選舉理念應該有衝突。蔣介石怎麼看這個問題？</p>

					<p><span class='speaker'>郭岱君：</span>蔣介石畢竟是上個世紀的人。我們今天看歷史不能用今天的標準去看一百年前的人，或是八十年前的人。很多人問我，他在日記裡面是否贊成民主。但在抗戰時期，哪有甚麼民主？他哪裡還想到甚麼民主？真正的民主，我想，是他到台灣以後慢慢學習的。</p>

					<p>當時有當時的時空，有當時的各種主客觀因素。所以，對這個問題，人們有很多不同的看法。專家們根據不同的資料，對蔣介石到台灣後的施政表現有褒有貶。</p>

					<p>他當然是信任自己兒子的，至少他覺得蔣經國是他一手調教出來的，認為他不會違背自己的政策方向，會忠實地執行他的政策。他信任自己的兒子就難免影響到別人的機會。這是見仁見智。日記攤出來了，各種不同的答案現在都公開了。我想，最好是大家自己來看。</p>



					<%- photo[9] %>



					<p><span class='speaker'>李肅：</span>蔣經國後來繼承了父親的事業。蔣介石日記裡面有沒有明確表示要讓蔣經國擔任中華民國的總統？</p>

					<p><span class='speaker'>郭岱君：</span>沒有。他走的時候，蔣經國是做行政院院長。人們當然看得出來，他把很多重要的任務交給了蔣經國，對蔣經國很信任。栽培的意圖很明顯，不過，並沒有明確地講要蔣經國怎樣、怎樣。</p>

					<p>很有意思的是，1957年台北發生的“劉自然案” <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en40" id="ref40">（註40）</a>
					</sup>，就是一位駐台灣的美國士官，把一位爬上他家牆往裡張望的台灣人給開槍打死了。雙方可能有誤解。美國判這個人無罪釋放，然後很快把他送到關島去了。</p>

					<p>這個事件在台灣掀起軒然大波。很多青年學生舉行抗議示威，甚至砸毀了美國大使館，還把美國國旗踩在地上。這件事引起中美關係緊張。</p>

					<p>蔣介石此時在日記中講，他認為蔣經國對這件事情處理不當。為甚麼？因為蔣經國當時是青年救國團主任。根據各方資訊顯示，參加抗議示威的人中可能有一些是蔣經國的人，而且還參與了策劃。蔣介石認為這個事做得太過了，把人家的大使館都砸了，還把人家的國旗踩在地上。</p>

					<p>蔣介石認為經國還需要再磨練，不夠沉穩。這裡雖然看不出蔣介石對經國接班有甚麼具體的期望，但可以揣測，他對經國是有一個培養計劃，是深具期望的。</p>
				</section>

				<section epub:type="subchapter" id="part11">
					<h2><%= chapter_title[11] %></h2>
					<p><span class='speaker'>李肅：</span>蔣介石日記中有沒有任何地方顯示，他還有其他接班人？蔣經國並不是唯一的人選？</p>

					<p><span class='speaker'>郭岱君：</span>有的，比如，說到台灣去以後，陳誠權力很大，影響力也僅次於蔣介石。陳誠對台灣的貢獻非常大。在土地改革和經濟發展中，陳誠都是一位最重要的領導人。他不僅擔任過台灣省主席，還擔任過行政院長、副總統、行政院長等重要職務。陳誠還做過國民黨副總裁。陳誠是僅次於蔣介石的第二號人物。</p>


					<%- photo[10] %>


					<p>蔣介石對陳誠一向是很信賴的，在大陸的時候就是這樣，兩人關係一直很好。但到了50年代，準確說是1959年和1960年，兩人關係開始慢慢惡化。為甚麼？這是因蔣介石1960年想連任第三任總統引起的。陳誠覺得自己坐二應該望一。久久坐二而不能望一，陳誠開始有抱怨，無論是在私底下還是在公開場合。</p>

					<p>蔣在日記裡開始批評陳誠了，說他心胸狹隘，沒有耐心，沉不住氣等等。看起來他是想培養陳誠的。但兩人關係急速惡化，到1963年，蔣已經難以容忍陳誠了。於是，陳誠在1963年辭去了行政院長，由嚴家淦 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en41" id="ref41">（註41）</a>
					</sup>先生接任。由於心情不好，陳誠不久在1965年就過世了。</p>
				</section>

				<section epub:type="subchapter" id="part12">
					<h2><%= chapter_title[12] %></h2>
					<p><span class='speaker'>李肅：</span>蔣介石對於中國的近代史應該是影響最大的人物之一了。他從一名軍人變成一位政治領袖，他的實力也從弱變強。他經歷過很多失敗，也取得了很多的成功。到底應該怎樣評價蔣介石這個人？他是一個甚麼樣的人？一位英雄還是一個奸雄？是不是共產黨所說的“人民公敵”、“獨夫民賊”？您作為研究中國近代史、研究蔣家歷史的學者，怎麼看？</p>

					<p><span class='speaker'>郭岱君：</span>蔣介石日記開放以後，我讀了，也讓我對他有重新的認識。我在台灣長大，過去對蔣介石印象非常模糊。只是知道他是偉大的軍事家和政治家等等，都很空洞，很空泛，甚至有點反感。宣傳太多了。</p>

					<p>可是讀了他的日記，我覺得自己是一點一滴地進入到他平凡的內心世界，看到了一個不同的蔣介石。他首先是人，平凡的人。他也會哭，會難過，實在走投無路的時候會禱告。他跟上帝許諾，你若讓我贏了衡陽會戰 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en42" id="ref42">（註42）</a>
					</sup>，我一定蓋一個最大的鐵十字來榮耀你。他也會做這樣的事情。</p>

					<p><span class='speaker'>李肅：</span>這個在基督教中似乎是不允許的。</p>

					<p><span class='speaker'>郭岱君：</span>是的。你不能賄賂嘛，不能談條件。他沒辦法的時候也想自殺。他憤怒，嫉妒，多疑。這些毛病他都有。另一方面講，蔣個人有很多讓我意外的地方。</p>

					<p>其一，我們都說他是軍人，您剛才也講他是軍人，以為他是一介武夫，可是，我從他的日記中暸解到，他每天讀書，西方的經濟學等各種書他都讀，基本是每天讀書，很少例外。他還真不是一介武夫。你看他的日記寫了那麼多東西，他對國際形勢的分析，對各種現狀的瞭解等。</p>

					<p>但我也發現他個性上的一些弱點。比方說，他疑慮、很多疑，還有就是很容易生氣，心胸不寬。他在日記裡好幾次都說，這是余一生最大的恥辱。別人批評他，他就很生氣，有的時候甚至對善意的批評也不能接受。</p>

					<p>例如魏德邁 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en43" id="ref43">（註43）</a>
					</sup>將軍。他對國民黨是非常友好的。他在離開中國時給了國民黨政府一些非常忠實、善意的批評。但蔣介石很不高興，覺得不應該、是侮辱。</p>

					<p>他自己後來檢討也講，他這個人容易發怒，大家都不敢跟他講話。還有就是他多疑，有的本可以信任的人卻得不到他的信任。這樣導致他在很多事情上做出了錯誤的決定。偏聽偏信，也是他的問題之一。</p>

					<p>還有，他本人生活非常廉潔，但對自己周圍的人，甚至是國民黨的高級幹部，國軍的高級將領在1949年之前在大陸的貪污腐化行為聽之任之，無法制止。這個責任，他當然要負。</p>
				</section>
			</section>
