			<section epub:type="chapter" id="start">
				<h1><%= chapter_title[0] %></h1>
				<h2>撰文：蕭雨 製作： 杜林  昱杉  詩喬</h2>
				<div class="pullout"><%= global.book.meta[book].description %><!--核心提示：藏人要與北京決裂，事實還是謠言；中共有無和平解決的誠意；《17條協議》是方針還是策略；阿沛•阿旺晉美寫信的用心；達賴喇嘛起初曾拒絕出走；震走達賴喇嘛的兩發神秘砲彈；中情局與達賴喇嘛出走；藏人：砲彈像雨點落下；昔日駐藏大員的下場--></div>
				
				<p>53年前，雪域高原上的美麗都市拉薩曾經發生過一場慘烈的流血事件，史稱"拉薩事件"，中共稱之為"拉薩戰役"。這場衝突的一方是藏民，另一方是中國的野戰軍。衝突的結果是，藏民們付出了5000多人傷亡的巨大代價，達賴喇嘛離開家園，出走印度，開始他半個多世紀的流亡生涯。北京和西藏之間為"和平解決"西藏問題所做出的努力也終於在血泊中宣告失敗。</p>

				<%- photo[1] %>

				<p>這段歷史雖然塵封已久，但諸多重要的關節點上仍然存留著很大的問號：這次衝突真的像官方宣稱的那樣是不得已而為之的"平叛"軍事行動，還是中國既定的武力解決方案的最後實施？拉薩的騷亂是西藏地方政府直接策劃的產物，還是一次偶發的事件？達賴喇嘛的出走是他背叛祖國的必然結果，還是他陷入別人布下的圈套而做出的無奈之舉？</p>
				<p>種種謎團縈繞在人們的心頭，撩撥著專家們的好奇心，激勵他們沿著歷史的軌跡廣泛搜尋新的證據，發現新的答案。</p>
				<section epub:type="subchapter" id="part1">
					<h2><%= chapter_title[1] %></h2>
					<p><span class='speaker'>解說：</span>1959年3月10日，在多種因素的作用下，達賴喇嘛去西藏軍區看演出可能會遭到扣押的焦慮在拉薩城瀰漫開來。藏民們自動湧向達賴喇嘛的夏宮羅布林卡，企圖阻攔達賴喇嘛前往。次日，中共西藏工委向北京發出電報說，藏人開會決定"同中央決裂"，並將"為爭取 '西藏獨立'而搞到底"。事情的真相如何？開會的藏人能否代表全體藏人？他們的決定只是要求獨立嗎？我們採訪了進行過多年探索和研究的西藏問題學者李江琳。</p>

					<%- photo[2] %>

					<p><span class='speaker'>李肅：</span>拉薩事件以後，中共的西藏工委向中央遞交的報告中，提到藏人開會並宣佈要獨立，要同中央決裂。這個情況是中國官史裡的說法，它是否符合事實呢?</p>

					<%- photo[3] %>

					<p><span class='speaker'>李江琳：</span>不完全符合事實。首先，實際情況遠比這個複雜。藏人開的這個會是包圍羅布林卡宮（的民眾）在宮外面舉行的。在3月10號那一天，他們選出來了大約幾十名代表開會。他們的代表性只限於宮外聚集的那一群人。</p>
					<p>第二，根據當時在場的藏人的回憶，參加會議的人做出了幾項決定。其中有一個決定是，要組織一個代表團到中央去，向中央請求寬恕。但是，由於局勢的發展，他們沒來得及落實這一決定。不過，我們現在看到的資料中沒有有關這個問題的記載。</p>
					<p><span class='speaker'>李肅：</span>你指的是官史資料裡邊沒有的?</p>
					<p><span class='speaker'>李江琳：</span>對。在我看到的這些資料中，我能夠得出的結論是，當時的情況並不是所有的人都主戰，也有人主和。</p>
					<p><span class='speaker'>李肅：</span>中央政府接到了西藏工委的這個電報以後，是甚麼反應？</p>
					<p><span class='speaker'>李江琳：</span>有關資料中有很多並不是公開出版的，不少是所謂內部資料。據目前能夠找到的資料看，中央政府立刻做的事情就是軍事準備。</p>
					<p><span class='speaker'>李肅：</span>他們說要打，理由是甚麼? 就是因為上萬人圍了羅布林卡嗎?</p>
					<p><span class='speaker'>李江琳：</span>有幾個理由。一個是，發生了叛亂，是針對中央政府的叛亂。還有一個是說，你提出要獨立。還有一個是社會治安，說到處都在燒殺、強暴，甚至強暴尼姑。這都是子虛烏有的，是宣傳。</p>
				</section>
				<section epub:type="subchapter" id="part2">
					<h2><%= chapter_title[2] %></h2>

					<%- photo[4] %>

					<p><span class='speaker'>解說：</span>中國的軍事準備只是為了處理拉薩事件而臨時安排的，還是中共最高層為解決西藏問題制定的基本方針？我們來看看拉薩事件之前的一些史實：</p>
					<p>1950年1月，毛澤東從莫斯科給軍委副主席、西北軍政委員會主席彭德懷發出電報。電文說："西藏人口雖不多，但國際地位極重要，我們必須佔領，並改造為人民民主的西藏。"</p>
					<p>1950年10月，解放軍兵分四路，從四川、雲南、新疆、青海進軍西藏，並於隔年10月進抵拉薩。不久，西藏全部主要城市都有解放軍駐守。</p>
					<p>1955年冬，毛澤東指示西藏工委"準備進行民主改革"，"必須在打的基礎上進行準備"。</p>
					<p>1956年11月，毛澤東在中共八屆二中全會上說："我們的西藏工委和軍隊要準備着，把堡壘修起來，把糧食、水多搞一點。"</p>
					<p>1958年，時任中共中央書記處總書記的鄧小平指出，西藏軍區在生產的時候，同時要把武器放在旁邊，時時準備作戰。他還說，不要隨便打，要打就一定要勝。</p>
					<p>1959年1月，毛澤東說："幾年之後，例如三、四年，五、六年，或者七、八年之後，總要來一次總決戰，才能徹底解決問題。"</p>
					<p>從1949年10月中共建政到1959年3月開始的"西藏平叛"，在中國領導人發出的有關西藏的指示中， "打"、"戰爭"、"決戰"之類的字眼屢見不鮮。</p>
					<p>1959年3月10日，藏人包圍羅布林卡，中共最高層迅速做出反應。</p>

					<%- photo[5] %>

					<p>1959年3月11日，中共中央在收到西藏工委有關拉薩事件匯報的當天便回電指示說："西藏上層公開暴露叛國反動面貌，是很好的事，我們的方針是：讓他們更加囂張，更加暴露，我們平叛的理由就更充分。"</p>
					<p><span class='speaker'>李江琳：</span>在這個過程中還有一份電報。毛澤東說：照目前的形勢看來，解決西藏問題有可能要提前。提前，也就是說明他遲早是要做的，只是3月10號這個事件給了他一個理由。大概是在3月10號的時候，他把黃克誠
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en01" id="ref01">（註 1 ）</a>
						</sup>
						他們叫到武昌，當面給予指示的時候說了一句話：形勢這樣，非常好，總算等到了政治上的主動。</p>
					<p><span class='speaker'>李江琳：</span>丁盛
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en02" id="ref02">（註 2 ）</a>
						</sup>
						將軍是西藏、青海和1962年中印邊界戰爭中中共軍隊的主要指揮官。他撰寫的《丁盛回憶錄》中有一章，叫《丁指部隊的西藏平叛作戰》。丁盛說，他收到中央軍委給他的電報，命令他成立一個小型指揮部，簡稱"丁指"。電報的時間是1959年3月11號晚上11點。</p>

					<%- photo[6] %>

					<p><span class='speaker'>李肅：</span>也就是在拉薩事件的第二天。</p>
					<p><span class='speaker'>李江琳：</span>對。軍委同時還發出了另外兩份電報，一個是給西藏工委，一個是給成都軍區，要成都軍區的副司令黃新廷成立一個"黃指"，準備入藏平叛。</p>
					<p><span class='speaker'>解說：</span>1959年3月12日，藏人包圍羅布林卡不到24小時，毛澤東在武昌親自起草了一份電報。這份電報的內容至今尚未完全解密。在目前已知的電文中，毛澤東指出："西藏工委目前策略，應是軍事上採守勢，政治上採攻勢。"毛澤東說："如果敵人進攻時，在初期不要多殺傷，更不要出擊，最好使他們先得一些小勝利，使他們感到驅漢有望，才有大打一仗的可能，否則只會小打一陣，（使他們）倉惶逃走。當然這樣也不壞，但不如爭取大打一仗為更有利。"</p>
					<p><span class='speaker'>李肅：</span>他說在初期時不要多殺傷，更不要出擊，讓藏人得到一些小勝利，讓他們感覺驅漢有望。這是為甚麼?</p>
					<p><span class='speaker'>李江琳：</span>這個話可以說明幾個問題。一是毛澤東知道，在拉薩要打這場仗的話，他是必勝的，而不是像後來宣傳的那樣，形勢非常嚴峻，叛匪多於我們若干倍。有一個廣為流傳的說法是，一千解放軍消滅了七千叛匪。這是完全不符合事實的 。這是後來製造出來的一個狀況。</p>
					<p>我的書裡對當時的軍事力量對比有一個詳細的統計。拉薩戰役是一場砲戰，不是短兵相接的戰鬥。藏人的說法是，根本看不見一個解放軍，我們就被他們炸得一塌糊塗。所以，他們（中國軍政領導人）一開始就知道，只要打，他們肯定會贏。但是，他們要做的是甚麼呢? 消滅得越多越好，把他們徹底給消滅了，免得打散了以後就很麻煩。所以，他們要把藏軍全部吸引出來，先假裝解放軍輸了，然後予以消滅。</p>
					<p><span class='speaker'>李肅：</span>就是先示弱。</p>
					<p><span class='speaker'>李江琳：</span>對，先製造一個假象，然後打一個大仗。我對毛澤東這一點比較有興趣。他為甚麼要大打一仗，而不是小打小鬧？我認為，他不是想要把達賴喇嘛趕走就完了，而是要通過戰爭，徹底地把西藏的原有社會制度全部掃除。</p>
					<p>《十七條協議》中有一條，是西藏現有制度不改變。這一點和西藏必須改造成"人民民主的西藏"是矛盾的。你既然要保持現有的制度和官員，就是說他們原來做甚麼官，還是做甚麼官，那麼你就不可能把他改變成為"人民民主的西藏"。這兩者是不可兼容的。在簽訂十七條的時候，藏人並不知道毛澤東真實的想法是要把西藏改造成"人民民主的西藏"。</p>
				</section>
				<section epub:type="subchapter" id="part3">
					<h2><%= chapter_title[3] %></h2>
					<p><span class='speaker'>解說：</span>1950年，中央政府和西藏當局的和談陷入困境。藏軍試圖阻止解放軍進入西藏。當年10月，解放軍在康區首府昌都發動被稱之為"昌都戰役"的攻勢。結果8000藏軍不敵三萬解放軍，5700餘藏軍被殲。由原西藏地方政府噶倫、昌都總管阿沛•阿旺晉美率領的2700餘藏軍被解放軍繳械。次年5月，阿沛•阿旺晉美率領西藏當局代表團赴北京簽署了《中央人民政府和西藏地方政府關於和平解放西藏辦法的協議》，簡稱"十七條協議"，其中包括允許西藏自治，承諾西藏現行制度不變，維護西藏宗教，不強迫西藏改革。阿沛•阿旺晉美後來擔任過中國人大常委會副委員長。</p>

					<%- photo[7] %>

					<%- photo[8] %>

					<p><span class='speaker'>李肅：</span>藏人對《十七條協議》其實抱有很大希望。</p>
					<p><span class='speaker'>李江琳：</span>對，他是抱了很大的希望。</p>
					<p><span class='speaker'>李肅：</span>反過來，中國上層對於《十七條協議》是怎麼想的？他們簽訂協議的時候是怎麼想的?</p>
					<p><span class='speaker'>李江琳：</span>簽（協議）的時候，毛澤東有一個電報，是在昌都戰役
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en03" id="ref03">（註 3 ）</a>
						</sup>
						之前。它裡面就講了，對昌都戰役我們現在採取一種策略，要安撫尼赫魯，讓他們不要緊張，爭取要讓西藏方面派人來談判，也就是談判"十七條"。</p>

					<%- photo[9] %>

					<p>談判是以甚麼為基礎呢？就是以鄧小平起草的十條為基礎。爭取讓十條能夠為雙方所接受，這樣他們的軍隊明年進軍西藏就會更加順利。</p>
					<p><span class='speaker'>李肅：</span>那就是說，簽"十七條"其實是進軍西藏的一個手段，而不是目的。</p>
					<p><span class='speaker'>李江琳：</span>對，不是目的。</p>
					<p><span class='speaker'>李肅：</span>可不可以說，"十七條"實際上是城下之盟?</p>
					<p><span class='speaker'>李江琳：</span>它本來就是昌都戰役之後簽訂的。簽訂的時候作出了很多承諾。但公開的承諾和內部的文件有矛盾。這之間發生矛盾的時候，就只能取消《十七條協議》，否則，就不可能名正言順地進行社會改造。</p>
					<p>"十七條"是一個公開的、國際社會可以看到的東西。要取消它，就必須給出一個理由。最好的理由，就是毛澤東所說的，"政治上面，我們爭取到了主動"。</p>
					<p>這句話是甚麼意思呢？我對他的理解就是：好，你反叛了，我就平叛。也就是從那個時候開始，一直到現在所宣傳的，是你們主動撕毀了十七條協議。這樣，它的邏輯就完整了。所謂平叛、改革、建政就順理成章了，而且是取得了道德上的製高點，要負責的不是我，而是你了。</p>
				</section>
				<section epub:type="subchapter" id="part4">
					<h2><%= chapter_title[4] %></h2>
					<p><span class='speaker'>李肅：</span>在拉薩事件過程中，我們從史料上可以知道，達賴喇嘛和當時西藏最高的領導人，就是西藏軍區的政委譚冠三，有幾封來往的信件。</p>
					<p><span class='speaker'>李江琳：</span>他的第三封信就不是他寫的了，而是鄧小平起草的，以譚冠三的名義發出的。鄧小平寫了以後，用電報發到北京, 從北京發到武漢。毛澤東看了以後批准，把它再發回到（西藏軍區），轉了一大圈。</p>
					<p><span class='speaker'>解說：</span>鄧小平在以譚冠三名義寫的這封信中說："西藏一部份上層反動分子所進行的叛國活動，已經發展到不能容忍的地步。中央過去一向寬大為懷，現在中央仍然希望西藏地方政府改變錯誤態度，否則中央只有自己出面來維護祖國的團結和統一。"</p>
					<p><span class='speaker'>李肅：</span>達賴喇嘛給譚冠三的回信裡面說，現在他被反動分子包圍了，甚至是劫持了，要給他一點時間去說服群眾，跟反動分子做鬥爭。這些話是真心話嗎?</p>
					<p><span class='speaker'>李江琳：</span>他自己後來對這一點有一個解釋，說當時說這些話呢，第一是緩兵之計，第二也是順著譚冠三的那種（口氣），使用他們的語言和語言方式來獲取一定程度的信任。</p>
					<p><span class='speaker'>李肅：</span>也就是說，達賴喇嘛實際上在這個地方是說了假話。</p>
					<p><span class='speaker'>李江琳：</span>我不能說是假話。我只能說，他在當時的情況下作出他認為最合適的、最恰當的策略吧。他也講到，使用某種語言幾乎成為一種態度，所以在當時很危急的情況下（他這樣做了）。而且還要想到一點，當時達賴喇嘛不到24歲，不能以現在的達賴喇嘛的經驗來設想當年他的狀況。</p>
				</section>
				<section epub:type="subchapter" id="part5">
					<h2><%= chapter_title[5] %></h2>
					<p><span class='speaker'>李肅：</span>據說，阿沛•阿旺晉美也曾經給達賴喇嘛寫了一封信。</p>
					<p><span class='speaker'>李江琳：</span>對。譚冠三寫給他的第三封信中夾帶了一封阿沛的信。據達賴喇嘛的回憶，阿沛還附了一個草圖。羅布林卡宮殿裡面有好多層，不同的宮殿，阿沛要他說明你在哪一個位置上，在哪一個宮殿裡面。達賴喇嘛當時看見了以後大驚失色。</p>
					<p><span class='speaker'>李肅：</span>他說，眼看都要開砲了。</p>
					<p><span class='speaker'>李江琳：</span>對，就是要開砲了，要準備打仗了。達賴喇嘛當時極力想和平解決這件事情，他想讓外面的人自行散去。這樣的話就不給你一個打仗的理由。他看見這個以後，覺得形勢似乎難以逆轉。阿沛為甚麼寫這封信？這封信是他自作主張夾帶進去的，還是譚冠三授意他寫的？這還是拉薩事件中一個未解之謎。</p>
					<p><span class='speaker'>解說：</span>2009年，達賴喇嘛在印度達蘭薩拉接受李江琳採訪時這樣回憶道："在阿沛的信裡，他就提到，希望把羅布林卡大院的土匪全部趕出去。達賴喇嘛最好到司令部避難。如果這個做不到的話，至少黃牆內院裡面所有的人應該都是達賴喇嘛相信的人。還有一點，達賴喇嘛所住的房間，希望標上記號，讓我們看到他住的是哪個地方。當時我們就懷疑說，這個記號要做甚麼？是他們要作為目標，還是要作為保護？我們當時也不是很清楚。"</p>
				</section>
				<section epub:type="subchapter" id="part6">
					<h2><%= chapter_title[6] %></h2>
					<p><span class='speaker'>李肅：</span>拉薩事件起於3月10號。達賴喇嘛是17號出走的。這中間有七天。這期間，是誰、在甚麼時候提出要達賴喇嘛出走的，是達賴喇嘛自己？還是其他甚麼人？</p>
					<p><span class='speaker'>李江琳：</span>我在採訪藏人的時候也看了一些藏人的資料。藏人在秘密地策劃他走，大概是在12號13號左右。</p>
					<p><span class='speaker'>李肅：</span>也就是說，是在10號以後才開始策劃他走的?</p>
					<p><span class='speaker'>李江琳：</span>有幾個人參加了具體的策劃，一個是他的侍從長，叫帕拉
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en04" id="ref04">（註 4 ）</a>
						</sup>
						。他是一個僧人。還有他的警衛團長。但是，主要做事的是帕拉，他身邊的這個侍從長秘密地參與了很多事情。我採訪達賴喇嘛的時候特別問過他，他最早聽說要走是甚麼時候。他告訴我說，大概是13、14號的樣子。</p>
					<p><span class='speaker'>李肅：</span>13、14號，才有人告訴他要不要走。</p>
					<p><span class='speaker'>李江琳：</span>他們說，你準備，我們已經準備好了。</p>
					<p><span class='speaker'>李肅：</span>開始，達喇喇嘛聽說要走，是甚麼態度？是說好，咱們走，還是甚麼?</p>
					<p><span class='speaker'>李江琳：</span>他拒絕了。他說，我還沒有想好要走。是一口拒絕。</p>
					<p><span class='speaker'>解說：</span>達賴喇嘛在接受李江琳採訪時說："有一天晚上很晚，帕拉來見我。見我的時候他說，有些軍隊已經準備好了，在拉薩河對岸。如果要離開的話，一切都準備好了。這說明，其實帕拉他們在準備我離開的行動。但是，當時我跟他們說，不可能，現在我還沒做任何決定。"</p>
					<p><span class='speaker'>李肅：</span>達賴喇嘛為甚麼不願走？他是否對中央政府還抱有希望？認為有可能避免武力鎮壓。他當時是不是還不知道中央已經調集大軍準備鎮壓了?</p>
					<p><span class='speaker'>李江琳：</span>他肯定不知道。我在採訪他的時候，都過了幾十年了，我還跟他說過這些事情。我認為他是不知道的。當時他更不可能知道，因為他們連電台都沒有，他們也沒有一個情報網。調動軍隊當時是在週邊、自治區之外的地方。他沒有可能知道。</p>
					<p><span class='speaker'>李肅：</span>所以，他其實還是抱有希望。</p>
					<p><span class='speaker'>李江琳：</span>他抱有一定的希望。他希望中央給他一點時間，讓他勸導這些民眾自行散開，使這個事件能夠和平解決。</p>
				</section>
				<section epub:type="subchapter" id="part7">
					<h2><%= chapter_title[7] %></h2>
					<p><span class='speaker'>李肅：</span>他沒有想好要走，可他後來又為甚麼要走？我相信，他要走，還是得他自己做出決定才走得成，對不對?</p>
					<p><span class='speaker'>李江琳：</span>對。有一個直接的原因，就是3月17號下午，在羅布林卡北面，有一個中方的機構叫作青藏公路管理局。這是一個準軍事機構，裡面有很多民兵。在1958年大約11月左右，拉薩的各個機關都成立了民兵團。你知道，大陸的民兵裡面有兩種：一種是普通民兵，一種是基幹民兵。基幹民兵基本上是由受過軍事訓練的復原軍人組成的。</p>
					<p><span class='speaker'>李肅：</span>而且是有武裝的。</p>
					<p><span class='speaker'>李江琳：</span>是有武裝的。青藏公路管理局的基幹民兵中有一個叫曾惠山
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en05" id="ref05">（註 5 ）</a>
						</sup>
						的民兵。據說，他是個復原軍人。中方資料中稱他是一個經濟警察。但是，從其他的資料看，他實際上是一名復員軍人。</p>
					<p>曾惠山朝這個羅布林卡北面發射了兩顆砲彈。這兩發砲彈到現在我認為也是一個謎。他為甚麼開砲？為甚麼在那個時候開砲？誰給他的命令開砲？中方資料說是他擅自開砲，我有一點懷疑。開砲不是一個簡單的事情，這不像我要想嚇唬甚麼人的話，我朝天開一槍。朝這個宮殿開兩炮，不是一炮，而是兩炮，這裡面到底是甚麼原因，我們不知道。</p>
					<p><span class='speaker'>李肅：</span>這兩炮打出來了，是不是給達賴喇嘛造成一個震動，說真開砲了，真要打了？</p>
					<p><span class='speaker'>李江琳：</span>對。而且這一天，他恰好收到阿沛的信，要他畫出他所在的地方。（這兩件事情）幾乎是同時發生的。於是宮內外的人，包括民眾代表等等都認為這是一個訊號，說明戰鬥即將開始。</p>
					<p><span class='speaker'>解說：</span>達賴喇嘛對李江琳說："17號那天，羅布林卡對面有兩發砲彈打到那個地方，丹巴、強巴他們都看到了。他們當時是西藏公務員裡面比較年輕的兩位。他們看到有兩發砲彈打到那個地方。17號下午，我做了決定要離開。晚上，拉薩時間十點鐘的時候，離開了羅布林卡。"</p>
					<p><span class='speaker'>李肅：</span>跟達賴喇嘛一起走的有多少人?</p>
					<p><span class='speaker'>李江琳：</span>他和幾名衛士。離開羅布林卡宮殿的時候就只有幾個人。隨他過河的人，大概有二、三十人，是警衛團的士兵和其他一些人。他和他的母親、姐姐在河邊匯合，然後一起過河。四水六崗衛教軍
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en06" id="ref06">（註 6）</a>
						</sup>
						，也就是康巴游擊隊也派了一些人來，他們約有30多人在河南面那個地方等，然後護送他們一路走。</p>

					<%- photo[10] %>

					<p>途中加入的人越來越多，包括保衛他的人也越來越多。保衛人員分兩層：一層負責貼身保衛，都是他警衛團的人，約有一百來人。四水六崗的游擊隊員負責外圍保衛，具體人數不太清楚。</p>
					<p><span class='speaker'>解說：</span>1959年4月18日，在逃離拉薩一個月後，達賴喇嘛在印度提斯普爾首次公開露面。1960年，達賴喇嘛在印度北部與西藏一山之隔的達蘭薩拉設立了流亡政府。直到今天，這裡依然是流亡藏人的政治中心。</p>

					<%- photo[11] %>

				</section>
				<section epub:type="subchapter" id="part8">
					<h2><%= chapter_title[8] %></h2>
					<p><span class='speaker'>李肅：</span>根據中國的一些史料，也許不是史料，是一些傳說吧，說整個達賴喇嘛出走，中央情報局從頭到尾都參與了策劃。意思是說國外的反華勢力參與了策劃達賴喇嘛的出逃，或者說劫持了達賴喇嘛。美國中央情報局（CIA）到底參與沒有參與？</p>
					<p><span class='speaker'>李江琳：</span>沒有參與達賴喇嘛的出走過程。這一點，除了達賴喇嘛身邊的人、回憶錄、他本人的自傳等等之外，我在2009年採訪他的時候還特別向他求證。他一口否定：沒有，這件事自始至終是我們的決定，而且是他本人的決定。</p>
					<p>中方的資料中有很多的說法。其中一個是說有兩個電報員，一個叫阿塔，一個叫洛澤，他們兩個好像一直呆在拉薩，然後和達賴喇嘛一同出走，沿途發電報。這個不準確。</p>
					<p><span class='speaker'>解說：</span>上個世紀50年代，中國在四川、雲南、貴州和青海的藏區推行人民公社等激進的社會和經濟制度，沒收寺院和個人財產，批鬥上層僧侶和頭人。這些做法遭到了藏人的抵制。中國政府強力彈壓。1956年2月，中國空軍轟炸了四川藏區的理塘寺，造成數千僧侶和平民傷亡。</p>
					<p>在康巴地區進行武裝抵抗的藏人自感勢單力薄，隨即通過達賴喇嘛的大哥土登諾布
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en07" id="ref07">（註 7）</a>
						</sup>
						與美國中央情報局取得聯繫。中情局開始直接援助藏人武裝組織。1957年，中情局在塞班島上第一次對六名康巴人進行為期四個多月的特工訓練，內容包括爆破、發報、跳傘等。同年，他們中的五人被空投回藏區，其中包括阿塔和洛澤。他們兩人曾經到羅布林卡試圖覲見達賴喇嘛，但是被達賴喇嘛的侍從長擋駕。</p>
					<p><span class='speaker'>李江琳：</span>當時，實際上是達賴喇嘛的侍從長帕拉最早策劃達賴喇嘛出走的安排。形勢不知道會發生甚麼樣的變化。一旦需要出走，你不能臨時準備。是他作的準備。他比達賴喇嘛年齡大很多，比較有經驗。他知道如果要出走，很可能需要外界的援助。所以，帕拉在做出走準備的時候，首先就想到要找到這兩個人。他不知道形勢會如何發展。他們自己沒有電台，而那兩個人是有電台的。他必須找到那兩個人，才能夠通過他們向印度、或者美國，或者其它甚麼方面發出訊號，請求援助。</p>
					<p>帕拉派出了一個特使，騎著馬去找。等到他們找到的時候已經是六天之後。那時，達賴喇嘛已經出走了。</p>
					<p><span class='speaker'>李肅：</span>也就是說，美國中央情報局派的人實際上並不知道甚麼時候達賴喇嘛出走，而且是達賴喇嘛的人去找他們？</p>
					<p><span class='speaker'>李江琳：</span>對。其中的這個阿塔留下了一個回憶錄，實際上是一個錄音帶。別人把它整理成文。藏文版早就公開出版了。我找到了他的這個回憶錄，請藏人朋友把這段給我翻譯成漢語。</p>

					<%- photo[12] %>

					<p>這個回憶錄裡有詳細的描述，比如，他是在甚麼時候遇到達賴喇嘛的。他遇到的時間很晚，達賴喇嘛已經出來了三天，大概是20號。阿塔知道達賴喇嘛出走消息時，達賴喇嘛已經走了。阿塔只能朝著消息所指的方向去追。三天後才追上。此後，他（阿塔）才開始向中央情報局匯報，每天發報。</p>
					<p><span class='speaker'>李肅：</span>中央情報局參與西藏事務，除了培訓了幾個藏人，空投的以外，還參與了其他的事務嗎?</p>
					<p><span class='speaker'>李江琳：</span>空投了一些武器。</p>
					<p><span class='speaker'>李肅：</span>這些武器給誰了呢?</p>
					<p><span class='speaker'>李江琳：</span>主要是空投給四水六崗康巴游擊隊的。</p>
					<p><span class='speaker'>李肅：</span>美國中央情報局支持這支游擊隊？</p>
					<p><span class='speaker'>李江琳：</span>當時是支持這支游擊隊的。</p>
					<p><span class='speaker'>解說：</span>這支游擊隊的正規名稱叫"四水六崗衛教志願軍"，建立於1958年6月16日，其主要成員來自西藏、青海、四川和雲南四省交界處的康巴藏區，因此又稱為"康巴游擊隊"。從1957年到1960年，中情局曾經先後40次向康巴游擊隊空投了總計400多噸的武器裝備和物資。</p>
					<p><span class='speaker'>李肅：</span>這支游擊隊是一個統一的組織嗎？規模大嗎？有多少人？</p>
					<p><span class='speaker'>李江琳：</span>最初成立的時候只有幾百人。後來他們跟解放軍交過手，最初，還打了幾個勝仗，解放軍敗過幾次。幾場勝仗之後，藏人好像信心大增，有好多人，包括藏軍，都來投奔他們。他們人數最多的時候，有5000到8000人的模樣。這是四水六崗總指揮寫的一本回憶錄中提供的數字。我還看到了這位總指揮出來之後在60年代接受CIA採訪的打字稿的檔案原本。</p>
					<p><span class='speaker'>解說：</span>1959年以後，康巴游擊隊不敵解放軍的大規模圍剿，退至印度和尼泊爾境內，同解放軍進行游擊戰。1972年，美國總統尼克松訪華，美中關係緩和，美國對康巴游擊隊的援助逐漸停止。1974年，達賴喇嘛呼籲藏人放下武器，最後一批康巴游擊隊向尼泊爾政府交出武器，康巴游擊隊停止了活動。</p>
					<p><span class='speaker'>李肅：</span>根據中國官方的史料，拉薩事件發生的時候，大概有七、八千的武裝藏民，從康巴地區來的藏民進入了拉薩，這個是事實嗎?</p>
					<p><span class='speaker'>李江琳：</span>這不是事實。首先四水六崗康巴游擊隊沒有參與這個事件。</p>
					<p><span class='speaker'>李肅：</span>也就是說，這支游擊隊根本沒有參與這個拉薩事件。</p>
					<p><span class='speaker'>李江琳：</span>當時他們根本不知道。從他們總指揮的回憶錄中，他是從印度電台的廣播中得知這個事件的。當時，他人根本不在那一帶。他離得很遠，根本不知道。</p>
					<p>他們沒有參與。這個七、八千的說法其實是後來有人對史料做的一種修改。西藏工委發給中央的電報是最早使用這個說法的，用的數字是7000人，包括幾千藏軍、幾千喇嘛。它沒有說是武裝喇嘛。但後來官方的資料就變成了武裝喇嘛。這是對原始史料做的修改，製造出了一個"一千解放軍消滅七千叛匪"這麼一個假象。</p>
					<p><span class='speaker'>李肅：</span>當時在拉薩市裡邊，藏軍的數量有兩千多人。對不對?</p>
					<p><span class='speaker'>李江琳：</span>有兩千多。對。</p>
					<p><span class='speaker'>李肅：</span>藏軍直接參與了這個事件，對嗎？直接跟解放軍對抗，是嗎？</p>
					<p><span class='speaker'>李江琳：</span>有的。他們的參與是在拉薩戰役開始之後。當時的藏軍分散在不同的地方。比方說達賴喇嘛的警衛團，主要是在這個羅布林卡里面，其中有一百多人，是最精銳的部份，跟著達賴喇嘛走了。剩下的有一部份，如第四代本，是跟西藏軍區警衛營住在一起。那個時候藏軍實際上已被收編了，穿著解放軍的軍裝，佩戴著解放軍的軍銜。我所知道的，藏軍直接參戰而且打得最激烈的地方是藥王山。當時有七八十名藏軍在那個地方守著，打退過解放軍好幾次的進攻。</p>
					<p><span class='speaker'>李肅：</span>只有七、八十人？兩千多號的藏軍在這個時間都幹甚麼了？</p>
					<p><span class='speaker'>李江琳：</span>比如第四代本，從資料看來，根本沒有參與。</p>
					<p><span class='speaker'>李肅：</span>所謂代本指的是？</p>
					<p><span class='speaker'>李江琳：</span>就是一個團。他們也跟衝進來的解放軍發生過戰鬥，但具體傷亡情況不明。</p>
					<p><span class='speaker'>李肅：</span>你說衝進來的解放軍？他們不是去進攻解放軍？</p>
					<p><span class='speaker'>李江琳：</span>沒有。解放軍就住在他們隔壁。槍一打響，解放軍就把他們中間的隔牆給推倒了。那些藏軍還在睡覺呢。他們匆匆忙忙地穿上衣服打了一個小時就被解決了。</p>
					<p><span class='speaker'>李肅：</span>也就是說真正的藏軍的主力部隊並沒有參與對解放軍的對抗行動？沒有參與上萬人圍困羅布林卡的行動？</p>
					<p><span class='speaker'>李江琳：</span>沒有，他們當時連指揮都沒有，因為主要的指揮官都跟達賴喇嘛走了。留下來的這些人，比方說警衛團留在羅布林卡的那部份人，幾乎沒有抵抗。</p>
				</section>
				<section epub:type="subchapter" id="part9">
					<h2><%= chapter_title[9] %></h2>
					<p><span class='speaker'>李肅：</span>如果說康巴游擊隊沒有進入拉薩，如果說城內的兩千多藏軍沒有直接地對抗解放軍，那麼這些所謂的叛亂分子、武裝分子到底是誰呢？</p>
					<p><span class='speaker'>李江琳：</span>真正有武裝的人很少。很多是康巴人。有相當多數量的是僧人，也有很多拉薩市民，有些有槍，有些沒有槍。有槍的人到底有多少，我不是太清楚。但是從當時3月10號拍的照片上來看，大多數人是沒有武器的。</p>
					<p><span class='speaker'>李肅：</span>如果沒有武器的人佔大多數的話，怎麼能出來一個拉薩戰役呢？</p>
					<p><span class='speaker'>李江琳：</span>"戰役"的說法過於誇張。說成戰役，給人的感覺是對方很強，實際不是的。</p>
					<p><span class='speaker'>李肅：</span>這個拉薩戰役的說法是中國官史的說法，是嗎？</p>
					<p><span class='speaker'>李江琳：</span>對，直到現在還這麼說，拉薩戰役。</p>
					<p><span class='speaker'>李肅：</span>那麼官史裡邊說，對付了多少的武裝分子?</p>
					<p><span class='speaker'>李江琳：</span>它說的是7000。</p>
					<p><span class='speaker'>李肅：</span>7000。但是，我們現在看到的話，就算是有7000，恐怕大多數人是沒武裝的。</p>
					<p><span class='speaker'>李江琳：</span>對。</p>
					<p><span class='speaker'>李肅：</span>那這場戰役是怎麼打的呢？</p>
					<p><span class='speaker'>李江琳：</span>砲戰。解放軍主要是炮轟，而且用了裝甲車。</p>
					<p><span class='speaker'>李肅：</span>如果說是這樣的話，大砲和裝甲車對付的是沒有武裝的平民了?</p>
					<p><span class='speaker'>李江琳：</span>絕大多數是沒有武裝的平民。</p>
					<p><span class='speaker'>李肅：</span>動用了多少大砲?</p>
					<p><span class='speaker'>李江琳：</span>308炮團在拉薩河的南岸。它是斜對著羅布林卡。它是拉薩砲戰的主力。在轟炸藥王山的時候，據資料顯示是42門砲，同時轟炸的。藥王山上面的那座寺院夷為平地。</p>
					<p>對羅布林卡的攻擊來自三個方向，從三個方向進行炮轟。其他的軍隊裡面還有一些小型的砲也都參與。拉薩戰役實際上是一場砲戰。藏人們說，他們沒法打。我在採訪的時候，他們藏人不約而同地用了一個形容詞，就是"砲彈像下雨一樣掉下來"。</p>

					<%- photo[13] %>

					<p><span class='speaker'>李肅：</span>而且是下雨一樣落在了非武裝的平民頭上。</p>
					<p><span class='speaker'>李江琳：</span>在我的研究中，死傷最慘重的幾個地點是羅布林卡周圍，特別是在拉薩河南岸。當時砲戰從北面、西面和南面三個方向展開，南面是唯一的逃生之路，渡過河就能逃生。所以大量沒有經過軍事訓練的、也沒有武器的平民從羅布林卡南門奪門而出，都朝著那個方向逃。炮火從南往北，目標是擁擠在一起的上千人的人群。這些人被炮火逼回來過一次，然後有些人又往前衝。這個地方的死傷狀況非常慘重。</p>
					<p><span class='speaker'>李肅：</span>最後的結果是甚麼？死了多少人？</p>
					<p><span class='speaker'>李江琳：</span>從官方的資料中，我所看到的數據是死傷、投降一共是5000多人，其中官方所說的是死亡數字是545。我對這個數字存疑。17個轟炸點，好幾個地方都屬密集轟炸，對集中了上千人的地點進行密集轟炸。除非大部份砲彈沒有爆炸，否則死亡人數應該不止這些。</p>
					<p>藏人能夠組織略微有效抵抗的地點有兩個，一個是小昭寺，一個是藥王山。藥王山的抵抗是在密集的地毯式轟炸之前。解放軍往上衝了幾次，被山頂上的藏人打退，於是就調了幾十門砲對它進行密集的轟炸。在此之後，在大昭寺等很多地方，他們（藏人）沒有打就投降了。</p>
					<p><span class='speaker'>李肅：</span>那麼解放軍方面或者是民兵方面傷亡是多少人呢？如果說這是一場戰役，雙方互相應該都有傷亡。</p>
					<p><span class='speaker'>李江琳：</span>60多，不到一百。</p>
					<p><span class='speaker'>李肅：</span>60多人是死亡，還是傷亡加在一起？</p>
					<p><span class='speaker'>李江琳：</span>傷亡都有。</p>
					<p><span class='speaker'>李肅：</span>傷亡加一起60多人。</p>
					<p><span class='speaker'>李江琳：</span>但實際上，我仔細地看過西藏軍區出版的《西藏軍事志》，後面的附錄裡面有詳細的死亡將士名單。我在這個名錄裡面仔細地查過，死於拉薩戰役中的人數實際上還不到60。</p>
				</section>
				<section epub:type="subchapter" id="part10">
					<h2><%= chapter_title[10] %></h2>
					<p><span class='speaker'>李肅：</span>採訪過程中甚麼東西讓你印象最深刻，或者說最想不到的？</p>
					<p><span class='speaker'>李江琳：</span>讓我非常震撼的一個經歷就是講到張經武之死。</p>
					<p><span class='speaker'>李肅：</span>張經武是當時西藏工委
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en08" id="ref08">（註 8）</a>
						</sup>
						的書記。</p>
					<p><span class='speaker'>李江琳：</span>他是達賴喇嘛當時見到的第一個，用藏人說的話來說是，漢官。他們在亞東第一次見面的時候，達賴喇嘛十六歲，還不到十六歲。張經武那時候四十多歲，他是第一任中央駐藏代表。</p>
					<p>達賴喇嘛在他的自傳裡面多次提到張經武。他對張經武的感覺，怎麼說呢，覺得他是一個脾氣很不好的人，但他內心深處可能是一個好人。他（達賴喇嘛）是這麼評價他的。</p>
					<p>我去採訪他之前已經做了很長時間的研究了。我對研究工作有一個觀點，就是我覺得只要有可能，歷史研究應該有始有終。不僅有開始，還要有一個終結。這個事件，它的參與者的命運是甚麼？我覺得，我不是一個只關心事件的歷史研究者。我還關心人物在事件中的命運，以及他們之後的結局。</p>
					<p>所以，我的兩本書寫到最後，都有一個後記。後記交代了那些當事人的命運。這本書不只是寫達賴喇嘛，還寫了很多其他參與這個事件的各種各樣的人的命運。藏人和中共兩方面的人都有。</p>
					<p>我去見達賴喇嘛之前就已經知道誰的結局如何了。其實，對張經武，我應該承認，我有一種"你看這是報應吧，你這都是報應。你們這樣對別人，看看你們自己的結局吧"。</p>
					<p><span class='speaker'>李肅：</span>張經武實際上最後的結局不好?</p>
					<p><span class='speaker'>李江琳：</span>是最不好的。他是死在秦城監獄的，文革的時候。</p>
					<p><span class='speaker'>李肅：</span>共產黨自己把他給弄死的。</p>
					<p><span class='speaker'>李江琳：</span>對，他的死，就是到現在，坦白說，我都認為是個謎。他為甚麼會有如此悲慘的下場？</p>
					<p><span class='speaker'>李肅：</span>你告訴達賴喇嘛這個消息了嗎?</p>
					<p><span class='speaker'>李江琳：</span>我告訴他了，我還跟他一一地講，誰誰誰怎麼樣，誰誰誰怎麼樣。我講到了張經武。講到張經武的時候，我承認，我當時的語氣近乎幸災樂禍。這是一種很不好的心態。</p>
					<p><span class='speaker'>李肅：</span>說這是報應？</p>
					<p><span class='speaker'>李江琳：</span>我承認，這不是一個很好的心態。但是在我看到了這一切之後，我很難不流露出一種情緒。這是一種報應吧？我話沒說完，達賴喇嘛就對我說："我知道。"他已經都知道這些事情了。</p>
					<p>他說話時，我看到，他眼睛紅了，他含著淚跟我說了這句話。我當時就極其震撼。我一下感覺到我自己對於歷史抱著一種近乎輕浮的心態。我馬上產生一種自責。同時我也立刻感到一點：這些參與者中，受害者不僅僅是藏人，還有很多漢人--士兵和官員。從某種意義上來說，他們也是受害者。他們是加害者，同時也是受害者。</p>
					<p>所以，對歷史的研究不能僅僅是說，自己站在哪一面，支持哪一面，反對哪一面那麼簡單。這裡面很多人的命運，實際上糾纏在一起，變成了一種共同的命運。這種糾纏把他們自己都糾纏進去了。</p>
					<p><span class='speaker'>解說：</span>除張經武外，其他參與西藏事務的主要中共軍政官員也在歷次的政治運動中受到衝擊。</p>
					<p>范明
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en09" id="ref09">（註 9）</a>
						</sup>
						，原解放軍進藏部隊司令員兼政委，中共西藏工委副書記。1958年被劃成"極右分子"和"反黨集團頭子"，被撤銷一切職務，開除黨籍、軍籍，並被送到長白山地區勞動改造。1962年，他受"彭德懷反黨集團"案子牽連，被關押到北京秦城監獄。1980年平反，後來擔任陝西省政協常務副主席。2010年病逝。</p>

					<%- photo[14] %>

					<p>丁盛，曾任解放軍54軍軍長、廣州軍區司令員、南京軍區司令員，1962年指揮中印邊界戰爭。1977年被指投靠"四人幫"，受到批鬥。1982年被撤銷軍職，開除黨籍。1999年病逝。</p>
					<p>譚冠三，原解放軍西藏軍區政委，1966年任中國最高人民法院第一副院長。文革期間被打成"反林彪"、"反江青"的"走資派"，送到湖北"五·七幹校"隔離。1978年平反後任成都軍區顧問。1985年病逝。</p>
					<p><span class='speaker'>李江琳：</span>張經武說過，西藏平叛是一場階級鬥爭；民主改革是一場階級鬥爭。結果他自己也被這個階級鬥爭吞沒了。這是一場民族的悲劇，其實也是個人的悲劇。考察這段歷史的意義遠遠超過了西藏現代史、中國現代史。我們有必要對階級鬥爭這種理論本身對人類帶來的巨大的災難進行深刻的反思，否則這個歷史就不會終結。</p>
					<p>結束語：當年從羅布林卡出走的達賴喇嘛已經在外流亡了半個多世紀。如今，漢藏矛盾仍然沒有化解；西藏流亡政府和北京之間的談判仍然毫無進展；不斷有藏人還在沿著達賴喇嘛當年出走的道路離開西藏，踏上流亡之途。</p>
					<p>在西藏境內，藏人抗爭未已，自焚、示威接連不斷。國際社會還在不斷地呼籲漢藏對話，妥善解決西藏問題。</p>
					<p>西藏的未來向何處去？漢藏矛盾有沒有化解的可能？很遺憾，我們無法給您一個圓滿的答案，但希望美國之音《解密時刻》能夠對您全面暸解這段歷史有所助益。</p>
				</section>
			</section>
