			<section epub:type="chapter" id="start">
				<h1><%= chapter_title[0] %></h1>
				<h2>撰文：杜林   製作：蕭雨 昱杉</h2>
				<div class="pullout"><%= global.book.meta[book].description %><!--核心提示："中山艦事件"上的誤會；蔣介石不抵抗命令是否存在；"攘外必先安內"背後不為人知的秘密；淞滬會戰真正的戰略意圖；蔣介石與持久戰；西安事變為何讓蔣介石無法原諒張學良；蔣介石堅定抗日的新證據--></div>

				<p>蔣介石有記日記的習慣。從28歲到85歲的50多年中，他一直保持着這個習慣，鮮有輟記，只是到他生命的晚期因病重才停止。日記不僅記錄了蔣介石作為一個反袁（世凱）革命志士的活動，而且還詳細記述了他主辦黃埔軍校、成為黨國領袖以及在八年艱苦卓絕的抗日戰爭中堅韌不拔、忍辱負重的心路歷程。</p>
				<p>在閱讀這份珍貴的歷史記錄的時候，讀者除了能夠對蔣介石--中國近代史上的這位重要人物--的內心世界有一個新的暸解之外，還會發現國人對許多重要歷史事件所持有的看法可能並不正確，甚至是完全錯誤的。</p>
				<p>這方面例子有很多，比如，第一次國共合作破裂的真相如何？蔣介石在抗戰期間究竟是"賣國"還是"愛國"？長期遭人詬病的"攘外安內"的政策包含怎樣的秘密？抗戰初期，國民黨為何要在弱勢的情況下主動挑起"淞滬會戰"，付出數十萬人傷亡的巨大代價？紅軍又如何能夠在國民黨軍隊的"圍追堵截"中僥倖生存下來？持久抗戰的決策是誰最先做出的，是毛澤東還是蔣介石？</p>
				<p>蔣介石日記從1917年開始到1972年結束。《解密時刻》的嘉賓，美國斯坦福大學胡佛研究所研究員郭岱君女士將為我們介紹日記中有關1945年抗戰結束前的主要內容，與我們分享她對蔣介石日記的研究心得，發掘那些長期被掩蓋或者扭曲了的歷史真相。</p>
				<p>解說：在上個世紀20年代，中國國民黨的創始人孫中山實施聯俄容共政策，促成了國民黨和共產黨之間的第一次合作。但是，不久，合作破裂，兩黨反目。而蔣介石的實力卻在這個階段得到了加強，他在黨內和軍內的地位也大大提升。在黨內外多種因素的共同作用下，蔣介石迅速成為國民黨的最高領導人。他在這個時期的日記揭示出扭轉歷史走向的複雜環境。</p>
				<section epub:type="subchapter" id="part1">
					<h2><%= chapter_title[1] %></h2>
					<p><span class='speaker'>李肅：</span>國民黨和共產黨之間的關係是瞭解中國近代史的一條非常重要線索。兩黨從合作到分裂，從情同手足到不共戴天，經歷了一系列驚心動魄、腥風血雨的歷史事件。其中一些重要事件，比如"中山艦事件"
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en01" id="ref01">（註1）</a>
						</sup>
						，長期籠罩在迷霧之中。郭岱君女士，能否給我們談談中山艦事件發生的背景？</p>

					<%- photo[1] %>

					<p><span class='speaker'>郭岱君：</span>您剛才提到很多國共兩黨關係的變化，特別是國民黨一些領導人，他們的政治信仰變化過程是非常有意思的。</p>
					<p>蔣介石年輕時是個左派，非常嚮往共產主義、社會主義。他經常閱讀馬克思和列寧的書，讀了很多有關共產主義和社會主義的書。特別在1923年秋天去莫斯科訪問時，他更是閱讀了大量此類書籍。那個時候，他每天學習俄文，是一個很有抱負的年輕政治家。</p>

					<%- photo[2] %>

					<p>那次訪問對他來說，我想，是一次很深刻的心靈之旅。他親眼目睹了所謂共產社會的理想國家是個甚麼樣的狀況。他在日記中有很多的反思。他回來之後跟他的好朋友廖仲愷
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en02" id="ref02">（註2）</a>
						</sup>
						通信，談了許多他所看到的和他發現有點不對勁的地方。</p>
					<p>比方說，不是說（蘇維埃國家）是工人的天堂嗎？可是那裡工人的生活並不好。不是說世界各民族都一律平等嗎？可他發現少數民族在莫斯科是受歧視的，等等。即便如此，他還是很贊成社會主義的。</p>
					<p>大家都知道，中山先生主張聯俄容共。黃埔軍校
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en03" id="ref03">（註3）</a>
						</sup>
						成立的時候，蔣也是非常支持中山先生的聯俄容共政策。那麼，為甚麼到了1926會發生這個中山艦事件？</p>
					<%- photo[3] %>
					<p>這裡面是有原因的。那個時候的蔣介石是黃埔軍校的校長，他在軍界的地位還處於上升階段，在國民黨裡面的份量和權力也還不夠。</p>
					<p>中山先生去世後，蔣介石要繼承遺志，進行北伐。但是，當時的蘇聯顧問季山嘉
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en04" id="ref04">（註4）</a>
						</sup>
						認為時機不成熟，不贊成。他們兩人為此發生很多爭執，甚至拍桌子，惡言相向。那時，汪精衛
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en05" id="ref05">（註5）</a>
						</sup>
						比較傾向於季山嘉。</p>
					<p><span class='speaker'>李肅：</span>汪精衛當時是國民黨名義上的領導人，對不對？</p>
					<p><span class='speaker'>郭岱君：</span>是的，中山先生去世以後，汪精衛一直都是國民黨名義上的領導人，直到抗戰爆發。蔣介石認為，在他跟季山嘉的爭執中，汪精衛是傾向於季山嘉的，因此，蔣介石對汪精衛很不滿。實際上，汪精衛可能只是想緩和他們兩人的爭執。</p>
					<p>此時，國民黨裡已經有了左派和右派。在黃埔軍校裡，國民黨也有右派和左派，他們之間，以及他們跟共產黨人發生了很多矛盾。蔣介石對此感到不安、矛盾和懷疑。有人就利用這種狀況，甚至故意造謠。</p>
					<p>在日記中，我們可以看到有人不斷對蔣介石說，外面在散播關於他的壞話，甚至在散發傳單，說要倒蔣等等。蔣很疑慮。不過，他當時的實力還不夠，因此非常害怕。中山艦事件之前的兩個禮拜，蔣的日記反映出他的惶惑、恐懼、憂傷。在2月19日那天，他甚至還想過自殺。</p>
					<p><span class='speaker'>解說：</span>中山艦是清朝時中國從日本定購的戰艦，原名永豐艦。1922年，粵軍總司令陳炯明
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en06" id="ref06">（註6）</a>
						</sup>
						發動叛亂，孫中山曾經在這艘軍艦上避難長達一月有餘。因此1925年孫中山逝世後，這艘戰艦改名為"中山艦"，以示紀念。</p>
					<p>1926年3月20日，蔣介石對中山艦的調動產生懷疑，認為共產黨可能要發動兵變。於是，他下令扣留中山艦，逮捕艦長、共產黨人李之龍
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en07" id="ref07">（註7）</a>
						</sup>
						，包圍共產黨和蘇聯顧問機關，並且還扣留了第一軍和黃埔軍校中的周恩來
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en08" id="ref08">（註8）</a>
						</sup>
						等共產黨員。這就是歷史上著名的"中山艦事件"。</p>
					<p>共產黨人認為蔣介石是故意製造這起事件的，要借機清除國民革命軍中的共產黨人。蔣介石則認為，共產黨當時是想同國民黨中的左派聯手發動針對他的兵變。</p>
					<p>根據新發現的史實看，雙方實際上都對對方有誤解。這個事件實際上是一場誤會。不過，這次事件產生的客觀效果是蔣介石在國民黨黨內和政府中的地位得到了加強，為他取得軍政最高領導權創造了條件，而且給當年的國共第一次合作投下了巨大的陰影。</p>
					<p>李肅：中共黨史把中山艦事件說成是蔣介石故意製造的，是他下令調動中山艦，然後又說是共產黨要謀反。那麼，蔣介石日記裡到底是怎麼說的？</p>
					<p><span class='speaker'>郭岱君：</span>正好相反，實際上，這已經沒有甚麼爭論了，因為中國大陸有幾個學者已經研究過。蔣介石那天人在廣州，中山艦到了黃埔又回到廣州。回到廣州的當天晚上，該艦一直沒有熄火。</p>
					<p>沒有熄火是有原因的，因為有個外國商隊要來參觀。不幸的是，左派和右派之間已經有很多猜疑，蔣介石已經感到非常不安。偏偏那天汪精衛一連給他打了三個電話，問他甚麼時候去俄國。蔣介石本來想退讓了，因為羽翼未豐，所以就說去俄國修養算了。</p>
					<p>他那天在日記中說，某人一日三次問我甚麼時候去俄國，加上中山艦當晚不熄火，他覺得奇怪，心想他們是不是想在半夜把我虜到海參崴（即：符拉迪沃斯托克）去？蔣的疑慮進一步加重。但是，2月19日那天，他實際上是準備走的。陳立夫
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en09" id="ref09">（註9）</a>
						</sup>
						的秘書已經給他買了回汕頭的船票。車子已經開往碼頭了，在路上陳立夫問他，我們為甚麼要屈服？</p>
					<p>他日記裡寫得很清楚，他說，我們的車子已經到了碼頭，後來我又想既然革命我們為甚麼怕死？所以又掉轉車頭，回來部署。第二天清晨就把中山艦上的人都抓起來。當時有個重要人物叫李之龍，他是共產黨員。俄國顧問季山嘉也被監視起來。</p>
					<p>第二天早上，汪精衛知道這個事後勃然大怒。但事情已發生。後來，蔣介石自己也發現他在這個事情上有誤會，其實並沒有人打算要把他虜到海參崴（符拉迪沃斯托克）。所以，不到一個月，他就把抓起來的人都放了。</p>
					<p><span class='speaker'>李肅：</span>他後來發現這是一場誤會，他在日記裡面有寫嗎？</p>
					<p><span class='speaker'>郭岱君：</span>日記都有寫。但是他說："事已足成"，都已經做了嘛，能怎麼著？他跟汪精衛因此交惡了。汪精衛非常生氣。汪精衛後來一氣之下就出走了。蔣當然也很後悔，覺得自己太孟浪。</p>
					<p>但之前很多的一點一滴就是這樣。所以楊天石教授
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en10" id="ref10">（註10）</a>
						</sup>
						就講，他說這是一個偶然的必然。也就是說彼此的疑慮已經非常深，加上左右兩派之間互相猜疑，有人就在中間借機生事，利用蔣介石的疑慮和不安，製造這樣一個事件，打擊左派。如果沒有中山艦，也可能還有別的事情。</p>
					<p><span class='speaker'>李肅：</span>也就是說，這個事件不是蔣介石故意製造的，而是有人故意製造的。</p>
					<p><span class='speaker'>郭岱君：</span>就是國民黨裡面的右派，特別是黃埔軍校裡面的右派，他們一直跟蔣介石校長說有人要倒蔣，使蔣非常不安。他哭，甚至想自殺。顯然，這實在是偶然的必然。它總是要發生的。</p>
					<p><span class='speaker'>李肅：</span>那麼，以當時的情況來看，從蔣介石的日記裡面所反映的，他有沒有認為這個事件儘管不是我安排的，我也樂見其成？</p>
					<p><span class='speaker'>郭岱君：</span>其實，這都不是他期望的。從他的日記可以看出，蔣介石起初是打算退讓的。他船票都已經買了，要去蘇聯了，因為當時他根本就沒有多少力量嘛。他就是黃埔軍校校長而已。在軍事、政治和黨務方面，在他上面是大有人在。</p>
					<p>所以，他最後從碼頭又回來，是抱著必死的決心呀。他說，為了革命，就算死了也沒有關係。他根本沒有（取勝的）把握。但是，對方根本沒有發動兵變的意識，他去抓人的時候，對方所有人都沒有防備。</p>
				</section>
				<section epub:type="subchapter" id="part2">
					<h2><%= chapter_title[2] %></h2>
					<p><span class='speaker'>李肅：</span>人們談到抗戰，總會提到抗戰初期國民政府的不抵抗政策。日本發動9.18事變，襲擊中國瀋陽張學良
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en11" id="ref11">（註11）</a>
						</sup>
						部隊的軍營北大營
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en12" id="ref12">（註12）</a>
						</sup>
						，隨後侵佔中國東北三省。大陸官方的說法是，東北軍是奉蔣介石不許抵抗的命令而放棄了東三省。張學良不過是把蔣的命令轉達給自己的部隊而已。但也有很多不同的說法，包括張學良自己的說法。他否認了蔣介石下達過這樣的命令。那麼，蔣先生的日記是怎麼說的？</p>
					<p><span class='speaker'>解說：</span>1931年9月18日晚，駐紮在瀋陽附近的日本關東軍派人炸毀南滿鐵路一段鐵軌，然後嫁禍於中國軍隊。關東軍以此為藉口，對瀋陽北大營的東北軍守軍發動攻擊。東北軍在基本沒有抵抗的情況下迅速撤退，瀋陽隨即淪陷。之後，日軍很快佔領了東北三省。中國的官史說，正是因為蔣介石下達了不抵抗命令，東北軍才全線潰退，丟失家園。</p>
					<p><span class='speaker'>郭岱君：</span>實際情況正如您剛剛說的，不抵抗政策不是蔣先生下的。張學良在三個場合都鄭重予以否認。他在台灣接受訪問時。在哥倫比亞（大學）口述歷史的訪問中，以及他在自己的回憶錄裡都很明確地表示，完全沒有這回事。</p>
					<p>從蔣的日記來看，9.18事變發生的時候，他根本不知道。那個時候電話等都不那麼方便。事變的時候，他還不曉得，第二天才知道。所以，在他的日記裡，我們可以看到，9月19日，也就是事變發生的第二天，蔣介石才寫道："昨晚倭寇無辜攻擊我瀋陽兵工廠，並佔領我營房。天災匪禍，相逼而來，速我危亡乎！"</p>
					<p>很清楚，蔣介石是在事變次日才得知消息的。他在9月20日寫道："聞瀋陽、長春、營口被倭寇搶佔，心神不寧，如喪考妣，苟為我祖宗之子孫。如不收回東北，則永無人格矣！"</p>
					<p>這樣看，"不抵抗"真地跟他沒有關係。但是，很多人也注意到，9.18事變後，蔣介石並沒有立刻抗日。</p>
				</section>
				<section epub:type="subchapter" id="part3">
					<h2><%= chapter_title[3] %></h2>
					<p><span class='speaker'>解說：</span>9.18事變之後，日本迅速佔領了中國東北全境。但是，蔣介石沒有立即宣佈對日開戰，反而提出"攘外必先安內"的主張。很多人的看法是，蔣介石在那個歷史時刻推行這一政策，繼續圍剿紅軍，置國家與民族利益於不顧，最終導致了東北的淪陷。實際情況究竟如何呢？蔣介石日記向您透露了"攘外必先安內"所包含的秘密。</p>
					<p><span class='speaker'>郭岱君：</span>他不但沒有立刻抗日，還反而提出一個"攘外必先安內"的政策。日記給我們提供了很多的答案。很多學者，特別是中國大陸的學者來看（日記），驚異地發現，原來如此！因為蔣其實是瞭解日本的。他說："倭三日可亡我矣"。</p>
					<p>蔣介石為甚麼沒有立刻抗日呢？他有他的考量。中國軍隊的裝備跟日本比，簡直是天壤之別。只要日本封鎖長江和沿海一帶，中國三天就完蛋了。所以，蔣介石說："不可貿然而戰"。</p>
					<p>他在日記中記述了他的多種考慮。 9.18之後，他思考了很多東西，知道問題所在，也認為必須抵抗，但就是不知道怎麼抵抗。他這個時候寫了很多、很多這方面的想法。他甚至在9月20日立下遺囑，說我沒有別的辦法，我們也打不過人家，只有"鞠躬盡瘁，死而後已"。"萬一不測，當見危授命，特書此為遺囑"。</p>
					<p>蔣介石自己認為抗日，首先要爭取時間，爭取時間備戰。在1932和1933年之間，他和德國的軍事顧問，以及早年留學德國的中國近代軍事理論家蔣百里
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en13" id="ref13">（註13）</a>
						</sup>
						先生有很多的討論，慢慢地眉目就比較清楚了。這就是要進行持久戰，爭取時間備戰。</p>

					<%- photo[4] %>

					<p>所以，我們可以看到從1931年到1937年真正抗戰開始之間這段時間，國民黨做了很多事情，但都是只做不說，因為蔣介石要掩飾他的真正意圖。</p>
					<p>再有就是我們剛剛談到的"攘外必先安內"。當時，蔣介石就考慮遷都，因為他曉得上海很快就要失守，南京也守不住，怎麼辦？只有遷都。他也考慮過遷都洛陽或者西安，但最後決定遷往四川。</p>
					<p>大家都曉得中國那個時候是個軍閥割據的時代，蔣介石根本沒有辦法控制整個國家。他能控制的只是沿海幾個省而已。所以，他在日記中說，我怎麼能進入四川呢？特別是四川、雲南和貴州，那裡的軍閥勢力非常強大。</p>
					<p>蔣一直在琢磨，並跟德國的軍事顧問商量。終於有一天，他忽得"一計"，就是要以剿匪為掩護，建立西南根據地，"借剿共以收復西南"。蔣故意把紅軍留下一小股，把他們往西南趕。這才有紅軍所謂的兩萬五千里長征。紅軍得以從江西往西南走，然後才到延安。中央軍就在紅軍後面追，從而得以進入四川。這是他的一計。蔣介石在日記中寫道，"若為對倭計，以剿匪為掩護，抗日之原則。"</p>
					<p><span class='speaker'>李肅：</span>這就是說，蔣介石當年要剿滅紅軍，實際上是他做抗戰準備的一個策略？他是故意把紅軍放過去，所謂的圍追堵截，是有目的、有控制的軍事行動。對於這個"攘外必先安內"或者是不抵抗政策，中共認為，這是蔣介石不顧外敵侵略的威脅而要堅持打內戰，要剿滅共產黨。在蔣眼中，共產黨紅軍對他政權的威脅要大於日本的侵略。</p>
					<p><span class='speaker'>郭岱君：</span>這個問題可以從多個角度看。國家不團結是不可能打仗的，這個大家都知道。可是，當時紅軍只剩下不到兩萬五千人，蔣介石認為只要他能夠收復西南，立刻就可以剿滅紅軍。他還真沒有把紅軍放在眼裡。所以，他更希望能夠收復那些地方軍閥，讓軍閥團結起來抗戰。這是他的一個考量。</p>
					<p>問題是，他能這麼做，但不能這麼說。日記顯示，蔣介石是借剿共之名以達到收復西南的目的，借剿共以掩飾抗戰之決心。這對所有的學者，特別是對中國大陸的學者，是一個很大的顛覆，一個很大的震撼。</p>
					<p>他一方面是收復西南，準備要遷都重慶，另一方面又讓蔣廷黼
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en14" id="ref14">（註14）</a>
						</sup>
						、 宋子文
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en15" id="ref15">（註15）</a>
						</sup>
						、孔祥熙
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en16" id="ref16">（註16）</a>
						</sup>
						、陳儀
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en17" id="ref17">（註17）</a>
						</sup>
						等去歐美各國開拓外交，爭取軍事上的援助。其中，孔祥熙的成績最好。他在1934年跟德國簽訂了秘密協定，德國派軍事顧問到中國來，還把很多兵工廠和武器給了中國。</p>
					<p>德國甚至派它的參謀總長塞克特將軍
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en18" id="ref18">（註18）</a>
						</sup>
						擔任中國陸軍的總顧問。他的副手法肯豪森上將
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en19" id="ref19">（註19）</a>
						</sup>
						親自到中國來訓練中國的軍隊。中國在此之前沒有真正意義上正規軍，因為軍閥的軍隊各自為政，不團結，也沒有甚麼訓練。軍隊有的一點點訓練還是來自黃埔的，但黃埔的人數非常有限，而訓練的時間也很短。</p>

					<%- photo[5] %>

					<p>所以，1934年德國顧問法肯豪森來中國以後，真正的軍事訓練才開始。這時，中國軍隊才開始編纂陸軍寶典，步兵手冊。蔣希望能夠爭取時間，大概是五、六年或者更長一點的時間，訓練出60個師。</p>
					<p>蔣同時還推行新生活運動。這看起來是個生活運動，是一場教育，但蔣介石的意思是，要用教育作掩護來動員民眾，把國人動員起來，做好抗戰的精神準備。他的日記裡有很多這方面的記述，比如，如何用教育掩護動員，用外交掩護他的各種遠交近攻動作，以發展實業為抗戰做物質準備。</p>
					<p>那幾年被稱為是國民黨的黃金時期，實際上就是備戰時期。蔣在他日記中說："中日之戰必不可免"。他心裡非常清楚，但問題是，他做的所有這些都不能講。</p>
					<p><span class='speaker'>李肅：</span>他甚麼時候在日記裡面說"中日之戰必不可免"了嗎？</p>
					<p><span class='speaker'>郭岱君：</span>太多次了。那個時候有很多人反對他嘛。不但東北流亡學生反對他，左派人士罵他不抗戰，國民黨內部也有人批評他。他很痛苦。有的時候別人批評他，他會說，我為甚麼要忍受這種屈辱？但有時他就自我鼓勵說，"我屈則國伸"，"我伸則國辱"。</p>
					<p>當時的情形跟我們以後要談的和談問題有關。當時，我想只要有一點常識的人都知道，這個仗是沒辦法打的，因為中日力量懸殊太大。國民黨的重要領導人汪精衛就經常說，"這個仗怎麼打？"</p>
					<p>國民黨裡面的于佑任
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en20" id="ref20">（註20）</a>
						</sup>
						、居正
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en21" id="ref21">（註21）</a>
						</sup>
						和孔祥熙等都認為不能打，因為實際上是沒有辦法打。民間知識份子胡適
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en22" id="ref22">（註22）</a>
						</sup>
						、蔡元培
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en23" id="ref23">（註23）</a>
						</sup>
						、傅斯年
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en24" id="ref24">（註24）</a>
						</sup>
						他們也認為不能打。</p>
					<p>但是，大批的學生，熱情高漲，表示"頭可斷，血可灑"，表示他們不怕死，要抗日。北大的學生進行抗議，蔡元培出來跟學生解釋說，大家要忍耐，現在還不能打。結果，蔡元培被學生打倒在地。當時整個形勢就是這樣子。</p>
					<p><span class='speaker'>解說：</span>日軍侵佔中國東北後，蔣介石明白，以當時中國的實力，不可能戰勝日本，中國只能進行持久戰。在當時的戰場上，中國軍隊雖然在數量上超過日軍，但還是節節敗退。上海、南京、武漢、長沙，以及華東和華南相繼失守。中國軍隊為何在這一帶投入如此大的兵力，承受如此大的犧牲？蔣介石日記道出他的苦衷。</p>
				</section>
				<section epub:type="subchapter" id="part4">
					<h2><%= chapter_title[4] %></h2>
					<p><span class='speaker'>李肅：</span>蔣介石當年的抗戰決心有多大？他既然知道日本非常強大，三天就能滅亡中國。那麼，他的決心有多大？他認為抗戰能夠抗到甚麼程度？</p>
					<p><span class='speaker'>郭岱君：</span>蔣介石在9.18之後的前兩、三年是很矛盾的，因為他真的不知道怎麼辦。我想幾乎所有的中國領導人都不知道怎麼辦。但蔣介石知道日本絕對不會以佔領東北和華北為滿足，一定要佔領全中國。</p>
					<p>實際上，日本當時也打的就是這個算盤，希望成立傀儡政權。東北已經有一個滿洲國，接下來就是要成立華北的傀儡政權。蔣介石知道這個仗是非打不可，但怎麼打？何時打？這是他斟酌的問題。他決定遷都以後制定的戰略清晰地反映出這一點。</p>
					<p>國民黨在1936年曾經召開過一次黨內會議，當時就已經制定了持久戰的方針。為了打持久戰，蔣介石提出了抗戰的兩個重大的原則，就是誘日軍南下，改變日軍的戰略軸線。日軍本來是要沿從北平往西南斜線進軍，直搗西南。那樣，中國的半壁江山就完了。</p>
					<p>蔣介石為了打持久戰，開闢了淞滬戰場，在1937年打了一場異常慘烈的"8.13"淞滬會戰，迫使日軍改變了它原定的由東向西的軍事戰略，被迫改道從北往南，拉大了戰場。蔣介石的這個策略是很清楚的。</p>
					<p>蔣介石也知道，中國沒有甚麼可以跟日本人打，有的只是血和肉，以及民族之精神和生命。他在日記中說："此戰不在勝負，而在民族精神之消長"。</p>
					<p><span class='speaker'>解說：</span>淞滬會戰是1937年8月13日起中國軍隊在上海與日本軍隊展開的一場激烈戰鬥，史稱8.13之戰，或"淞滬會戰"
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en25" id="ref25">（註25）</a>
						</sup>
						。這是中國抗日戰爭中第一場重要戰役，也是這場戰爭中規模最大、戰鬥最為慘烈的戰役之一。日軍投入37萬人，死傷4萬余人；中國軍隊投入75萬人，死傷30萬人。三個月以後，也就是1937年11月12日，日軍攻陷上海，淞滬會戰結束。淞滬會戰中方雖然失利，但卻實現了蔣介石將戰線引向華東華南地區的戰略設想，為中國的長期抗戰爭取了時間。</p>
					<p><span class='speaker'>郭岱君：</span>還有一點很讓大家驚訝，這也是最近才讓學者發現的，就是8.13淞滬會戰的起因。這是蔣介石主動求戰，主動挑釁。為甚麼？就是為了開闢淞滬戰場，引誘日軍南下。</p>
					<p>在1937年8月13日之前，日本在上海駐軍只有不到6000人。上海都是租界區，日本也不想在那邊打仗。之前，日本跟相關國家都有協定，承諾不侵擾租界區。可是蔣介石為了開闢淞滬戰場，日記中就講，他命令張治中
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en26" id="ref26">（註26）</a>
						</sup>
						堵塞吳淞口，故意要張治中封鎖揚子江口，並要"謹慎挑釁"。</p>

					<%- photo[6] %>

					<p>中國軍隊的挑釁讓日本嚇了一跳，沒想到中國軍隊敢在上海打起來。日軍本來只有6000人，後來不斷從日本本土、華北、台灣調兵，最後日軍在上海和南京的兵力到達37萬人。當然中國軍隊大概動員了75萬軍隊，死傷人數大得不得了。</p>
					<p>由德國顧問訓練出來的最精銳的中國部隊中，有四分之三都在淞滬會戰中犧牲了，大部份都是蔣介石的嫡系部隊。淞滬會戰、首都淪陷和南京大屠殺讓中國付出了慘重的損失。但正因如此，中國爭取到了一年零三個月的時間。</p>
					<p>武漢是在1938年10月淪陷的。日本本來沿平漢線進軍，原定目的就是要拿下武漢三鎮。但蔣介石硬是把日本軍隊牽制在淞滬和南京一線，整個中國的學校、工廠、機關全部都趁這個時候沿長江西遷。從1937年8月到1938年10月，日本軍隊陷在上海不得脫身。日軍攻打武漢的計劃被拖了一年多才得以實施。</p>
				</section>
				<section epub:type="subchapter" id="part5">
					<h2><%= chapter_title[5] %></h2>
					<p><span class='speaker'>李肅：</span>剛才講到蔣介石的抗戰謀略，提到了持久戰。大陸方面認為持久戰是毛澤東提出的，因為他寫過一篇很有名的文章，叫《論持久戰》。那麼，您提到的持久戰和毛澤東的持久戰是一回事嗎？</p>
					<p><span class='speaker'>郭岱君：</span>蔣介石在1933年和1934年間寫的日記中已經多次提到持久戰，蔣百里（保定軍校校長）談持久戰就更早。這沒甚麼好爭的，而國民黨在1936年的洛陽會議為抗戰定調，就是說要打持久戰。這是見諸於文字的。而毛澤東的《論持久戰》一文是在1938年5月才發表的。</p>
					<p><span class='speaker'>李肅：</span>蔣介石的持久戰就是要拖下去。拖到甚麼時候為止呢？把日本拖垮嗎？</p>
					<p><span class='speaker'>郭岱君：</span>蔣介石日記就講："敗而不降，拖垮日本"。他認定日本是個小國，軍隊少，沒辦法撒遍全中國。蔣介石是以空間換取時間。</p>
					<p>他在七七事變之後說，"地無分東西南北，人不分男女老幼，皆有守土抗戰之責任"，每人都抗戰，每個地點都是戰場，這是日本要極力避免的。</p>
					<p>日本需要速戰速決。當年的日本外相重光葵
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en27" id="ref27">（註27）</a>
						</sup>
						是投降書上的簽字人之一。他在回憶錄裡就講，日本當時沒有很好的戰略，根本就不應該被國民黨拖到淞滬。37萬大軍因淞滬戰役而滯留華東地區，使原定進攻計劃推遲了一年。南京淪陷後已經是12月底了，長江天氣已經很冷，很多行動都不便了。重光葵說，本來是應按照原來的計劃行動的，沒想到被國民黨拖著走了。</p>
				</section>
				<section epub:type="subchapter" id="part6">
					<h2><%= chapter_title[6] %></h2>
					<p><span class='speaker'>解說：</span>1936年12月12日，東北軍的張學良和西北軍的楊虎城
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en28" id="ref28">（註28）</a>
						</sup>
						在西安發動兵諫，扣押了到西安監督剿共行動的蔣介石，要求他停止剿共，一致對外。通過這個事件，蔣介石與共產黨攜手抗日，國共第二次合作形成。"西安事變"使張學良成了共產黨眼中的英雄，而對於蔣介石和中華民國來說，張學良是有功還是有過呢？</p>

					<%- photo[7] %>

					<p><span class='speaker'>李肅：</span>剛才我們講到"攘外必先安內"和不抵抗政策，這就涉及到國共兩黨關係中一個非常重要的事件，就是西安事變。西安事變促成了國共第二次合作，共同抗日。蔣介石在日記中有甚麼記載？</p>
					<p><span class='speaker'>郭岱君：</span>日記有很多記載。有關西安事變的日記寫得非常精彩，我們後來看起來就像看小說一樣。首先，他為甚麼要去西安？已經有人警告他，西安不穩定，不要去。但他還是去了，因為他相信張學良，待張學良如"子侄"。</p>
					<p>蔣去西安後，張學良和楊虎城希望說服蔣抗日。但故事中還有故事，因為中共在張學良這邊已經做了很久的工作了，就是希望能夠脅迫蔣介石抗日。張學良並沒有抓蔣介石的意思。但當張學良見了蔣介石，勸說他不應該花時間打內戰，應該抗日之後，蔣的反應出乎預料。蔣介石覺得你是我的晚輩，拍桌子把張學良大罵一頓。</p>
					<p>張學良火了，回去以後就考慮進行兵諫了。蔣的日記也很精彩。他說，突然間外面槍聲大作，他叫侍衛去看看發生甚麼事情。侍衛回來說大事不好，他馬上就說趕快從後面的窗戶跳出去。侍衛先跳下去，他接著跳。</p>

					<%- photo[8] %>

					<p>他在日記中說，跳下去以後三分鐘站不起來，因為他不曉得後牆是裡高外低，外面是一個溝。他跳下去以後脊椎和腿都受傷了，侍衛只有背著他往山後走。</p>
					<p>後面怎樣搜索，他怎樣被抓，日記中寫得非常精彩。這裡面談到中共在整個事件中的角色。我以前在台灣的時候，蔣介石本人、國民黨、宋美玲寫的有關西安日記，都否認在西安見到了中共的代表。可是等到宋子文檔案開放，人們就非常清楚，周恩來見了蔣介石，而且還見了兩次。</p>
					<p>蔣介石日記裡面記載的也非常清楚，周恩來見蔣兩次。蔣介石的日記很感人。有一天他就寫："十時三十分，余已就寢，妻攜周某來見。多年不見故人，寧無感慨乎？"</p>
					<p>蔣介石為甚麼如此失望、憤怒、對張學良如此不能原諒呢？那是因為他已經打算待完成佈局和遷都之後，陳誠
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en29" id="ref29">（註29）</a>
						</sup>
						和衛立煌
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en30" id="ref30">（註30）</a>
						</sup>
						的軍隊就可以在百靈廟做好準備，一舉殲滅紅軍了。可是人算不如天算，就差兩個禮拜了，結果發生了西安事變。所以他寫道："漢卿誤我大事矣"，"漢卿壞我一盤好棋"。</p>
					<p><span class='speaker'>李肅：</span>蔣介石到1949年以後會不會認為漢卿壞的是國家大事呀？</p>
					<p><span class='speaker'>郭岱君：</span>當然，那個時候也沒有想到是改變歷史的大事嘛。</p>
					<p><span class='speaker'>李肅：</span>這件事起碼是破壞了蔣介石剿共、滅共的計劃。</p>
					<p><span class='speaker'>郭岱君：</span>一個是剿共滅共的企圖被打掉，再一個是蔣介石還沒有準備好。他本來希望有60個師，事實上沒有達到，結果很快倉促應戰，1937年就跟日本宣戰了，訓練計劃還沒有完成，有很多的遺憾。</p>
				</section>
				<section epub:type="subchapter" id="part7">
					<h2><%= chapter_title[7] %></h2>
					<p><span class='speaker'>解說：</span>抗日戰爭期間，中國和日本曾經嘗試過舉行和平談判，中國內部也出現"主戰派"和"主和派"之爭，甚至成立了以汪精衛為首的依附於日本的政權。蔣介石領導的中華民國政府到底有沒有與日本和汪精衛政府暗通款曲？蔣介石日記為我們揭開謎底，解密對日和談的來龍去脈。</p>
					<p><span class='speaker'>李肅：</span>接下來就是和談了，當時和談還不止一條線，有好幾條線。大陸的官史基本把這些和談努力定性為投降主義，是準備投日，準備投降，表面是抗戰，實際上已經準備好當漢奸了。蔣介石的日記對這方面是怎麼描述的？</p>
					<p><span class='speaker'>郭岱君：</span>我想，不但是蔣介石的日記開放了，還有很多、很多當事者的個人檔案也都開放了。學術界對這些問題已經形成了一個大致清晰的看法，不過，一般民眾可能還不清楚。</p>
					<p>首先是和談。國民黨裡面當時很多人都主張和談，原因是覺得沒有能力跟日本抗爭。汪精衛就講："這個仗怎麼打？"汪後來就提出曲線救國
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en31" id="ref31">（註31）</a>
						</sup>
						。汪精衛、胡適等很多人當時就組成"低調俱樂部"，主張盡量維持，能和談就和談，但不投降，盡量維持低調，希望能夠撐下去。</p>
					<p>國民黨裡面的大員，不只是汪精衛，還有孔祥熙、于佑任、居正、陳佈雷
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en32" id="ref32">（註32）</a>
						</sup>
						他們都覺得這個仗是不能打的。蔣介石本人也支持和談。蔣在日記中說，他也參與和談，支持和談。</p>
					<p>他支持和談有幾個目的，一是要維持雙方的聯絡線；二是他想知道對方到底在搞甚麼；三是要拖延時間備戰。等慢慢到了1936和1937年，他知道時機差不多了，不能再拖。即使是1937年正式宣佈抗戰開始以後，還是有人在和談。</p>
					<p>那個時候，汪精衛還透過德國駐華大使等人跟日本講希望能夠和談，尤其是在南京失陷以後，國民黨內部真是如喪考妣，大家都覺得要完蛋了，這個仗真的是沒有辦法打，和談聲又高漲起來。</p>
					<p>此時，蔣的日記顯示，他比任何人都堅定。他在日記中寫道："倭所要我者，不僅是我之經濟，我之交通實業，而是要我民族之命脈"，"委曲不能求全"。</p>
					<p><span class='speaker'>李肅：</span>也就是說他的抗日決心是非常強的。</p>
					<p><span class='speaker'>郭岱君：</span>因為他知道和談是改變不了局面的。南京失陷以後，和談的呼聲非常高，國民黨裡面的壓力也很大，大家都要和談。蔣介石就說，和談有一個條件，就是日本必須回到9.18之前的狀態，它不但要退出華北，還要退出東北。日本自然不可能答應。</p>
					<p>有趣的是，孔祥熙和蔣介石是連襟，孔主張和談，他通過兩條線推動和談。有一天，孔祥熙寫信給蔣介石說，必須和談。蔣介石這天非常生氣，說："蕭
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en33" id="ref33">（註33）</a>
						</sup>
						孔等主和者太可笑，應痛斥之"。</p>
					<p>孔祥熙又來勸，結果蔣介石火了。他說："還有人再來勸我和談，以漢奸論罪，殺無赦"。</p>
					<p>有一天，于佑任跟居正在白天去找蔣介石，又談到和談。居正說，我知道你是委員長，代表國家。你不願去和談，認為是屈辱。我願犧牲我自己，我去簽字，你不要去簽字。</p>
					<p>蔣在日記中說，別的事情都可以談，"抗戰方針，不可變更，始終大難大節所關，必須以主義與本黨立場為前提"。蔣還表示，"與其屈服而亡，不如戰敗而亡之為愈"。</p>
					<p>蔣被大家深深地誤解。我自己看到以後也非常感慨、感動。我也沒有想到蔣的抗戰決心那麼大，提出這種大是大非。我覺得他的選擇是對的。</p>
				</section>
				<section epub:type="subchapter" id="part8">
					<h2><%= chapter_title[8] %></h2>
					<p><span class='speaker'>李肅：</span>汪精衛在中山先生去世以後一直是國民黨的主席。他和蔣之間的關係相當微妙。雙方有合作，也有爭論。大陸官方文獻認定，汪精衛是左派，蔣介石是右派。但是，最後汪精衛叛變了，真正堅持抗戰的是右派蔣介石。蔣介石在日記中對他和汪精衛的關係有甚麼說法？</p>
					<p><span class='speaker'>郭岱君：</span>其實，汪精衛才是右派。不然，他怎麼會跟日本合作？日本是反共的嘛。關鍵還不在這裡。我覺得汪精衛是有背景的，汪和蔣之間的關係非常微妙。</p>
					<p>孫中山先生逝世時，汪的地位在蔣之上。可是蔣的地位上升很快。一是北伐。北伐成功以後蔣的聲望馬上提高了。再者是9.18事變。戰亂中，軍人比較受重視。蔣跟汪地位的互換跟國民黨最後決定抗戰有關。</p>
					<p>在會上有人提出要集中權力，這才增設了總裁一職。大家提出蔣介石擔任總裁，汪精衛作副總裁。汪當然不願意。所以汪對這件事感到非常委屈。</p>
					<p>但另一方面，汪精衛最後出走，我想，跟他的理念有關係。他認為，中國沒有能力打。實際上，持同樣看法的人非常多。他說，我們為了維持國家和民族的一線生機，寧可現在先委屈，至少戰火會有所控制，人民還可以生活。所以，他提出所謂的"曲線救國"。這點是蔣、汪之間最大的區別。</p>
					<p><span class='speaker'>李肅：</span>剛才講到汪精衛的"曲線救國"，現在人們基本上都認為是賣國、是漢奸。他成立了偽政權。但在中國大陸也有另外一種說法，就是汪蔣同流合污，一條明線，一條暗線。抗戰結束後，曾經在汪偽政權中擔任要職的人，很多都沒有受到懲處。請問，蔣介石到底是怎麼看待汪偽政權的。他的日記是怎麼說的？</p>
					<p><span class='speaker'>郭岱君：</span>我覺得，中國大陸很多說法跟史實有相當的距離。比如汪精衛這件事情。很多人說汪精衛跟蔣介石，是一個唱白臉，一個唱黑臉。其實不是的，因為汪要走，蔣也知道，他想盡辦法要留住汪。</p>
					<p>汪到雲南、到河內的時候，蔣還托谷正綱和谷正鼎
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en34" id="ref34">（註34）</a>
						</sup>
						給汪送錢，勸他不要跟日本人走，說這樣做會身敗名裂。他們還說："你去法國好不好？甚至還拿出10萬美元，希望汪到法國去。後來，發生了河內的刺殺事件
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en35" id="ref35">（註35）</a>
						</sup>
						，汪也火了，因此就走下去了。蔣汪兩人從此分道揚鑣。這裡絕對沒有甚麼黑臉、白臉的問題。</p>

					<%- photo[9] %>

					<p>你看蔣介石之前的日記就知道，他一直很清楚日本對中國不懷好意，絕對不會滿足於佔領華北，或是舉行和談，搞個維新政權就算了。日本是要把中國變成附庸國，變成日本的勢力範圍，攫取中國所有的資源。日本當時要下南洋，想要馬來西亞和印尼的橡膠，目標就是能源嘛。</p>
					<p>所以，蔣非常反對而且極力阻止汪精衛跟日本合作。為甚麼後來很多汪偽政權的人又跟國民黨合作？那是因為到抗戰末期，他們知道日本拖不下去了，面臨接收的問題。國民黨真正的主力部隊在西南，而東南一大片都是汪偽政權的。所以，戴笠
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en36" id="ref36">（註36）</a>
						</sup>
						當時就跟他們聯絡說，你們如果協助我們有秩序地接收淪陷地區，並維持當地的治安，那我們允許你們戴罪立功。</p>
					<p><span class='speaker'>李肅：</span>國共在抗戰期間是合作的，共產黨的軍隊全部改編成國民革命軍。八路軍和新四軍都是正規的國軍。汪偽政權是偽軍。在日本即將投降的時候，國民黨政府已經和汪精衛政權有所聯繫，讓他的部隊維持地方治安。日本投降以後，根據大陸的說法，國民黨部隊下令偽軍維持治安，不得向共產黨的部隊投降。蔣介石日記對此是怎麼記載的？</p>
					<p><span class='speaker'>郭岱君：</span>確實如此。首先，共產黨的軍隊畢竟控制的地方有限，主要集中在華北和西北。日本投降後，大家都搶著來接收。蔣介石和毛澤東他們心裡都很清楚，抗戰的結束就是內戰的開始。</p>
					<p>蔣介石在抗戰末期的時候知道日本快不行了，便開始謀劃下一步。他首先要求汪偽政權就地維持秩序，要向國軍投降，而不許向共軍投降。蔣同時跟日本合作，要求日本駐華總司令岡村寧次下令日軍就地維持秩序，等待國軍來交接，而不是交給共軍。日方也同意了。這就是為甚麼整個復原和交接基本秩序井然。</p>
					<p><span class='speaker'>李肅：</span>這就容易讓人相信，蔣寧願相信漢奸部隊，也不相信自己的部隊，雖然是共產黨的部隊。</p>
					<p><span class='speaker'>郭岱君：</span>當時可能有這個說法。但歷史已經走過，我們現在看，他怎麼能相信共產黨呢？</p>
					<p><span class='speaker'>李肅：</span>蔣介石在當初與蘇聯有密切的關係。蘇聯當年對中國的支持主要是對國民黨的。蔣是甚麼時候開始同英國和美國等發展關係，並認為英美才是他真正的朋友？這個在日記中有提到嗎？</p>
					<p><span class='speaker'>郭岱君：</span>蔣介石很有大局觀，對整個國際形勢和各方面的勢力消長非常關注。他在日記裡很仔細地斟酌過中國是應該聯合英、美，還是聯合蘇聯。</p>
					<p>他首先寄望於蘇聯，因為中蘇之間有長期的合作關係，而且斯大林又給他一個幻想，一直說你再忍耐一下我們就進來了。當時國民黨裡已經有人，比如宋子文等不贊成聯蘇。宋子文1930年代就多次對蔣提出，不要寄望蘇聯，應該聯合英美。</p>

					<%- photo[10] %>

					<p>但是，國民黨裡大多數人都認為英、美這麼遠，怎麼會來管我們？但最後還是宋子文這條線發揮了作用。珍珠港事件
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en37" id="ref37">（註37）</a>
						</sup>
						後，宋子文就大展身手了。他代表蔣介石在美國，在華府大展身手。</p>
					<p>宋子文也是一位值得大家重新瞭解的人物。他被歷史嚴重扭曲了。宋子文很了不起，很聰明，確實是才華橫溢的人。現在來看，抗戰時期中美之間的貸款、援助、軍事援助、經濟援助、科技、武器以及交流合作等許多方面，宋子文差不多都是最關鍵的人物。飛虎航空隊是他創建的。</p>
					<p>很多歷史學家看了日記後認為，蔣雖然面對的環境極為困難，但終於堅持下來了，而汪退縮了。實際上，蔣當時是沒有能力打仗的。他在日記中寫道，我們是持久戰，拖、戰、敗，但不投降，要拖死日本。</p>
					<p>蔣在日記中說，他希望一邊拖，一邊"寄望國際形勢有所變化"，這樣中國才有生機。他開始是寄望蘇聯能夠參戰。但斯大林很詭詐，他雖然給中國很多軍事援助，但就是不參戰，讓中國軍隊去打。</p>
					<p><span class='speaker'>李肅：</span>我想，斯大林當年也是因為西線上的壓力太大，他不想腹背受敵。</p>
					<p><span class='speaker'>郭岱君：</span>但他一直給蔣介石一個幻想，就是他可能會出兵。所以，蔣在日記裡面一直有期待，後來他很失望。他沒有想到日本後來去偷襲珍珠港，導致美國參戰。珍珠港事件當天，蔣的日記寫得很清楚，他非常欣慰，說："抗戰之陣略，本日達於極限"，"終於峰迴路轉"。他對整個世界的形勢相當掌握。</p>
				</section>
			</section>
