			<!--
			<section epub:type="chapter" id="start">
				<h1><%= chapter_title[0] %></h1>
				<h2>採訪：未可     撰文：木風 蕭雨   製作：杜林 張松林</h2>

				<div class="pullout"><%= global.book.meta[book].description %></div>

				<p>趙紫陽是中國改革開放初期最重要的一位領導人。他擔任過四川省委書記、國務院總理和中共中央總書記。他雖然在中共最高職位上只待了兩年就因六四學運而下台，但他卻給中國的改革開放事業留下了極為重要的遺產。</p>
								-->



				<section epub:type="subchapter" id="part1">
					<h1><%= chapter_title[1] %></h1>
					<h2>杜林 蕭雨 昱杉 李肅</h2>

					<blockquote class="pullout"><%= global.book.meta[book].description %><!--大躍進導致大倒退； 瞎指揮，國家經濟亂了套；浮誇衛星上天，饑民坐以待斃；公共食堂，觸發災難的最後一擊； 中央通令堵盲流，饑民生路被阻斷；哀鴻遍千里，糧倉無人開；饑荒三年風調雨順，歸罪老天有失公允；蘇聯逼債子虛烏有，雪中送炭難能可貴；餓殍載道阻不住糧食外援創新高--></blockquote>

					<p>1960年前後，中國發生了一場人類歷史上極為罕見的大饑荒。</p>

					<p>在短短的三、四年間，據學者研究，大約四千萬中國人死於饑餓，再加上因饑餓而少出生的四千萬人，中國人口減少了近八千萬。僅四川一省就餓死了一千萬人，雅安地區人口減少了四成多，居全國之冠。許多地方都出現了人吃人的慘劇。</p>

					<p>官方把那場災難歸咎於“三年自然災害” <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en1" id="ref1">（註 1 ）</a>
					</sup> 和“蘇聯逼債” <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en2" id="ref2">（註 2 ）</a>
					</sup>。但這些說法從一開始就缺乏說服力。前國家主席劉少奇 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en3" id="ref3">（註 3 ）</a>
					</sup>早在1962年就提出，造成這場災難的原因是“三分天災，七分人禍”，對毛澤東 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en4" id="ref4">（註 4 ）</a>
					</sup>關於“大躍進”的“一個指頭和九個指頭”——也就是一分錯誤九分成績——的評價提出了質疑。劉少奇因此開罪毛澤東，導致他在後來的“文革”中被毛打倒。</p>

					<p>資料顯示，把災難歸咎於老天爺是極大的不公。那幾年的氣象記錄和正常年景沒有多大區別。把災難歸咎於蘇聯的逼債則純屬造謠。蘇聯在那個時期不僅沒有逼債，反而還給中國提供了急需的糧食援助。中國東北地區的災荒之所以沒有造成大批農民死亡，與蘇聯的糧食援助是分不開的。</p>

					<p>引起災難的原因究竟是什麼？《墓碑》一書作者楊繼繩 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en5" id="ref5">（註 5 ）</a>
					</sup>在接受美國之音採訪的時候指出，回顧那場災難發生的前前後後可以清楚地看出，那場災難完全是人為的。一場連一場的政治經濟運動徹底摧毀了中國數千年發展起來的小農經濟結構，徹底剝奪了中國農民的私有財產和他們在遇到災害時賴以自救的基本條件。</p>

					<p>再加上官僚體制的無能和信息傳遞渠道的堵塞，中共最高領導層在災難發生以後還沉醉於“糧食吃不完”的夢幻之中。他們不僅沒有立即開倉放糧賑濟災民，反而進一步搜刮農民，把數千萬條活生生的生命逼入絕境。</p>

					<p>我們現在就和楊繼繩一起來討論大饑荒期間究竟發生了什麼，造成那場災難的原因究竟是什麼？</p>
				</section>





				<section epub:type="subchapter" id="part2">
					<h2><%= chapter_title[2] %></h2>

					<%- photo[4] %>


					<%- photo[5] %>


					<%- photo[6] %>



					<p><span class='speaker'>李肅：</span>在中國歷史記載中，1958年總是跟“大躍進” <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en6" id="ref6">（註 6 ）</a>
					</sup>聯繫在一起。“大躍進”就是從這一年開始的。有些人認為，大饑荒也是從這個時候開始的。這種說法有沒有道理？人們常說的大饑荒具體是從何時開始？到何時結束？</p>

					<p><span class='speaker'>楊繼繩：</span>大饑荒應該說是跟“三面紅旗”連在一起的。所謂“三面紅旗”就是“大躍進”，總路線 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en7" id="ref7">（註 7 ）</a>
					</sup>和人民公社 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en8" id="ref8">（註 8 ）</a>
					</sup>。“大躍進”是講經濟發展速度，按現在的話說，叫“跳越式發展”。當時中國共產黨領導集團希望經濟發展得快一點，革命和建設的速度都可以快一點，這樣可以超英趕美 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en9" id="ref9">（註 9 ）</a>
					</sup>，甚至超過蘇聯。</p>

					<p>現在有人說，毛澤東，從好的方面看，是希望中國更強大一點。但也有人認為，他是想取代赫魯曉夫 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en10" id="ref10">（註 10 ）</a>
					</sup>，成為世界共產主義的領袖。總而言之，不管什麼說法，希望中國的建設和革命發展得快一些，按照跳躍式的速度發展，就是“大躍進”。</p>

					<p>“總路線”的核心也是速度，就是快。嚴格說，“總路線”和“大躍進”是重合的。“人民公社”是一個組織形式。當時講“共產主義是天堂，人民公社是橋樑” <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en11" id="ref11">（註 11 ）</a>
					</sup>，通過人民公社可以盡快地實現共產主義美好遠景。“三面紅旗”造成了全國性的混亂，引起了大饑荒。這三面紅旗是造成大饑荒的直接原因。“大躍進”是希望經濟跳躍式發展，但由於不懂經濟規律，胡來，結果造成大躍退。</p>




					<%- photo[7] %>


					<%- photo[8] %>




					<p><span class='speaker'>解說：</span>1958年5月，中共八大二次會議正式通過“鼓足幹勁、力爭上游、多快好省地建設社會主義”的總路線，並發動“大躍進”運動。為落實毛澤東提出的鋼產量比1957年的535萬噸翻一番的目標，全民開始“大煉鋼鐵” <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en12" id="ref12">（註 12 ）</a>
					</sup>，土高爐 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en13" id="ref13">（註 13 ）</a>
					</sup>在全國隨處可見。在農業方面，糧食產量記錄不斷被打破的消息，畝產萬斤糧的報導從全國各地傳出，毛澤東和其他許多領導人都信以為真，擔心起糧食吃不完怎麼辦的問題。公共食堂應運而生，“吃飯不要錢”的口號響遍大江南北。中共高層領導人深信，共產主義完全可以提前到來。</p>

					<p>結果事與願違。許多地方由於缺少煤炭和鐵礦石而組織人力大量砍伐樹木，毀掉鐵製農具和家用炊具和工具，用作煉鐵的原材料。除此之外，農村大量勞動力被抽出來煉鐵，結果，大片農田無人管理，成熟的莊稼無人收割，人為地造成糧食嚴重減產。1959年，中國糧食產量比1958年下降15%，1960年又繼續下降15%，跌落到1951年的水平。直到“大躍進”結束後的1962年，中國的糧食產量才開始回升。</p>

					<p><span class='speaker'>李肅：</span>那“大躍進”持續了多少年？是什麼時候結束的？</p>

					<p><span class='speaker'>楊繼繩：</span>“大躍進”實際上在1958年到1959年就失敗了。廬山會議 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en14" id="ref14">（註 14 ）</a>
					</sup>以後，又重新搞大躍進，1960年又搞了一次。</p>

					<p><span class='speaker'>李肅：</span>“大躍進”時代就是指1958年到1960年這三年了？</p>

					<p><span class='speaker'>楊繼繩：</span>對，但中間有波折。到1959年就不行了。“廬山會議”後又重新搞高指標，造成了更大的混亂。所以, “大躍進”主要反映在經濟指標上。要高指標，要高速度。</p>

					<p><span class='speaker'>李肅：</span>我們今天談的這場大饑荒是什麼時候開始的，到什麼時候結束的？</p>

					<p><span class='speaker'>楊繼繩：</span>大饑荒，嚴格說來，是1958年冬天就開始大饑荒了。1958年，全國都講糧食很多、很多，多得不得了。畝產十萬斤，都在開玩笑。毛澤東相信糧食真地多了，還提出糧食多了怎麼辦的問題。那就多吃吧，綜合利用吧。老百姓以為糧食多，農民嘛就放開肚皮吃，甩開膀子幹。結果，放開吃了兩個月，糧食就吃完了。人們以為共產黨有的是糧食，可吃完了就沒有了。到1958年冬天就開始出現饑荒，1959年春天就有很多人餓死。</p>

					<p><span class='speaker'>李肅：</span>這場饑荒是什麼時候結束的？</p>

					<p><span class='speaker'>楊繼繩：</span>大饑荒的結束，各省情況不一樣。有的省，問題暴露得比較早。你比如說山東、安徽，就暴露得早一些，當局採取措施也早一些。（那些地區的）饑荒到1961年就基本結束了。個別省把蓋子捂起來，不讓災難暴露。四川省到1962年還在鬧饑荒。所以我的書上講58年到62年是大饑荒年代，號稱三年，實際上前後五年。1960年上大學的我們這批人，1959年就在農村餓了一年。到了1961年的時候農村情況基本好轉，可我們到1962年還在挨餓。所以，對我們（大學生）來說是五年大饑荒。而對一般老百姓來說是三年大饑荒。</p>

					<p><span class='speaker'>李肅：</span>您在開始的時候談到“三面紅旗”和這場大饑荒的關係。您認為“三面紅旗”是造成大饑荒的直接原因。能不能詳細談談為什麼說是直接原因？</p>
				</section>



				<section epub:type="subchapter" id="part3">
					<h2><%= chapter_title[3] %></h2>


					<p><span class='speaker'>楊繼繩：</span>第一個，“大躍進”把整個生產體係搞爛了，造成大浮誇。“大躍進”先是刮起了“共產風 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en15" id="ref15">（註 15 ）</a>
					</sup>”，說共產主義快到了，搞“一平二調 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en16" id="ref16">（註 16 ）</a>
					</sup>”，把農民的財產調給生產隊，再由生產隊調給公社，由公社所有，是公社所有制。當時說，公社所有制就是全民所有制。</p>



					<%- photo[9] %>



					<p>財產“一平二調”，都集中起來。下面產生了恐慌。把小村子併成大村莊，農民就沒地方住了。為了搞公共食堂，家家戶戶的碗和鍋都被集中到食堂，所有人都去食堂吃飯。人們都以為糧食多得吃不完，就隨便吃。大煉鋼鐵造成糧食在田裡沒人去收，爛掉了很多。全國當時有上億人參加大煉鋼鐵，地裡就沒有人去收糧食了。</p>



					<%- photo[10] %>


					<%- photo[11] %>


					<%- photo[12] %>


					<%- photo[13] %>




					<p>經濟上追求高指標，1957年鋼鐵產量是535萬噸，1958年要翻一番，達到1070萬噸。所以，全民煉鋼，各地都煉鋼，連中南海都煉鋼，宋慶齡 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en17" id="ref17">（註 17 ）</a>
					</sup>跟著一起煉鋼啊。文化部大院裡搭起了煉鋼爐。副部長、著名戲劇家夏衍 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en18" id="ref18">（註 18 ）</a>
					</sup>擔任煉鋼總指揮，倒是頗有戲劇性。在中南海裡，毛澤東的秘書葉子龍 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en19" id="ref19">（註 19 ）</a>
					</sup>是總指揮，毛澤東還去鏟了幾鏟子。就是這麼個情況，是大煉鋼鐵，瞎指揮。</p>

					<p>搞糧食密植，是毛澤東下的令。他提出所謂“水”、“肥”、“土”、“種”、“密”、“保”、“工”、“管” <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en20" id="ref20">（註 20 ）</a>
					</sup>。就是水利、肥料、土壤、種籽、密植、植物保護、工具革新、田間管理啊，但把密植放在第一位，全國都要搞密植，而且有尺寸要求。如果沒做到，就拔起來再插。簡直是瞎指揮。整個生產陷入停頓，亂套了。工業也是這種情況。</p>

					<p><span class='speaker'>李肅：</span>毛澤東是農民出身，他對種糧食應該還是有經驗的。</p>

					<p><span class='speaker'>楊繼繩：</span>李銳 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en21" id="ref21">（註 21 ）</a>
					</sup>就問他，你是農民出身，為什麼還這麼搞呀？他說，大科學家錢學森 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en22" id="ref22">（註 22 ）</a>
					</sup>說的嘛。錢學森寫了兩篇文章，一篇在《中國青年報》發表了，說太陽如果能利用百分之幾，就可以生產糧食幾萬斤。毛澤東說，他是相信錢學森的。李銳說他是找藉口。</p>
				</section>



				<section epub:type="subchapter" id="part4">
					<h2><%= chapter_title[4] %></h2>

					<p><span class='speaker'>李肅：</span>接下來我們談一下受災最嚴重的地區。您走訪了十幾個省份。我們先來談一下河南。第一波受災的地區，河南省是首當其衝，對不對？你先談一下河南的情況，好嗎？</p>



					<%- photo[14] %>


					<%- photo[15] %>



					<p><span class='speaker'>楊繼繩：</span>河南省問題暴露最突出的是信陽，有個“信陽事件” <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en23" id="ref23">（註 23 ）</a>
					</sup>。其實沒有暴露的還有很多地方，如許昌、南陽、洛陽。所謂“三陽開泰”的幾個地方都很嚴重，但信陽問題暴露得比較早。“信陽事件”之所以有名是因為第一個人民公社是在信陽出現的。</p>

					<p>信陽搞了很多花樣、很多東西。一是，第一個人民公社出現在信陽，放了第一顆衛星。年輕人可能不懂，蘇聯人放了第一顆人造衛星 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en24" id="ref24">（註 24 ）</a>
					</sup>，社會主義國家很高興，中國也很高興。所以，那時候，凡是有點成就出來，都叫“放衛星”。</p>

					<p>糧食產量高，也叫“放衛星”。當時信陽的小麥放了很大的衛星，幾千公斤的衛星吧！小麥一畝地能夠產兩、三百公斤就不錯了，它上去就是兩、三千公斤，那是很大的衛星。而且，不是放一個，是一個又一個。《人民日報》經常有信陽的消息。</p>

					<p><span class='speaker'>解說：</span>中國官方的《人民網》說，1958年6月8日，《人民日報》刊登了河南省遂平縣（當年屬信陽地區）衛星農業社五畝小麥平均畝產2105斤的消息。10日又報導說，第一大隊二分隊又有二畝九分地總產量達到1.0238萬斤，平均每畝產量3530斤，比二大隊的最高產量每畝多1425斤，超過這塊兒地前一年每畝750斤的三倍多。</p>

					<p>新華社記者方徨 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en25" id="ref25">（註 25 ）</a>
					</sup>回憶當時的場景時說，“我一看這架勢，壯觀！確實是壯觀！激動！也不由人不激動！”《人民日報》7月12日又報導說，河南省西平縣城關鎮和平農業社兩畝小麥創畝產7320斤的記錄。但方徨後來發現，這些產量是虛報的，而且最早放出小麥“衛星”的遂平縣不久就陷入了困境。《人民網》說，同信陽地區其它縣一樣，遂平縣1959年就出現糧食短缺，很多公共食堂每天只能提供兩碗稀菜湯了。</p>

					<p><span class='speaker'>李肅：</span>就是說，信陽當時給大家的印像是它的農業搞得非常好。</p>

					<p><span class='speaker'>楊繼繩：</span>糧食不斷地“放衛星”，一個接一個地放。人民公社是信陽第一個出現的。毛澤東很高興，派《紅旗》雜誌的李友久 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en26" id="ref26">（註 26 ）</a>
					</sup>去總結經驗，總結出來後毛澤東如獲至寶，要全國推廣。</p>

					<p><span class='speaker'>李肅：</span>那麼結果呢？它這個衛星放出來，那實際產量有沒有那麼高呢？</p>

					<p><span class='speaker'>楊繼繩：</span>假的。</p>

					<p><span class='speaker'>李肅：</span>後果如何？ </p>

					<p><span class='speaker'>楊繼繩：</span>後果就是挨餓吧。衛星放得高，糧食產量報得高，徵購糧食數量就隨着提高。你本來產了一萬斤糧食，我徵購兩千斤。你如果生產十萬斤糧食，我就徵購兩萬斤。所謂徵購是兩個字，“徵”是徵收公糧，是強制性的。“購”是收購餘糧，餘糧都要賣給國家。農民哪有什麼餘糧、口糧。飼料都當餘糧收購去了。</p>

					<p><span class='speaker'>李肅：</span>這樣看來，國家的徵購標準會大大超過農民實際的承受能力，放糧食衛星給農民帶來沉重的代價。這可能是後來發生大饑荒的一個比較直接的原因了？</p>

					<p><span class='speaker'>楊繼繩：</span>對。</p>


					<%- photo[16] %>


					<p><span class='speaker'>解說：</span>原河南省信陽地區行署專員張樹藩 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en27" id="ref27">（註 27 ）</a>
					</sup>的秘書余德鴻 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en28" id="ref28">（註 28 ）</a>
					</sup>2012年8月30日接受美國之音採訪時說：“小麥畝產7300多斤，稻子畝產4.8萬斤，那衛星嚇唬得很，可都是假的。到處都‘放衛星’，就是往上造假。造假，上面也不知道，都按照報的徵購。當時咱們的地區是這樣的，1959年天旱減產，整個地區實際產量只有15億公斤，（結果）報了151億公斤，（最後）落實了35億公斤。收購不上來就開批判鬥爭會，最後連口糧，連種籽都交公糧了。沒啥吃的不都餓死人嘛！全區餓死105萬，這是中央派來的一個處長調查的。”</p>

					<p><span class='speaker'>李肅：</span>信陽地區應該是河南比較富裕的地區。所謂三“陽”開泰，第一個就是信陽，然後是南陽和洛陽。在這樣富裕的地區竟然發生大面積餓死人的情況，教訓不能算不大。</p>

					<p><span class='speaker'>楊繼繩：</span>說到底是“五風”的問題。首先是“浮誇風”。糧食本來就產八百斤，他說一萬斤，就是“浮誇風”。而浮誇成為風不是一家一戶的行為，整個社會都形成了這樣的風氣。是比賽着。你說一萬斤，我說十萬斤。是這麼個情況。當時說十萬斤，二十萬斤的都有。這是“浮誇風”。</p>

					<p>“共產風”就是說共產主義已經來了，共產黨搞大所有制，就是公社一級所有，生產隊的財產，公社隨便調用。農民家裡的財產，生產隊可以隨便調用，共產主義嘛！“共產風”就是吃大鍋飯，吃飯不要錢。所謂供給制，就是供給糧食、衣服等等，開出的單子很好聽，就是“共產風”、“浮誇風”和“瞎指揮風”。</p>

					<p>農民沒有權力，種地的人無權決定種什麼、怎麼種，全由縣里支配。你這塊地必須種什麼，馬路邊上要種好看的，供參觀的東西，叫高產田，把所有的好的東西都放在馬路兩邊，因為馬路遠在山邊，根本沒有肥料。插秧時要求間距幾乘幾，用尺子量。那就插得很慢了，如果插得不合適，就拔起來重插，甚至莊稼都快成熟了，也得拔出來重種，就是“瞎指揮風”。</p>

					<p>幹部特殊化，強迫“命令風”。如果不聽，就打。各種各樣的刑罰都有。我在書中講有幾十種刑罰，打死了不少人。“命令風”，幹部強迫命令成風。再就是“特殊化風”，幹部特殊化，多吃多佔也成了風氣。</p>
				</section>



				<section epub:type="subchapter" id="part5">
					<h2><%= chapter_title[5] %></h2>

					<p><span class='speaker'>李肅：</span>我們現在談談公共食堂的問題。 1958年中國一些地區開始建立人民公社，然後建立公共食堂，就是大家吃飯都去食堂，家裡不再開伙了。據說，這體現了共產主義的生活方式。公共食堂對於大饑荒的產生起到了什麼樣的作用？</p>

					<p><span class='speaker'>楊繼繩：</span>公共食堂最早是農忙食堂。農忙時，或“雙搶”時，搶收麥子和搶種水稻。這個時候比較忙，某些地方就搞個食堂，大家不在家裡吃飯。這個做法後來得到了推廣。河南搞得比較早。</p>

					<p>辦食堂當時被認為可以節省勞動力，因為家家生火做飯改為一家做飯，可以節省材料、增加勞動時間、培養集體精神。人們總結公共食堂有十大好處，這類文章很多，現在還可以找到。</p>

					<p>但是，實行起來不行，一個是浪費糧食，另一個是浪費柴禾，人們把山上的樹木都給砍了。再加上開始說糧食多了怎麼辦，就放開肚皮吃，甩開膀子幹，吃了兩個月就沒有糧食吃了。還有，農民很遠打飯回家，有的山區走七、八里路才能到家，小孩就在路上哭。沒到家飯都涼了，而家裡的鍋都給砸了，沒法熱飯，也沒法吃。這樣的情況很普遍。更重要的是，食堂成為幹部控制農民的手段，動不動就扣飯。你今天不聽話，就不讓你吃飯。扣飯是比較普遍的現象，各地都有。扣一天、兩天還可以，天數一多，就會餓死人。很多人餓死在食堂門口。</p>


					<%- photo[17] %>
					<%- photo[18] %>


					<p><span class='speaker'>解說：</span>美國三一學院的中國農村經濟專家文貫中 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en29" id="ref29">（註 29 ）</a>
					</sup>教授在《中國三年大饑荒的觸發及加劇之原因》的論文中認為，在諸多原因中，公共食堂的推廣是觸發和加劇大饑荒的最為直接的原因。它加快了農村的糧食消耗，在三個月內用完了平時可以維持六個月的口糧，使饑荒提前到來。它把農民的口糧、蔬菜和副食品都集中起來，讓幹部徹底控制了農民的生存權，農民事實上淪落成公社的“農奴”，任由幹部驅使，從事重體力活動。饑餓與體力透支加速了人的死亡；它為幹部腐敗，多吃多佔，巧取豪奪創造了條件，深深地打擊了農民的積極性，普遍的怠工減少了糧食生產，從而加劇了大饑荒的發展。</p>

					<p><span class='speaker'>李肅：</span>數字顯示，到了1958年底，各地建公共食堂大概是340多萬個。公共食堂得以快速推廣的一個原因，據說是它代表了一種新的生活方式？</p>

					<p><span class='speaker'>楊繼繩：</span>公共食堂是從農忙食堂發展出來的，生產隊創造出來的，後來得到省裡的提倡。河南省也是大力提倡。共產主義生活方式、節約糧食、節約勞動力，培養集體主義精神，也便於管理。有什麼事，食堂一喊，馬上就行動了，不需要開會，比開會方便，比聽廣播都方便，後來就在全國推廣了。</p>

					<p><span class='speaker'>李肅：</span>在全國推廣，是誰讓推廣的？</p>

					<p><span class='speaker'>楊繼繩：</span>毛澤東讓推廣的。</p>

					<p><span class='speaker'>李肅：</span>毛澤東下過指示嗎？</p>

					<p><span class='speaker'>楊繼繩：</span>毛澤東下過好幾次指示，第一次指示，我不記得，我的書上可能有。但後來1959年廬山會議上，毛澤東還講，公社食堂有三分之一是好的。三分之一好就不簡單，有一億多人口啊，還是要堅持發展。這是1959年。</p>

					<p>1960年餓死人最多的時候，食堂已經不行了。貴州省還寫了個關於食堂的報告，把食堂說得非常好，說有90%的人在食堂吃得怎麼好。毛澤東做了長篇的批示，說這是一份科學的報告，全國都要學習，沒有例外。到1960年，他還這樣講呢。</p>

					<p><span class='speaker'>李肅：</span>到1960年還這樣，但實際上公共食堂的危機在1959年就已經顯現了。</p>

					<p><span class='speaker'>楊繼繩：</span>公共食堂幾起幾落，在偏遠地區，農民在1958年沒飯吃就不幹了。但在上面號召之下又起來了，起來後又不幹，不幹後再起來，一直持續到1959年春天。很多地區可能都不辦了。廬山會議以後又恢復了，恢復以後又下來了。到貴州省的報告出來後，有些地方又辦起了一些食堂。</p>

					<p><span class='speaker'>解說：</span>中共中央黨校黨史教研部教授羅平漢 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en30" id="ref30">（註 30 ）</a>
					</sup>在《大鍋飯：公社食堂始末》一書中說，“公共食堂辦起來之後，尤其是公社化後曾一度實行‘吃飯不要錢’的供給制，而且還提倡‘放開肚皮吃飯’。這種建立在絕對平均主義基礎上的公共食堂，其弊端很快暴露出來。到1959年上半年，一哄而起的公社公共食堂，有的因無米下鍋只好停辦，有的因社員不滿只得解散。不少地方的公共食堂相繼垮台，農民們又回到自己家裡吃起了小鍋飯”。 “可是，廬山會議後的全黨‘反右傾'過程中，在何處吃飯這個生活問題上，與當時的許多事情一樣，竟上升到兩條路線鬥爭的高度。”於是乎，一度垮掉的公共食堂得到恢復，全國出現了第二次大辦公共食堂的高潮。</p>

					<p><span class='speaker'>李肅：</span>廬山會議上彭德懷 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en31" id="ref31">（註 31 ）</a>
					</sup>被打倒了，彭德懷對過激的農業政策提出了溫和的批評，結果被打倒。這次會議跟食堂有什麼聯繫沒有？</p>

					<p><span class='speaker'>楊繼繩：</span>毛澤東講了食堂問題嘛，他說食堂三分之一辦得好，有百分之幾十不好，但有三分之一好也是偉大的創舉啊，了不起的大事情，就把公共食堂跟社會主義道路聯在一起，跟這麼大的原則聯在一起，誰也不敢不辦啊。</p>

					<p>公共食堂一個特點是浪費。第二個，也是最重要的特點，是農民把飯碗交給了幹部，也就把自己的生存權上交了。給你吃就吃，不給你就不吃。稍微調皮一點、稍微不聽話的，就不給飯吃。他們只能吃青的，在莊稼地裡偷吃還沒有成熟的糧食叫吃青。第三是為幹部多吃多佔創造了條件。食堂是幹部搞特殊化、搞腐化的重要地方。幹部多吃多佔，很多啊！</p>

					<p><span class='speaker'>李肅：</span>我們在數字上發現，1959年的時候，本來公共食堂已經出現很多問題，但在廬山會議之後公共食堂的數量不僅沒有減，反而增加了，全國各地增加了50萬個。</p>

					<p><span class='speaker'>楊繼繩：</span>廬山會議不光是整彭德懷一個人的，在全國上下搞反右傾運動，運動搞起來誰都不敢不搞食堂。食堂是社會主義道路啊，當然要搞。基層沒有吃的，即便是野菜。挖來的野菜也不能在家裡吃，要交給食堂。食堂吃得很差了。我書上講食堂有很多中毒事件。吃冷飯，排長隊，食品中毒，幹部多吃多佔。本來農村一天五兩糧食，結果幹部多吃了二兩，農民只吃到三兩。這類現象很多，是食堂餓死人的一個很重要的原因。</p>

				</section>



				<section epub:type="subchapter" id="part6">
					<h2><%= chapter_title[6] %></h2>

					<p><span class='speaker'>李肅：</span>過去如果出現饑荒，或者局部地區發生饑荒，老百姓逃荒是很正常的。我們經常聽說誰誰出去逃荒了，去比較富裕的地區討飯，這樣就生存下來了。比較富裕的地區也建立了一些賑災機構，包括粥棚等救濟災民的設施。可在50年代發生大饑荒的時候，似乎沒有發生大規模逃荒的現像，是嗎？</p>

					<p><span class='speaker'>楊繼繩：</span>不讓逃荒。中共中央1959年3月發出文件，是中共中央、國務院發出的聯合緊急通知，要求制止農村勞動力盲目外流 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en32" id="ref32">（註 32 ）</a>
					</sup>。緊急通知發下來以後，下面就作為命令執行，嚴禁逃荒。不讓逃荒，從基層來講，就是怕饑荒的消息擴散出去，讓外面知道老百姓沒飯吃，這是一個方面。</p>

					<p>信陽不光不讓逃荒，還扣押信件。信陽一共扣押了1.2萬封信件。一般人寫信被扣不說，就連華北局書記李雪峰 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en33" id="ref33">（註 33 ）</a>
					</sup>和他的戰友、信陽地委專員張樹藩兩家之間的通信也被扣。他們兩家都是山西人，而且又都是南下幹部，常有聯繫。張樹藩老伴李瑞英給李雪峰的老伴寫了封信。第一封信試試看，沒寫內容，只說了你們很好嗎？就兩句話，結果信退回來了，就不讓發。連這樣的高級幹部的信都不讓發，老百姓的信還敢讓發嗎？不能發，就扣信。</p>

					<p>火車站兩旁的南站和北站由公安局局長把守，遇到中央調查組來的話，幹部就不讓饑餓的農民拄拐杖走路，都要挺起腰桿，裝出不餓的樣子。不讓露出挨餓的樣子。農民只能坐以待斃。</p>

					<p><span class='speaker'>解說：</span>楊繼繩在《墓碑》一書中說，“那些地方官之所以敢公然將農民困在家中餓死，是有中共中央文件依據的。1959 年3月，餓死人的情況已經大規模發生時，中共中央、國務院聯合發出了一個《關於制止農村勞動力盲目外流的緊急通知》 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en34" id="ref34">（註 34 ）</a>
					</sup>。所有未經許可離開鄉土、‘盲目流入'城市的農民都是‘盲流’。這份文件口氣強硬，不僅要制止農民外逃，還指示各省、市將‘盲目流入’城市和工礦地區的農民收容、遣返。那些本來就唯恐餓死人的情況外洩的地方官員有中央文件作依恃，自然更有理由堂而皇之地禁止饑民外出‘盲流’、並隨意處置‘盲流人員’了。”</p>

					<p><span class='speaker'>李肅：</span>最高領導層發這個通知的目的是什麼？</p>

					<p><span class='speaker'>楊繼繩：</span>不讓盲目外流，所以就抓盲流。不讓農業勞動力盲目流失，是不是為了保證農村種地，人跑了沒辦法種地啊？搞不清楚，反正是（通知）發出來了，就要抓盲流。盲流怎麼抓？是用一根繩子穿起十幾個人，遊街不說，還要挨打，把身上帶的糧票 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en35" id="ref35">（註 35 ）</a>
					</sup>都收走，關進監獄。被關起來的盲流，十個人有三個都餓死了。</p>

					<p><span class='speaker'>李肅：</span>您在調查中有沒有發現，中國最高領導層當時不讓人們逃荒到底是什麼目的？</p>

					<p><span class='speaker'>楊繼繩：</span>就是這個文件。按照我們在共產黨這麼多年的經驗，一個目的就是保證不缺勞動力，把地種好，保證社會安全、社會穩定，因為流動人口不好管理。上面的願望也是不錯的，到下面就變形了。關起來餓死人。在東北吉林，天那麼冷，把人關起來，經常往外面抬死屍。關起來就不給糧食吃。</p>

					<p><span class='speaker'>李肅：</span>廣東糧食充足、生活比較富裕。但在那個時期那裡也出現大規模逃亡香港的事件。這是怎麼回事？</p>

					<p><span class='speaker'>楊繼繩：</span>大逃亡的原因，一個是饑餓。廣東省也出現了比較嚴重的事件，像“羅定事件”，餓死了很多人。羅定是蔡廷鍇 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en36" id="ref36">（註 36 ）</a>
					</sup>的老家，甚至宋慶齡的老家海南也餓死人了，但人數要少一些。餓死人分兩部分，一部分是餓死人，一部分是少出生的人，也就是該出生而未能夠出生的人。比如婦女停經，子宮下垂，無法生育。餓死的人和少出生的人很多。香港就不斷送東西過來，通過各種辦法送東西過來，解決了一部分問題。但廣東大逃亡主要是1961年和1962年，那時還不是最困難的時候。1961年幹部精簡，全國一共精簡兩千萬人。所以，大逃亡的帶頭者主要是被精簡的幹部，下面的老百姓跟著跑，跑的比較多。</p>

					<p><span class='speaker'>解說：</span>20世紀50年代開始，廣東省發生過四次大規模的逃港潮，共有50多萬人逃到香港，被認為是冷戰時期持續時間最長、人數最多的群體性逃亡事件。這些“大逃港”行動從1957年開始，到1962年大饑荒時期達到高潮。《羊城晚報》報導說，1962年4月26日開始，在寶安縣由東至西150多公里長的公路上，外逃群眾成群結隊，扶老攜幼，如“大軍南下”，奔向邊境線。有些生產隊甚至出現生產隊長和黨支部書記率領村民集體逃往香港的情況。寶安縣委1962年7月報告說，“由於持續時間長，廣州、南海、台山、海豐、潮安等62個縣12個省的群眾相繼聞風而來......4月27日以來，外流人數不下十萬人次。”</p>

					<p>那段時期的偷渡行為甚至得到當地政府的認可。《羊城晚報》說，廣東省委1957年為了對付災荒，批准“珠江口以西靠近港澳地區，包括廣州、佛山、珠海等11個縣市”自由選擇適當地方出境赴港，並在1961年兩次批准寶安縣民眾將柴草出口香港換肥料，規定居民“每月去港不超過5次，每次每人帶出農副產品價值不超過5元，帶入物件重量不超過5市斤或價值不超過5元”。省委書記陶鑄 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en37" id="ref37">（註 37 ）</a>
					</sup>兩次視察寶安縣時，認為適當放寬邊防，對搞活地方經濟有好處。周恩來 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en38" id="ref38">（註 38 ）</a>
					</sup>1962年對此作出重要指示後，廣東才抽調官兵，加強對偷渡香港的管制。</p>

					<p><span class='speaker'>李肅：</span>為什麼精簡幹部會直接導致大逃亡呢？</p>

					<p><span class='speaker'>楊繼繩：</span>被精簡的幹部到農村挨餓了嘛，他們就都往香港跑，那裡比較好一點。</p>

					<p><span class='speaker'>李肅：</span>精簡是把幹部從城市下放到農村去？</p>

					<p><span class='speaker'>楊繼繩：</span>對，到農村去當農民。</p>

				</section>



				<section epub:type="subchapter" id="part7">
					<h2><%= chapter_title[7] %></h2>

					<p><span class='speaker'>李肅：</span>剛才您多次提到信陽行署專員張樹藩。張樹藩說：“當時信陽地區餓死那麼多人，並非沒有糧食，所屬大小糧庫都是滿滿的，但老百姓寧可餓死，也沒有搶過一個糧庫。”這個話表達了張樹藩的感慨，認為人民群眾非常相信黨，非常相信政府。可是，信陽地區竟然餓死了一百多萬人。雖然那個時候有些地區發生過一些動亂，但似乎沒有聽說有搶糧庫的事情，更沒有大規模的暴動。這是兩個問題，一個是為什麼大小糧庫都是滿滿的，為什麼不開倉放糧呢？另一個問題是，人都開始餓死了，為什麼還沒有人去搶糧食？</p>

					<p><span class='speaker'>楊繼繩：</span>我先回答你第一個問題。告訴你，當時餓死人的時候，糧食也是最多的時候，不僅是信陽。告訴你一個全國的數字。1959年4月到1960年4月是全國餓死人最多的一年。在這期間，庫存糧食最高達到887.03億斤。</p>

					<p><span class='speaker'>李肅：</span>這差不多是一年的產量。</p>

					<p><span class='speaker'>楊繼繩：</span>（糧食儲備）最多的時候就是1959年11月初，達到887.03億斤，最少的時候也有319.1億斤，那是1960年5月份。1960年4月是春荒最嚴重的時候，糧食庫存是403.5億斤。這是貿易糧，貿易糧乘以1.5或1.2就是原糧，約487億斤。如果拿一半出來救人，也不會餓死人。</p>

					<p><span class='speaker'>李肅：</span>就是說拿出全國庫存糧食的一半分給全國的饑民，就不會餓死人了。</p>

					<p><span class='speaker'>楊繼繩：</span>不會餓死人。這我是從糧食部的歷史檔案中抄出來的，你可以引用，是1962年8月25日糧食部計劃司的統計資料。1960年6月3日這一天，是最青黃不接、餓死人的時候，全國糧食庫存是301.48億斤。這些糧食放在哪呢？北京有2.3億斤、天津1.15億斤、上海2.53億斤、湖北8.26億斤、山西8.16億斤，各省都有。</p>

					<p>從這個數字可以看出，信陽所在的河南省至少有25.07億斤的糧食庫存；在信陽附近的湖北省，還有13.22億斤的糧食庫存。如果開倉放糧，僅這兩個省的糧食庫存就夠800萬信陽人每人可以得到50多斤糧食，而且還是貿易糧。根本不會餓死人。當時明明知道有糧食，就不去開倉放糧。</p>

					<p><span class='speaker'>李肅：</span>為什麼？</p>

					<p><span class='speaker'>楊繼繩：</span>當時糧食部還希望增加庫存。毛澤東說，這個時候還是有必要增加庫存。這就是這個制度的僵化和無能，昏聵無能。</p>

					<p><span class='speaker'>解說：</span>原河南省信陽地區專員張樹藩的秘書余德鴻證實，當時上面確實不准開倉放糧。他告訴美國之音記者說：“我們當時整個地區還有11億斤，那是國庫的糧食，是不能動的。當時執行也不行，不執行這個命令也不行。當時上面的政策很緊，地委書記、縣委書記都非常著急，但誰也不敢開倉，沒有糧食你急也沒辦法。樹皮草根都挖完吃完了，食堂停火餓死人，哪個社都有餓死人的。不光是門口有人餓死，沒糧食吃就全身浮腫，走著走著一頭栽下去就死了。”</p>

					<p><span class='speaker'>李肅：</span>當初不開倉放糧的決定是地方做出來的，還是中央做出來的？</p>

					<p><span class='speaker'>楊繼繩：</span>比如固始縣縣委書記石紹舉 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en39" id="ref39">（註 39 ）</a>
					</sup>跟我說，當時餓死人的時候，他跟縣糧食局局長說，能不能借300萬斤糧食給我，等秋後我再補上。糧食局長說，石書記，我沒這個權力，這糧食是吳芝圃 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en40" id="ref40">（註 40 ）</a>
					</sup>同志管的，我一粒糧食都不能動。所以，只能看著人餓死，就救不出來。</p>

					<p><span class='speaker'>李肅：</span>知不知道他（糧食局長）也向上面請求放糧呢？或者借糧食呢？</p>

					<p><span class='speaker'>楊繼繩：</span>糧食局長都說，糧食是吳芝圃同志親自管的，一粒都不能動。</p>

					<p><span class='speaker'>李肅：</span>但這個姓石的縣委書記……</p>

					<p><span class='speaker'>楊繼繩：</span>石紹舉他只能向下屬借。</p>

					<p><span class='speaker'>李肅：</span>他有沒有向上面反應，我跟上面借點呢？</p>

					<p><span class='speaker'>楊繼繩：</span>他敢跟吳芝圃說嗎？他不敢，沒這個膽量。這石紹舉是南下幹部，身上有七處傷。</p>

					<p><span class='speaker'>李肅：</span>他是哪個縣的縣委書記？</p>

					<p><span class='speaker'>楊繼繩：</span>他在兩個縣工作過，最後是固始縣委書記。</p>

					<p><span class='speaker'>李肅：</span>您在調查過程中有沒有發現其它的縣也要求開倉放糧的？</p>

					<p><span class='speaker'>楊繼繩：</span>私下是有。比如，我們縣的副縣長放了一部分糧。我前年才聽說，當時不知道，這個人後來去了新疆，不是幹部要支援新疆嗎？去了就沒消息了，可能死在新疆了吧。還有個別地方，我們《炎黃春秋》發過幾期，在極個別的小地方，這樣的干部挨整了以後,後來又平反了。這也有，不是很多。如果很多的話，就不至於餓死人了。</p>

					<p><span class='speaker'>李肅：</span>有沒有這樣的情況，就是中央一層談到有必要開倉放糧？</p>

					<p><span class='speaker'>楊繼繩：</span>中央沒有。中央如果有開倉放糧的話，不就解決問題了嗎？</p>

					<p><span class='speaker'>李肅：</span>有沒有討論過這個問題？</p>

					<p><span class='speaker'>楊繼繩：</span>毛澤東有句話，不但不放糧，還要增加糧食徵購。1960年1月份，大饑荒嚴重，大批農民正在餓死的時候，執政者反而刻意增加糧食庫存。中共中央在糧食部的一份報告中說，糧食徵購從1959年夏糧登場的時候計算起，到1959年12月份已經收得1142億斤貿易糧，比中央批准的1075億斤還多收了6% 。</p>

					<p>按秋糧計算，到1959年12月25日，已收糧1016億斤，完成94%，加上1960年的夏糧，肯定可以超額完成計劃。我們預計1959年到1960年糧食年度收購1200億斤糧食完全是可能的。中央在批轉這個報告時說，不知道是鄧小平 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en41" id="ref41">（註 41 ）</a>
					</sup>還是毛澤東，在批轉這個報告時說，中央認為，在今後糧食生產繼續躍進的基礎上，逐漸增加國家糧食儲備，不僅是必要的，而且是可能的。</p>

					<p><span class='speaker'>李肅：</span>這正是在大饑荒最嚴重的時候。</p>

					<p><span class='speaker'>楊繼繩：</span>最嚴重的時候，就是在餓死人最多的1960年，國家還有數百億斤的糧食庫存，卻沒有大規模地開倉放糧，還在想辦法增加庫存。</p>

				</section>



				<section epub:type="subchapter" id="part8">
					<h2><%= chapter_title[8] %></h2>

					<p><span class='speaker'>解說：</span>饑荒發生以後，中國官方就把責任推給了老天爺，說是自然災害造成的，後來“三年自然災害”的說法就成了那場災難的代名詞。那三年的氣候情況究竟怎麼樣？天災在大饑荒中究竟起到了怎樣的作用？</p>

					<p><span class='speaker'>李肅：</span>“三年自然災害”，從那個時候開始，一直到現在，是中國人最普遍的說法，不管是上層還是基層的老百姓，大家談到那個時候都說“三年自然災害”或者是“三年困難時期”。“三年自然災害”這個說法是從什麼時候來的？怎麼來的？</p>

					<p><span class='speaker'>楊繼繩：</span>“三年自然災害”從那個時候就開始說了，就是1958年、1959年就開始說了，到1961年的（中共）八屆九中全會就明確提出“三年自然災害”。到“七千人大會” <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en42" id="ref42">（註 42 ）</a>
					</sup>，林彪 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en43" id="ref43">（註 43 ）</a>
					</sup>特別強調“三年自然災害”，以後就一直強調“三年自然災害”了。</p>

					<p><span class='speaker'>李肅：</span>那幾年真地發生了自然災害，而且嚴重到足以造成全國性的大災難嗎？</p>

					<p><span class='speaker'>楊繼繩：</span>為這個事情我五次跑到國家氣象局，找了一些專家個別請教，也翻閱了一些資料，最後的結論是：天災年年有，這三年是常年。</p>

					<p><span class='speaker'>李肅：</span>這三年是常年，沒有發生特別嚴重的自然災害，是嗎？</p>

					<p><span class='speaker'>楊繼繩：</span>中國這麼大，就是天災年年有。這三年的氣象屬於正常年景。為什麼是常年呢？我書上有四條曲線，這些曲線都是講氣象跟農業的關係。那三年，每條曲線偏離中線程度都不是最大的，相反卻很小。而八十年代偏離的程度比那三年大得多，但八十年代沒有餓死人。大饑荒之前也有偏離很大的，也沒有餓死人。這四條氣象曲線都跟農業生產、糧食產量有密切關係，沒有一條發生過大幅度的偏離。</p>

					<p><span class='speaker'>李肅：</span>也就是說那三年的氣候，從氣象和農業的關係上講，對農業不會形成重大的自然災害。</p>

					<p><span class='speaker'>楊繼繩：</span>是常年，每年都有自然災害，但是，（那三年）是平常年景。</p>

					<p><span class='speaker'>李肅：</span>更不能說那三年的自然災害嚴重到能夠造成數千萬人死亡的程度。</p>

					<p><span class='speaker'>楊繼繩：</span>不能的。</p>

					<p><span class='speaker'>解說：</span>根據統計，大饑荒年代的自然災害在1959年造成的糧食減產為200到300億斤；在1960年造成的糧食減產為300到400億斤，只佔全國糧食總產量4000多億斤中很小一部分，如果處置恰當，根本不可能造成全國性的大饑荒。</p>

					<p><span class='speaker'>中國華東師範大學歷史學教授楊奎松 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en44" id="ref44">（註 44 ）</a>
					</sup>說：</span>“我們讓學生去做過各個省的這種統計，就是歷年的自然災害的情況。現在有十幾個省的資料統計出來，可以很清楚，就是58年、59年、60年不是嚴重的天災的情況，歷史上的災害情況不是說這幾年就特別重。所以，從這個情況來看呢，‘天災'的說法應該說不太準確。而且在過去國民黨時期 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en45" id="ref45">（註 45 ）</a>
					</sup>，在古代也有過各種各樣的天災，也出現過這種大量饑民的情況，但是餓死人這麼普遍，或者說這麼大的數字，這個也是歷史上罕見的。所以，肯定不是一個單純的‘自然災害'的問題。”</p>


					<%- photo[19] %>


				</section>



				<section epub:type="subchapter" id="part9">
					<h2><%= chapter_title[9] %></h2>

					<p><span class='speaker'>李肅：</span>中國官方把那幾年發生的困難的另一個主因歸罪於蘇聯逼債，當時叫“蘇修 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en46" id="ref46">（註 46 ）</a>
					</sup>逼債”。這個說法有沒有根據？</p>

					<p><span class='speaker'>楊繼繩：</span>“蘇修”就是兩個問題，一個是撕毀合同，一個是蘇聯逼債。先說說撕毀合同。撕毀合同是1960年7月份撕毀了科技合同，跟農業無關。1960年7月份大饑荒已經發生了一年半，所以（撕毀合同的事）跟大饑荒的發生肯定沒有關係。而洛陽拖拉機廠跟農業有關係。這家廠子是1959年建成的。所以，蘇聯撕毀合同這點是不成立的。</p>

					<p><span class='speaker'>李肅：</span>一是那些合同跟農業沒有關係，二是時間上也沒有關係。</p>

					<p><span class='speaker'>楊繼繩：</span>已經發生一年半了。至於蘇聯逼債，我們前些年是欠了些債，這些債也是不合理的。朝鮮戰爭 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en47" id="ref47">（註 47 ）</a>
					</sup>是它讓我們打的，讓我們掏錢也不合適，很糟糕的。不是說蘇聯沒有逼債，蘇聯的意思是你要還債，而且是有期限的，毛澤東說要爭口氣，要提前還債。</p>

					<p><span class='speaker'>李肅：</span>這個期限是原來定好的，還是那幾年逼的？</p>

					<p><span class='speaker'>楊繼繩：</span>原來就定好的，是1965年、1966年還清。</p>

					<p><span class='speaker'>李肅：</span>這麽說，所謂“逼”字是不存在的。</p>

					<p><span class='speaker'>楊繼繩：</span>不存在。</p>

					<p><span class='speaker'>解說：</span>根據史料記載，蘇聯當年不僅沒有逼債，而且還向困境中的中國伸出了援助之手。 1961年，根據中國總理周恩來提議，中國向蘇聯借了二十萬噸糧食，“使東北糧食困境及時得到緩解”。1961年2月27日，蘇聯領導人赫魯曉夫致函毛澤東，提出鑑於中國發生食品供應方面的困難，蘇聯願意以貸款的形式向中國提供一百萬噸糧食和五十萬噸古巴糖，並且表示中國對蘇聯易貨貿易中沒有交貨的價值十億盧布貨物可以分五年償還，不計利息。中國還對此表示“我們永遠珍視、並且衷心感謝蘇聯共產黨、蘇聯政府和蘇聯人民給我們的無產階級國際主義的援助”。</p>

					<p>時任新華社社長的吳冷西 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en48" id="ref48">（註 48 ）</a>
					</sup>在1999年出版的《十年論戰(1956--1966)--中蘇關係回憶錄》一書中說，蘇聯並沒有提出還債問題。是毛澤東自己決定提前還債。1960年7月18日，毛澤東在“北戴河會議” <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en49" id="ref49">（註 49 ）</a>
					</sup>上指示周恩來算一下要多少年還請蘇聯欠帳。周恩來說，中國尚欠蘇聯八十億盧布，要十年才能還清。毛澤東說，延安時期 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en50" id="ref50">（註 50 ）</a>
					</sup>那麼困難，我們吃辣椒也不死人，現在比那個時候好多了，要勒緊褲腰帶，爭取五年內把債務還清。於是政治局決定，各省成立外貿小組，擠出東西來還債。而與此同時，大饑荒正在把大批的中國人驅趕到死亡的邊緣。</p>

					<p><span class='speaker'>楊繼繩：</span>毛澤東說我們要爭口氣，要提前還債。</p>

					<p><span class='speaker'>李肅：</span>等於說是毛澤東是在自己逼自己還債了。</p>

					<p><span class='speaker'>楊繼繩：</span>他說是要爭口氣，為民族爭氣，不是“反修”嘛，我們提前還債。</p>

					<p><span class='speaker'>李肅：</span>就是說當年的的確確是毛澤東主動要提前還債。</p>

					<p><span class='speaker'>楊繼繩：</span>加速了還債。</p>

					<p><span class='speaker'>李肅：</span>在中國最困難的時候，在農民不斷餓死的情況下，毛澤東反而要加速還債。</p>

				</section>



				<section epub:type="subchapter" id="part10">
					<h2><%= chapter_title[10] %></h2>

					<p><span class='speaker'>楊繼繩：</span>加速還債的數字比我們在那個時候提供的外援數字要少，不到一半。除了出口食品以外，執政者還慷慨地支援兄弟友好國家和兄弟黨。在大饑荒最嚴重的1960年，國家成立了專門機構從事援外，（援助）數額這年也激增，常常援助一些生活水平比我們高的國家，像阿爾巴尼亞這樣的國家。</p>

					<p><span class='speaker'>解說：</span>在大饑荒年代，中國一直沒有停止對外援助。根據中國副總理李先念 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en51" id="ref51">（註 51 ）</a>
					</sup>《關於1961年和1962年國家決算的報告》，中國從1958年到1962年一共對外援助23.62億元（人民幣），主要對像是阿爾巴尼亞、朝鮮、越南、古巴、蒙古和一些亞洲和非洲國家。據《中國新聞網》2008年12月31日報導，1960年，中國除了向非洲的幾內亞運送一萬噸大米以外，還有1.5萬噸小麥運往阿爾巴尼亞。</p>




					<!-- TABLE -->
					照片：中國1950年到1960年間的糧食出口數據表
					文件名：中國糧食進出口表（50-60） .doc
					網絡照片

					<table>
						<tr>
							<th></th>
						</tr>
						<tr>
							<td></td>
						</tr>
					</table>
					<!-- TABLE -->





					<p><span class='speaker'>楊繼繩：</span>當時除了援外以外，還出口大量的食品。糧食出口（數量）那一年也很多，還出口農民連看都看不見的雞蛋、蜂密、水果、紅棗等很多高級食品。在餓死人最多的時候還在大量出口食品。跟1957年相比，1959年糧食產量減少了2500萬噸，而1959年糧食出口卻增加到415.75萬噸，比1957年的糧食出口增加了209萬噸，多了一倍以上。這一年糧食出口創歷史最高記錄，達到415.75萬噸。這是貿易糧，如果折成原糧，數字就更大了。</p>

					<p><span class='speaker'>李肅：</span>以剛才你所說的全國庫存糧食來計算的話，出口的糧食如果拿出一半來給全國各地分，人也不會餓死。</p>

					<p><span class='speaker'>楊繼繩：</span>人也不會餓死。 415.75萬噸貿易糧相當於五百萬噸原糧，農民的口糧都是原糧，山芋、白薯等。1959年和1960年，農村人均糧食消費為164公斤，1957年是204公斤。按1957年的標準計算，五百萬噸糧食足夠2450萬人吃一年。大饑荒最嚴重的1960年還繼續出口糧食272萬噸，而1959年又沒有進口糧食。原本從加拿大運送進口糧食來中國的一批船隊接到劉少奇一封電報就開往阿爾巴尼亞去了。</p>

					<p><span class='speaker'>李肅：</span>當時中國高層知道出現饑荒了嗎？</p>

					<p><span class='speaker'>楊繼繩：</span>怎麼不知道出現饑荒呢？劉少奇都回老家調查了。</p>

					<p><span class='speaker'>李肅：</span>他都調查過了，還一個電話把這些糧食都運走了。中國對外出口糧食的目的是什麼？</p>

					<p><span class='speaker'>楊繼繩：</span>用出口糧食換外匯、買機器、買武器。除了出口糧食以外，還出口很多東西，包括花生油、花生仁、鮮雞蛋、活豬、凍豬肉、活家禽、凍家禽、凍兔肉、水產品、蘋果、柑橘、豬肉罐頭、水果罐頭、蔬菜罐頭、啤酒、核桃、核桃仁、黑木耳、紅棗、香菇、栗子和蜂蜜等等。老百姓看都看不到的東西都出口了。</p>

					<p><span class='speaker'>李肅：</span>當時如果說出口糧食是為了換取外匯的話，對外援助的糧食到底是什麼目的呢？本國人在餓死，政府卻把糧食拿去外援，邏輯不通嘛！是不是中國人的命太不值錢呢？</p>

					<p><span class='speaker'>楊繼繩：</span>阿爾巴尼亞是“海內存知己，天涯若比鄰”，毛主席一首詩是這麼說的。</p>

					<p><span class='speaker'>李肅：</span>當時只有對阿爾巴尼亞嗎？</p>

					<p><span class='speaker'>楊繼繩：</span>阿爾巴尼亞、羅馬尼亞和匈牙利都援助了。朝鮮當然也援助了，還包括一些兄弟國家，像巴基斯坦。我們一下子就給穆罕默德·阿尤布·汗 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en52" id="ref52">（註 52 ）</a>
					</sup>總統4個億。這是國際共產主義，要輸出革命，這是共產黨的最高宗旨。</p>

					<p><span class='speaker'>李肅：</span>國際共產主義輸出革命比本國人的生命更重要嗎？</p>

					<p><span class='speaker'>楊繼繩：</span>國際共產主義如果勝利，本國人可以再生嘛。</p>

					<p><span class='speaker'>李肅：</span>這是中共上層當時的想法？</p>

					<p><span class='speaker'>楊繼繩：</span>我想是這樣，那不好說。真正的證據是：糧食庫存在增加，大批的人在餓死，但國家還在出口糧食，還在大量進行援外。</p>

					<p><span class='speaker'>結束語：</span>楊繼繩在《墓碑》一書中寫道：“墓碑是凝固的記憶。人類的記憶是國家和民族賴以進步的階梯，是人類航程前進的路標。我們不僅要記住美好，也要記住罪惡，不僅要記住光明，也要記住黑暗。”</p>
				</section>
			</section>


				<!-- THIS IS HOW TO STYLE THE HEADLINES, FOOTNOTES AND PHOTOS -->
<!--
				<section epub:type="subchapter" id="part1">
					<h2><%= chapter_title[1] %></h2>
					<p>在北京東城區繁華的商業區王府井附近，有一個僻靜的小胡同，叫富強胡同。在周圍現代化建築的襯托下，它更顯得古老、蒼涼。</p>
					<p>不錯，這條胡同正因其古老而有名。胡同西側有一大片房產據說是前清大太監李蓮英
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en03" id="ref03">（註 3 ）</a>
						</sup>
						的家產。清朝有幾位親王都曾經是三號院的主人。這裡有幾處宅子都被列為"北京市重點保護四合院"。</p>
					<p>然而，富強胡同在今人中間的知名度並不只是因為那些太監和親王，更因為在這裡長期居住的兩位特殊居民，一位是中共中央總書記—胡耀邦
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en04" id="ref04">（註 4 ）</a>
						</sup>
						，另一位是他的繼任者趙紫陽。</p>
					<p>胡耀邦從1952年擔任中國共青團中央書記就住在這裡，一直到1984年成為中共首腦後才搬走，去了中南海。他在富強胡同6號一共居住了29年。中南海沒有給胡耀邦多少好日子。到1987年，他就被中共的一批老革命家們給罷黜了。</p>
					<p>趙紫陽的命運跟胡耀邦有所不同。中南海見證了他登上政治生涯頂峰的輝煌，陪伴他度過了一生最為春風得意的時刻。他可能從未想過，這個破舊的胡同會成為他命運的歸宿。趙紫陽跟胡耀邦相似的地方是：他也是被一群中共元老們密謀趕下台的。下台後，他就被無意或是刻意地安置在胡耀邦居住過近30年的那個四合院裡。</p>
					<p>自從趙紫陽一家在1989年搬到富強胡同以後，6號四合院就成為京城裡人們關注的一個新景點。平時總會有一些人，或者出於好奇，或者帶有某種目的，到這裡來轉一轉，看一看。每逢有重大事件，如六四紀念日等，聚集在這裡的人會更多一些，其中也不乏媒體記者。富強胡同因此更加有名。</p>					
				</section>
-->