			<section epub:type="chapter" id="start">
				<h1><%= chapter_title[0] %></h1>
				<h2>撰文：木風 蕭雨   製作：杜林 昱杉</h2>
				<div class="pullout"><%= global.book.meta[book].description %><!--核心提示：新中國成立 中國畫奄奄一息；百無一用國畫家，大師專管電影票；毛澤東小開後門，國畫免遭除名；領袖動怒，紅色美術家變成大右派；美術界打右派，指標：5%；小心鳴放 董希文險些自殺；看不見的鐵線；“大躍進”帶來的大機遇；大師患上紅色恐懼症，畫愈畫愈黑--></div>

				<p>這是中國畫最賺錢的時代，也是中國畫最繁榮的時代。</p>

				<p>最近幾年，中國畫名作在拍賣行愈來愈紅火，拍價不斷飆出新紀錄。李苦禪 <sup epub:type="rearnote">
					<a href="backmatter.xhtml#en01" id="ref01">（註 1 ）</a>
				</sup> 的《花鳥卷》拍出1120萬元人民幣的價格；徐悲鴻 <sup epub:type="rearnote">
					<a href="backmatter.xhtml#en02" id="ref02">（註 2 ）</a>
				</sup> 的《九州無事樂耕耘》成交價2.668億元；李可染 <sup epub:type="rearnote">
					<a href="backmatter.xhtml#en03" id="ref03">（註 3 ）</a>
				</sup> 的《萬山紅遍》拍出了3億元人民幣；齊白石 <sup epub:type="rearnote">
					<a href="backmatter.xhtml#en04" id="ref04">（註 4 ）</a>
				</sup> 老人的《松柏高立图· 篆書四言聯》更是以4.3億元人民幣的天價成交。</p>

				<p>這些天文數字代表的不僅是市場價格，更標誌着中國畫這個有著數千年歷史的藝術種類進入了一個新的發展階段。它從文人、墨客的書齋走出，步入尋常百姓家的廳堂，成為投資人青睞的對象。</p>

				<p>揮灑淋漓的潑墨山水；細膩逼真的工筆花鳥；掙脫具象束縛，追求“神韻”的意匠加工；詩、書、畫、印融為一體所呈現的超凡脫俗的意境--中國畫所具有的這些獨特品質找到了愈來愈多的知音，贏得了世界愈來愈多的珍愛。</p>

				<p>但是，又有多少人暸解，在中共建政後的半個甲子中，中國畫經歷了生死劫難和浴火重生。它今天的存在和繁榮在很大程度上是一系列悲劇的巧合與偶然碰撞的結果。在紅色政治時代，中國畫因無法像其它藝術形式那樣成為革命的“匕首”，以擲向敵人的勇敢舉動而得到黨的讚賞；它的大師們曾經為自己的“百無一用”而感到愧疚與絕望。國畫在中國最高美術學府幾乎被徹底除名。</p>

				<p>然而，還是在紅色政治時代，“三面紅旗”、“大躍進”等瘋狂的運動在給國家經濟和人民生活造成巨大的災難同時，卻意外地給國畫家們提供了“就業”機會。畫家們跟隨着“跑步進入社會主義” <sup epub:type="rearnote">
					<a href="backmatter.xhtml#en05" id="ref05">（註 5 ）</a>
				</sup> 的步調，投身於“文藝大躍進”的浪潮之中。他們到農村拼命地畫年畫、壁畫、宣傳畫，為農民服務。雖然無聊，畫家們卻能夠在忙碌中忘卻無所事事的危機，他們對被時代拋棄的恐懼也暫時得到緩解。</p>

				<p>大躍進的產物 --“十大建築”--在北京的落成給國畫家們帶來了意想不到的機會。室內裝飾需要大量的裝飾畫，而油畫因製作期過長而不能滿足大躍進的速度要求，機會從天上落到了國畫大師們的頭上。他們應召接受應試，可誰也沒想到，這些經過“文藝大躍進”鍛煉的畫家們在很短的時間裡創作出了一幅幅讓歷史永遠銘記的傑作，讓中南海的大人物突然發現這些國畫大師們並非百無一用。他們的作品不僅能夠掛上廳堂，而且可以用來向世界展示中國的特色。國畫的生存有了希望。</p>

				<p>人民大會堂大廳牆壁上的大型國畫《江山如此多嬌》就是這批室內裝飾畫的代表作。它的兩位作者--著名畫家傅抱石 <sup epub:type="rearnote">
					<a href="backmatter.xhtml#en06" id="ref06">（註 6 ）</a>
				</sup> 和關山月 <sup epub:type="rearnote">
					<a href="backmatter.xhtml#en07" id="ref07">（註 7 ）</a>
				</sup> 因這幅畫而身價暴漲。傅抱石的《毛主席詩意册》在2009年拍价超過2億元人民幣。關山月的《迎春圖》的價值在拍賣會連年成倍上漲，2004年的拍價為320萬元，2008年拍價飆升到1155萬元。</p>

				<p>在這一篇裡，美國之音《解密時刻》邀請中國美術史專家、原中國中央美術學院美術史系的張郎郎 <sup epub:type="rearnote">
					<a href="backmatter.xhtml#en08" id="ref08">（註 8 ）</a>
				</sup> 先生給我們介紹國畫大師們在1949年中共建政後經歷了怎樣的尷尬和磨難，中國畫如何在波濤洶湧的紅色政治中隨波逐流、聽任擺佈，但最後卻僥倖避過了滅頂之災，迎來了今天的繁榮。</p>

				<p>這段歷史不堪回首，令人悲傷，令人感嘆，令人慶幸。</p>

				<p>張郎郎1943年出生在延安，他的父親張仃 <sup epub:type="rearnote">
					<a href="backmatter.xhtml#en09" id="ref09">（註 9 ）</a>
				</sup> 是中國著名的紅色藝術家，也是新中國國徽的主要設計者。然而文革期間，“根紅苗正”的張郎郎被當局以“惡毒攻擊中央首長”的罪行逮捕入獄，並一度被打入死牢。他的同室獄友就是因寫過《出身論》等文章而在當時名聲大噪的遇羅克 <sup epub:type="rearnote">
					<a href="backmatter.xhtml#en10" id="ref10">（註 10 ）</a>
				</sup>。在他的獄友一批一批被槍決之後，他卻奇跡般地死裡逃生。</p>

				<p>《解密時刻》主持人李肅採訪了張郎郎。</p>

				<section epub:type="subchapter" id="part1">
					<h2><%= chapter_title[1] %></h2>


					<%- photo[1] %>


					<%- photo[2] %>


					<p><span class='speaker'>李肅：</span>當今中國，國畫和油畫實際上是各領風騷，各有一片天地，在美術界裡的地位都相當高。不過，在1949年中國共產黨剛剛建立政權的時候，國畫的狀況似乎並不是這樣？對不對？</p>
					
					<p><span class='speaker'>張郎郎：</span>對。49年剛剛建國，從延安來到北京的藝術家們，大都是延安魯迅藝術學院 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en11" id="ref11">（註 11 ）</a>
					</sup>，就是魯藝畢業的。這批人很多都是學漫畫的，也有做版畫的，就是搞木刻的，都是從魯迅時代過來的。</p>
					
					<p>革命藝術家只能靠這些作為戰鬥的武器。那時候大家把畫視為匕首，刺向敵人的匕首。當然還有很少的油畫家。國畫完全沒有地位。所以，1949年建國的時候，只能用奄奄一息來形容國畫當時的境遇。 </p>
					
					<p><span class='speaker'>李肅：</span>中國共產黨在延安時代，或者是在49年之前，對國畫基本上是持一個蔑視或者說是忽視的態度，是嗎？</p>
					
					<p><span class='speaker'>張郎郎：</span>從某種意義上說，中國的國畫在清朝發展到一個頂峰。國畫實際上是一種文人畫，跟革命要求的畫完全沒有關係。一是形式沒辦法，第二是從它的內容看，它是一種文人消閒的東西。所以，在文藝革命隊伍開始的時候，也就是從上海的左翼文化運動興起的時候，幾乎就沒有任何國畫家參與進來。</p>


					<%- photo[3] %>


					<%- photo[4] %>


					<p><span class='speaker'>李肅：</span>在49年之前，中國國畫界有相當多的名人，比如齊白石、徐悲鴻，他們的境遇如何？</p>
					
					<p><span class='speaker'>張郎郎：</span>徐悲鴻實際上是第一統戰對象。當時中國最高的美術學府--國立藝專，現在的中央美術學院，讓他當院長，派江豐 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en12" id="ref12">（註 12 ）</a>
					</sup> 來當書記。後來也一直是這樣，書記是掌握權力的人。徐悲鴻被統戰，作為一個藝術符號擺在那兒。而齊白石完全跟社會沒有關係，就是一個獨立的藝人。</p>
					
					<p><span class='speaker'>解說：</span>1950年4月，國立北平藝術專科學校與華北大學美術系合併，成立了中央美術學院。毛澤東親自為學院題寫院名。北平藝專的歷史可以追溯到1918年成立的國立北京美術學院。這是中國歷史上第一所國立美術教育學府。而華北大學美術系的前身則是1938年中國共產黨在自己的根據地延安創建的魯迅藝術學院美術系，簡稱“魯藝”。上個世紀30年代，很多對共產主義心懷憧憬的“文藝青年”紛紛投奔延安。“魯藝”成為中國共產黨培養文藝幹部和文藝工作者的學校。當年，延河畔這所中世紀城堡式的大禮堂中曾經活躍著一批這樣的“紅色藝術家”。</p>


					<%- photo[5] %>


					<p><span class='speaker'>李肅：</span>如果涉及到兩院合併的話，來自魯藝的就是屬於革命派，來自國立藝專的就是屬於被招收派，或者是後加入革命陣營的一派，這兩派有沒有矛盾？</p>
					
					<p><span class='speaker'>張郎郎：</span>這些人已經在延安進行了一番思想改造，在毛澤東《在延安文藝座談會上的講話》 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en13" id="ref13">（註 13 ）</a>
					</sup> 發表以後還經過了“整風運動” <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en14" id="ref14">（註 14 ）</a>
					</sup>。這些人知道共產黨需要的是甚麼樣的藝術，他們對藝術家的位置非常清楚。而那批老的畫家一直跟政治沒有關係，完全不瞭解黨的政策。實際上從50年起就有衝突了。畫家們根本不懂甚麼是跟黨走。</p>
				</section>
				<section epub:type="subchapter" id="part2">
					<h2><%= chapter_title[2] %></h2>

					<p><span class='speaker'>李肅：</span>設立中央美院後，對於國畫系是怎麼對待的？</p>
					
					<p><span class='speaker'>張郎郎：</span>國立藝專時，只分國畫和西畫。49年後，覺得國畫有沒有存在的必要。當時江豐是書記，（不好）馬上取消，因為徐悲鴻也在教國畫，李可染大師也在教國畫，李苦禪、葉淺予 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en15" id="ref15">（註 15 ）</a>
					</sup> 都在國畫系。馬上取消的話，這些人的去向是問題，怎麼安排他的生活呢？</p>


					<%- photo[6] %>


					<p><span class='speaker'>李肅：</span>徐悲鴻呢，他對國畫受到的壓制是甚麼態度？</p>
					
					<p><span class='speaker'>張郎郎：</span>他也是沒有辦法。國畫怎麼為新社會服務，他也找不到出路。當時北京美協，就是老舍 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en16" id="ref16">（註 16 ）</a>
					</sup> 他們那撥人，只能把過去北京的那些老的國畫家都放在他們那兒。他得有個地去啊。放在那兒怎麼辦？這些人不能為新社會服務。最後會怎麼樣呢？後來就讓他們畫信封、畫書簽，讓他們有一線生路，就慘到這個地步。所以，當時江豐就說，先這麼耗著。不過，這時候他們提出來，真正的美術家要懂得黨的“二為方針”：第一為無產階級政治服務，第二為工農兵服務。你自己說，你的畫能不能為這個服務？葉淺予他會畫人，所以，他馬上就表示要往那邊靠。對他來說，比較容易。</p>
					
					<p><span class='speaker'>李肅：</span>往那邊靠指的是甚麼？</p>
					
					<p><span class='speaker'>張郎郎：</span>畫人可以接著畫年畫啊，可以畫速寫，只要能夠為新政權服務，我是可以做到的。但是李可染就有點勉為其難了。他是畫山水的。這個山水你怎麼為新社會服務啊？李可染當時也沒辦法，他就開始改了。</p>
					
					<p>因為他有點西畫的底子，也可以畫年畫。當時為工農兵服務就得畫年畫。他畫年畫很有名的一張就是《勞模遊北海》 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en17" id="ref17">（註 17 ）</a>
					</sup> 就畫很多勞模在北海裡。他利用他畫山水的經驗，畫了北海公園。靠着西畫的功底，李可染畫了很多勞動模範，戴著紅花，在公園裡走來走去。</p>


					<%- photo[7] %>

					<%- photo[8] %>


					<p>當然現在看起來，藝術水準沒法說，但是當時，他是挖空心思在做這方面的努力。最慘的就是李苦禪。李苦禪是畫花鳥的。這花鳥怎麼會為工農兵服務呢？所以他不知道該怎麼辦。江豐也不能把他們都趕走，就辦美術班，讓他們去學畫素描，實際上是一個苦活。</p>
					
					<p><span class='speaker'>李肅：</span>就是從頭學基本功了。</p>
					
					<p><span class='speaker'>張郎郎：</span>就是基本功。他們已經是大畫家，重新回去畫素描，跟他原來學畫的體系完全是兩個體系。好比一個有名的中醫，突然讓他開始去學人體解剖。這跟中國革命受蘇聯影響是有關係的。他們認為過去的那一套都不對，要徹底科學化、正規化。你們既然要為新社會的美術服務，都趕緊來上這個學習班，來畫素描。</p>
					
					<p>剛才說葉淺予，他有底子，他不怕。到李可染，他已經非常勉強了。到李苦禪，他連畫人的比例都畫不出來，他沒有這個基本功。到1953年、1954年的時候，李苦禪的境遇就非常慘。</p>



					<%- photo[9] %>

					<%- photo[10] %>



					<p>李苦禪非常苦惱。他老讓他兒子到街角拐彎那兒打一壺白幹。他自己吃點花生米，喝點酒。他自己會練武，拿著大刀走兩圈，一肚子牢騷。自己有藝術的天才，但是沒有出路。他和李可染都是齊白石最得意的兩個弟子。李苦禪是他後來起的名字。</p>
					
					<p>“苦禪”就是苦行僧的意思。以前他真正的名字叫李英。齊白石曾經說過：“英也，吾弟子也”。就是說李英是我的學生，意思是我學生中真正繼承我藝術的藝術家。</p>
					
					<p>但是在中央美院，人們不這麼看。你畫的是花鳥，現在沒辦法為新政權服務，就是這麼一個尷尬的境地。後來就把他調到工會。他教不了畫，被調到工會專門負責買電影票。因為這個你能做。</p>
					
					<p><span class='speaker'>李肅：</span>能做，一定能做。</p>
					
					<p><span class='speaker'>張郎郎：</span>當時旁邊的大華電影院和紅星電影院是他經常工作的場所，在那排隊，幫美術學院工會的活動買電影票。那個時候他已經知道岌岌乎殆哉。這就已經到了快掉下去的邊上，快開除了。他就看黨的政策下一步是把他拉上來或者把他排除出去。他也不會別的。這個時候李苦禪就想起當年的老同學毛澤東。</p>



					<%- photo[11] %>


					<%- photo[12] %>


				</section>
				<section epub:type="subchapter" id="part3">
					<h2><%= chapter_title[3] %></h2>

					<p><span class='speaker'>李肅：</span>他跟毛澤東還是老同學？</p>

					<p><span class='speaker'>張郎郎：</span>對。他們有一段同學之誼。當年周恩來 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en18" id="ref18">（註 18 ）</a>
					</sup> 和鄧小平 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en19" id="ref19">（註 19 ）</a>
					</sup> 在巴黎留學，發現在巴黎成立一個馬列研究小組是一個不錯的主意。他們就跟國內通信，讓這些人趕緊申請去巴黎去勤工儉學。不用錢啊。</p>

					<p>正好毛澤東和李苦禪都報了名。當然兩個人的想法不同。李苦禪是要到巴黎去學畫。巴黎是藝術之都嘛。毛潤之 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en20" id="ref20">（註 20 ）</a>
					</sup> 是要跟革命戰友會合，繼續討論馬克思列寧主義。計劃暑假完了他們就去巴黎留學。為準備勤工儉學，他們要集中起來學點法文，學點西方禮儀。</p>

					<p>但那批報名的人特別多。根據當時的文件，周恩來和鄧小平在巴黎搞了很多活動，讓巴黎方面有點緊張。他們對共產黨還是很抵觸的，就跟國內辦勤工儉學的法國官員說，把這批人的名單弄來。拿來名單一看這麼多人，而且看到毛澤東是從廣州的農民講習所 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en21" id="ref21">（註 21 ）</a>
					</sup> 過來的，這不是要比周恩來他們更厲害的人嘛。他們沒有說不讓誰去，而是說現在勤工儉學的留學生太多，這次的名單“品流複雜”，幹脆這一期大家都別去。這樣，毛澤東就沒去成，李苦禪也沒去成。他們兩人這樣就有了幾個月的同學之誼。</p>

					<p>李苦禪回家就給毛澤東寫信。他在家裡寫這封信的時候，董希文 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en22" id="ref22">（註 22 ）</a>
					</sup> 的兒子董沙貝正好到他們家去玩。（看到）他拿著大張的宣紙，寫的字跟核桃那麼大。他知道毛澤東沒時間，寫小字他沒工夫看。</p>

					<p><span class='speaker'>他寫道：</span>49年以前我沒轍的時候，就找蔣介石，他得管我。現在我生活無著，馬上我的飯碗就要砸了，所以我只能找你。他就寫了這麼一封信給毛澤東。可以說那時候，五幾年的時候，中國的官民關係還是比較近的，毛澤東還有工夫看他的信。</p>

					<p><span class='speaker'>解說：</span>1950年，毛澤東收到李苦禪的來信後，當即給中央美院院長徐悲鴻寫了一封信。他寫道：</p>

					<p><span class='speaker'>悲鴻先生：</span>有李苦禪先生來信，自稱是美術學院教授，生活困難，有求助之。此人情況如何？應如何處理？請考慮示知為盼。</p>

					<p>順頌教祺<br/>
					毛澤東<br/>
					八月二十六日</p>

					<p><span class='speaker'>張郎郎：</span>有了這麼一個變化，江豐就覺得是解決問題的時候了，得給快取消的（系）學科提供一個有必要存在的理由。他們就提出辦彩墨畫系。</p>

					<p><span class='speaker'>李肅：</span>終於有了個結果。為甚麼叫彩墨呢？</p>

					<p><span class='speaker'>張郎郎：</span>油畫是用油彩畫的；版畫是用刀刻的，或者是在石板上做的；雕塑是用泥做的；彩墨畫呢？就是用彩和墨來畫畫的。按照繪畫工具來分，算是有了這麼一個專業。一開始李苦禪被容納進來，他畫的畫，人家都批判。他喜歡用墨，用的顏色太少了，人家就說“江山如此多黑”。你怎麼畫這麼黑，我們的紅色江山怎麼是黑的呢？</p>

					<p><span class='speaker'>李肅：</span>中國的國畫在岌岌可危的時候，被李苦禪走了毛澤東的後門兒才把它挽救下來的？</p>

					<p><span class='speaker'>張郎郎：</span>對。但是不是直接這麼挽救的呢？這至少是一個契機，是一個導火線。當然還有另外一個潛在的原因：到54、55年的時候，毛澤東對於“五四運動”否定一切中國傳統的（觀念）有所改變。同時他認為京劇不能消亡，因為他自己喜歡看京劇，喜歡看老戲。</p>

					<p><span class='speaker'>李肅：</span>那是他因為個人好惡。</p>

					<p><span class='speaker'>張郎郎：</span>個人愛好。但是，既然京劇可以存在，那國畫也得存在，這是相連的。</p>

					<p><span class='speaker'>李肅：</span>國畫是沾了京劇的光了。</p>

					<p><span class='speaker'>張郎郎：</span>而且還是沾了中醫的光。本來中醫也是要廢掉的，因為覺得不科學。但是發現中國當時六億人口，靠這麼點醫院根本沒辦法解決，只能就地取材，靠中草藥才能解決大眾的醫療需要。所以，中醫不能廢。中醫不能廢，國畫也不能廢，京劇也不能廢，這才都有了一線生機。</p>
				</section>
				<section epub:type="subchapter" id="part4">
					<h2><%= chapter_title[4] %></h2>

					<p><span class='speaker'>李肅：</span>我們再回過來談中央美院的領導班子起初力主壓制國畫，起碼在毛澤東發話之前。為首的人物就是您提到的江豐。江豐是個甚麼人物？</p>
					
					<p><span class='speaker'>張郎郎：</span>江豐實際上是工人出身，而自己是一個版畫家，做木刻的。在延安就是左翼文化的先鋒。人很正派、很正直。他堅信共產主義救中國。所以他到延安以後也是魯藝美術部的主任。他一直掌管著中國的美術。黨也相信他，也知道他出身好，思想正，人單純。他確實並沒有想故意壓制誰，他覺得你們沒有用。</p>
					
					<p><span class='speaker'>李肅：</span>江豐是中國共產黨代表的化身了，堅決執行黨的政策、黨的路線。黨要他對國畫採取一種壓制的做法，他就會去壓制。黨說國畫要保留下來呢，他就積極地想辦法保留國畫。他這樣一個忠實執行黨的政策的人物後來的命運怎麼樣？</p>
					
					<p><span class='speaker'>張郎郎：</span>他是57年就被打成右派了。</p>
					
					<p><span class='speaker'>李肅：</span>他為甚麼被打成右派？他這麼堅決執行黨的政策？</p>
					
					<p><span class='speaker'>張郎郎：</span>開始反右的時候，誰都不會認為江豐會被打成右派。</p>
					
					<p><span class='speaker'>李肅：</span>黨委書記。</p>
					
					<p><span class='speaker'>張郎郎：</span>黨委書記。因為當時都有比例嘛，那個5％的名單讓他拿出來。當時江豐拿不出這個名單。這些人沒有公開對黨的不滿。算來算去，能夠打成右派的人太少。後來江豐就說沒有那麼多。當時文化部的領導夏衍 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en23" id="ref23">（註 23 ）</a>
					</sup> 就給他們召開一次會，實際上給他們加溫，要他們明白這個反右運動不是你個人的喜好，必須要把階級敵人挖出來。</p>
					
					<p><span class='speaker'>李肅：</span>按比例挖出來。</p>
					
					<p><span class='speaker'>張郎郎：</span>按比例挖出來。實際上參加這個會的其實差不多都是紅色畫家和黨員，都是從延安來的。但是，他們當時還是有個錯覺。他們認為當時江豐一直執行的這個路線跟黨是完全同步的。他們覺得文化部錯了。他們覺得這不是毛澤東的路線。他們就跟文化部發生了非常大的衝突。</p>
					
					<p>文化部把這次討論，跟夏衍對峙的過程給上面打了一個報告。到現在我還不知道裡面哪句話觸動了毛澤東的哪一個問題。毛澤東突然大筆一揮，親自點名：不要說中央美院找不到右派，因為江豐就是美術界最大的右派。</p>
					
					<p>這一句話就把美術界整個給顛倒過來了。本來無論從行動、從思想、從作為，他都是一個堅強的布爾什維克 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en24" id="ref24">（註 24 ）</a>
					</sup>。突然他變成右派。他一變成右派，跟他有聯繫的一大批紅色畫家全下來了，全是右派。</p>
					
					<p><span class='speaker'>李肅：</span>黨的化身變成對立面了。</p>
					
					<p><span class='speaker'>張郎郎：</span>變成對立面了。</p>
				</section>
				<section epub:type="subchapter" id="part5">
					<h2><%= chapter_title[5] %></h2>

					<p><span class='speaker'>解說：</span>就在江豐一夜之間從中央美院的黨委書記變成毛澤東欽點的大右派時，中央決定讓延安來的紅色藝術家，張郎郎的父親張仃領導中央美院的反右運動。</p>

					<p>張仃，1917年出生於遼寧。早年學習國畫，中國抗日戰爭爆發之初以漫畫做為抗日宣傳武器，在上海灘小有名氣。1938年，為了共產主義理想，張仃攜妻子陳布文 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en25" id="ref25">（註 25 ）</a>
					</sup> 一道奔赴延安，在魯藝美術系任教。中華人民共和國成立之初，張仃就職中央美術學院，並投身“包裝新中國”的工作，參與設計了開國大典的會場以及新中國的國徽。1956年，毛澤東提出“百花齊放，百家爭鳴”，鼓勵民眾發表對共產黨的異見觀點。隨後，中央美院的很多人紛紛落馬，被打成右派。</p>

					<p><span class='speaker'>張郎郎：</span>我父親當時住在香山，自己在那兒畫畫。突然把他調回北京，走馬上任變成中央美院的反右小組組長了。我父親都暈了。為甚麼差點被打成右派呢？就是在1956年，當時出現了匈牙利事件嘛。</p>

					<p>毛澤東覺得藝術家應該讓他們隨便畫、隨便寫。國家也不能養，就號召藝術家們去做職業藝術家，不要像過去那樣由國家養起來，你們來為他們服務。這是因為赫魯曉夫報告以後毛澤東在當時的想法。我父親呢，正好就不想當領導。他打了辭職報告。當時他跟艾青 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en26" id="ref26">（註 26 ）</a>
					</sup> 、張光宇 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en27" id="ref27">（註 27 ）</a>
					</sup> 想辦一個《同人》刊物。</p>

					<p>那時毛澤東剛剛發表了《正確處理人民內部矛盾》的講話，其中說應該搞真正的“白花齊放、百家爭鳴”，個人是可以自己辦雜誌。我爸他們就信以為真。我爸編了第一期的雜誌，還寫了文章，都弄好了。當時差點被打成右派。那時侯他看到周圍的人紛紛中箭落馬，他知道很危險的。他以為這次躲不過去了，很緊張。沒想到一夜之間，突然決定把江豐給打成右派，又派人跑到香山把我父親叫回來，馬上進中央美院。</p>

					<p>所以也很諷刺。第一次他是跟其他五個共產黨員去接收中央美院，現在還是因為他是延安來的共產黨員，來重新接收中央美院，變成反右小組的組長。那個時候呢，就正像你所說的，他會有一個很大的反衝。所以在政治風浪之中，藝術家的命運都是不可預測的。</p>

					<p><span class='speaker'>李肅：</span>不可預測的，瞬息萬變。</p>

					<p><span class='speaker'>張郎郎：</span>瞬息萬變。</p>

					<p><span class='speaker'>李肅：</span>那麼你父親實際上是做了領導。他領導了反右。在這一次反右當中，或者說在以後的歷次運動中，他自己有沒有對立面？</p>

					<p><span class='speaker'>張郎郎：</span>很多教授都認為我父親搞的就是“國會縱火案” <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en28" id="ref28">（註 28 ）</a>
					</sup>。他們認為我父親這樣一個本來已經被邊緣化，搬到香山要自己去畫畫的一個人，怎麼能突然返回來把原來真正的領導集團全打倒了呢？所以很多教授對我父親就有這個成見，就認為一定是他搞的一個陰謀。我父親也很苦惱。但是也有沒有辦法。他是被黨放在這樣一個位置了。</p>

					<p><span class='speaker'>李肅：</span>那麼他有沒有按照黨的指示完成這個5%右派的指標？</p>

					<p><span class='speaker'>張郎郎：</span>那個時候他不按這個都不行。也不是他一個人。</p>

					<p><span class='speaker'>李肅：</span>也就是說他完成了？</p>

					<p><span class='speaker'>張郎郎：</span>他是個組長，下面有一個小組，都是派來的，都是紅色方面的人。還有一個根本不是美術界的，調來的一個人叫陳沛。我不知道他本來是做甚麼工作的，好像也是情報系統的，派來當書記。陳沛反正跟誰也不認識，他也沒有感情的糾葛。所以他們來定名單。我父親只能同意，他沒有反駁的可能性。</p>
				</section>
				<section epub:type="subchapter" id="part6">
					<h2><%= chapter_title[6] %></h2>

					<p><span class='speaker'>為李肅：</span>作為紅色美術家應該還有其他一些例子。我們現在可以談談董希文。董希文是《開國大典》這幅著名作品的作者。可不可以介紹一下他的情況？</p>

					<p><span class='speaker'>張郎郎:：</span>董希文本來也是一個愛國主義、理想主義青年。他是學法式油畫的，在當時來說他也是很時尚的一個人。在1949年以前，他已經是很靠近共產黨的一個革命青年。</p>

					<p><span class='speaker'>李肅：</span>他是1949年就加入共產黨的。</p>

					<p><span class='speaker'>張郎郎：</span>對啊。後來他打算畫《開國大典》。本來大家也沒有想過這幅畫要怎麼畫。他也面臨著一個選擇。第一要用油畫，第二還要有民族特色。當時他在北總部胡同，他的一個親戚在那兒有一間房，讓他在那兒畫。後來改呢，就是拿到大雅寶、中央美院的宿舍改。</p>

					<p>他在修改的時候，我見過這張畫。那麼大一張畫，拿到大雅寶時，整個臥室一面牆就是這張畫。他就在那兒慢慢修改。那張畫基本畫完後，他發現毛澤東站的位置不夠開闊。他很大膽，把天安門中間那根柱子就拿掉了。他把一些細節都勾畫完了以後，畫就完成了。</p>

					<p>拿到中南海，毛澤東一看拍案叫絕。毛澤東說，這是我們大國的油畫，有大國的氣派，而且是中國油畫，不是西洋的油畫。他說我們就應該有這樣的畫。董希文地位“唰”地就往上提。他一個青年畫家沒有那麼多資格，他本來只是入了黨，結果一下變成美術界第一個政協委員。</p>


					<%- photo[13] %>


					<p><span class='speaker'>李肅：</span>紅色美術家名副其實。</p>

					<p><span class='speaker'>張郎郎：</span>還是政協委員。</p>

					<p><span class='speaker'>李肅：</span>那後來他的命運怎麼樣？</p>

					<p><span class='speaker'>張郎郎：</span>當政協委員以後，到1957年，讓他鳴放。董希文這個人還是很聰明的。鳴放讓你給黨提意見，您真提啊？但是你要完全不提也不行。你不提也是不進步。他玩了一個折中，談他的兒子董沙貝。這是小事。董沙貝一直入不了隊。小孩兒很苦惱。他說是不是搞少先隊不太合適，讓學生分三六九等。</p>

					<p>他覺得這個意見算不了甚麼。沒想到一反右，這就是罪狀--反對中共少先隊。當時《北京日報》就已經登出來了。董希文作為政協委員，提出要否定少先隊的意義。少先隊上面是共青團，再上面是共產黨，是反黨。弄得董希文非常苦惱。而這個時候江豐一下垮了。他又是油畫系的主力，感到非常忐忑不安。晚上根本睡不了覺。</p>


					<%- photo[14] %>


					<p>他兒子聽見他和他媽媽商量，咱們兩個都自殺，還是我一個人自殺。後來他太太就勸他，你只是想著我們自殺。你可不能帶著孩子自殺。他們沒有罪啊。你要不帶著他們自殺，他們以後的日子怎麼過？這麼多人都面臨著要被打成右派，你就只能等。</p>

					<p>董希文能夠躲過這一劫，聽說也是毛澤東發了話。意思是油畫也得保留，保留一些真正的專家，說過錯話也就算了。就給他降了一級，成了沒有劃成右派的右派。</p>
				</section>
				<section epub:type="subchapter" id="part7">
					<h2><%= chapter_title[7] %></h2>

					<p><span class='speaker'>李肅：</span>還有哪些紅色美術家？</p>

					<p><span class='speaker'>張郎郎：</span>華君武 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en29" id="ref29">（註 29 ）</a>
					</sup>。</p>

					<p><span class='speaker'>李肅：</span>為甚麼說華君武是紅色美術家呢？</p>

					<p><span class='speaker'>張郎郎：</span>華君武在延安魯藝的時候，他是上海來的一個青年畫家，變成我爸的學生。實際上他們歲數都差不多，但是因為沒有我父親在上海的名氣大，所以他變成了學生，後來很快也畢業了。</p>

					<p>華君武是上海人，腦子靈光。他在美術界更早地理解了黨的政策，所以像“搶救運動”之類的運動，他都平安過關，都沒有犯錯誤。後來文藝界都有這樣的人。他們業務不錯。本來地位不高，但實際上他們是黨最信任的。他們是另外一條線。就跟後來當文化部副部長的演員...... </p>

					<p><span class='speaker'>李肅：</span>英若誠 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en30" id="ref30">（註 30 ）</a>
					</sup>。</p>

					<p><span class='speaker'>張郎郎：</span>英若誠。一個普通演員甚麼能當副部長呢？他們是我黨在文藝界的一條鐵線、黨線，在美術界就是華君武。從紅色藝術家的角度來說，他是真正的。</p>


					<%- photo[15] %>

					<%- photo[16] %>


					<p><span class='speaker'>李肅：</span>他從來沒有受過衝擊？</p>

					<p><span class='speaker'>張郎郎：</span>從來沒有。反右的時候，他本來也畫了人民內部的諷刺漫畫。但是反右剛一開始。他馬上反擊右派，畫所有的右派的漫畫。因為他當時畫人民內部的畫也是上面讓他畫的，後來也是上面讓他畫的。所以他永遠立於不敗之地。</p>

					<p>到文革當然沒辦法，都垮了。英若誠也給抓進監獄，變成我的獄友了。當時文革的時候，他被打倒，我去看他。當然他知道，他們後來還會起來，不會一直垮下去。一打倒 “四人幫” <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en31" id="ref31">（註 31 ）</a>
					</sup>，馬上他又變成紅色第一人，在美術界。</p>
				</section>
				<section epub:type="subchapter" id="part8">
					<h2><%= chapter_title[8] %></h2>

					<p><span class='speaker'>解說：</span>反右運動後，中國全面進入大躍進 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en32" id="ref32">（註 32 ）</a>
					</sup> 時代，在工業和農業上大搞“躍進式”的建設。在“人有多大膽，地有多大產”，以及“超英趕美”口號的鼓舞下，中國各地農村虛報糧食產量，大放農業衛星；城鄉各地則興建起無數小高爐，全民總動員，土法煉鋼，轟轟烈烈。</p>

					<p><span class='speaker'>張郎郎：</span>大家現在都記得是“三面紅旗” <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en33" id="ref33">（註 33 ）</a>
					</sup> 、“大躍進”、“大煉鋼鐵” <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en34" id="ref34">（註 34 ）</a>
					</sup>。很多人不知道後來接著是“文化大躍進”。因為大家不重視，這不是大家談的主題。“文化大躍進”跟後來的“三年饑荒” <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en35" id="ref35">（註 35 ）</a>
					</sup> 沒有關係，所以大家把它忽略了。</p>

					<p>實際上，當時毛澤東要搞的還有“文化大躍進”。指標下來了，一個畫家得畫幾百張畫。當時到處都是數字。畝產多少萬斤。你畫一張要多長時間，半個鐘頭可以畫一張，那你一天可以畫多少張，一算，那幾千張對你來說小菜一碟。他也不想想，這些人畫畫不是生產。</p>

					<p>但是（指標）一下來以後，把這些國畫家都趕到農村去畫壁畫。當地畝產萬斤放衛星，這個得畫成壁畫。國畫家畫得再不好，也比別人畫得好。畫花鳥的可以畫老玉米啊。他畫老玉米，別人再畫一個火箭，把老玉米打上去，就有用了。這樣一來，這些人都用上了。“大躍進”完了之後就是59年的建國十年。建國十年出現了“十大建築” <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en36" id="ref36">（註 36 ）</a>
					</sup>。</p>

					<p><span class='speaker'>李肅：</span>北京出現了“十大建築”。</p>

					<p><span class='speaker'>張郎郎：</span>“十大建築”建好後，發現裡面得掛畫。</p>

					<p><span class='speaker'>李肅：</span>這些“十大建築”建成後，裡面要裝飾，一定要用國畫裝飾嗎？</p>

					<p><span class='speaker'>張郎郎：</span>可以畫油畫，發現油畫速度太慢啊。</p>

					<p><span class='speaker'>李肅：</span>不符合“大躍進”的速度。</p>

					<p><span class='speaker'>張郎郎：</span>當時正好讓我父親帶著中央工藝美院負責室內裝飾。要掛上畫，讓油畫系的人畫得半年？不行。“十·一”以前馬上得掛上畫。怎麼辦？把國畫家全動員起來，所以才出現了《江山如此多嬌》那張巨幅國畫掛在人民大會堂。中央發現國畫這時候有這個用處啊，它可以包裝新中國，作為一種新的裝飾藝術。所以，國畫家一下子也都有用了，比過去有用多了。</p>

					<p><span class='speaker'>李肅：</span>國畫家實際上借了“大躍進”的光。</p>

					<p><span class='speaker'>張郎郎：</span>因為過去中國沒有這些需要用畫的地方。那個時候，畫是作為一個宣傳工具、戰鬥工具。後來發現當你這個國家正規化了，正規建築需要裝飾。這時候就發現國畫有用而且來得快。</p>
					
					<p><span class='speaker'>李肅：</span>而且這個時候實際上是因為油畫畫得速度太慢，這才把國畫給推出來了。</p>

					<p><span class='speaker'>張郎郎：</span>這也是一個原因。第二呢，到那個時候，1956年以後毛澤東已經跟蘇聯在意識形態上有了區別。他那個時候就強調了要重視民族化。他這個話給國畫的重新發展做了鋪墊。</p>

					<p><span class='speaker'>李肅：</span>也就是說國畫的命運隨著政治的命運又有了新的起色。</p>

					<p><span class='speaker'>張郎郎：</span>如果不跟蘇聯分道揚鑣，國畫且緩不過來呢。</p>

					<p><span class='speaker'>李肅：</span>中國的國畫從那個時候起是不是就一路順暢起來了呢？</p>

					<p><span class='speaker'>張郎郎：</span>基本上是愈來愈好。需要量大了，這些人生存的基礎就厚了。所以國畫家一下就過得愈來愈好。</p>

					<p><span class='speaker'>李肅：</span>再不用去電影院買電影票了。</p>

					<p><span class='speaker'>張郎郎：</span>那個時候他們的畫在榮寶齋的價錢也提起來了。為甚麼呢？因為人家說，李苦禪的畫在人民大會堂裡有啊。過去他們的畫在榮寶齋掛三年也賣不出去。這時候就有人買了，市場就開始活絡起來。李苦禪是老樹開新花。他自己也心情舒暢啊。他畫得也比原來愈來愈好了。他那時侯已經歲數很大了，但是他幹勁十足。</p>
				</section>
				<section epub:type="subchapter" id="part9">
					<h2><%= chapter_title[9] %></h2>

					<p><span class='speaker'>李肅：</span>我們剛才講的這些紅色美術家，包括你父親在內，他們從延安時代，一直到現在，經歷過這麼多起伏、波折。他們本身具有相當特殊的身份，因為他們是黨的人，屬於中共自己人，但同時他們也受到一些衝擊，有時候甚至是嚴重的衝擊。他們也或多或少的，比方說剛才您講的華君武和其他藝術家、同行們發生政治見解上的衝突，甚至由此影響到他們藝術的衝突。這些是由他們的個人素質引起的，還是由甚麼其它因素造成的？</p>

					<p><span class='speaker'>張郎郎：</span>這個拿我父親做例子，比較典型。對藝術怎麼理解，把藝術放在生命中、生活中、理想中的地位是甚麼。像華君武他們，知道政治正確至上。我父親的糾結在於，他還是認為藝術至上。</p>

					<p>他在64、65年畫了一批畫。他發現可以用水墨畫現代的油畫。他喜歡畢加索 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en37" id="ref37">（註 37 ）</a>
					</sup>，他畫了一批這種當時被華君武他們叫作是變形的畫。不是完全是寫實的，是變形的、誇張的，像畢加索和馬蒂斯 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en38" id="ref38">（註 38 ）</a>
					</sup> 那樣的。他用水墨來畫這些畫，畫了幾百張。</p>

					<p>當時華君武就說，張仃的這些畫是藝術思想問題。因為這不是政治問題，他沒有批判共產黨。他給我父親起個外號，叫“畢加索加城隍廟”，就是中國民間藝術加畢加索形成的這麼一個怪物。</p>

					<p>但我爸自己對這個特別熱衷，他覺得這是中國藝術的一個出路。他並不認為這是反革命，他認為真正革命的藝術應該跟別的藝術不一樣。但是文革一開始，他的這些畫就被作為黑畫來展覽。當時他有幾百張畫存在一個朋友那兒，後來據說因為害怕，全部被燒掉了。</p>

					<p>丁紹光 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en39" id="ref39">（註 39 ）</a>
					</sup> 為這個寫了篇文章，說如果張仃能沿著那條路走下走，中國美術就會有一條新路打開了。但是在文革中把他那幾百張畫燒掉以後，這條路就嘎然而止。等過了文化大革命，我父親黑紅的糾結導致他再也不願看到色彩了。文革中他被撅著、打著，掛著他那些彩色繽紛的畫，四面都是紅色的標語，刺激過度，他不能再看顏色了。</p>

					<p>所以，當他再開始恢復畫畫的時候，只畫黑白的，不能看顏色。到晚年，他畫的都是焦墨，就是黑白山水。當然現在王魯湘 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en40" id="ref40">（註 40 ）</a>
					</sup> 他們從另外一個角度說，這才是真正的藝術至上。但丁紹光、袁運甫 <sup epub:type="rearnote">
						<a href="backmatter.xhtml#en41" id="ref41">（註 41 ）</a>
					</sup> 他們有不同看法。他們說不對，張仃的藝術就因為他對藝術的理解被時代、政治扭曲和斬斷，所以才從殘敗的根上發出一根芽，才是焦墨藝術。</p>

					<p><span class='speaker'>李肅：</span>您個人對您父親晚年只能畫焦墨、只有黑色的這種色調是怎麼理解的，是因為他對藝術的感覺，或者說是受到文革、政治的衝擊對藝術的觀念的發生變化了，甚至說發生了一種抵觸、一種恐懼心理？</p>

					<p><span class='speaker'>張郎郎：</span>現在說他是焦墨大師啊，畫得怎麼好，但是在我看來，雖然畫得很好，但是對他的藝術生命來說，是很慘痛的一件事。他真正應該得到的輝煌，是另外一種輝煌。</p>

					<p><span class='speaker'>李肅：</span>而且是沒有得到的輝煌。</p>

					<p><span class='speaker'>張郎郎：</span>他應該得到的是一個五彩繽紛的輝煌。</p>
				</section>
			</section>
