			<section epub:type="chapter" id="<%= chapter_ID[9] %>">
				<h1><%= titles[9] %></h1>
				<blockquote class="pullout"><%= global.book.meta[book].description %><!--周恩來至死都放不下的心事；“伍豪事件”——周恩來頭上的緊箍咒；周、毛之間最大的過節；毛澤東悄悄佔據頭把交椅；延安整風整服了周恩來；“反冒進”，周受到嚴厲警告；“馴順，馴服，就是沒骨頭嘛！”；老帥怒斥文革，總理見風使舵；鄧敢拂聖意，周不做諍臣；周的兩次微弱的反抗；評古書也能觸動周恩來神經；跋扈毛夫人，總理變家臣；大義滅親表忠心；忠君一生換不到一刻哀榮；周恩來“相忍”為了誰？--></blockquote>

				<section epub:type="subchapter" id="<%= chapter_ID[10] %>">
					<h2><%= titles[10] %></h2>
					<p>1975年9月20日，北京解放軍305醫院的手術室外的走廊上，周恩來正緩緩地被推進手術室。這是周恩來從1972年被診斷出癌症以來所做的第四次大手術。醫療小組的專家們對這次手術已經不抱多大希望，他們知道周恩來體內的癌細胞已經擴散。</p>

					<p>可就在平車將要進入手術室的一剎那，虛弱的周恩來突然大聲喊道，“我是忠於党、忠於人民的！我不是投降派！”</p>

					<p>當時在走廊裡陪伴周恩來的有夫人鄧穎超，鄧小平、張春橋、汪東興等領導人，以及醫護人員。周恩來這個出人意外的舉動讓在場的人怔住了。鄧穎超叮囑汪東興說：“將恩來的話報告給主席。”</p>

					<p>此時，是文化大革命的第九個年頭。許多非常顯赫的人物，如劉少奇、林彪、陶鑄、陳伯達、彭德懷、賀龍、陳毅等，不是深陷囹圄，就是命喪黃泉。中國政壇被打得七零八落。</p>

					<p>對於周恩來來說，他算是幸運的。雖說也經歷了幾次風險，險些被打倒，但終究還是熬了過來。他的地位依然崇高，他上面只有毛澤東一人，真可謂“一人之下，万人之上”。不過，周恩來的健康在那場“史無前例的”大革命中消耗殆盡，人們所熟悉的那個健步如飛、不知疲倦的政治家和外交家已經被癌細胞折磨得骨瘦形銷，連下床的力氣也沒有了。但周恩來心裡最大的恐慌，可能不是來自病魔，而是正在失去的毛澤東的信任。</p>

					<p>林彪事件之後，周恩來和毛澤東之間已經沒有緩衝地帶。多疑的毛澤東對周恩來的猜忌日漸加深。周對此非常清楚。1973年，中共中央政治局開會對他進行了嚴厲的批判，指責他在與美國的談判中犯了投降主義的錯誤。1974年年初掀起的“批林批孔”
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en1" id="ch2ref1">（註1）</a>
					</sup>
					運動竟然把“批孔”跟“批現代大儒”、“批投降主義”聯繫在一起，其矛頭指向已經非常清楚。1975年9月4日，人民日報發表社論“展開對《水滸》的評論”，一場批宋江，反投降的運動猛烈登場。周恩來明白，麻煩還沒有完。</p>

					<p>不過，此時的他，對活著走下手術台已不抱信心，生命不會再次給他提供輾轉騰挪的機會了。他呼喊“我不是投降派！”時的目標聽眾顯然不是站在他附近的那幾個人，而是那個讓他一生深感敬畏的毛澤東。他要向毛做最後的表白。</p>
				</section>

				<section epub:type="subchapter" id="<%= chapter_ID[11] %>">
					<h2><%= titles[11] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span> 周恩來對“投降”二字極為敏感，其實還有另外一個原因，那就是纏擾他幾十年的一樁舊案——“伍豪事件”。</p>

					<p class='commentary'>1932年2月，國共第一次合作失敗後，上海多家報刊登載了一則《伍豪等脫离共產党啟事》。“伍豪”是周恩來學生時代開始使用的筆名。當時，包括他在內的243名中共党員宣布退党的消息引起了不小的震動。後來證實，“伍豪事件”是國民党中央組織部調查科（中統前身）總干事張沖
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en2" id="ch2ref2">（註2）</a>
					</sup>
					一手策划的离間計。毛澤東對此事非常清楚。</p>

					<%- photo[23] %>

					<%- photo[24] %>

					<div class="applebug">
						<div class="announcement">
							<h1>伍豪等脫離共黨啟事</h1>
							<h2>上海《申報》在1932年2月20日刊登的</h2>
							<p class="center">敝人等深信中國共產黨目前所取之手段，所謂發展紅軍牽制現政府者，無異消殺中國抗日之力量，其結果必為日本之傀儡，而陷於中國民族於萬劫不回之境地，有違本人從事革命之初衷。況該黨所採取之國際路線，乃蘇聯利己之政策。蘇聯聲聲口口之要反對帝國主義而自己卻與帝國主義妥協。試觀目前日本侵略中國，蘇聯不但不嚴守中立，而且將中東路借日運兵，且與日本訂立互不侵犯條約，以助長其侵略之氣焰。平時所謂扶助弱小民族者，皆為欺騙國人之口號。敝人本良心之覺悟，特此退出國際指導之中國共產黨。</p>
							<p class='right'>伍豪等二百四十三人啟</p>
						</div>
					</div>

					<p><span class='speaker'>高文謙：</span>毛（澤東）在1932年是中華蘇維埃
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en3" id="ch2ref3">（註3）</a>
					</sup>
					主席了。他專門發表一個公告
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en4" id="ch2ref4">（註4）</a>
					</sup>
					講，這是國民党在造謠誣蔑。</p>

					<p class='commentary'><span class='speaker'>解說：</span>但在“文革”開始後不久，也就是1967年，這個“伍豪事件”又被翻了出來。</p>

					<p><span class='speaker'>高文謙：</span>1967年的時候，毛為了斗倒劉（少奇），在全國開始抓叛徒。周（恩來）的“伍豪事件”問題就被群眾舉報了出來。舉報的人是誰呢？是國務院秘書長周榮鑫之女（周少華）,她當時在南開（大學）。</p>

					<p class='commentary'><span class='speaker'>解說：</span>1967年5月17日，江青寫信給林彪、周恩來、康生，信上還附了“伍豪啟事”。江青在信中說：“５月１２日夜，收到周榮鑫的女儿周少華（天津南開大學紅衛兵）給中央文革來信，說他們查到一個反共啟事，為首的是伍豪（周XX），要求同我面談。”</p>

					<p class='commentary'>不過，解放軍國防大學原政委李文卿和原空軍司令員吳法憲的回憶提供了另一种說法。李文卿曾經擔任南京軍區原司令員許世友的秘書。据他在《近看許世友》
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en5" id="ch2ref5">（註5）</a>
					</sup>
					一書中回憶，1968年5月4日，許世友將造反派清查敵偽檔案時翻出的一張登有《伍豪等二百四十三人脫离共產党啟事》的報紙親手交給毛澤東。毛澤東在5月8日接見中央文革碰頭會成員和几位副總理、老帥時說：“像許司令這樣60多歲的人，都不知道‘伍豪啟事’，這是敵人偽造的。”當時周恩來也在場。</p>

					<p class='commentary'>毛澤東話說得很好，但他處理這個事情的方法讓周恩來感到不安。他沒有明確指示中央有關部門，此案已經做過結論，以後不許再提，而是把這個案子暫時掛起來。</p>

					<p><span class='speaker'>高文謙：</span>毛（在文件上）就批了這么一段話，我印象很深的，我看到過原始檔案的复印件。毛說，“林彪同志閱後，交文革小組各同志閱，存。”然後在“存”字邊上用紅筆划了兩條杠。這樣“伍豪事件”後來就成為懸在周恩來腦袋瓜頂上的這么一把劍，作為敲打周和要挾周的一個殺手（鐧）。</p>

					<p class='commentary'><span class='speaker'>解說：</span>“文革”初期，局勢很亂。紅衛兵運動風起雲湧，劉少奇、鄧小平等一大批中央和省市領導人被揪鬥、遊街。周恩來對自己的處境也感到相當緊張。</p>

					<p><span class='speaker'>高文謙：</span>周那時非常地緊張，正是天下大亂的時候，社會上倒周的風潮勢頭很猛。周那時覺得隨時可能要出事呀！他讓鄧穎超在他西花廳辦公室的衣帽架上挂一個書包，里面裝着甚麼呢？裝着他的洗漱用具。准備他一旦被抓，拿起書包就走。</p>

					<%- photo[25] %>

					<p class='commentary'><span class='speaker'>解說：</span>1968年1月16日，毛澤東做出批示：“此事早已弄清，是國民党造謠誣蔑。”“伍豪事件”算是暫時告一段落。</p>

					<p class='commentary'>1972年中共中央在北京召開“批林整風
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en6" id="ch2ref6">（註6）</a>
					</sup>
					”匯報會，毛澤東暗示周恩來在歷史上犯過錯誤，追隨過“立三路線
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en7" id="ch2ref7">（註7）</a>
					</sup>
					”和“王明路線
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en8" id="ch2ref8">（註8）</a>
					</sup>
					”，把批判的矛頭引向了周恩來。周恩來被迫在會上做自我檢查。他用了三個晚上聯繫自己的錯誤回顧了黨史上的幾次主要路線鬥爭。中共官方關於這次發言的記載是“對自己作了嚴厲的、毫不留情的剖析，甚至是過分的檢討”。另外，周恩來還單獨就“伍豪事件”向會議做了詳細的說明。</p>
				</section>

				<section epub:type="subchapter" id="<%= chapter_ID[12] %>">
					<h2><%= titles[12] %></h2>
					<p><span class='speaker'>高文謙：</span>毛在（1972年）年初病重的時候，曾經一度就把權交給周了，說“這個事情以後由你來看着辦吧”。當時江青在場，李志綏回憶錄里提到了這么一筆。但後來毛的病好了，他後悔了，就想收回權力，但收回總得有個由頭吧，因此他就要講路線斗爭了。因為按照党內路線斗爭來划分，周恩來多次站在錯誤路線這一邊。</p>

					<p class='commentary'><span class='speaker'>解說：</span>根据中國官方出版的《周恩來傳（1949－1976）》
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en9" id="ch2ref9">（註9）</a>
					</sup>
					，周恩來在“批林整風”匯報會上做的那個檢討性發言是花了整整十天時間才寫成的。在他舉出的自己所犯的種種路線錯誤中，1932年中共蘇區中央局在江西寧都召開的“寧都會議
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en10" id="ch2ref10">（註10）</a>
					</sup>
					”是他“一生中最大的錯誤和罪過”。</p>

					<%- photo[26] %>

					<p><span class='speaker'>高文謙：</span>毛周之間關係的一個關節點就是“寧都會議”。我個人認為，這是毛周之間歷史恩怨的一個結子。“寧都會議”是批毛的右傾、退卻、逃跑。實際上，批毛最厲害的是在後方中央局（工作的）任弼時
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en11" id="ch2ref11">（註11）</a>
					</sup>
					和顧作霖
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en12" id="ch2ref12">（註12）</a>
					</sup>
					。這些人很早就死了。所以，這筆帳呢，就算在周的頭上了。 </p>

					<p class='commentary'><span class='speaker'>解說：</span>在“寧都會議”上，周恩來取代毛澤東，出任紅一方面軍總政委，并領導紅軍取得了“第四次反圍剿
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en13" id="ch2ref13">（註13）</a>
					</sup>
					”的胜利。</p>

					<p><span class='speaker'>高文謙：</span>這一下子毛就坐冷板凳了。所以，毛對此事一直耿耿於怀。他說，我那個時候，連鬼都不上門。這是毛一直記恨周的一個地方。周在延安整風中就為此檢討。實際上是背了一輩子黑鍋，被說成是篡軍。</p>

					<p class='commentary'><span class='speaker'>解說：</span>“篡軍”一說委實缺乏歷史根據。周恩來在1928年就擔任中共中央政治局常委。毛澤東1933年才成為中共中央政治局委員。周恩來在1931年開始擔任中共中央軍委書記，而毛澤東當時只擔任紅軍第一方面軍的總政委。周恩來當時在中共党內和軍內的地位都遠遠高於毛澤東。</p>

					<p><span class='speaker'>高文謙：</span>周在中共党內的位置一直都很高。大革命失敗後，他就是中共軍事工作的最高領導人，而且毛當紅（一方面）軍總政委也是周推荐的。周到江西蘇區的時候職務是蘇區中央局書記，隨軍行動，決定軍中大計。所以，周（從上海）一到江西，擔任的軍事職務還是在毛之上。</p>

					<%- photo[27] %>

					<p class='commentary'><span class='speaker'>解說：</span>即使是在中共所說的确立毛澤東在党內領導地位的“遵義會議
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en14" id="ch2ref14">（註14）</a>
					</sup>
					”上，毛澤東也只是在周恩來的全力推荐下才當選了政治局常委。但會議決定“仍由最高軍事首長朱（德）周（恩來）為軍事指揮者，而恩來同志是党內委托的對於指揮軍事上下最後決心的負責者”，“以澤東同志為恩來同志的軍事指揮上的幫助者”。後來又成立了三人軍事指揮小組，周恩來是組長，毛澤東和王稼祥
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en15" id="ch2ref15">（註15）</a>
					</sup>
					是組員，周仍然是毛的上司。</p>
				</section>

				<section epub:type="subchapter" id="<%= chapter_ID[13] %>">
					<h2><%= titles[13] %></h2>
					<p><span class='speaker'>李肅：</span>軍中第一把交椅是如何從周恩來的手里轉到毛澤東的手里的？在這個轉移的過程中，周與毛發生過甚麼矛盾沒有？</p>

					<p><span class='speaker'>高文謙：</span>毛甚麼時候真正成為軍中第一把手的，這始終是一筆糊涂帳。簡單的說，在遵義會議的時候，周仍然是下最後決心的負責者，毛開始協助周。毛的能力非常強，周“（第）五次反圍剿”打了大敗仗，自己心里也發虛，有點覺得（自己）掌握不了這么一個局面。</p>

					<p>到了一、四方面軍匯合之後，關於紅軍是應該北上還是南下，毛和張國燾發生嚴重對立。周那時候正好得了肝膿瘍，發高燒，昏迷不醒，差點死掉。在這個過程中，毛自然就把權拿了過去。毛和張聞天兩個人在周缺席的情況下，開了一個常委會。會議決定由毛來負責軍事。周根本沒有參加會議。當然，周在這個過程中已經開始主動讓（權）了，因為周覺得軍事上還是毛有辦法。</p>

					<p><span class='speaker'>李肅：</span>也就是說，周恩來從昏迷中醒來，得知大權旁落後也沒有跟毛計較，是嗎？</p>

					<p><span class='speaker'>高文謙：</span>沒有。到了陝北之後，毛那會儿還想把周擠出軍隊，讓他改做地方工作。周這時候講了話，王稼祥也出來講了話，讓周繼續留在軍隊，做毛的副手。就是從那個時候開始，确立了後來持續几十年的毛周在軍事領導上的這樣一個格局。</p>
				</section>

				<section epub:type="subchapter" id="<%= chapter_ID[14] %>">
					<h2><%= titles[14] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>紅軍經過長征抵達延安以後，毛澤東在党內的領導地位日益穩固。不料，1937年10月，曾經主持過中共中央工作的王明奉共產國際之命從莫斯科來到延安，擔任中共中央統戰部長和長江局書記。</p>

					<%- photo[28] %>

					<p><span class='speaker'>高文謙：</span>當時，党內大体上可以划成三派，一個是毛派。毛派的頭號干將就是劉少奇。劉少奇下面有一大批人，彭真啊，薄一波啊，安子文
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en16" id="ch2ref16">（註16）</a>
					</sup>
					啊，劉瀾濤
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en17" id="ch2ref17">（註17）</a>
					</sup>
					啊這些人，還包括羅瑞卿和康生。再一派呢，就是教條宗派，有王明、博古、張聞天、王稼祥，他們都是從莫斯科回來的。再一派是經驗宗派。經驗宗派代表人物主要就是周恩來。其他還有彭德怀、陳毅等一大撥人。</p>

					<p class='commentary'><span class='speaker'>解說：</span>王明的再次出現威脅到毛澤東的地位。為了擊垮王明的勢力，毛澤東於1942年9月在黨內發動了歷時三年的延安整風運動。</p>

					<p><span class='speaker'>李肅：</span>延安整風給人印象是要整頓黨內的風气。王明受到了一定的批判。但也有這樣的說法，認為周恩來才是被批判的主角。這是怎么回事？</p>

					<p><span class='speaker'>高文謙：</span>實際上，王明教條宗派在党內沒根基。真正有根基的被認為是經驗宗派，因為他們有實際工作經驗。但毛認為經驗宗派是給教條宗派吹喇叭、抬轎子、跑腿辦事的，因此，更加危險。在這种情況下，周也成了主要的一個靶子，彭真還說過要開除周的黨籍。周在延安整風中被整了一番。在党內高層的檢討發言中，他講了五天，是所有領導人里做檢討時間最長的一個。</p>

					<p class='commentary'><span class='speaker'>解說：</span>延安整風中，周恩來痛心疾首地檢討自己“不論在思想上、組織上都犯了极大的罪過，成為經驗宗派的代表，教條統治的幫凶”，是“党的布爾塞維克化的阻礙”。</p>

					<p><span class='speaker'>李肅：</span>當時周恩來為什麽會屈從於毛澤東啊？</p>

					<p><span class='speaker'>高文謙：</span>我覺得主要還是党內大勢所趨，因為毛這個人确實是在各方面高人一籌。特別是在抗戰中，如何運用抗戰這麼個形勢，發展壯大共產党的力量。抗戰開始時中共有3万人，抗戰結束時就有了120万人。所以，那個時候，人們就覺得毛确實是高明。周一開始是站在毛的對立面，(這時)只有臣服的份儿，實踐證明他錯了嘛。周對毛是真的心悅誠服。</p>

					<p><span class='speaker'>李肅：</span>最後的結果是怎么樣？</p>

					<p><span class='speaker'>高文謙：</span>延安整風打垮了教條宗派，整服了經驗宗派，确立了毛在中共党內至高無上的領袖地位，毛得到了黨的最後決定之權。</p>
				</section>

				<section epub:type="subchapter" id="<%= chapter_ID[15] %>">
					<h2><%= titles[15] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>延安整風以後，毛澤東思想被寫入中共党章，成為与馬克思列宁主義并列的中共的指導思想。這也是周恩來臣服毛澤東的開始。不過，在中共建政初期的1956年，周恩來因經濟建設速度問題與毛澤東發生過一次少有的，也是最後一次正面衝突。</p>

					<p class='commentary'>這次衝突的起因是毛澤東提出“提早完成社會主義工業化”的口號後，經濟發展速度加快，引起了財政緊張和建築材料嚴重不足等問題。在這個時候，毛澤東主張追加預算，而周恩來、陳雲、薄一波等國務院主要負責人主張經濟降溫，反對“急躁冒進”，雙方分歧擴大。周恩來甚至直接對毛澤東表示，“我作為總理，從良心上不能同意
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en18" id="ch2ref18">（註18）</a>
					</sup>
					”。	</p>

					<p class='commentary'>主張超速實現工業化的毛澤東對周恩來十分不滿。從1957年下半年算起，兩年內毛澤東先後至少13次點名批評周恩來，說他“‘反冒進’是泄了六億人民的气，犯了政治方向的錯誤”。</p>

					<%- photo[29] %>

					<p><span class='speaker'>高文謙：</span>1958年剛剛“反冒進”的時候（周）挨批，毛還警告周說，“你离右派只有五十米遠”。</p>

					<p><span class='speaker'>李肅：</span>這是毛澤東的原話？</p>

					<p><span class='speaker'>高文謙：</span>是毛澤東的原話。毛在南宁會議上講，“只有五十米遠”。</p>

					<p class='commentary'><span class='speaker'>解說：</span>周恩來的秘書范若愚回憶說，這期間周恩來顯得异常苦悶。周恩來明知道自己是正确的，卻依舊順着毛澤東的意思違心認錯，甚至提出不再擔任總理的職務。</p>

					<p class='commentary'>在中共八屆二次會議上，周恩來徹底放棄了自己原來的立場，完全接受了毛澤東的“冒進”主張，轉身成為“冒進”的促進派。他在會上作了深刻的檢查，向毛澤東表示徹底臣服：“中國几十年革命和建設的歷史經驗表明，毛主席是真理的代表。离開或背离他的領導和知識，就常常迷失方向，發生錯誤，損害党和人民的利益。我所犯的多次錯誤就足以證明這一點；反過來，做對了的時候和做對了的事情，又都是同毛主席的正确領導和領導思想分不開的。”學者司馬清揚在《新發現的周恩來》一書中稱，中共建國後，第一次“凡是論”的首創者是周恩來。</p>

					<p class='commentary'>此後，雖然中共高層中仍然不時有人對毛澤東的路線和政策提出過質疑或挑戰，但人們再也沒有看到周恩來對毛澤東的指示提出過任何異議。即便是在“文革”最瘋狂的年代，周恩來也是不辭辛苦，按照毛澤東的思路，衝在運動的第一線。對周恩來來講，毛澤東的是非標準就是他自己的標準。</p>

					<p class='commentary'>1958年，中國在毛澤東的領導下展開了“三面紅旗”運動。由於制定的計劃超過了現實的可能性而且嚴重違反經濟規律，這場運動很快就變成了一場全國性的大災難。1959年，國防部長彭德懷在廬山會議上寫信給毛澤東，對“大躍進”的過激政策提出溫和批評，結果被打成反党分子，受到清洗。</p>
				</section>

				<section epub:type="subchapter" id="<%= chapter_ID[16] %>">
					<h2><%= titles[16] %></h2>

					<p><span class='speaker'>李肅：</span>周恩來也參加了廬山會議，他有替彭德怀說公道話嗎？</p>

					<p><span class='speaker'>高文謙：</span>李銳曾經問過周，你看彭老總的那個講話怎么樣？他說，我看沒甚麼啊。實際上，周和彭對當時1959年的經濟形勢和冒進問題的看法都是一樣的。周在廬山會議一開始，還在小組會議上講甚麼比例失調、甚麼各地大轟大嗡的現象。彭德怀散會的時候說，你怎么不在大會上講啊？周就說，在大會上不好講。大會上一講，好像是訴苦了，就把大會變成一個泄气的大會，那就不好了。這時候，彭德怀就說周，你這個人太世故，老奸巨猾。</p>

					<p class='commentary'><span class='speaker'>解說：</span>周恩來不僅沒有支持彭德怀，而且在彭德怀落難的時候積极參与對他的批判。</p>

					<p><span class='speaker'>高文謙：</span>周後來在批彭的常委會上替自己辯護說，彭，你的骨頭就是犯上。馴順，馴服，就是沒骨頭嘛！領導干部也是要馴服的，要不革命怎么能胜利呢？</p>

					<p class='commentary'><span class='speaker'>解說：</span>從1958年到1962年，“大躍進”造成中國經濟大滑坡，連年饑荒，三、四千万人為此付出了生命的代价。毛澤東的副手，國家主席劉少奇對“大躍進”進行了一定的反省，認為這場災難的原因是“三分天災，七分人禍”，与毛澤東發生嚴重分歧。他甚至提醒毛澤東：“人相食，你我是要上史書的！”</p>

					<p class='commentary'>然而，身為國家總理的周恩來，在民族災難面前不僅沒有像劉少奇那樣正視“大躍進”的錯誤，而且繼續積極跟隨毛澤東，掩蓋失誤。他在得到有關部門遞交的大饑荒死亡人數調查數字後，立即下令予以銷毀，並下令停止農村地區的食用油供應一年，以保證城市的穩定。不僅如此，他還在大饑荒剛剛結束後的1964年親自策划和指導編排了頌揚毛澤東和共產党的大型歌舞《東方紅》。</p>

					<%- photo[30] %>

				</section>

				<section epub:type="subchapter" id="<%= chapter_ID[17] %>">
					<h2><%= titles[17] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>1966年到1976年的文化大革命給中國造成的傷害之大、影響之深，在中國歷史上前所未有。在這場十年浩劫中，中共高層對“文革”的質疑，對毛澤東的反抗不斷出現。</p>

					<p class='commentary'>1967年1月和2月間，陳毅、譚震林、李先念、葉劍英、徐向前、聶榮臻等中共中央政治局成員和軍隊主要領導人在中南海懷仁堂舉行的政治局碰頭會和稍前在京西賓館舉行的中央軍委會議上對文化大革命的錯誤做法提出了強烈的批評。而主持會議的周恩來卻保持沉默，沒有發表任何意見。但會後，周恩來至少做了三件對這些老幹部落井下石的事情。</p>

					<p class='commentary'>一是，在整理會議記錄的時候，周恩來特意在陳毅的一段講話下面註明：“陳先挑撥康老，後挑周。”</p>

					<p class='commentary'>二是，毛澤東在事後不久跟周恩來的一次談話中表示有意原諒譚震林等人，但周恩來還繼續講陳毅和譚震林的壞話：“我個人認為譚震林、陳毅他們的錯誤極其嚴重，正像林彪同志講到的那樣，是八屆十一中全會以來最大的反黨事件。中央文革小組對他們的批評是完全正確的，我也贊成在群眾中對他們展開不點名的批判。但是，有幾個人還是不要點名的為好，比如葉劍英、徐向前、聶榮臻和李富春等同志。但是譚震林除外。譚震林在懷仁堂會上的表現是完全令人不能容忍的。”“譚震林完全是一個不可救藥的頑固分子。江青同志當他的面幾次說過要保他，他竟然說：‘我幹革命從來就不要人保，我自己可以保得了我自己。’他把江青同志保他認為是不光榮的事。對他，我主張應該徹底批倒批透。”</p>

					<p class='commentary'>三是在毛澤東允許參與“二月逆流”的幾位老幹部在“五一”勞動節上天安門城樓以示問題已經解決之後，周恩來還專門寫信，對這幾個人提出嚴厲警告。</p>

					<p><span class='speaker'>高文謙：</span>周就給陳毅、譚震林、李先念、余秋里、谷牧五個人寫了一封信，其中話說得非常重：“為著預防你們五位同志走入絕路，專此警告，勿謂不喻也。”意思就是告訴他們，不要讓他們翹尾巴，不要講話放炮，惹禍。</p>

					<div class="applebug">
						<div class="announcement">
							<h1>周恩來給陳毅等人的信：</h1>
							<p class="center">陳毅、震林、先念、秋里、谷牧五同志並告富春同志：<br/>
							五一團結，不要又造成你們五位同志錯覺。否認二月逆流，再壓造反派，支持保守派，實行打擊報復，那就又來一個新的反复。你們在人民中，在黨內信用將要失盡。對黨、對革命來說，並沒有什麼了不起。這也是階級鬥爭在黨內的反映，對革命小將們將是深刻的一課。為著預防你們五位同志走入絕路，專此警告，勿謂不喻也。</p>
							<p class='right'>一九六七年五月五日</p>
						</div>
					</div>

					<p class='commentary'><span class='speaker'>解說：</span>1970年8月，中共召開九屆二中全會，林彪副主席在會上對文革派主要成員張春橋不點名地作出嚴厲批評，引起與會者的強烈反響。毛澤東本來在會前對林彪的講話內容是點過頭的，但他沒有料到，這麼多高級幹部在“文革”問題上不能跟他同心同德，令他深感不安。毛澤東為扭轉局面，決定反擊。他首先拿掉了當時在黨內排名第四的政治局常委陳伯達，以圖迫使林彪以及和他關係密切的幾位軍方將領做檢討。但林彪拒不檢討，毛林關係緊繃。周恩來開始時試圖調和雙方的關係。</p>

					<p><span class='speaker'>高文謙：</span>林彪的思想，基本上就是陳伯達的思想，(就是)“九大”以後應該抓一抓經濟建設了，而毛和江青這些人呢，還是要搞繼續革命。</p>

					<p><span class='speaker'>李肅：</span>周恩來實際上還是傾向於把局勢穩定下來，著手搞建設，是嗎？</p>

					<p><span class='speaker'>高文謙：</span>周的本意是希望毛、林不要(對立)，緩和一下之後，大家就可以共同搞經濟建設。</p>

					<p class='commentary'><span class='speaker'>解說：</span>然而，當周恩來意識到毛澤東已經決心與他的接班人林彪分道揚鑣之後，便開始疏遠林彪以及被稱為林彪“四大金剛”的黃、吳、李、邱。1971年林彪出走的“九·一三事件”發生後，周恩來親自宣布對黃吳李邱實行隔离審查，并且親自部署和指揮了抓捕林彪親信和控制由林彪部下執掌的空軍等一系列行動。</p>
				</section>

				<section epub:type="subchapter" id="<%= chapter_ID[18] %>">
					<h2><%= titles[18] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>“文革”後期的1973年，被打倒多年的“黨內第二號走資本主義道路當權派”鄧小平得到毛澤東的起用，重返中共權力中心。起初，他在毛澤東的支持下對在“文革”中受到嚴重破壞的部門進行了大刀闊斧的整頓，工作還算順利。但在整頓過程中，鄧小平與江青等文革派的矛盾激化，關係趨於緊張。而與此同時，毛澤東對鄧小平是否支持“文革”這個最重要問題上的態度也開始感到懷疑。</p>

					<p class='commentary'>或許是為了考驗鄧小平，毛澤東曾暗示他在政治局主持通過一個有關“文革”的決議，按照“三七開”的原則對“文革”予以肯定。但鄧拒絕這樣做。這也促使毛下決心再次拿掉鄧小平。</p>

					<p><span class='speaker'>高文謙：</span>當毛給他開這個价碼，讓他牽頭，寫一個關於“文革”的決議，作出三七開的評價的時候，鄧就給回絕了。周恩來等人那時都勸他忍一忍吧，可鄧不接受。</p>

					<%- photo[31] %>

					<p class='commentary'><span class='speaker'>解說：</span>與鄧小平相比，周恩來顯然要圓滑得多。中國的官媒有大量的文章說周恩來對“文革”如何不滿，但為了黨和國家的利益，他在非常困難的環境中同林彪和“四人幫”進行了堅決的鬥爭。但是，研究周恩來的專家高文謙表示，查遍周恩來的檔案文件，除了看到周恩來全身心地投入“文革”，堅定地支持毛澤東，為文革派站台叫好之外，人們從來沒有听到周恩來說過一句否定或者至少是質疑這場劫難的話，更沒有在公開場合對“文革”作出過任何負面的評價。</p>
				</section>

				<section epub:type="subchapter" id="<%= chapter_ID[19] %>">
					<h2><%= titles[19] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>在整個“文革”期間，周恩來面對毛澤東的壓力作出反抗的事只有兩次。一次是在毛澤東和江青夫婦兩人聯手向周施壓時，周出語頂撞。另一次是在生命的最後階段為表明自己的清白而發出的怒吼。</p>

					<p class='commentary'>上個世紀五、六十年代，中國面臨非常惡劣的國際環境。北方的盟友蘇聯已經變成了敵人，兩國邊境地區劍拔弩張，戰爭威脅迫近。而南面的海疆又受到以美國為首的西方陣營的封鎖。為了打破這種受制於兩個超級大國之間的困境，毛澤東在1971年決定謀求緩和中美關係。</p>

					<p class='commentary'>周恩來親自負責這項戰略調整的具體實施，同美國高級官員進行了秘密的和公開的接觸，展開了數不清的磋商、溝通和會談，最終實現了中美和解，為兩國建交鋪平了道路。在完成毛澤東的這個戰略目標的過程中，周恩來的個人魅力得到了充分的展示。許多外國媒體對周恩來的一顰一笑，舉手投足做了生動的報導。“周恩來外交”的說法也不脛而走，傳遍世界。</p>

					<p class='commentary'>就在這個時候，周恩來遭遇了一次預料不到的襲擊。發動襲擊者不是別人，而是毛澤東。</p>

					<p><span class='speaker'>高文謙：</span>毛在1972年和1973年就開始不斷批評外交部，因為外交部是周主管的部門。</p>

					<p class='commentary'><span class='speaker'>解說：</span>1973年6、7月間，毛澤東對中國外交部几次提出嚴厲批評，說“与資產階級聯合常忘記斗爭”。他甚至罵外交部的通報是“放屁一通”。1973年7月4日，毛澤東與王洪文、張春橋等人談話時說：“凡是這類屁文件，我就照例不看。總理講話也在內，大事不討論，小事天天送。此調不改動，勢必出修正。將來搞修正主義，莫說我事先沒講。”面對毛澤東的責難，周恩來不停地做檢討。</p>

					<p class='commentary'>四個月以後，毛澤東再次向周恩來揮起了大棒。1973年11月13日，美國國務卿基辛格訪華結束的前一天晚上，臨時提出要同周恩來討論中美軍事合作問題。</p>

					<p><span class='speaker'>高文謙：</span>頭一天晚上的答謝晚會、宴會都已經開完了，基辛格突然提出要求，說希望和周單獨會談。基辛格說，希望中美進行某种程度的軍事合作。中美那個時候之所以能走到一塊儿，是為了共同對付蘇聯，而蘇聯在中蘇邊界的軍事部署、調動(的情況)，美國可以把通過衛星了解到的情況直接告訴中國。</p>

					<p>那天晚上因為毛已經睡下了，所以周就沒有馬上報告他。基辛格次日早上就要離開，毛又睡下了。在這种情況下，周就對基辛格說了個活話，就是，雙方可以指定一個人繼續討論這個問題。周沒有作出任何承諾。但毛卻抓住這個事，說周對美投降，接受美國的核保護傘。</p>

					<p class='commentary'><span class='speaker'>解說：</span>毛澤東大發雷霆說，這次中美會談公報“并不怎么樣”，“有人要借給我們一把傘，我們就是不要這把傘，這是一把核保護傘”。“誰要搞修正主義，那就要批呢！”毛澤東指示政治局開會批判周恩來在外交上搞的“右傾投降主義”路線，以及葉劍英在同美國軍方人員會談時的“右傾軟弱”。毛澤東把這些統稱為“周、葉的修正主義路線問題”。</p>

					<p class='commentary'>在批判會上，江青給周恩來扣上“右傾投降主義”的大帽子，說周恩來“喪權辱國”，“蒙騙主席”，“給美國人下跪”。周恩來忍無可忍，拍着桌子對江青說，“我周恩來一輩子犯過很多錯誤，可是右傾投降主義的帽子扣不到我的頭上！”這是周恩來自1956年以後第一次反抗毛澤東。</p>

					<p class='commentary'>毛澤東听說周恩來反抗，馬上下令擴大批判會規模，并且專門成立了由政治局成員組成的“中央幫助總理認識錯誤小組”。“幫助小組”責令周恩來必須自己動手寫檢討，不許用秘書幫忙。批判會在人民大會堂從11月25日一直開到12月5日。</p>

					<p><span class='speaker'>高文謙：</span>說外交部是周恩來的獨立王國，針插不進，水潑不進。說周對蘇聯怕得不得了。蘇聯人一旦打進來的話，周會當蘇聯人的儿皇帝。我當年采訪過喬冠華。喬冠華說，他听毛說周要當蘇聯的儿皇帝的時候，感到“毛骨悚然”。政治局會議的調子是根据毛定的調子來確定的。最後批周“喪權辱國”、“對美投降”、“屈膝下跪”。</p>

					<p>1975年的時候，周已經病重。喬冠華
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en19" id="ch2ref19">（註19）</a>
					</sup>
					和章含之
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en20" id="ch2ref20">（註20）</a>
					</sup>
					兩人去305醫院去看周。喬冠華和章含之當時也列席了那次政治局擴大會議，而且都發了言。他們倆就向周檢討。</p>

					<%- photo[32] %>

					<%- photo[33] %>

					<p><span class='speaker'>章含之：</span>喬冠華有一次就當面對周恩來講，我們當時都是在那种情勢下對總理說了一些批評的話。我表示了心里的不安和歉意。當時周恩來就說，這件事情跟你們沒有關係。</p>

					<p class='commentary'><span class='speaker'>解說：</span>江青的意圖是要徹底打倒周恩來，並把這個事情提升到“第十一次路線斗爭”的高度，江青還指責周恩來曾經在毛澤東1972年年初病重時“迫不及待地要取代主席”。</p>

					<p><span class='speaker'>高文謙：</span>周最後按照毛的調子，做了一個給自己上綱非常高的一個檢討，這才算過關。</p>

					<p class='commentary'><span class='speaker'>解說：</span>周恩來在1973年12月4日做這次深刻檢討時還帶頭喊口號，“向江青同志學習!”</p>

					<p><span class='speaker'>高文謙：</span>整個批周的過程，毛始終沒有出面，而是在幕後操縱著會議。他派了兩個聯絡員——王海容和唐聞生，做他的聯絡員，來傳達他的講話。所以，在第一次政治局擴大會議上批周的時候，唐聞生做了八個小時的發言，把毛近來對外交工作的講話和對周的批評全都亮了出來。</p>

					<p class='commentary'><span class='speaker'>解說：</span>周恩來檢討之後，12月9日，毛澤東終於從幕後走出來，對周恩來說，“總理啊，你挨整了，听說他們整得（你）不亦樂乎啊!”毛澤東還指着王海容和唐聞生說，“她們整我，整總理，在我頭上拉屎撒尿，將來就是要說她們整總理”。</p>

					<p class='commentary'>周恩來總算又躲過了一劫。</p>
				</section>
				
				<section epub:type="subchapter" id="<%= chapter_ID[20] %>">
					<h2><%= titles[20] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>不料，1975年8月，毛澤東發起“評《水滸》運動”。他說：“《水滸》這部書，好就好在投降。做反面教材，使人民都知道投降派。”</p>

					<p class='commentary'>毛澤東重提投降派，又一次触動了周恩來的神經。他知道，劉少奇問題的性質從“人民內部矛盾”轉變成“敵我矛盾”的關鍵是坐實了劉少奇“叛變”的罪名。從“文革”初期翻出“伍豪事件”到1972年“批林整風”，再到中美會談的“右傾投降主義”風波和1974年“批林批孔批周公”,毛澤東抓住“投降”、“叛徒”這個罪名，連連出招，招招致命。雖然在1972年的“批林整風”匯報會上，毛澤東也就“伍豪事件”做了表態，陳云和康生都以當事人的身份證明說，“這是國民党的陰謀”，“是國民党特務的偽造，用來攻擊誣蔑我們党和周總理的”，但周在這個問題上懸了幾十年的心始終沒有放下來。</p>

					<p>這次毛又發起“評《水滸》運動”，並點名《水滸》的要害是投降，其劍鋒所指，一目了然。此時的周恩來真是來日無多。他太想利用這最後的時間，保住此生的清譽。</p>

					<p class='commentary'><span class='speaker'>高文謙：</span>當時（1972年）說好的是，（有關材料）要下發各省檔案館存檔，讓周把關於“伍豪啟事”的來龍去脈、前後經過做出個說明。可是，文件最後也沒有送到各省檔案館，這樣就拖下來了。</p>

					<p><span class='speaker'>李肅：</span>這是否意味著問題還懸着？</p>

					<p><span class='speaker'>高文謙：</span>還懸着，一直到1975年9月20號。周最後一次動大手術。進手術室前，周已經打了麻醉藥，自己在衛生間里，半天不出來。鄧穎超一看，人怎么半天不出來呢？推門一看，周坐在馬桶上還在那儿修改他當年在1972年寫的關於“伍豪事件”的說明。最後他署上自己的名字“周恩來”，並加上“寫於進入手術室之前”的話。看他的筆跡，手都已經發抖了。所以，這始終是周的一塊心病。</p>

					<p class='commentary'><span class='speaker'>解說：</span>然後就出現了本文開頭的那一幕：周恩來在被推進手術室之際，用盡平生力氣發出抗議：“我是忠於党、忠於人民的！我不是投降派！”</p>

					<p class='commentary'>這雖然可以算是周恩來爲了自保而對毛澤東做出的第二次反抗，但實際上更像是周恩來在生命的最後時刻向毛澤東、向黨做出的激情表白，希望毛澤東了解他的一片忠心，讓他保全自己的“晚節”。</p>
				</section>

				<section epub:type="subchapter" id="<%= chapter_ID[21] %>">
					<h2><%= titles[21] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>“文革”中曾經置身於中共高層的人士都注意到一個難以理解的現象，這就是周恩來對江青的態度。周恩來的資歷、地位和在國內外的聲望在中共內部，甚至在全國，除了毛澤東，幾乎無人可比。而江青，“文革”前僅僅是一個副部級官員。但在“文革”開始后，她在毛澤東的支持下，走上政治舞台，對高級官員頤指氣使，任意責難，甚至連周恩來也常被她呼來喚去。令許多中共高級官員不解的是，周恩來對江青的胡作非為不但不加抵制或約束，反而百般遷就，甚至是曲意逢迎。</p>

					<p><span class='speaker'>李肅：</span>周恩來和江青的關係是個甚麼樣子？一開始的時候，他們是個甚麼樣的關係？</p>
　
					<p><span class='speaker'>高文謙：</span>周跟江青在一開始的時候，他們的關係應該說是相當的不錯，特別是在戰爭年代。周那個時候雖然不常住在延安，(他)住在大後方，但也時不時回延安。周是位非常善解人意的領導人，經常跟江有些交往。江青心里面有話呢，也愿意找周說一說。當然，那時候（江青談的）只限於一般生活上的瑣事，并不涉及政治，因為在政治上，那時候毛還沒有放江青出山。</p>

					<%- photo[34] %>

					<%- photo[35] %>

					<p><span class='speaker'>李肅：</span>毛澤東讓江青參與政治之後，江青和周恩來的關係怎麼就發生了變化了？</p>

					<p><span class='speaker'>高文謙：</span>毛放江青出山主要是在“文革”了。兩個人的關係主要以合作為主，同時有些矛盾，但是那是次要的。毛發動“文革”實際上是兩條腿走路。一條腿，他是要放江青出來打沖鋒，給“文革”打開局面。另一方面，他又讓周恩來盡量維持社會生活的運轉。所以，周、江之間，僅僅是一种角色不同，強調的側重點不一樣，而不是路線之爭。</p>

					<p class='commentary'><span class='speaker'>解說：</span>“文革”初期，毛澤東刻意突出江青的政治地位。周恩來對此也非常積極。例如，在1968年3月27日北京舉行的一次十万人大會上，周恩來主動介紹了“江青同志的戰斗生平”。他說，江青當年寫過“戰斗的文章”，“紅文章”，是“毛主席的親密戰友，勤奮的學生”。就在這次大會上，周恩來喊出了“誓死保衛江青同志！”的口號。</p>

					<p class='commentary'>在中共“九大”籌備期間，周恩來提名連中央候補委員都不是的江青出任中共中央政治局委員。1973年，中共召開“十大”，周恩來進一步提議江青擔任政治局常委，只是這一次給毛澤東擋了下來。</p>

					<p><span class='speaker'>高文謙：</span>周實際上在中共領導人中是對毛、江關係看得最透的一個。他看清甚麼呢？“文革”是毛江夫妻店搞的。前不久，邱會作在他出的回憶錄中說了這么一件事很有意思。“九大”以後，黃、吳、李、邱這四個軍隊高級幹部進入政治局。周專門找他們談了一次話，講如何做好中央工作。其中，周就提到，到中央工作，就是要處理好跟主席、林副主席和江青同志的關係，處理好与江青的關係，就處理好了与主席的關係。</p>

					<p class='commentary'><span class='speaker'>解說：</span>為了表示對毛澤東的絕對忠誠，周恩來對江青處處忍讓。林彪當年的“四大金剛”之一的空軍司令員吳法憲回憶說，在中央文革碰頭會上，總理是孤家寡人。江青很凶，動不動就拍着桌子批總理，多次威脅說，你周恩來不要忘記，要不是我保你，你早就被打倒了。周恩來回答說：江青同志，你比我強，我得向你學習。</p>

					<p class='commentary'>黃永勝的兒子黃正（黃春光）
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en21" id="ch2ref21">（註21）</a>
					</sup>
					講過他父親告訴他的一個有關周恩來和江青關係的故事。故事說，一次政治局開會，江青說她房間的馬桶座太涼，要求周恩來立刻解決。周說，等開完會找人辦一下，但江青不依，定要周馬上前往，說如果不盡快修好，她感冒了就會影響到主席的健康。周沒法子，只好帶著與會的政治局委員們去江青房間的廁所，找到解決辦法之後，江青才算罷休。</p>

					<p class='commentary'>黃永勝對此事大發感慨，一國總理淪為江青的管家和奴婢！周憑藉著他的威望和地位，居然拖著政治局為江青忙乎，這成甚麼體統！</p>
				</section>
				
				<section epub:type="subchapter" id="<%= chapter_ID[22] %>">
					<h2><%= titles[22] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>為了不得罪江青，周恩來甚至不惜“大義滅親”，犧牲自己身邊關係最密切的人。1968年，周恩來親自批捕了自己的弟弟周恩壽。</p>

					<%- photo[36] %>

					<p><span class='speaker'>高文謙：</span>這個周恩壽
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en22" id="ch2ref22">（註22）</a>
					</sup>
					也叫周同宇。在60年代三年困難時期，周恩壽在家里面搞朋友聚會，議論時政，王光美的哥哥王光琦
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch2en23" id="ch2ref23">（註23）</a>
					</sup>
					也參加了。“文革”時，這個事情被揭出來了，江青把揭發的材料撂給周了，說，你看着辦吧。周批示，立刻逮捕周同宇，而且注明周同宇家里有多少人，地址在哪儿。</p>

					<p class='commentary'><span class='speaker'>解說：</span>盡管“文革”後透露的情況顯示，周恩來當時也是擔心弟弟被紅衛兵迫害，因此讓北京衛戍區拘捕周同宇，以便“保護”起來。但是，周同宇畢竟被監禁了7年，“不能看報紙，不能听廣播”，直到1975年5月才被釋放。</p>

					<p>同樣是在1968年，周恩來的干女儿孫維世受到江青誣陷，被捕入獄。</p>

					<%- photo[37] %>

					<p><span class='speaker'>高文謙：</span>孫維世可以說是個傳奇女子，也是個通天人物。她跟中共四個巨頭：毛（澤東）、周（恩來）、朱（德）、林（彪）有一种复雜的關係，因此就得罪了兩個“文革”中最有權勢的女人—— 江青和葉群，這樣就卷到政治旋渦里了，成了公報私仇，政治鬥爭的犧牲品。据孫維世專案組的一個人事後交代講，江青對孫維世專案組的人說，孫維世是美女蛇、狐狸精，是睡在主席身邊的定時炸彈。</p>

					<p class='commentary'><span class='speaker'>解說：</span>1968年10月，孫維世慘死在獄中。</p>

					<p><span class='speaker'>李肅：</span>据說孫維世的逮捕令也是周恩來簽署的？是這樣嗎？</p>

					<p><span class='speaker'>高文謙：</span>据周秉德（就是周的侄女儿）講，孫維世和她（周秉德）的父親周同宇，也就是周恩壽，都是周親自批捕的。</p>

					<p class='commentary'><span class='speaker'>解說：</span>曾經擔任中共中央党校理論研究室副主任的阮銘1994年寫過一篇文章。其中提到，周恩來死後一年，“在查證‘四人幫’的罪行中，發現那些“文革”中慘遭迫害的冤案，在逮捕令上幾乎都是周恩來的簽名，包括逮捕他自己的乾女兒孫維世。”</p>

					<p><span class='speaker'>高文謙：</span>在當時确實就是這么個情況。“文革”中抓人，特別是在北京抓人，要經過中央文革碰頭會批准，而周是中央文革碰頭會的牽頭人，因此甚麼事情都要過他那一關。</p>

					<p class='commentary'><span class='speaker'>解說：</span>周恩來的衛士長成元功跟隨周恩來几十年，忠心耿耿。1968年3月無意之中得罪了江青。江青要逮捕成元功。鄧穎超代表周恩來告訴汪東興說：“一定要逮捕成元功，說明我們沒有私心。”於是成元功被送到江西的“五七干校”，一去就是近八年。</p>
				</section>

				<section epub:type="subchapter" id="<%= chapter_ID[23] %>">
					<h2><%= titles[23] %></h2>

					<p class='commentary'><span class='speaker'>解說：</span>1972年5月，周恩來被診斷患有膀胱癌。從那以後，周恩來做了大小十几次手術。他病重住院期間，毛澤東從來沒有去看望過他。</p>

					<p class='commentary'>然而，周恩來對毛澤東的忠誠始終沒有變。在他最後的日子里，葉劍英每天都去醫院看望。周恩來的警衛人員回憶說，當時葉劍英在同周的最後一次談話時讓警衛和護理人員全部退出。談話的內容人們無從知曉。不過，葉劍英後來曾經提到，當時党內有很多人來找他，提出要采取行動抓“四人幫”。葉劍英試探過周恩來的意思。但周恩來表示，還是要相信毛主席，要听主席的話。葉劍英說，周恩來不愿意談論這個話題。</p>

					<p class='commentary'>1976年1月8日，周恩來去世。</p>
 
					<p class='commentary'>1月11日，載着周恩來遺体的靈車開往八寶山，北京上百万人自發地站在長安街兩旁為周恩來送行，場面令人震撼。</p>

					<p class='commentary'>中共中央決定，周恩來追悼會在1月15日舉行。</p>

					<%- photo[39] %>

					<p><span class='speaker'>高文謙：</span>政治局希望毛能去參加。但是毛的身体狀況要由毛的醫療組做出個判斷。醫療組的判斷是，毛可以去參加周的追悼會，不會受影響，時間最好控制在一個半小時之內。</p>

					<p><span class='speaker'>李肅：</span>這些都有官方的記載？</p>

					<p><span class='speaker'>高文謙：</span>對，然後政治局就為此做了准備，行走的路線啊，擔架啊，全都准備好了。整個追悼大會為了等毛而推遲。但到最後一刻，毛通過汪東興傳話：“不去了，送個花圈。”關於這個問題，連張玉鳳都看不下去呀，据說是流着眼淚求毛去參加，但是毛還是沒參加。</p>

					<p class='commentary'><span class='speaker'>解說：</span>1976年1月15日，周恩來追悼會在人民大會堂舉行。全世界都注意到与周共事了半個多世紀的毛澤東沒有出席。毛澤東的缺席引起了各種各樣的猜測。高文謙在《晚年周恩來》一書中記述的由知情人轉述的毛澤東的一段話或許對解開這個謎有一定的參考價值。</p>

					<p class='commentary'><span class='speaker'>毛澤東說：</span>“總理是反對我搞文化大革命的，有一批，不是小批，還是老的，都聽他的。擁護我，高呼我萬歲，是無奈的。我明白，這點我和總理的鴻溝是沒法彌補的。”“為甚麼我要參加總理的追悼會？我還有不參加的權力嘛！偉大的馬克思主義者，是誰送給總理的？我和這個馬克思主義的總理，就鬥爭過不少於十次。不要勉強，建議其他政治局同志都參加。”</p>
				</section>

				<section epub:type="subchapter" id="<%= chapter_ID[24] %>">
					<h2><%= titles[24] %></h2>
					<p><span class='speaker'>結束語：</span>“顧全大局”是中共長期以來為其黨員提出的一項政治要求和應該具備的政治情操。它要求黨員在個人利益或者局部利益跟黨的大局或者整體利益發生衝突的時候要毫不猶豫地犧牲個人利益或局部利益來保證黨或者國家的整體利益。周恩來則被樹立為一個具有這種偉大情操的典範。</p>

					<p>從周恩來在1949年以後，特別是1958年受到毛澤東嚴厲批評之後的表現看，他在這個方面的表現的確非常突出。在廬山會議上，儘管他和彭德懷對“大躍進”運動的看法基本一致，但毛澤東一聲令下，打倒彭德懷的時候，周恩來便把自己的觀點隱藏起來，堅定地站在毛澤東一邊，大批彭德懷；儘管周恩來與賀龍、朱德有著長期而深厚的友誼，但在毛澤東決定要整治兩位元帥的時候，周恩來就可以把個人友誼放在一邊，積極配合，不惜惡言相向，痛下殺手；面對毛澤東的種種錯誤，黨內不少高級幹部，如劉少奇、林彪、鄧小平、彭德懷等，都曾通過各種不同的方式或提出意見，或作出抗爭，但我們從來（從“大躍進”之後）沒有看到周恩來對毛說過半個“不”字。在黨內出現分歧的時候，他總是站在毛澤東一邊，壓制那些敢於提意見的人。</p>

					<p>周恩來的這些行為被被中國官媒宣傳為“顧全大局”“相忍為黨”的楷模，是一個“偉大的無產階級革命家”的“高風亮節”。但是，越來越多的評論者指出，歷史事實已經顯示，周作出的許多忍讓和犧牲並沒有減少或者避免中共和人民的利益蒙受的損失。恰恰相反，在許多情況下，正是他的這些忍讓和犧牲起到了助紂為虐的作用，加重了人民的痛苦。</p>

					<p>高文謙認為，周（恩來）之所“忍”，所“讓”，其實就是為了兩個字，那就是他在晚年常說的革命“晚節”。</p>

					<p><span class='speaker'>高文謙：</span>周在“文革”中，他要跟着毛走，保持晚節。這是周在“文革”中最重要的政治操守。</p>

					<p>周恩來生前幾次談到“晚節”的問題。他認為，能否保持晚節，其標准就是看是否忠於毛澤東。</p>

					<p>1966年5月21日，就在中共中央發出關於展開文化大革命的《五·一六通知》五天以後，周恩來在政治局擴大會議上說：“要跟着毛主席。毛主席今天是領袖，百年以後也是領袖。晚年不忠，一筆勾銷。”</p>

					<p>周恩來甚在自己生命的最後時刻最惦記的事情是自己能否保住晚節。 他在1975年6月16日寫給毛澤東的最後一封信中談的還是這個問題。</p>

					<p class='commentary'>主席：</p>
					<p class='commentary'>從遵義會議到今天整整四十年，得主席諄諄善誘，而仍不斷犯錯，甚至犯罪，真愧悔無极。現在病中，反复回憶反省，不僅要保持晚節，還愿寫出一個像樣的意見總結出來。祝主席日益健康！</p>
					<p class='commentary'>周恩來　７５.６.１６.２２時</p>

					<p>周恩來寫信此時已經做了好幾次大手術，体重還不到31公斤。在他生命之火即將熄滅的時候，周恩來念茲在茲的事情不是國家的前途和人民的福祉，而是他個人的“晚節”。當他用盡全身氣力喊出“我不是投降派”的時候，他分明是在乞求毛澤東看在他數十年如一日地輔佐他的份上放他一馬，成全他保住“晚節”的夙願。</p>
				</section>
				
			</section>
