			<section epub:type="chapter" id="start">
				<h1><%= titles[0] %></h1>
				<blockquote class="pullout"><%= global.book.meta[book].description %><!--“六四”槍聲與《晚年周恩來》；御醫出書顛覆領袖形象；禁書的力量：真相全面呈現；昨日禁人言，今日言被禁；真相無脛而走，高官私下爭閱；禁書犯禁忌，當局最憂“解構力”；專制一脈相承，禁言法寶傳遞；煌煌國家大法，孱孱個人權利；香港，禁書的樂園；查禁書無遠弗屆，多管道步步緊逼；專政機器下的暴力與恐嚇；無所不在的神秘力量；高壓尚可抗，真情最難忍--></blockquote>
				<p><span class='speaker'>高文謙：</span>1989年6月3號那天晚上，我和我妻子一塊兒到天安門廣場去。那時候，風聲已經非常緊了。用形象的說法，空氣中都能聞出血腥的味道來了。</p>

				<p>我當時頭腦很衝動。我說，作為一個歷史研究者，我要來看看這一幕。我妻子不同意，就拉著我回去。我不同意，我們倆在廣場上就爭執起來了。</p>

				<p>最後是我妻子一句話打動了我。她說：“你不能這麼無謂地死。你是研究歷史的，你可以用自己的筆來把真相告訴老百姓。”就這一句話打動了我，我這才同意離開廣場。</p>

				<p>我當時心裡面覺得很慚愧，抬不起頭來。很多人帶著白布條，往廣場走，而我則當了逃兵。</p>

				<section epub:type="subchapter" id="part1">
					<h2><%= titles[1] %></h2>

					<%- photo[5] %>

					<p class='commentary'><span class='speaker'>解說：</span>曾經作為中共官方的周恩來研究項目的負責人，高文謙多年來一直小心翼翼地為維護周恩來“人民的好總理”形象而辛勤耕耘。但是，1989年6月4日，中國政府用坦克和子彈鎮壓了學生運動。</p>

					<p><span class='speaker'>高文謙：</span>從那個時候，我覺得我跟共產黨的緣分已經盡了。我曾經希望共產黨在“六四”的時候能夠和人民對話，肯定學生的反腐、愛國的要求。但最後，當局竟然用坦克車來回應。哀莫大於心死。於是，我決心寫這本書。</p>

					<p class='commentary'><span class='speaker'>解說：</span>2003年4月5日，高文謙所著的《晚年周恩來》在香港出版。這本書給讀者展示的周恩來形象與中國官史大相徑庭。</p>

					<p><span class='speaker'>高文謙：</span>從2003年這本書出版一直到2006年，它始終是禁書榜的第一名。</p>
				</section>
				
				<section epub:type="subchapter" id="part2">
					<h2><%= titles[2] %></h2>

					<%- photo[6] %>

					<%- photo[7] %>

					<p class='commentary'><span class='speaker'>解說：</span>1994年10月11日，美國蘭登書屋（Random House）出版了英文版《毛澤東私人醫生回憶錄》。該書的中文版一個星期後在台灣上市。</p>

					<p>這本書的作者李志綏擔任過中國人民解放軍305醫院的院長。他作為私人保健醫生在毛澤東身邊工作了二十多年。他的這個身份給書中內容增加了相當的可信度。該書抹去了環繞在毛澤東頭上的神聖的光環，以樸實的文字記述了毛澤東作為一個普通人的喜怒哀樂、七情六欲、詼諧幽默、曝露了他在生活上腐化糜爛、在政治上玩弄權術、狡猾與殘酷，在對待戰友上卑鄙與無情。這些內容無一不令人震撼，無一不具有巨大的顛覆力。</p>

					<p>該書的出版引起了中共高層的震怒。他們迅速組織包括中共中央前副主席、中共中央辦公廳主任汪東興
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en1" id="ch1ref1">（註1）</a>
					</sup>
					 在內的一大批人出面反駁。他們發表公開信、出版針對性極強的回憶專輯、為媒體撰寫文章。一場針對李志綏和他的書而展開的聲勢浩大的反擊在中國、美國和世界其它地方次第鋪開。</p>

					<p>金鐘（香港《開放出版社》社長，現居香港）：他是毛主席的貼身醫生，相當於總統的私人醫生。等於說毛從頭到腳的身體狀況，他完全了解。毛無論走到哪裡，都離不開他。“文革”期間，毛澤東檢閱紅衛兵的時候，李志綏也跟著毛，坐在同一輛車上。所以，這個作者的權威性勿庸置疑。</p>

					<p class='commentary'><span class='speaker'>解說：</span>1995年2月13日，就在《毛澤東私人醫生回憶錄》面世剛剛四個月後，李志綏在美國芝加哥的住處猝然離世。隨他而去的是他尚未完成的第二本回憶錄——《中南海回想錄》和他心中那些可能永遠無人知曉的紅牆內的秘密。</p>
				</section>

				<section epub:type="subchapter" id="part3">
					<h2><%= titles[3] %></h2>
					<p>禁書，從不同方面、不同角度，向人們暴露出過去他們不曾看到過的紅色政治內幕，觸及到中國共產黨最敏感、最諱莫如深的話題，彌補了官史缺失的鏈環。</p>

					<p>《晚年周恩來》和《毛澤東私人醫生回憶錄》等禁書公開了中共領導人那些不宜公開的一面；</p>

					<p>《紅太陽是怎樣升起的》（高華
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en2" id="ch1ref2">（註2）</a>
					</sup>
					 ，香港中文大學出版社2000年）一書細述了上個世紀30年代“延安整風運動”的黑暗內幕，把毛澤東在這場運動中如何排除異己，為強化他對全黨的控制而採取的那些不那麼光彩的動作用白紙黑字記錄下來；</p>

					<p>《廬山會議實錄》（李銳
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en3" id="ch1ref3">（註3）</a>
					</sup>
					 ，香港天地圖書有限公司1993年）披露了1959年廬山會議
					 <sup epub:type="rearnote">
					 	<a href="backmatter.xhtml#ch1en4" id="ch1ref4">（註4）</a>
					 </sup>
					  上中共高層內鬥的真實情況，生動地再現了眾多“無產階級革命家們”和“身經百戰的高級將領們”在這場內鬥中的真實表現；</p>

					<p>《改革歷程》（趙紫陽
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en5" id="ch1ref5">（註5）</a>
					</sup>
					 香港新世紀出版社2007年），首次公佈了前中共總書記趙紫陽在軟禁中的秘密錄音；（趙紫陽錄音：“6月3日夜，我正同家人在院子裡乘涼，聽到街上有密集的槍聲。一場舉世震驚的悲劇終於未能避免地發生了。”）</p>

					<p>《朝鮮戰爭揭秘》（沈志華
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en6" id="ch1ref6">（註6）</a>
					</sup>
					，香港天地圖書有限公司1995年）讓中國人第一次發現，發動朝鮮戰爭的竟然不是官方長期宣傳的“美帝國主義”，而是中國的盟友金日成。正是由於這場戰爭，朝鮮的金家王朝得以延續至今；</p>

					<p>《陽謀—反右運動始末》（丁抒
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en7" id="ch1ref7">（註7）</a>
					</sup>
					，香港開放出版社，2006年修訂本）揭示了上個世紀50年代“反右”運動的來龍去脈，把陰謀、“陽謀”一併擺到了陽光之下；</p>

					<p>《墓碑》（楊繼繩
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en8" id="ch1ref8">（註8）</a>
					</sup>
					，香港天地出版社 2008年）用直白的文字和數據對中國在上個世紀50年代末到60年代初發生的那場大饑荒做出了全景式的描述，並對那場災難的前因後果、慘烈程度和制度原因做出了深刻剖析，為死於饑荒的3600萬個亡靈寫下了永遠的墓誌銘；</p>

					<p>《文化大革命：歷史的真相和集體記憶》（宋永毅
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en9" id="ch1ref9">（註9）</a>
					</sup>
					，香港田園書屋，2007年）萃集了許多親歷者帶血的講述和專家學者們做出的富有價值的研究成果，為恢復歷史真相，豐富集體記憶提供了寶貴的資料；</p>

					<p>《尋訪“六四”受難者》（丁子霖
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en10" id="ch1ref10">（註10）</a>
					</sup>
					，香港開放出版社，2005年）記載了1989年6月4日發生的震驚中外的天安門廣場慘案。“天安門母親們”
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en11" id="ch1ref11">（註11）</a>
					</sup>
					經過千辛萬苦收集的遇難者的名單和資料將讓那些官方試圖抹去和被遗忘的名字與故事流传于世；</p>

					<p>《1959拉薩！ 》（李江琳
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en12" id="ch1ref12">（註12）</a>
					</sup>
					，香港新世紀出版社2010年）梳理出中共建政後藏人與北京關係的演變過程，告訴人們達賴喇嘛離開西藏的真正原因並非官方口中的“叛亂失敗”，而是在中國政府壓力下的無奈出走。</p>

					<p><span class='speaker'>李江琳：</span>實際上，雙方（拉薩與北京）的關係從1956年開始就非常緊張。達賴喇嘛本人告訴我，他1957年從印度回到拉薩的時候就發現大昭寺對面的中方機構房頂上修築了工事。工事意味著什麼？意味著備戰。</p>
				</section>
				
				<section epub:type="subchapter" id="part4">
					<h2><%= titles[4] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>中國政壇，翻雲覆雨，變幻莫測。1949年以來，中共內部有數不清的高官在政治浪潮中崛起，又在政治風暴中跌落。其中有保守派，也有激進派；有右派也有左派。一旦失勢，他們便失去了講話的權利，更沒有了出版自由。如果要讓世人暸解他們的想法，或者給世人留下點什麼，這些昔日的高官此時反而要求助禁書的幫助了。他們中許多人要么是某些歷史事件的當事人，要么身份特殊可以接觸普通人無從了解的內幕。因此，他們的回憶或著述往往具有很高的可信度。</p>

					<p>李銳是《廬山會議實錄》的作者。在1959年召開的那個廬山會議上，他作為毛澤東的政治秘書，在會議上做了詳細的記錄。後來，李銳以會議記錄為基礎撰寫了《廬山會議實錄》一書。該書出版於1999年。</p>

					<%- photo[8] %>

					<p><span class='speaker'>金鐘：</span>李銳當然對中共黨內的事情非常熟悉，尤其對廬山會議。他參與了，當時負責會議記錄。他那個筆記做得非常詳細。裡面涉及到劉少奇、周恩來在廬山會議上的表現，比如他們如何跟著毛整彭德懷。他就利用這樣一份很珍貴的原始材料寫成了《廬山會議實錄》一書，準確地交代了會議的來龍去脈，具有很高的權威性。</p>


					<%- photo[9] %>

					<%- photo[10] %>

					<p class='commentary'><span class='speaker'>解說：</span>宗鳳鳴
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en13" id="ch1ref13">（註13）</a>
					</sup>
					是《趙紫陽軟禁中的談話》（宗鳳鳴，香港開放出版社，2007年）一書的作者。他1938年加入中國共產黨，曾經擔任北京航空航天大學黨委書記，是中共前總書記趙紫陽的老鄉和戰友。他在記述和傳播趙紫陽在軟禁期間所思考的問題方面發揮了極為重要的作用。</p>

					<p><span class='speaker'>金鐘：</span>他是趙紫陽的老朋友。他們曾在一起抗日，十幾歲就在一起打游擊。趙紫陽被軟禁期間，外人很難見到他，但他（宗鳳鳴）可以天天去。有這麼個特殊的身份，既是同鄉，又是同志和戰友，他們可以開誠佈公地談很多事情。</p>

					<%- photo[11] %>

					<p class='commentary'><span class='speaker'>解說：</span>陳伯達
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en14" id="ch1ref14">（註14）</a>
					</sup>
					是“文革”初期的紅人，曾經在中共最高領導人中位居第四，是權傾一時的中央文革小組的組長。他的《陳伯達最後口述回憶》
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en15" id="ch1ref15">（註15）</a>
					</sup>
					一書也引起中共高層的不快，而被列入了禁書黑名單。</p>

					<p>在中國大陸有著“左王”之稱的鄧力群出版過一本《鄧力群自述：十二個春秋》
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en16" id="ch1ref16">（註16）</a>
					</sup>
					的書。該書記錄了從1975年到1987年這12年間發生的歷史大事件，也部分涉及1988年到1989年的重大事件，被專業人士認為對人們研究那個階段的歷史具有很高的參考價值。具有諷刺意味的是，這位中共意識形態的負責人，曾經的中共中央宣傳部部長所著的這本書也被列入禁書名單。</p>

					<p><span class='speaker'>金鐘：</span>香港有一家大風出版社，他的主持人叫王小強。他跟鄧力群的兒子鄧英淘相熟。我想有這個背景，才有可能把鄧力群的書拿到香港出版。第一版出來以後當然也就很受注意。北京發現後，馬上就不讓再出第二版、第三版。不再加印了，而且已經上市的要收回去。</p>

					<%- photo[12] %>

					<p class='commentary'><span class='speaker'>解說：</span>中共保守派代表人物，前總理李鵬出書也遭遇當局封殺。《李鵬六四日記》在完稿後原定2010年在香港出版，但出版計劃最後一刻在中共高層的壓力下叫停。該書目前有幾個版本在海外流傳。</p>

					<%- photo[13] %>

					<p>由於在“六四事件”中的角色而在北京市民中犯了眾怒的原北京市長陳希同晚年口述一書，極力撇清自己在“六四”鎮壓中的責任。當局在得知《陳希同親述——眾口鑠金難鑠真》的書稿送交香港一家出版社後展開了全力攔截。但由於該書作者姚監復和出版社的堅決抵制，這本書最終還是得以出版。</p>

					<p>姚監復（前中共中央農村政策研究室研究員）：（我）跟他從2011年1月到2012年6月之間見過十幾次，其中有9次的談話材料，我做了整理，最後寫成這本書《陳希同親述——眾口鑠金難鑠真》。</p>
				</section>
				
				<section epub:type="subchapter" id="part5">
					<h2><%= titles[5] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>禁書的魅力在於：能夠讓讀者看到外界不曾看到的高官們的言行，為公眾提供一些重大政治事件和社會醜聞的內幕，引導讀者從一個嶄新的角度去重新理解和看待那些他們已經習以為常的歷史事件或重大問題。這些優點再加上作者本身所具有的特殊的可信度使得禁書持續成為圖書市場的寵兒。</p>

					<p><span class='speaker'>金鐘：</span>李志綏的這本書，在香港的所有禁書中間，我認為是第一本。它的銷路和它的影響力，到現在為止，恐怕還沒有第二本書能超過它。</p>

					<p>何頻（香港明鏡出版集團CEO）：禁書這個概念極大地刺激了讀者的購買慾望，因為中國大陸改革開放這麼多年，有很多的自由，就程度來說，與西方相比沒有多大差別。但是，就新聞自由和出版自由來說，差別最大。所以很多人到海外來，除了購買名牌產品以外，很重要的一個項目就是購買禁書，而且買禁書比買衣服、手錶或者買其它的東西還要令人刺激。</p>

					<p><span class='speaker'>高文謙：</span>我這本書也成為到海外旅遊的人買回去孝敬領導、孝敬官場那些官員們的一個最好的禮物。很多官員，我知道，就點名要這本書。</p>

					<p><span class='speaker'>金鐘：</span>聽說有一次，江澤民主持一個軍委會議，有人報告他說，參與這次會議的人，每個人都有一本李志綏的回憶錄。聽說江澤民為此大發雷霆。</p>

					<p>楊繼繩（《墓碑》的作者）：我同學在中南海，有主管人告訴他，你同學又出書了。</p>

					<p class='commentary'><span class='speaker'>解說：</span>據楊繼繩介紹，有幾位國家領導人都是他在清華大學的同班同學。他們都看過《墓碑》一書。</p>
				</section>
				
				<section epub:type="subchapter" id="part6">
					<h2><%= titles[6] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>禁書之所以被禁，是因為它們觸及了當局不願意讓公眾知道的秘密。這些秘密一旦公開，很可能會對當局的形象造成負面的影響，甚至嚴重的打擊，也可能會影響到當局非常擔心的社會穩定。正是出於這些擔憂，當局才會不遺餘力、不擇手段地封鎖禁書。</p>

					<p><span class='speaker'>高文謙：</span>目前在中國大陸，批毛容易，批周難。因為周本身在中共是一個“道德聖人”。毛自己幹的很多事情已經是自己把自己給毀了。別人沒辦法真正面對現實去替他辯護。而周呢，（中共）還希望能維持那麼一塊招牌。</p>

					<p>周是這麼一個對革命、對共產黨忠心耿耿的人，最後的結局都這麼慘，一般人是不知道的。那麼，誰還再相信中共搞的什麼革命呢？這個，我覺得對他們的解構力度是非常大的。</p>

					<p class='commentary'><span class='speaker'>解說：</span>楊繼繩的《墓碑》一書在香港多次再版，並且在美國和英國推出了英文版。然而，半個多世紀過去了，在這場大饑荒的發生地——中國，這本書依然被禁。</p>

					<p><span class='speaker'>楊繼繩：</span>大陸肯定出版不了。我也是幹這行的。如果我是總編輯，給我（這樣一本書），我也不會出版的。要負責任的，不敢出的。</p>

					<p>有的地方發文件，比如武漢某區的區委給教育局發通知。那個通知我看到了，在網上查到的。通知禁止一些黃色、反動書籍進入校區，其中就有《墓碑》。發現就必須沒收、查處。</p>

					<p><span class='speaker'>金鐘：</span>這些書一出，就觸犯了中共的很多禁忌。這裡面會涉及到很多人。有些人還健在，有些人雖然不在了，但他們的子子孫孫還在。他們在大陸還有權力、金錢和經濟利益。這些關係是非常要緊的。</p>

					<p class='commentary'><span class='speaker'>解說：</span>楊繼繩2012年11月13日為美國《紐約時報》撰文說：“對大饑荒的徹底曝光可能有損一個依舊抓住毛澤東政治遺產不放的執政黨的合法性。這個遺產就是一個極權主義的共產主義體制，而這個遺產恰恰是引起大饑荒的根本原因。”高文謙在《晚年周恩來》中引用了大量中國內部檔案資料，而公開這種長期封存的檔案正是信息公開化的開始。這一點恰恰是中國當局不願看到的。</p>

					<p><span class='speaker'>高文謙：</span>蘇聯的巨變就是從公開性開始的。而中共在歷史上對人民、包括對它自己人所做下的這些個罪孽遠遠超過蘇共。因此，一旦解構的話，一旦公開出來的話，它的合法性就蕩然無存。</p>
				</section>
				
				<section epub:type="subchapter" id="part7">
					<h2><%= titles[7] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>限制出版自由，禁止敏感書籍傳播的做法並非某一代中國領導人的個人行為。毛澤東曾經聲稱，他自己就是“馬克思+秦始皇”。他說，“（秦始皇）只坑了四百六十個儒，我們坑了四萬六千個儒，”“我們超過秦始皇一百倍。”毛的這種霸氣在他的前輩與後輩中罕有匹敵，但他開啟的輿論一律和禁絕異己聲音的做法卻成為中共統治體系的一個組成部分。雖然最高領導班子不斷更換，但禁書的傳統卻一直延續下來。</p>

					<%- photo[14] %>

					<%- photo[15] %>

					<p>二十世紀30年代，美國記者埃德加·斯諾
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en17" id="ch1ref17">（註17）</a>
					</sup>
					來到陝北的中共中央所在地，結識了不少中共領導人，並與他們建立起良好的個人關係。</p>

					<p>1937年，斯諾撰寫的《西行漫記》一書在英國出版，引起轟動。這是西方記者首次把中共領導人介紹給西方讀者。斯諾作為一個中立的新聞記者的身份為他的報導增加了很大的可信度，為中國的紅色革命贏得了不少西方的同情者。斯諾這本書的中文版於1938年2月在上海問世，反響熱烈，再版多次。</p>

					<p>1949年以後，斯諾的名字在中國幾乎是家喻戶曉。毛澤東常常稱他是“我們的美國朋友”。然而令人費解的是，曾經不止一次被國民黨政府查禁的《西行漫記》
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en18" id="ch1ref18">（註18）</a>
					</sup>
					在中國共產黨的“新中國”遲遲未能公開出版，只是在1960年少量印刷了一些，供內部發行，以便配合斯諾第一次訪問中華人民共和國。直到中共建政三十年以後的1979年，《西行漫記》的作者和書中的主要人物大都作古之後，這本久負盛名的書才與中國讀者公開見面。</p>

					<p>1962年，小說《劉志丹》
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en19" id="ch1ref19">（註19）</a>
					</sup>
					在中國出版。書中主人公劉志丹是上個世紀30年代中共陝北根據地的主要創始人。正是這個陝北根據地為當時受到國民黨軍隊圍追堵截而東躲西藏的中共紅軍主力提供了落腳和喘息之地。毛澤東在長征結束後曾經不無感激地表示，“陝北救中央”。</p>

					<p>劉志丹於1936年在一次作戰中陣亡。他的弟媳李建彤
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en20" id="ch1ref20">（註20）</a>
					</sup>
					寫了這本小說紀念他。不料，毛澤東卻說，“用寫小說來反黨、反人民，這是一大發明
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en21" id="ch1ref21">（註21）</a>
					</sup>
					”，指責這本小說為“反黨集團”頭目高崗翻案。高崗當年也是陝北根據地的一位主要領導人。中共當局隨後對這部“反黨小說”的產生過程展開調查，多達6萬人受到牽連，6000多人被迫害至死。</p>

					<p>中共總書記習近平的父親習仲勳
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en22" id="ch1ref22">（註22）</a>
					</sup>
					長期在西北地區工作，曾經擔任陝北邊區蘇維埃政府主席。小說《劉志丹》案發生後，當時擔任國務院副總理的習仲勳也未幸免。他被打成“反黨集團”頭目，失去了他所擔任的黨內外所有職務，並受到審查、關押和殘酷迫害，蒙冤達16年之久。

					<%- photo[16] %>

					<p class='commentary'><span class='speaker'>解說：</span>1989年8月，一本描述第二次“國共內戰”東北戰場戰事的報告文學《雪白血紅》
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en23" id="ch1ref23">（註23）</a>
					</sup>
					在中國出版。作家張正隆
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en24" id="ch1ref24">（註24）</a>
					</sup>
					對“文革”中失勢的林彪元帥所做的正面刻劃讓讀者耳目一新。該書上市後，市場反應熱烈，但一些高級領導人和軍隊將領卻深感不快。</p>

					<p>高瑜
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en25" id="ch1ref25">（註25）</a>
					</sup>
					（前《經濟學週報》副主編，現居北京）：他採訪了許多“四野”的人。他把林彪處理成一個戰神，機智、果斷、冷靜、穩健，甚至有拿破崙那種痴迷於戰爭的個性。
    
					<p>首先就是林彪在東北的一個對頭彭真（前中國人大常委會委員長）。委員長說話了。他跟他秘書說：“林彪難道比毛澤東還高明嗎？”</p>

					<p class='commentary'><span class='speaker'>解說：</span>當時的中國國家副主席王震
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en27" id="ch1ref27">（註27）</a>
					</sup>
					也不高興。</p>

					<p><span class='speaker'>高瑜：</span>王震拿手比著個槍，說：“把這樣的反黨、反革命、亂軍的作者留下來有什麼用？”</p>

					<p class='commentary'><span class='speaker'>解說：</span>當時權傾一時的中國國家主席、中央軍委常務副主席楊尚昆直接給中共總書記江澤民寫了一封信。</p>

					<p><span class='speaker'>高瑜：</span>他（楊尚昆）說，《雪白血紅》我看了一半，看不下去了。這是一部“為蔣介石評功擺好，為林彪翻案的壞書。”</p>

					<p class='commentary'><span class='speaker'>解說：</span>1990年，《雪白血紅》在中國大陸被禁，其作者張正隆一度被逮捕。</p>
				</section>
				
				<section epub:type="subchapter" id="part8">
					<h2><%= titles[8] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>幾乎就在《雪白血紅》出版和被禁的同時，中國一批自由派知識分子因為捲入“六四事件”被捕入獄，其中包括前《光明日報》記者戴晴和前中共中央常委政治秘書鮑彤。</p>

					<p><span class='speaker'>鮑彤：</span>我下來就問：“這裡是不是秦城？”三位迎接我的人說：“是”。第一個人說：“我是監獄長。”這樣，我就在秦城住下了。</p>

					<p class='commentary'><span class='speaker'>解說：</span>在他們身陷囹圄的時候，中國新聞出版總署下發了一紙“紅頭文件”，剝奪了14個人在中國大陸發表作品的權利。</p>

					<%- photo[17] %>

					<%- photo[18] %>

					<p>戴晴（《在如來佛掌中——張東蓀和他的時代》
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en28" id="ch1ref28">（註28）</a>
					</sup>
					一書的作者）：叫做《關於停售鮑彤等人作品的通知》。它的時間是1989年9月2日。這個時候，鮑彤和我，我們都已經是在牢裡了。</p>

					<p>通知的第一條就是“鮑彤、金觀濤
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en29" id="ch1ref29">（註29）</a>
					</sup>
					、戈揚
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en30" id="ch1ref30">（註30）</a>
					</sup>
					、蘇紹智
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en31" id="ch1ref31">（註31）</a>
					</sup>
					、張顯楊
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en32" id="ch1ref32">（註32）</a>
					</sup>
					、李洪林
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en33" id="ch1ref33">（註33）</a>
					</sup>
					、任畹町
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en34" id="ch1ref34">（註34）</a>
					</sup>
					、曹思源
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en35" id="ch1ref35">（註35）</a>
					</sup>
					、戴晴
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en36" id="ch1ref36">（註36）</a>
					</sup>
					、于浩成
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en37" id="ch1ref37">（註37）</a>
					</sup>
					、高山
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en38" id="ch1ref38">（註38）</a>
					</sup>
					、劉曉波
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en39" id="ch1ref39">（註39）</a>
					</sup>
					、王若望
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en40" id="ch1ref40">（註40）</a>
					</sup>
					、阮銘
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en41" id="ch1ref41">（註41）</a>
					</sup>
					等14人的個人作品一律停售。”</p>

					<p>“凡通知停售的圖書，嚴禁在市場上流通，嚴禁黑市倒賣，違者將從嚴懲治。請各地有關部門加強對圖書市場的檢查和管理。第六條，以上通知不公開，不報導。 ”</p>

					<p>雖然我是一個中華人民共和國的公民，雖然所有的人——我也好，出版商也好，中間人也好，賣書的人也好，他們都知道我們有一部《憲法》，有一個第二章，有一個第35條，就是任何一個中國公民都能享受言論與出版自由。可是到今天，我的書還是不能出版，既不能在中國的報紙上發表文章，原則上，也不能在雜誌上發表文章，出版社原則上也不接受我的書。我也不能去大學或者正式的機構去做演講，就處在這麼一個地位。</p>

					<p><span class='speaker'>高瑜：</span>2004年的9月19日，胡錦濤接了軍委主席。閉幕式上，他發表了一個演說，實際上就是他的就職演說。這個就職演說所講的，就是要管好意識形態。要怎麼管？就要嚴防死堵，就要像防洪水猛獸一樣管好意識形態。</p>

					<p>北京整肅了三個出版社：人文出版社、工人出版社和社會科學出版社。這三個出版社一共整肅了幾本書呢？人文比較少，就是一個《中國農民調查》
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en42" id="ch1ref42">（註42）</a>
					</sup>
					，還有一個《往事並不如煙》
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en43" id="ch1ref43">（註43）</a>
					</sup>
					。加起來這三個出版社封了70多本書。</p>

					<p class='commentary'><span class='speaker'>解說：</span>2008年，香港中文大學出版社出版了戴晴的《在如來佛掌中——張東蓀和他的時代》。張東蓀
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en44" id="ch1ref44">（註44）</a>
					</sup>
					，哲學教授，曾擔任中國民主同盟中央常委、秘書長。1951年，他被控向美國出賣國家機密，隨即被免除了他擔任的所有政府職務，並被民盟
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en45" id="ch1ref45">（註45）</a>
					</sup>
					開除。“文革”期間，張東蓀被捕入獄，1973年死於獄中。</p>

					<p><span class='speaker'>戴晴：</span>告訴你們，你們全在如來佛掌中。毛澤東自己說的，都沒有跳出我的手掌心，指的是中國的知識分子，40年代以來的命運就是在他的手掌之中。</p>

					<p class='commentary'><span class='speaker'>解說：</span>這本書出版後，有位出版中間人想在大陸出版，找到了戴晴。</p>

					<p><span class='speaker'>戴晴：</span>他先跟我商量，咱們能不能刪點兒？我說不能刪。他說，能不能改個題目？我說不能改。他又問，能不能不用你的名字？我說，可以。他說，那咱們用誰的名字啊？我說，我編“張東蓀文集”的時候，用過我媽媽的名字。如果咱們接著用我媽媽的名字，這是可以的。他就很高興。他已經找到了出版社。出版社跟他說了，你把那個作者的簡歷傳過來。我媽媽101歲。這個101歲的人的簡歷也給他傳過去了。什麼都做好了，最後跟我說，你如果不同意改的話，還是不能出。</p>
				</section>
				
				<section epub:type="subchapter" id="part9">
					<h2><%= titles[9] %></h2>

					<%- photo[19] %>

					<p class='commentary'><span class='speaker'>解說：</span>由於中國大陸對出版物的嚴格控制，從二十世紀80年代開始，一些作者開始把目光投向香港、台灣，或者美國等“法外之地”的出版社。</p>

					<p>香港，1842年成為英國的殖民地，不受中國大陸的管制。1997年回歸中國後，香港仍然享受著“一國兩制”下的出版自由。</p>

					<p><span class='speaker'>金鐘：</span>香港很早以前，曾經有一段時期被人稱作是文化沙漠，說這個地方高樓大廈，人來人往，萬商雲集，都是做生意的。</p>

					<p class='commentary'><span class='speaker'>解說：</span>越來越多的中國作家在香港出版中國大陸無法出版或者不能完整出版的禁書。一批專門出版中國政治歷史類題材的香港出版社也應運而生。近年來遭到中共當局禁止的圖書中，有一部分是在中國大陸出版後被當局禁止發行的，而大部分都是直接在香港出版的。</p>

					<p>余傑（作家，《中國影帝溫家寶》的作者）：就連他（鄧力群）這樣的負責意識形態的最高官員，後來寫的回憶錄也只能放到香港出版。而他自己當年做宣傳部部長​時還把香港說成是一個專門出版反華讀物的基地。但最後，他的書也放到香港出，這是非常具有諷刺意義的。</p>

					<p class='commentary'><span class='speaker'>解說：</span>香港，這個曾經的“文化沙漠”，今天被人稱之為“禁書樂園”。</p>
				</section>
				
				<section epub:type="subchapter" id="part10">
					<h2><%= titles[10] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>對於中國大陸出版的書籍，中國官方查禁的方式相對簡單，勒令出版社停止發行，書店下架。而對於在海外出版的禁書，中國當局因權力所限不得不採取間接一些的措施，對作者威逼利誘，對作者家人施加壓力。</p>

					<p><span class='speaker'>金鐘：</span>比如宗鳳鳴。他本人是老幹部，還是“三八式”的。當這本書正式交給我們出版的時候，北京當局有關部門就找他（宗鳳鳴）談話，一直到最後出版的那幾天，情況很緊張，公然把他弄到某個地方去休養，避開記者，怕把事情弄大。</p>

					<p><span class='speaker'>姚監復：</span>最後是由國防科工委的一位副主任，代表中宣部、安全部、國防科工委找宗鳳鳴談話的。那位（中共）中央候補委員、副主任說：“你寫趙紫陽這本書，如果在文化大革命中就是反革命。這本書不能出。”</p>

					<p><span class='speaker'>金鐘：</span>但是，他堅持，不後退，不放棄。如果他放棄，他給我一個電話，我就不會出了。</p>

					<p class='commentary'><span class='speaker'>解說：</span>2012年，姚監復為《人民日報》原總編輯胡績偉
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en46" id="ch1ref46">（註46）</a>
					</sup>
					整理出版了《胡趙新政啟示錄》
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en47" id="ch1ref47">（註47）</a>
					</sup>
					一書。</p>

					<%- photo[20] %>

					<%- photo[21] %>

					<p><span class='speaker'>姚監復：</span>這是一個有75年黨齡的96歲的老人。他說，看來要重提毛澤東1940年代提出的“廢除一個黨、一個主義、一個領袖”的承諾。他又加上“一個黨軍的法西斯獨裁政治”，要廢除一黨專政。</p>

					<p>這本書是2012年1月出版的。 2011年9月的時候，上面負責新聞出版的官員找到給我發工資的部一級的單位，再找小單位領導正式找我談話，說，“姚監復，你有一本書要在香港出版，而且是由鮑彤的兒子出版。不准出版。”</p>

					<p>我的回答是，作者不是我。我沒權力決定出版不出版。但我是黨員，你們上級有什麼意見要我傳達，我可以原原本本地傳達給作者或者出版單位。不過，為了準確起見，我希望給我一個書面文件，是誰、為什麼不讓出版，我好傳達。</p>

					<p>他們如實地把我的意見反映給上面。後來，他們說，怎麼能給書面文件呢？給了書面文件，那胡績偉不會說我們干涉他言論自由嗎？</p>

					<p>第二次談話說，如果這本書出來，我們將按照掃黃打非的辦法處理，就要當非法出版物處理。不准姚監復替胡績偉贈送、傳播、散發。</p>
				</section> 
				<section epub:type="subchapter" id="part11">
					<h2><%= titles[11] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>作家余傑近年來出版的幾本書觸怒了中國官方。余傑被迫遠走異國他鄉。</p>

					<p><span class='speaker'>余傑：</span>我來到美國以後，他們沒有辦法直接威脅、恐嚇我，他們專門成立一個專案組。專案組的成員，這些國保的官員甚至會從北京飛到我的老家四川，找我的父母，找我的弟弟，找我的姨媽等很多親人談，希望他們向我施加壓力。</p>

					<p><span class='speaker'>解说：</span>在中國的施壓手段中，國安、國保的介入已經司空見慣。 </p>

					<p><span class='speaker'>余傑：</span>2004年胡錦濤時代以後，變化還是非常明顯的。嚴厲程度急劇上升。介入到新聞出版的，不僅是原來的中宣部和新聞出版署這一類的機構，甚至像國安和國保這樣赤裸裸的暴力機構也直接地參與進來。</p>

					<p class='commentary'><span class='speaker'>解說：</span>余傑曾經試圖與警方理論，對抗這種壓力。</p>

					<p><span class='speaker'>余傑：</span>我第一次跟他們打交道，是2004年的冬天，也就是胡錦濤接任了軍委主席，掌握了全面權力的時候。我第一次跟他們談就表示，如果是宣傳部來找我談，我願意跟他們談，比如，我的哪個觀點有錯誤，我的哪本書有問題，我願意跟他們一起討論。但是當局要是派警察部門來跟我談，我說，我非常不願意跟你們這個部門談。你們的職責、你們的使命，是保護人民的生命、財產安全。我是一個手無寸鐵的書生、一個作家，由你們這個部門來跟我面對面地談，這是非常不妥當的。這只能說明中國社會的這種荒誕性，這種對法制的踐踏。</p>

					<p class='commentary'><span class='speaker'>解說：</span>然而，余傑得到的答复卻是警方的暴力。</p>

					<p><span class='speaker'>余傑：</span>他們以煽動顛覆國家政權的罪名傳喚我，把我帶到警局，赤裸裸地提出威脅、恐嚇，說你如果要出版這本書，就會把你扔進監獄。後來，他們甚至把我綁架到郊外，進行毒打，並揚言，只要上面打一個電話，我們半個小時就挖一個坑把你埋掉，等等。</p>

					<p>新聞出版的控製到胡錦濤時代變成了暴力維穩的一個組成部分。除了這些原有的控制方式以外，“胡溫時代”又增加了新的方式，動用國安和國保，甚至最後演變成這種非常殘酷的身體折磨。這也是最後我覺得完全喪失了生命安全的保障，不得不離開中國，來到美國的非常重要的原因。</p>

					<p class='commentary'><span class='speaker'>解說：</span>姚監復所著的陳希同回憶錄在香港出版之前，中國警方曾經採取多種措施，試圖阻止這本書的出版。</p>

					<p><span class='speaker'>姚監復：</span>31號那一天，好像是國保部門，就是公安部門派了四路大軍出動。第一路大軍，是在31號上午找陳希同，讓陳希同承認沒有授權給我出版這本書。第二路是壓到我那兒，連機關的領導都算上，大概有5、6個領導找我談話，要求我發一個E-mail給鮑樸，封存這本書。我說，第一，你們沒有看這本書。你們現在就叫我封存這本書，這違反了黨的實事求是路線。我說，陳希同現在還認為“六四”應該是製止動亂的。他是反對動亂的。我說，這樣的書你們為什麼不讓發？你們看過這本書沒有？第二，我說，封存香港出版社的書的做法是不正確的。香港是“一國兩制”，我們怎麼能下命令讓他們把書封存起來呢？</p>

					<p>他們不走，一定要我寫這個（電郵）。我們單位領導也勸我寫。我說，我考慮一個鐘頭。我想了一下，可能還得這樣，不然，他們就不走了。</p>

					<p>最後我說，我同意寫一個，由我們機關發給鮑樸，意思是此書暫緩發行，經濟損失由組織負責。然後我就去鮑彤家。</p>

					<p>鮑彤家裡就是第三路軍，正在壓鮑彤，要鮑彤必須打電話給他兒子鮑樸，要他封存這本書。他的電話不准給外國打。來的公安部門的人用手機跟鮑樸聯繫。鮑樸打電話回來。鮑樸的回答就是，“晚了，我26號、27號已經把書發給零售點了，不可能全收回來”。</p>

					<p>第四路派人到香港直接去，全部封存或者買回來。鮑樸說，沒辦法，已經到零售點。但是我自己手上倉庫裡還有1000本。這1000本你們拿走。</p>

					<p>四路大軍，一天出動，很緊張的，但是晚了。 6月1號，香港和全世界都知道了。最主要的內容各大通訊社發表了。</p>
				</section>
				
				<section epub:type="subchapter" id="part12">
					<h2><%= titles[12] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>禁書作者和出版商即便身在海外，也難以避開中國有關當局的騷擾，他們常常會感覺到一股神秘的力量在纏繞著他們。</p>

					<p><span class='speaker'>金鐘：</span>還有一些人非常妙，神不知鬼不覺地把書稿交給我們。但大陸的公安或者國安竟然就能夠知道。他們就找作者去喝茶、談話。</p>

					<p><span class='speaker'>余傑：</span>無論我是人在中國大陸，還是人在美國，當我跟香港的出版機構、台灣的出版機構商談出版事情的時候，中共的情報系統馬上就會知道。我相信我的電郵、我的電話在美​​國也不是完全保密和安全的。他們還會去找香港的出版社直接施加壓力。比如出版我的《中國影帝溫家寶》和《劉曉波傳》
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en48" id="ch1ref48">（註48）</a>
					</sup>
					的香港新世紀出版社。這個出版社的負責人是鮑樸先生。他從香港到北京去探望他父親的時候，這些國保的官員就找他談話，希望他放棄這個出版計劃。他們甚至還會通過給出版社負責人發送有毒的電郵，來破壞他們的電腦等等（手段），這些事情都發生過。</p>

					<p><span class='speaker'>何頻：</span>我相信他們有他們的情報系統和信息管道。譬如說，某一本書我們還沒有出版，他們通過他們的系統就知道我們有了那本書的書稿，可我那時還沒有決定是否會出那本書。我就不知道他們是怎麼知道的。譬如，以前高文謙先生的書《晚年周恩來》。我跟高文謙先生剛剛認識，我還沒有完全決定要不要出這本書，結果他們的官員就找到我了，找我去吃飯，說這本書你最好不要出。</p>

					<p><span class='speaker'>高文謙：</span>中領館的人來給我打電話，紐約總領館的人約我來談，想買斷我這本書。</p>

					<p class='commentary'><span class='speaker'>解說：</span>這股力量甚至伸展到了海外的名牌大學。</p>

					<p><span class='speaker'>高文謙：</span>哈佛（大學）的費正清中國研究中心（Fairbank Center for Chinese Studies）邀請我去，給我提供一定的經費，支持我寫這本書。我剛一去，大陸那邊就知道了。他們知道後，就通過各種渠道來做工作。</p>

					<p>他們還找到資助我的哈佛教授傅高義
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en49" id="ch1ref49">（註49）</a>
					</sup>
					 先生，他那時是Fairbank Center（費正清中心）的Director（主任）。做傅高義工作的人，一個是熊光楷，當時是副總長，主管情報，經常到美國參加中美情報對話。還有一個是所謂江澤民的智囊，社科院副院長劉吉
					 <sup epub:type="rearnote">
					 	<a href="backmatter.xhtml#ch1en50" id="ch1ref50">（註50）</a>
					 </sup>
					 。這兩個人都分別跟傅高義打招呼，甚至給傅高義送各種書，包括秘書懷念周恩來的小冊子。潛台詞都是你不要再幫助（高文謙出這本書）。後來，哈佛（大學）就把我的經費給斷了。</p>
				</section>
				
				<section epub:type="subchapter" id="part13">
					<h2><%= titles[13] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>儘管中國有關當局在打壓禁書方面是無孔不入，不遺餘力，但禁書還是屢禁不止。</p>

					<p><span class='speaker'>何頻：</span>我們不會受制於這樣一種壓力而不去出書。與其給我們壓力，不如開放自己。當你自己不能開放新聞自由的時候，就給我們提供了生存條件。如果中國大陸開放新聞自由了，那就沒有我們海外的出版行業了。也許我們就回中國去了，也許我們就退休了，不從事出版了。一切的原因是：中國大陸沒有新聞自由、沒有出版自由。</p>

					<p class='commentary'><span class='speaker'>解說：</span>其實，面對強大的專制政權，禁書的作者們在做出寫書和出書決定的時候都必須做好心裡準備，他們本人，甚至他們的家人都可能會因此要承擔一定的代價。《毛澤東私人醫生回憶錄》的作者李志綏在這本書的自序中說：</p>

					<p>“自從1954年，我被任命為毛澤東的保健醫生以後，空下來我將平日的所見所聞記錄下來，…… 時間一久，成為習慣，於是寫成無所不容的日記了。”</p>

					<p>“一九六六年下半年，紅衛兵興起了抄家風。”</p>

					<p>“嫻
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#ch1en51" id="ch1ref51">（註51）</a>
					</sup>
					很害怕，……將這四十幾本雜記抄走，豈不是成了十惡不赦的罪狀了，應該趕緊燒掉。”</p>

					<p>“一九七六年“四人幫”被捕以後，嫻常常惋惜地說：‘太可惜了，那四十幾本日記。如果能保存起來，也沒有事。'為此她常常催促我，寫出這一段的經歷。”</p>

					<p>“一九八八年二月，嫻發現患有慢性腎功能衰竭⋯⋯一九八九年一月十二日去世。她陷入昏迷前，還一再叮囑我，要將一九四九年以來這三十九年的遭遇寫出來。她說：‘一定要寫出來，為了你，為了我，也為了我們的後代，可惜我不能再幫助你了。'”</p>

					<%- photo[22] %>

					<p>《晚年周恩來》一書的出版讓作者高文謙為了這本書體驗了一次現實版的母子生離死別。</p>

					<p><span class='speaker'>高文謙：</span>我媽媽在“文革”中被打為現行反革命，“炮打無產階級”的現行反革命。她被關到秦城監獄七年，出來的時候精神已經分裂。他們說，你媽媽在“文革”中受了很多苦。我們不希望她現在再有什麼磨難。這種警告當然對我是有影響的。我的媽媽在“文革”中受了那麼大的磨難。作為兒子，我卻不能在她晚年的時候盡孝。中國人講“父母在，不遠遊”。我在海外，沒有辦法。</p>

					<p>我媽媽病重的時候，我曾經面臨著一個很困難的選擇：回去（中國）見老母最後一面，還是不回去，把這本書給出出來。我跟我母親通了電話。她那時已經病重了，白血病，住在北京醫院。我媽媽說：“不要管它，你要把你知道的事情告訴老百姓。這是老天爺交給你的任務。”所以，最後我連我母親最後一面也沒有看到，成為我的終身之憾。</p>

					<p><span class='speaker'>結束語：</span>從春秋時期秉筆直書的齊國太史公兄弟到東漢末年針砭時事的“黨錮之士”，從公元前六世紀古希臘雅典式民主出現言論自由的理念到公元前五世紀羅馬共和國將言論自由視為最珍視的兩項權利之一，千百年來，人類對言論自由的追求從未停止。</p>

					<p>從西周統治者的“防民之口，甚於防川”到秦始皇的“焚書坑儒”，從1474年羅馬天主教會提出出版審查制度，到1559年頒布《禁書目錄》，千百年來，人類對言論自由的追求從未一帆風順。</p>

					<p>1948年，聯合國通過的《世界人權宣言》明確規定：“人人有發表自由之權利。”</p>

					<p>在中國，從1949年的《中國人民政治協商會議共同綱領》，到先後批准的四部憲法，都莊嚴地聲明：中國人享有言論自由。然而，時至今日，官方仍然在強力禁書，人民依然在不屈不撓地出書、吶喊。</p>
				</section>
				
			</section>
