			<section epub:type="chapter" id="start">
				<h1><%= titles[0] %></h1>
				<blockquote class="pullout"><%= global.book.meta[book].description %><!--北京市長欺騙了鄧小平嗎；《陳希同親述》的故事；陳希同獄中收聽美國之音；記者因言獲罪， 報社刊文被封；《李鵬六四日記》引出的是是非非；趙紫陽是被軍事政變搞掉的嗎；禁書與盜版中國；盜版禁書暢銷大陸各地；滑稽嗎？作者樂見書被盜；民主台灣也禁書；罪名何須有，笑話段子也遭禁；同病不相憐，莫言抵制戴晴不心軟--></blockquote>
				<p><span class='speaker'>編者語：</span>如果把那些在正常環境中產生的書籍比喻作幸運的孩子，那麼禁書就是那些命運多舛而又敢於跟命運抗爭的弄潮兒。弄潮兒的反叛就像探險家們各具特色的探險之旅，即遍布荊棘，又充滿意外和樂趣。不少禁書作者都是頂著強大的壓力，有的甚至要冒著生命的危險，從事寫作和出版，其中的酸甜苦辣和艱難曲折也只有他們自己才能夠真切地品嚐。但困境也教會了這些作者如何苦中作樂，如何調侃生活。在面對許多無奈的時候，他們的幽默和詼諧像一陣清風，叫人在神清氣爽的同時感悟到生活的真諦。</p>

				<p>《中國禁書》的第二部分和大家一起分享我們在採訪中意外獲取的一些逸聞趣事。這一個個小故事就像多棱鏡一樣，給我們提供了不同的視角和難得的機會去更加深刻地了解現代中國的禁書現象。</p>

				<p class='commentary'><span class='speaker'>解說：</span>2013年6月2日，也就是“六四事件”24週年紀念日到來前夕，曾經在鎮壓學運問題上表現最積極的前台大人物，當時擔任北京市市長的陳希同去世了。他在六四後的1992年晉升為中共中央政治局委員和北京市委書記。當局可能是因為陳希同去世的時機過於敏感而秘而不宣，直到敏感期過後才公佈。外界很多人是通過陳的家人等私人渠道得知陳去世和下葬的消息的。</p>

				<p class='commentary'>陳希同在晉升政治局委員後不到三年就在中共內部的權力鬥爭中中箭落馬，被開除了黨籍和公職，失去了所有職務。1998年，陳希同背負著貪污腐敗和玩忽職守等罪名走進了秦城
				<sup epub:type="rearnote">
					<a href="backmatter.xhtml#en1" id="ref1">（註1）</a>
				</sup>
				監獄，開始他長達16年的刑期。但8年後，陳以保外就醫的名義離開了秦城，住進了北京小湯山
				<sup epub:type="rearnote">
					<a href="backmatter.xhtml#en2" id="ref2">（註2）</a>
				</sup>
				療養院。</p>

				<p>姚監復(《陳希同親述》作者)：那個地方，是一個三層的小樓，一、二層樓住普通的客人。他在三樓有兩、三間獨立的房間。外面的人要進去，必須通過樓下的服務員。不是誰都可以進去的。對他的要求是，不准接見外國記者，國內的記者大概他也沒接見過。第二個不許離開北京市區。</p>

				<p class='commentary'><span class='speaker'>解說：</span>陳希同在小湯山療養院住了十幾年，於2013年因癌症加重而轉到解放軍北京軍區總醫院。</p>

				<p class='commentary'>姚監復在小湯山陳希同保外就醫的居所與他進行了十幾次談話。隨後，他根據其中的九次談話內容撰寫了《陳希同親述》一書，並在香港出版。陳希同在書中講述了“六四事件”前後中共高層發生的內鬥，涉及了不少敏感話題，引起中共高層的不快。該書在付印之前就被中共當局列為禁書。遠離政壇十幾年的陳希同再一次被置身於爭議的風口浪尖上。</p>

				<section epub:type="subchapter" id="part1">
					<h2><%= titles[1] %></h2>
					<%- photo[23] %>

					<p class='commentary'><span class='speaker'>解說：</span>陳希同在這本書中竭力要撇清他在“六四”問題上的責任。他否認有關向鄧小平“謊報軍情”，誇大學運威脅，最終促使鄧小平下令鎮壓的說法。“事實上，他（鄧小平）有很多的消息來源及耳目。”“鄧小平怎麼會被瞞騙呢？這樣說，是低估了他。”陳希同還說，當年“六四事件”，如果處理得更好，可以避免死人。</p>

					<p class='commentary'>姚監復曾經問過中共前任總書記趙紫陽同樣的問題：鎮壓“六四學運”是不是鄧小平誤信了李鵬、李錫銘
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en3" id="ref3">（註3）</a>
					</sup>
					和陳希同等人的不實匯報才做出的決定？趙紫陽對姚監復說：鄧小平如果會上當受騙，那就不是鄧小平了。</p>

					<p class='commentary'>姚監復對趙紫陽的這個看法印象深刻，所以在陳希同談到這個問題的時候就自然把趙紫陽的看法轉述給他。</p>

					<p><span class='speaker'>姚監復：</span>陳希同聽到我的話非常高興，“啪”地一拍我的大腿，說：“我完全同意紫陽同志的意見。如果我陳希同能欺騙鄧小平，那你們不是把鄧小平貶低了嗎？把鄧小平說成昏君、庸君了嗎？”</p>

					<p>陳希同和趙紫陽都是這樣的觀點：鎮壓“六四”是鄧小平個人早就做出的堅決的決定，別人影響不了他。而且，他的信息渠道，陳希同說，“比我多得多，怎麼會得不到信息渠道，用得著我欺騙嗎？北京市的情況、天安門的情況，用得著我去謊報軍情嗎？”</p>

					<p>在這一點上，陳希同發現，他跟趙紫陽是一致的。</p>
				</section>
				
				<section epub:type="subchapter"id="part2">
					<h2><%= titles[2] %></h2>
					
					<p class='commentary'><span class='speaker'>解說：</span>陳希同與姚監復，兩人本來素昧平生。陳希同之所以選擇姚監復代他撰寫《陳希同親述》一書，機緣是從一本書開始的。</p>

					<p><span class='speaker'>姚監復：</span>我去見陳希同的“介紹信”是鐘鴻，我的表姐。她是北京師範大學的地下黨員，1949年解放以後，就是北京市委宣傳部的干部，文藝處的。她的一個同事是陳希同的夫人。另外，她參加過“四清”，陳希同是隊長，她是隊員。所以，她和陳希同夫婦都認識。</p>

					<p>她（鐘鴻）讓我把《風雨半支蓮》這本書送給陳希同。我就跟陳希同聯繫上了，我說姐姐有一本書要送給你。她現在去國外旅游去了。你要有空，我就送過來。他（陳）就通知我什麼時間讓我去送。</p>

					<p class='commentary'><span class='speaker'>解說：</span>2011年1月份的一天，姚監復帶著表姐的那本回憶錄去見了陳希同。在隨後的一年半中，他們倆見了十幾次，開始了陳希同口述、姚監復筆錄的回憶錄的寫作。</p>

					<p><span class='speaker'>姚監復：</span>我想拿個錄音機的話，他會很緊張，就得字斟句酌了。這樣（用筆記錄）的話呢，你講你的，我把主要的意思記下來。我當天回來就整理。我覺得主要意思都在，不會丟掉最主要的意思。另外，我們下次見面就給他看。如果他覺得有大的出入，他會告訴我。</p>

					<p>陳希同後來跟我談話，我覺得是真誠的，至少是他內心真實的想法。我問他問題，他都是馬上就回答，不是說我思考一下，用個什麼偽裝，做掩飾。</p>

					<p class='commentary'><span class='speaker'>解說：</span>陳希同回憶錄最後定名《陳希同親述——眾口鑠金難鑠真》，書中的主要內容之一是陳希同想洗刷自己貪污腐敗的罪名。</p>

					<%- photo[24] %>

					<p><span class='speaker'>姚監復：</span>他從審判開始一直到現在，沒有認罪，跟陳良宇不一樣。他跟我說過，他以為最後有機會讓他陳述，他要辯駁。但最後到他要陳述的時候，法官說，拉下去。所有犯人都有權利做的最後陳述的機會被剝奪了，因此他高喊：“這是法西斯法庭。”</p>

					<p>他現在一直都在通過律師要求重審，但沒有結果。所以他跟我約定，書你先不出，等我（要求）重審的申請報告（上面）有了回答，再決定出還是不出。如果說（上面）不準重審，你就發表。或者說，（上面）准許重審，你也可以發表。但我說，要是一年、兩年（上面）都沒有回答，你怎麼再等呢？他說，高法程序不對，不戰、不和、不降，用這種方法拖著。</p>
				</section>
				
				<section epub:type="subchapter"id="part3">
					<h2><%= titles[3] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>在這本回憶錄出版之前，陳希同也擔心過官方會向他施加壓力。不過，2012年6月1日《陳希同親述》在香港面世以後，陳希同並沒有因此受到更多的壓力。</p>

					<p><span class='speaker'>姚監復：</span>陳希同通過媒體知道書已經出來了。他不很高興，因為不知道會受到什麼樣的政治壓力。最後，畢竟是沒告訴他這本書什麼時候出來，他沒準備。</p>

					<p>他自己也做了估計，各種帽子已經給我扣得夠多了，我已經夠臭了，還能把我怎麼樣呢？他已經進入最底層了，成了秦城監獄的犯人了，還能怎麼樣呢？但政治太險惡，他不知道會怎麼樣，因為他兒子也被抓起來判刑了。</p>

					<p>據我了解，（書出來以後）影響並不那麼糟糕。有一次老同志聚餐，後來去參加聚餐的人告訴我：“老姚，今天陳希同也去了。”</p>

					<p>附帶再說一個事情。我說：“你怎麼知道國外說陳希同貪污的事？”他說，（監獄）允許帶一個收音機。他聽的就是美國之音。他通過美國之音在監獄裡聽到各種信息。除掉《人民日報》，就是通過美國之音暸解各方面的信息。</p>

					<%- photo[25] %>
				</section>
				
				<section epub:type="subchapter"id="part4">
					<h2><%= titles[4] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>高瑜，上個世紀80年代是中國新聞社的記者、《經濟學週報》副總編。曾因“六四事件”被關押一年多。1993年再次被捕，被判刑六年。高瑜曾經提到陳希同原來打算請中國赫赫有名的律師張思之為其辯護，但遭到張的拒絕。</p>

					<p><span class='speaker'>高瑜：</span>他（陳希同）現在住著三層小樓，算保外就醫，全部國家安排，而且給他安排了司機、專車、還有他自個兒點名的大師傅。張思之
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en4" id="ref4">（註4）</a>
					</sup>
					是我的辯護律師，陳原來要找張思之為他做辯護，但張思之一看他的待遇那麼好，就拒絕了。</p>

					<p class='commentary'><span class='speaker'>解說：</span>其實，高瑜本人對陳希同也心存芥蒂。在“六四”期間，陳希同曾經把她寫的一篇報導指為“倒鄧保趙
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en5" id="ref5">（註5）</a>
					</sup>
					”的綱領。</p>

					<p><span class='speaker'>高瑜：</span>6月30號，陳希同，北京市市長，向人大做“動亂暴亂”的匯報。他的第一部分就是“倒鄧保趙”，說這場“動亂暴亂”是有組織，有策劃的，第一步就是要“倒鄧保趙”，結果就把我的文章給點出來，認為是“倒鄧保趙”的綱領。</p>

					<%- photo[26] %>

					<%- photo[27] %>

					<p class='commentary'><span class='speaker'>解說：</span>高瑜的這篇報導題為《嚴家其、溫元凱
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en6" id="ref6">（註6）</a>
					</sup>
					關於時局的對話》，1988年12月同時刊登在《經濟學週報》和香港的《鏡報》上。報導的內容是當時的中國社會科學院政治研究所所長嚴家其和著名經濟學家溫元凱對中國時局所做的探討。</p>

					<p><span class='speaker'>高瑜：</span>當時的中國經濟過熱，經濟問題很嚴重。搶電飯鍋，最後發展到搶到壞的也要的程度。當時我就問，如果明年他們把經濟上的問題都推給趙紫陽，要把趙紫陽像胡耀邦一下拿下來怎麼辦？嚴家其馬上就冒出一句話：“那就太壞了，太壞了。”他指的是這個形勢太壞了。他說，中國現在要避免的，就是那種非程序性的權力更迭，像打倒胡耀邦、赫魯曉夫、劉少奇那樣非程序性的權力更迭。</p>

					<p class='commentary'><span class='speaker'>解說：</span>1988年12月，《嚴家其、溫元凱關於時局的對話》發表後，反響熱烈。人民出版社旗下的《新華文摘》第一個轉載。在之後的半年裡，眾多的海內外華文媒體都轉載了高瑜的這篇報導。然而，這篇文章後來所產生的影響卻是她始料不及的。</p>

					<p><span class='speaker'>高瑜：</span>6月3號我就被抓了，被綁架了。還沒開槍呢，就被綁架了。我在裡邊的時候還給我個電視看。我一看，袁木罵我這篇文章，說這是“動亂、暴亂的政治綱領”。我1988年寫的文章，怎麼變成了“動亂、暴亂的政治綱領”？</p>

					<p class='commentary'><span class='speaker'>解說：</span>1989年6月30日，陳希同向全國人大作了《關於製止動亂和平息反革命暴亂的情況報告》。他說：“北京《經濟學週報》發表了同趙紫陽聯繫密切的嚴家其（中國社會科學院政治學研究所研究員）與另一個人關於時局的對話——這個對話的核心問題，就是為了掩蓋趙紫陽的錯誤，保住他的權力地位，以便更加肆無忌憚地為推行資產階級自由化製造輿論。”</p>

					<p><span class='speaker'>高瑜：</span>我在監獄裡被關了一年零五個月後才出來。是6月3號被抓，第二年8月28號給放出來。我出來以後才知道，就因為陳希同向人大會議做的這篇報告點了《經濟學週報》和我的這篇文章，社科院立刻就通過出版總署把報紙封掉了。</p>

					<p class='commentary'><span class='speaker'>解說：</span>除了《經濟學週報》，“六四”之後，北京自由派刊物《新觀察》也被停刊。查封這兩家媒體的是當時的中國新聞出版總署署長杜導正
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en7" id="ref7">（註7）</a>
					</sup>
					。</p>

					<p><span class='speaker'>高瑜：</span>那個時候出版總署的署長還是杜導正。杜導正當時還跟人說他有錯誤，《新觀察》什麼的當時都是他封的。就我們的報紙《經濟學週報》和《新觀察》。</p>

					<p class='commentary'><span class='speaker'>解說：</span>有意思的是，當年查封這兩家自由派報刊的杜導正，現在是《炎黃春秋》雜誌社的社長。這家雜誌經常發出與當局主流聲音相左的自由派聲音，其網站幾度遭到封鎖。</p>
				</section>
				
				<section epub:type="subchapter"id="part5">
					<h2><%= titles[5] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>說起1989年在人大做的報告，陳希同在回憶錄中說，那是人家寫好了材料，指定他去念的。他說：“這些報告在討論時，我沒參加。要我念，我就念。一個標點符號都沒改。” 很多人認為，這是陳希同為自己在“六四”中的所作所為推脫責任。</p>

					<p><span class='speaker'>姚監復：</span>他對“六四”沒有真誠道歉，那就是他真心的想法。我問過他幾次，作為市長，你的市民這樣無辜地遭到槍殺，你有什麼感覺？他只說：我感到遺憾，本來不應該死人的，最後死了人。（他）沒有那種懺悔的感覺，但是畢竟他承認不應該死人，不應該開槍的。</p>

					<p>他的這本書的基調跟李鵬的《六四日記》那本書不一樣。李鵬是，這是我的功勞，而且你們都支持，我在裡面起的作用多大多大。他（陳希同）不是這樣，他有一種推脫責任的想法。例如最重要的一點，就是李鵬日記說了，陳希同是北京戒嚴指揮部正指揮，北京軍區司令員周衣冰是副指揮。</p>

					<p>他說，2010年他看到李鵬《六四日記》香港那本書的翻印版的時候，他（陳）說他才知道1989年我有這麼一個任務，這麼一個重要職務。但為什麼李鵬沒告訴我呢？為什麼當時不告訴我呢？他說，如果我將來有機會出去，有機會見李鵬，我要問他，你為什麼當時不告訴我，而後來卻在你的日記裡這麼寫。</p>

					<p>北京市長陳希同，你有什麼權力調動烏魯木齊軍區、成都軍區、瀋陽軍區、濟南軍區的軍隊呢？你有什麼權力調動空軍，讓直升飛機在那裡飛？你有什麼權力調動坦克啊？所以，現在把它縮小了，是不是掩蓋軍事政變的性質？據說上面有人看了這個書，找我談話的時候也點了這一點，說你怎麼這樣說？就是這一點，看來戳到痛處了。</p>
				</section>
				
				<section epub:type="subchapter"id="part6">
					<h2><%= titles[6] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>陳希同提到的這本《李鵬日記》曾經計劃在2010年夏天由香港的新世紀出版社出版。但是，由於中國官方的阻止，出版計劃最終還是胎死腹中。不過，市面上流傳著多個版本的《李鵬六四日記》。</p>

					<p>金鐘（香港開放出版社社長）：其中有一條是最重要的。5月19日晚上中央舉行黨政軍大會，宣布戒嚴。那天上午，鄧小平主持了一個非常重要的會議，一個高層會議。會上，鄧小平講“兩個司令部”和把趙紫陽趕下台以後誰來接班的問題，這些都講得非常清楚。</p>

					<p>這個材料，我們是在《李鵬日記》中第一次看到的。他日記中有關於這個會議的非常詳盡的記錄。以前有那麼多關於“六四”的書，都沒有人寫到這一點，連趙紫陽的回憶錄也對那個事情不清不楚。趙只知道，有人跟他講，中央開過這麼一個會，但是，會是哪天開的，他都搞不清楚。</p>

					<%- photo[28] %>


					<%- photo[29] %>

					<p><span class='speaker'>李肅：</span>因為他當時已經離開決策層了。</p>

					<p><span class='speaker'>金鐘：</span>他已經被軟禁了。所以，在我們看來，這是李鵬這本書的一個價值。他把這麼一個秘密公開了。</p>

					<p><span class='speaker'>姚監復：</span>李鵬承認這是軍事政變，因為他有兩點，李鵬日記透露：第一個是1989年前幾年的春節，那就是87年、88年、甚至86年，李先念、陳雲和鄧小平在上海討論怎麼撤銷趙紫陽的總書記職務，那就是，你們三個中央委員都不是的人，在討論把總書記撤掉，這就是有計劃、有組織、有領導、有綱領的政變。</p>

					<p>另外1989年5月20幾號，鄧小平讓李鵬籌備“四中全會”前的一個政治局擴大會議，李鵬準備好時間後給鄧小平匯報。鄧小平說，等一等，要到軍隊進城以後才有把握，免得別人干擾。那就明顯是武裝政變。軍隊進城以後，中央委員也好，人大常委也好，老人也好，誰也不敢說話了。</p>
				</section>
				
				<section epub:type="subchapter"id="part7">
					<h2><%= titles[7] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>《李鵬六四日記》這本書並沒有正式出版。但是，很多人，就像陳希同、姚監復和金鐘一樣，已經把市面上流傳的《李鵬六四日記》看成是李鵬寫的日記。各種版本的《李鵬六四日記》都是在海外出版的。身在北京的陳希同通過什麼途徑看到了這本書，我們不得而知。不過，可以肯定的是，來到海外旅行的中國人常常把這類禁書偷偷帶進中國。</p>

					<p><span class='speaker'>金鐘：</span>中港這條線有鐵絲網，但是它有很多管道。比如那種貨車裡面的空間是很多的，邊邊角角的地方塞一包書也就過了。有些人就是用這種方法把書帶進去的，他們也可以用這些書賺錢。</p>

					<p><span class='speaker'>李肅：</span>這樣帶能是大批的嗎？</p>

					<p><span class='speaker'>金鐘：</span>當然不能大批，只能是小批量的。帶多少，要看他們的本事了。有些人走私，連汽車都能走私，對不對？何況是一包書呢!</p>

					<p><span class='speaker'>李肅：</span>中國大陸採取了什麼措施來嚴防在香港出版的禁書進入大陸？</p>

					<p><span class='speaker'>金鐘：</span>在香港已經出了的書，他們就攔阻，攔截，在海關上設防不讓你帶進去。但是，海關的人員流量太大，你不可能就為一本書把每個人的大包、小包全都打開檢查。真是防不勝防。你帶一本，我帶一本（就過了）。而且，這類書一進大陸就很神了。那真是一傳十、十傳百。我們也聽說過，看到過，書一直傳到什麼樣子呢？傳到它被翻成了一朵花似的。</p>

					<p><span class='speaker'>李肅：</span>看爛了。</p>

					<p><span class='speaker'>金鐘：</span>是的，看爛了。那個書完全合不攏，書的每一頁都翻爛了，都好像一個花菜似的。</p>

					<p>戴晴（前《光明日報記者》記者）：我就有過一次，在香港買了很多書。香港現在已經有那種小工作人員，收費很少，他們住在深圳，坐火車到香港來上班。都是這些人，背著大背包，把書給我背過去。因為他天天走，海關就不查他們。而我就會被攔下。看看我的包，問我一些問題，看看我有沒有帶什麼書。我那時侯，也有幾本書。我就跟他說，我是研究農業經濟的。所以，現在我在香港就有一個“惡名”，說我過關的時候冒充農業專家。</p>

					<p>何頻（香港明鏡新聞出版集團CEO）：誰去鑑定這個書是禁書還是不是禁書呢？以前依賴的一個文件就是中宣部給各個地方下達的文件。我們出的書就經常被列在禁書的目錄上。後來他們發現這樣做不行，一上這個目錄就等於是給被禁的書做了一個廣告宣傳，說你到香港去，這本書是值得看一看的。所以，中宣部後來就不大列這個目錄了。</p>

					<p>海關把我們的書收了以後，就自己看。自己看不完，就送給長官看。長官看不完了，就拿了去拍馬屁，送給某個省委書記，送給某個市委書記，送給某個政治局委員。我記得有一個政治局委員後來對我們說，他收到了幾十本關於他的書。為什麼呢？因為我們出版了一本關於他的書。各種拍馬屁的人到處找到這本關於他的書，送給他，因為這樣就可以拉近跟他的關係嘛。</p>
				</section>
				
				<section epub:type="subchapter"id="part8">
					<h2><%= titles[8] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>對於中國大陸的民眾來說，能夠接觸到這些在海外出版的禁書的人，畢竟是極少一部分，大多數人看到的禁書都是盜版的。《墓碑》一書的作者楊繼繩給我講過，有很多人給他打電話說，中國到處都有盜版的《墓碑》在賣，甚至連新疆的克拉馬依、石河子和甘肅的白銀這樣小的地方都有。有一位讀者說，他在昆明的公共汽車上見過一位老太太拿著一本《墓碑》跟大家說：“這是一本好書，大家要看呀！”</p>

					<%- photo[30] %>

					<%- photo[31] %>

					<p class='commentary'>楊繼繩還說，在北京，就在他的《炎黃春秋》雜誌社對面的那條街上，就有《墓碑》的盜版書在賣。書販子還跟他說，三里河那個高干大院買的人最多，買書的都是白頭髮的老頭兒老太太，全是離休的高幹。</p>

					<p class='commentary'>戴晴也是一位禁書的作者。她的一本文集在2009年發表，叫做《獨立記者》，講述她自己的身世和成長經歷。從在大學學習導彈工程，到畢業後先後擔任軍事情報間諜和《光明日報》記者。從1979年到1989年，她總共出版了10本書。“六四事件”以後，她進了秦城監獄，作品也全部下架。戴晴說，這本《獨立記者》在北京就有盜版賣。</p>

					<%- photo[32] %>

					<p><span class='speaker'>戴晴：</span>後來他們告訴我，北京也有了。北京有，而且還是在2010年“六四”前後就有了。賣得特別好，特別火，因為這裡面還有關於“六四”的事，我的入獄，在秦城坐牢這些。好多人告訴我這事。這書在哪兒賣呢？都是在中央機關、三里河，就是有幹部來來往往的那些地方。所以我說，這樣的書，它的對象讀者其實就是這樣的一群人，在機關里工作的人。</p>
					
					<%- photo[33] %>

					<p class='commentary'><span class='speaker'>解說：</span>2012年底，《晚年周恩來》的作者高文謙來華盛頓錄製《解密時刻》節目的時候也談到了《晚年周恩來》在中國大陸盜版的問題。</p>

					<p><span class='speaker'>李肅：</span>在中國大陸有沒有盜版？</p>

					<p>高文謙（《晚年周恩來》作者）：遍地都是。而且有人因為盜版我這本書被判勞教。人家工商執法隊對書商講，你盜版別的書我不管，你盜版這本書，（賣）一本我判（你）一年。</p>

					<p><span class='speaker'>李肅：</span>這是政治任務了。</p>

					<p><span class='speaker'>高文謙：</span>這都是他們從北京回來，跟攤主聊天後傳過來的話。你賣一本判一年。</p>

					<p class='commentary'><span class='speaker'>解說：</span>出版禁書的出版社老闆們對於中國大陸的盜版書非常清楚。香港明鏡出版集團CEO何頻說，中國各地都有盜版他們出版社出的書。</p>

					<p><span class='speaker'>何頻：</span>我們的書出版後大概在三、四天後，廣東、深圳的盜版就出來了。專門有這種採購團體，天天就在香港、台灣、澳門、新加坡盯著我們的書。只要我們的書一上市，他們馬上就拿去拷貝，通過電腦就能夠傳到中國大陸去。</p>

					<p>在全國各個地方，只要是有人看書的地方，就有我們的盜版書，這讓我非常驚訝。我們甚至沒辦法統計。但是可以這樣說，幾乎沒有幾個知識分子沒看過我們的書，當然幾乎都是盜版品。更可笑的是，有時候國內的人把這些盜版品帶給我們看，我們吃一驚，根本不是我們出版的。</p>
				</section>
				
				<section epub:type="subchapter"id="part9">
					<h2><%= titles[9] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>對於現代人來說，保護知識產權的觀念已經相當普及了。一般情況下，作者看到自己的作品被盜版以後，第一個反應就是要維權、要索賠、要打官司。但是，禁書作者們得知自己的作品被盜版後的反應卻出人意外。</p>

					<p class='commentary'>《墓碑》的作者楊繼繩，經常有人拿著盜版的《墓碑》找他簽名。他不但一概照簽，還樂呵呵地寫上一句：“正版書不讓進來，就看盜版吧！”戴晴在北京看到了她的書被盜版以後，非但不生氣，反而還想幫助盜版書的出版商。</p>

					<p><span class='speaker'>戴晴：</span>有一次我正好在那邊辦事就過去了。我一看，在書攤兒上就擺在那兒呢。他們印的是大本，就是所謂的小16開，大32開這本。他們還把明鏡出版社改成中國的一個亂七八糟的出版社，有沒有我也不知道。反正裡面定價、書號什麼的都有。</p>

					<p><span class='speaker'>就問他們：</span>“這誰出的啊？”（書販）就問：“你要不要，要不要？”好像意思是你要多要，我還可以便宜點。</p>

					<p><span class='speaker'>我說：</span>“你看看這是誰啊？”他（看看書，又看看我）說：“嘿，還真是挺像的啊！”我說：“就是我。”我說，你跟你們老闆說，你這裡錯字也太多了。我給你一個E-mail地址，你告訴我一聲，我就把電子版給你，你照出，愛出多少出多少。</p>

					<p>我也挺高興的，雖然不給我錢，可錯字就沒有了。</p>

					<p>他特猶豫，說：“那你就說吧。”把我的E-mail地址記完了以後，他說：“那你叫什麼啊？”我說：“你說我叫什麼啊？”他說：“哦，知道了，知道了。”後來，他也沒有敢給我來信。</p>

					<%- photo[34] %>

					<p class='commentary'><span class='speaker'>解說：</span>英國華裔作家張戎
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en8" id="ref8">（註8）</a>
					</sup>
					和丈夫喬•哈里戴花了10年的時間寫了一本關於毛澤東的書，書名是《毛澤東：鮮為人知的故事》。在香港出版中文版沒多久，中國大陸就有了盜版。</p>

					<p><span class='speaker'>金鐘：</span>我有朋友（在大陸），我就委託他們給我們收集了好幾種我們出的書的盜版。像張戎的那本書，有幾種盜版的版本，封面、內容都不一樣。有的是用原來的照片，有些就全部改排。我們是直排的嘛，他們全部改成橫排簡體字，重新打過。</p>

					<p><span class='speaker'>李肅：</span>這還花了工夫呢。</p>

					<p><span class='speaker'>金鐘：</span>花了工夫嘛，結果賣得還很便宜。我們（賣）100多塊錢的書，他們就賣二、三十塊，就這麼推銷。</p>

					<p><span class='speaker'>李肅：</span>你們遇到這種被盜版的情況有沒有什麼辦法?</p>

					<p><span class='speaker'>金鐘：</span>完全沒辦法。張戎也對我講過，像她這種出名的書，(如果)在世界各國出現這種情況是有專門的公司，有律師會保障她的權利，一定要打官司，要交涉的。但在大陸沒辦法。張戎也笑笑對我說，那算了，就算幫我們宣傳好了。</p>
				</section>
				
				<section epub:type="subchapter"id="part10">
					<h2><%= titles[10] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>說到《毛澤東：鮮為人知的故事》這本書，它的出版還有一個故事。本來中文版計劃由台灣遠流出版公司發行，可中間出了一段插曲，最後才由香港的開放出版社發行。</p>

					<p><span class='speaker'>金鐘：</span>張戎這本書要在哪裡出版，她本來是很挑剔的。我跟她認識、相熟，但出版之前，我都不敢提出讓我的出版社來出的要求。</p>

					<p><span class='speaker'>李肅：</span>在你這兒出？</p>

					<%- photo[35] %>

					<%- photo[36] %>

					<p><span class='speaker'>金鐘：</span>因為我們的實力比起台灣大出版社的實力來講當然是不夠的，我壓根兒就沒提這個事。她把書稿交給台灣遠流出版社，一家大出版社。後來出了什麼問題呢？這涉及到對國民黨將軍胡宗南
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en9" id="ref9">（註9）</a>
					</sup>
					的評價，胡宗南與中共的關係。張戎認為，胡宗南跟共產黨是有聯繫的，不單是他，還有衛立煌
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en10" id="ref10">（註10）</a>
					</sup>
					等四個將軍。</p>

					<p>當然，張戎提出來是有她的根據。其它的文字（包括）英文版，法文版都已經出版了，都保留了。但到了中文版來到台灣出版，就受到胡宗南的兒子胡為真
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en11" id="ref11">（註11）</a>
					</sup>
					（的壓力），他是（台灣）國家安全局的首長。他出來抗議，當然還有一些胡宗南過去的部下一起來起哄，給這個出版社施加壓力。所以，出版社就解除了出版合約。</p>

					<p class='commentary'><span class='speaker'>解說：</span>國民黨1949年退居台灣後曾經實行嚴格的書籍審查。從日據時代
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en12" id="ref12">（註12）</a>
					</sup>
					的日文書到任何與共產主義、社會主義沾邊的書，包括那些沒有隨國民黨軍隊遷往台灣的學者的書，都在查禁之列。</p>

					<p class='commentary'>直到1980年代初，台灣社會逐漸開放，圖書出版審查才逐步放寬。到80年代中期，台灣解除了戒嚴，開放了黨禁和報禁。今天的台灣已經是一個相當自由、開放和多元的社會。但台灣與大陸之間的敏感關係不能不對台灣的出版界產生一定的影響。</p>

					<p><span class='speaker'>金鐘：</span>台灣確實有一種趨勢，台灣和大陸的關係正在逐步接近，他們不想在這方面找麻煩，尤其是台灣的統派。台灣有一個統派，一個獨派；一個藍營，一個綠營。馬英九屬藍營，他是統派的總統。他說他要做全民的總統。但在兩派中間，在出版業內，統派的影響還是比較大的。</p>

					<p class='commentary'><span class='speaker'>解說：</span>1994年，毛澤東20多年的貼身保健醫生李志綏所著的《毛澤東私人醫生回憶錄》在台灣出版時也受到過審查。</p>

					<p><span class='speaker'>金鐘：</span>李志綏的這本書的中文版是在台灣出的，中時出版社出的。有一次，美國普林斯頓大學的著名大教授余英時
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en13" id="ref13">（註13）</a>
					</sup>
					教授，在《中國時報》寫了很長的一篇文章，說到這本書其中一個情節，是什麼呢？是有關鄧小平的。</p>

					<p>鄧小平在1959年廬山會議期間，他打台球時摔了一跤，把腿摔骨折了。所以他沒參加廬山會議。他在休養時，李志綏（按照）毛的指示，派了毛的兩個女護士去照顧鄧小平，後來有一個女護士肚子大了，聽說就把她打發回老家了。這個情節的主角當然是鄧小平了。英文版中有，但中文版中就沒有。我們只看中文版就不知道這個故事。但余教授很專業，很細心，他是中英文對著看的，發現（在中文版裡）這個情節沒有了。為什麼呢？因為1994年鄧小平還在嘛，怕得罪鄧小平，這是很明顯的事。</p>
				</section> 

				<section epub:type="subchapter" id="part11">
					<h2><%= titles[11] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>《毛澤東私人醫生回憶錄》也好，《晚年周恩來》也好，這些嚴肅的書籍被禁，人們還可以理解。但是，即便是收集一些笑話放到網上，也有可能會碰觸中國當局的紅線而遭到禁止。姚監復就曾有過一次教訓。他說，“文革”後期地位顯赫的中共中央政治局委員，國務院副總理紀登奎
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en14" id="ref14">（註14）</a>
					</sup>
					給他講過一件真事：</p>

					<p><span class='speaker'>姚監復：</span>有一個笑話是真實的故事，是紀登奎告訴我的。紀登奎不當常務副總理之後就到我們農研室當研究員了。有次跟他一起出差，他給我講了一個笑話。我們經過貴州，紀登奎說，貴州的第一任革委會主任叫李再含。周恩來總理讓我調李再含開會時的講話錄音審查。講話錄音內容沒什麼問題，基本上是重複中央的《人民日報》精神。就是喊口號時候，那時候一般是喊兩個口號：“敬祝偉大領袖、偉大導師、偉大統帥、偉大舵手毛主席萬壽無疆！萬壽無疆！ ！萬壽無疆！ ！ ！”和“敬祝毛主席的親密戰友林副統帥身體健康！永遠健康！ ！永遠健康！ ！ ！”。但李再含加了第三個口號，說“祝貴州的‘小月亮’李再含主任身體永遠比較健康！比較健康！ ！比較健康！ ！ ！”</p>

					<p><span class='speaker'>記者：</span>真的假的？</p>

					<p><span class='speaker'>姚監復：</span>真的。我問給他（李再含）處分了沒有？他（紀登奎）說沒有。他說，後來想想，你們是北京的紅太陽，他（李再含）就是個月亮，反射你的光芒，就是貴州的“小月亮”，不能算錯啊！你們萬壽無疆、永遠健康，他（李再含）才比較健康，這不能算錯吧？但你沒有資格在喊完毛主席和林彪之後再喊你李再含。因此，以後不准再喊了。</p>

					<p>我說完以後，朱厚澤
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en15" id="ref15">（註15）</a>
					</sup>
					大笑。他說，老姚你瞎編的，我當過貴州省委書記，我怎麼沒喊過永遠比較健康啊？我說，這是1967年上海奪權以後，全國實行的。你那時候幹什麼？他說，我在勞改。我說，你勞改，沒權利祝萬壽無疆啊！</p>

					<p>結果旁邊一個縣委書記，沿河縣的縣委書記說，朱書記，老姚說的是對的。我們那時候開幾萬人的大會，都是很嚴肅地祝李再含身體比較健康！比較健康！！比較健康！！！他說，還有呢，我們縣革委主任，以為這是中央的文件精神，毛主席萬壽無疆，林副統帥永遠健康，省裡是比較健康，那我縣里呢？我也得喊一個，我說省裡都比較健康，你縣里喊什麼？他說，我們那時候就喊，祝貴州省沿河縣革委會張三主任身體勉強健康！勉強健康！！勉強健康！！！這是真的。所以，我就寫到我的笑話集裡了。</p>

					<p>我在網上寫了一個50個笑話的笑話集，最後安全部派人正式找我們機關黨委書記，書記警告我說，安全部門告訴我，你在網上寫笑話。安全部門警告我說，不准你姚監復再在網上寫笑話。我說，《中華人民共和國憲法》也沒規定中華人民共和國公民不准在網上寫笑話呀。我說這本身不就成了一個笑話了嗎。他說，你寫的笑話不是一般的笑話。叫我不要寫。</p>

					<p>有個朋友說，老姚，把你這笑話收集起來，咱們印一個《姚監復笑話集》，我說，你要印出來又得成為禁書了。哈哈。</p>

					<%- photo[37] %>

					<p class='commentary'><span class='speaker'>解說：</span>2013年5月，香港天地出版社出版了姚監復的新作：《姚監復政治笑話集》。</p>
				</section>

				<section epub:type="subchapter" id="part12">
					<h2><%= titles[12] %></h2>
					<p class='commentary'><span class='speaker'>解說：</span>官方對禁書和禁書作者的打壓雖不合理，但並不意外。然而，某些作家在禁書作家受到壓制或迫害的時候所表現出來的冷漠往往更讓人感到可悲、可憐、可嘆。</p>

					<p class='commentary'>德國的法蘭克福書展是全世界出版業的盛會。該書展有個傳統，就是每年邀請某一個國家作為主賓國，在書展上重點推薦該國的文化。2009年，中國第一次成為法蘭克福書展的主賓國。中國方面非常重視這個展示的機會。時任中國國家副主席的習近平親臨書展開幕式。中國還派出了一個陣容強大的代表團，其中包括2012年諾貝爾文學獎得主莫言。</p>

					<p class='commentary'>法蘭克福書展的主辦方也挑選了一些他們認為的優秀中國作家，邀請他們到德國參加研討會，其中包括戴晴和流亡詩人貝嶺
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en16" id="ref16">（註16）</a>
					</sup>
					。這兩位持不同政見的作家獲得邀請，讓中國官方很不高興。</p>

					<%- photo[38] %>

					<p><span class='speaker'>戴晴：</span>結果又是一系列的手段，拖時間，把我的邀請信退回，把我的飛機票給取消。我這人，這會我也無所謂，但你不讓我去，我當然要去了。我就去了。到了會上以後，德方的組織者在德國傳媒和德國社會的壓力下覺得不應該這麼對待我。於是，就給了我10分鐘，說你可以到台上正式去講講這是怎麼回事。我就答應了。我同意講的原因是，本來中方的喉舌已經把我罵成敵人，說絕對不能邀請這樣的敵人。我就想，既然已經來了，終於來和你們坐下來一起開會了，我就覺得中方真是有進步了。中方同意了，也就是他們在某些問題上是可以讓步的。這才是現代社會最主要的特點。我就想上台誇誇他們，說你們還是有進步的。</p>

					<p>結果，沒想到我一上台，所有的中國代表團成員，前三排，都退場了。一看就剩一個人，就是清華大學的教授秦暉
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en17" id="ref17">（註17）</a>
					</sup>
					，只有他一個人還坐在那兒。都退場了，莫言就是其中的一個，就是抗議像我這樣的人居然上台了。可是，我是中國公民啊，我是作家啊，我是可以在台上講講我的經歷的。</p>

					<p class='commentary'><span class='speaker'>解說：</span>當時也在現場的貝嶺後來回憶說，那真是一個戲劇性的場面。我和戴晴才走上主講台，就看到莫言沉著臉、一聲不響地隨著政府官員和官方學者們集體起立，魚貫離席。他轉述莫言的話說，我退場的原因，就是因為我是中國作協和新聞出版署邀請出來的，我是中國代表團的一員，我當然只能夠按照領導的指示退場。</p>

					<p class='commentary'>其實，身為中國作家協會副主席的莫言，其作品不乏對中國歷史、現實社會的尖銳批評。小說《酒國》
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en18" id="ref18">（註18）</a>
					</sup>
					描繪了共產黨員燒烤吞食嬰兒；《天堂蒜薹之歌》
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en19" id="ref19">（註19）</a>
					</sup>
					揭示了中國尖銳的官民矛盾。莫言的長篇小說《丰乳肥臀》
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en20" id="ref20">（註20）</a>
					</sup>
					的命運更是大起大落。1995年出版後一度成為禁書，兩年後又獲得中國文學界的大獎。同年，莫言的中篇小說《我們的七叔》
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en21" id="ref21">（註21）</a>
					</sup>
					三次送審都沒有通過。</p>

					<p><span class='speaker'>戴晴：</span>我想講的就是，莫言的行為和1989年以來從新聞出版總署到最後審稿的編輯的一連串的行為都是一樣的。如果他不和政府，不和黨保持一致的話，他就要失去他的位置。失去了他的位置，他就失去了他在這個體制下所能得到的全部好處，於是他就採取這個辦法。</p>

					<p class='commentary'><span class='speaker'>解說：</span>就在那次法蘭克福書展之前，莫言在接受德國之聲採訪時表示，從小他父母對他的教育中最重要的一條就是“一定要少說話”，因此，他後來寫作時並沒有使用自己的名字管謨業，而是用了一個筆名——莫言。</p>

					<p><span class='speaker'>莫言：</span>就是“不要說話”的意思。</p>

					<%- photo[39] %>

					<p><span class='speaker'>結束語：</span>從某種意義上說，莫言也算是一位“禁書作者”。他對戴晴和貝嶺的冷漠態度使人想起德國牧師馬丁•尼莫勒（Martin Niemoller）。尼莫勒曾經支持納粹領袖希特勒，而且發表過反猶太人的言論。後來，他反對政府對教會的控制，開罪了希特勒。希特勒親自下令將他送進納粹集中營。他在那裡被關押了八年，而且險些被處決。二戰結束後，尼莫勒發表了著名的懺悔詩《起初他們追殺共產主義者》，告誡人們不要對邪惡坐視不管。他說：</p>

					<p class='commentary'>起初他們追殺共產主義者，
					<br/>我沒有說話，因為我不是共產主義者；
					<br/>後來他們追殺工會成員，
					<br/>我沒有說話，因為我不是工會成員；
					<br/>接著他們追殺猶太人，
					<br/>我沒有說話，因為我不是猶太人；
					<br/>最後，他們沖我來了，
					<br/>這時已經沒有人為我說話了。</p>

					<p>即使到今天，這些詩句對人類爭取言論自由和保護出版自由的事業仍然有著巨大的警示作用。禁書背後的種種故事，從根本上說，就是壓制和侵犯言論出版自由。尼莫勒的話提醒我們每一個人。當他人的言論自由受到侵犯時，如果我們不為他說話，那麼，在我們自己的言論自由受到侵犯時，又有誰會為我們說話呢？</p>
				</section>

			</section>
